{% load i18n %}
{% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'go/style/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/r-3.0.3/datatables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <aside class="sidebar">
        <div class="sidebar-toggle"><i class="icon icon-sidebar-right"></i><i class="icon icon-sidebar-left"></i></div>
        <div class="sidebar-logo">
            <div class="sidebar-logo-main-part"></div>
            <div class="sidebar-logo-second-part"></div>
            <div class="sidebar-logo-large-parts">
                <img src="{% static 'go/images/half-o.png' %}">
                <img src="{% static 'go/images/o.png' %}">
            </div>
        </div>
        <ul class="sidebar-nav">
            <li class="active"><a href="/{{dil}}/"><i class="icon icon-dashboard"></i> <span>{% trans 'Genel Özet' %}</span> </a></li>
            {% if request.user.is_superuser %}
            <li><a href="#superAdmin"data-bs-toggle="collapse" role="button" aria-expanded="false"><i class="icon icon-super-admin"></i> <span>{% trans 'Süper Admin' %}</span> </a>
            <div class="collapse menu-dropdown" id="superAdmin">
                <ul class="submenu">
                    <li class="submenu">
                        <a href="/{{dil}}{% url 'main:santiye_ekle' %}" class="nav-link" role="button" aria-expanded="false">{% trans 'Şantiye Ekle' %}</a>
                    </li>
                    <li class="submenu">
                        <a href="/{{dil}}{% url 'main:santiye_listele' %}" class="nav-link" role="button" aria-expanded="false">{% trans 'Şantiye Ayarları' %}</a>
                    </li>
                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'main:site_ayarlari' %}" class="nav-link">{% trans 'Sistem Ayarları' %}</a>
                    </li>
                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'main:dil_ayari_listele' %}" class="nav-link" role="button" aria-expanded="false">{% trans 'Dil Ayarları' %}</a>
                    </li>
                </ul>
            </div>
            </li>
             {% else %}
                        {% endif %}
            <li><a href="#"><i class="icon icon-document"></i> <span>{% trans 'Raporlar' %}</span> </a>
                    <div class="collapse menu-dropdown" id="sidebarAuth">
                        <ul class="nav nav-sm flex-column">
                                    <li class="submenu">
                                        <a href="#finansalRaporlar" class="nav-link" data-bs-toggle="collapse" role="button" aria-expanded="false"> Finansal Raporlar
                                        </a>
                                        <div class="collapse menu-dropdown" id="finansalRaporlar">
                                            <ul class="nav nav-sm flex-column">
                                                <li class="submenu">
                                                    <a href="/{{dil}}{% url 'accounting:gelirler_ozeti' %}" class="nav-link">{% trans 'Gelir Raporu ' %} </a>
                                                </li>
                                                <li class="submenu">
                                                    <a href="/{{dil}}{% url 'accounting:giderler_ozeti' %}" class="nav-link">{% trans 'Gider Raporu' %}  </a>
                                                </li>
                                                <li class="submenu">
                                                    <a href="/{{dil}}{% url 'accounting:hesap_ekstra_durumu' %}" class="nav-link">{% trans 'Hesap Ekstresi' %}  </a>
                                                </li>
                                                <li class="submenu">
                                                    <a href="/{{dil}}{% url 'accounting:virman_gondermeler' %}"class="nav-link">{% trans 'Virman Raporu' %}  </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'main:santiye_kalem_ve_blog' %}" class="nav-link" role="button" aria-expanded="false">{% trans 'Şantiye Raporları' %} 
                                        </a>
                                    </li>
                        </ul>
                    </div>
            </li>

            <li><a href="#"><i class="icon icon-santiye-yonetimi"></i> <span>{% trans 'Şantiye Yönetimi' %}</span> </a>
            <div class="collapse menu-dropdown" id="santiyeYonetimi">

                                <ul class="nav nav-sm flex-column">
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'main:santiye_kalem_ve_blog' %}" class="nav-link">{% trans 'Proje Yönetimi' %}  </a>
                                    </li>
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'main:yapilacaklar' %}" class="nav-link"  role="button" aria-expanded="false">{% trans 'İş Emirleri' %} 
                                        </a>
                                    </li>
                                   <!-- <li class="submenu">
                                        <a href="/{{dil}}{% url 'main:yapilacaklar_timeline' %}" class="nav-link"> Yapılacaklar </a>
                                    </li>
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'main:takvim_olaylari' %}" class="nav-link"> Takvim </a>
                                    </li>-->
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'main:depolama_sistemim' %}" class="nav-link">{% trans 'Dosya Yöneticisi' %} </a>
                                    </li>
                                  <!--   <li class="submenu">
                                        <a href="/{{dil}}{% url 'main:projeler_sayfasi' %}" class="nav-link"> Projeler </a>
                                    </li>
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'users:kullanicilarim' %}" class="nav-link"> Personeller </a>
                                    </li>-->

                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'main:taseron_sayfasi' %}" class="nav-link">{% trans 'Taşeronlar' %}  </a>
                                    </li>
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'main:ust_yuklenici_sayfasi' %}" class="nav-link">{% trans 'Üst Yüklenici' %}  </a>
                                    </li>
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'main:hakedis_sayfasi' %}" class="nav-link">{% trans 'Hakedişler' %}  </a>
                                    </li>
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'main:sozlesmler_sayfasi' %}" class="nav-link">{% trans 'Sözleşmeler' %} </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </li><!--Şantiye Yönetimi Menü-->
            <li><a href="#muhasebe"><i class="icon icon-muhasebe"></i> <span>{% trans 'Finans Yönetimi' %}</span> </a>
            <div class="collapse menu-dropdown" id="muhasebe">

                                <ul class="nav nav-sm flex-column">
                                
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'accounting:gelirler_sayfasi' %}" class="nav-link">{% trans 'Gelir Faturası' %}</a>
                                    </li>
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'accounting:giderler_sayfasi' %}" class="nav-link">{% trans 'Gider Faturası' %}</a>
                                    </li>
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'accounting:kasa' %}" class="nav-link">{% trans 'Kasa' %}</a>
                                    </li>
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'accounting:cari' %}" class="nav-link">{% trans 'Cari Hesapları' %}</a>
                                    </li>
                                </ul>
                            </div>
                        </li><!--Muhasebe Menü-->
            <li><a href="#calisanyonetimi"><i class="icon icon-profile"></i> <span>{% trans 'Personel' %}</span> </a>
            <div class="collapse menu-dropdown" id="calisanyonetimi">

                                <ul class="nav nav-sm flex-column">
                                
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'users:personeller_sayfasi' %}" class="nav-link">{% trans 'Calışanlar' %}</a>
                                    </li>
                                     <li class="submenu">
                                        <a href="/{{dil}}{% url 'users:personeller_kategori_sayfalari' %}" class="nav-link">{% trans 'Pozisyonlar' %}</a>
                                    </li>
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'users:personeller_depertman_sayfalari' %}" class="nav-link">{% trans 'Departmanlar' %}</a>
                                    </li>
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'users:personeller_puantaj_sayfasi' %}" class="nav-link">{% trans 'Puantaj' %}</a>
                                    </li>
                                </ul>
                            </div>
                        </li><!--Çalışan Menü-->
            <li><a href="#satinalma"><i class="icon icon-stok"></i> <span>{% trans 'Satın alma ve Stok' %}</span> </a>
            <div class="collapse menu-dropdown" id="satinalma">

                                <ul class="nav nav-sm flex-column">
                                
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'accounting:urunler_kategorisi' %}" class="submenu">{% trans 'Ürünler Kategorisi' %}</a>
                                    </li>
                                     <li class="submenu">
                                        <a href="/{{dil}}{% url 'users:personeller_kategori_sayfalari' %}" class="nav-link">{% trans 'Pozisyonlar' %}</a>
                                    </li>
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'users:personeller_depertman_sayfalari' %}" class="nav-link">{% trans 'Departmanlar' %}</a>
                                    </li>
                                    <li class="submenu">
                                        <a href="/{{dil}}{% url 'users:personeller_puantaj_sayfasi' %}" class="nav-link">{% trans 'Puantaj' %}</a>
                                    </li>
                                </ul>
                            </div>
                        </li><!--Satın Alma ve Stok Menu Menü-->
            <!--<li><a href="#"><i class="icon icon-users"></i> <span>Kullanıcılar</span> </a></li>-->
        </ul>
        <hr>
        <ul class="sidebar-nav">
            <li><a href="#"><i class="icon icon-notifications"></i> <span>Bildirimler</span> </a></li>
            <li><a href="#"><i class="icon icon-settings"></i> <span>Ayarlar</span> </a>
             <div class="collapse menu-dropdown" id="ayarlar">
                
                                <ul class="nav nav-sm flex-column">
                                
                                <li class="submenu">
                                        <a href="#kullaniciayar" data-bs-toggle="collapse" class="nav-link">{% trans 'Kullanıcı Ayarları' %} </a>
                                        <div class="collapse menu-dropdown" id="kullaniciayar">
                                            <ul class="nav nav-sm flex-column">

                                            <li class="submenu">
                                                    <a href="/{{dil}}{% url 'users:kullanicilarim' %}" class="nav-link">{% trans 'Kullanıcılar' %}  </a>
                                            </li>
                                            <li class="submenu">
                                                        <a href="/{{dil}}{% url 'main:kullanici_yetkileri' %}" class="nav-link">{% trans 'Kullanıcı Yetkileri' %}  </a>
                                            </li>

                                            </ul>
                                        </div>
                                    </li>
                                    <li class="submenu">
                                        <a href="#santiyeAyari" data-bs-toggle="collapse" class="nav-link">{% trans 'Şantiye Ayarları' %}  </a>
                                        <div class="collapse menu-dropdown" id="santiyeAyari">
                                            <ul class="nav nav-sm flex-column">
                                            <li class="submenu">
                                                    <a href="/{{dil}}{% url 'main:proje_tipi_' %}" class="nav-link">{% trans 'Proje Tipi' %}  </a>
                                                </li>
                                                <li class="submenu">
                                                    <a href="/{{dil}}{% url 'main:santiye_projesi_ekle_' %}" class="nav-link">{% trans 'Şantiye' %}  </a>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>
                                    <li class="submenu">
                                        <a href="#muhasebeayar" data-bs-toggle="collapse" class="nav-link">{% trans 'Muhasebe Ayarları' %}  </a>
                                        <div class="collapse menu-dropdown" id="muhasebeayar">
                                            <ul class="nav nav-sm flex-column">
                                            {% if request.user.is_superuser %}
                                            {% else %}
                                            <li class="submenu">
                                                    <a href="/{{dil}}{% url 'accounting:muhasebe_ayarlari' %}" class="nav-link">{% trans 'Muhasebe Ayarları' %}  </a>
                                                </li>
                                            
                                            {% endif %}
                                                <li class="submenu">
                                                    <a href="/{{dil}}{% url 'accounting:gelir_kategorisi_tipleri'  %}" class="nav-link">{% trans 'Gelir Kategorileri ' %}</a>
                                                </li>
                                                <li class="submenu">
                                                    <a href="/{{dil}}{% url 'accounting:gelir_etiketi_tipleri' %}" class="nav-link">{% trans 'Gelir Etiketleri' %}  </a>
                                                </li>
                                                <li class="submenu">
                                                    <a href="/{{dil}}{% url 'accounting:gider_kategorisi_tipleri' %}" class="nav-link">{% trans 'Gider Kategorileri' %} </a>
                                                </li>
                                                <li class="submenu">
                                                    <a href="/{{dil}}{% url 'accounting:gider_etiketi_tipleri' %}" class="nav-link">{% trans 'Gider Etiketleri' %}  </a>
                                                </li>
                                                <li class="submenu">
                                                    <a href="/{{dil}}{% url 'accounting:urun_viev' %}" class="nav-link">{% trans 'Ürünler' %} </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li><!--Ayarlar Menü-->
            <li><a href="#"><i class="icon icon-help"></i> <span>Destek ve Yardım</span> </a></li>
        </ul>
    </aside>

    <div class="sidebar-mobile-toggle">
        <img src="{% static 'go/images/logo-sm.png' %}" class="sidebar-mobile-sm-logo" alt="" />
        <i class="icon icon-chevron-right"></i>
    </div>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarToggle = document.querySelector(".sidebar-toggle");
        let sidebarMobileToggle = document.querySelector(".sidebar-mobile-toggle");
        sidebarToggle.addEventListener("click", function () {
            sidebar.classList.toggle("sidebar-collapsed");
        })
        sidebarMobileToggle.addEventListener("click", function () {
            sidebar.classList.toggle("sidebar-collapsed");
        })
    </script>

    <header>
        <div class="header-search">
            <input type="search" name="search" id="search" placeholder="Uygulama içerisinde ara">
            <button><i class="icon icon-search"></i></button>
        </div>
        <div class="header-actions">
            <div class="header-actions-dropdown">
                <a href="#"><i class="icon icon-dashboard"></i></a>
                <div class="actions-dropdown-content">
                    <div class="actions-dropdown-content-title">
                        Uygulamalar
                    </div>
                    <div class="actions-dropdown-content-apps">
                        <a href="#" class="adc-app">
                            <div class="adc-app-icon">
                                <img src="{% static 'go/images/google-play.png' %}" alt="Google Play">
                            </div>
                            <div class="adc-app-title">Android</div>
                        </a>
                        <a href="#" class="adc-app">
                            <div class="adc-app-icon">
                                <img src="{% static 'go/images/appstore.png' %}" alt="App Store">
                            </div>
                            <div class="adc-app-title">IOS</div>
                        </a>
                    </div>
                </div>
            </div>
            <a href="#" onclick="toggleFullScreen()"><i class="icon icon-fullscreen"></i></a>
            <a href="#"><i class="icon icon-moon"></i></a>
            <div class="header-actions-dropdown notifications-dropdown">
                <a href="#"><i class="icon icon-notification"></i></a>
                <div class="actions-dropdown-content">
                    <div class="actions-dropdown-content-title">
                        Bildirimler
                        <span>12 adet yeni bildiriminiz var.</span>
                    </div>
                    <div class="notifications-tabs">
                        <button onclick="notificationTab(event, 'notification-all')"
                            class="notification-tab-btn active">Hepsi
                            <span>22</span></button>
                        <button onclick="notificationTab(event, 'notification-unread')"
                            class="notification-tab-btn">Okunmamış <span>3</span></button>
                    </div>
                    <div class="notifications" id="notification-all">
                        <div class="notification">
                            <div class="notification-avatar">
                                <img src="{% static 'go/images/avatar-2.png' %}" alt="Avatar">
                            </div>
                            <div class="notification-content notification-unread">
                                <div class="notification-title">tolga_info@biadagroup.com</div>
                                <div class="notification-subtitle">site_info - klasörler</div>
                                <div class="notification-date">07 Ağustos 2024 • 09:36</div>
                                <div class="notification-actions">
                                    <button class="notification-inspect-button">İncele</button>
                                    <button class="notification-confirm-button">Onayla</button>
                                </div>
                            </div>
                        </div>
                        <div class="notification">
                            <div class="notification-avatar">
                                <img src="{% static 'go/images/avatar-2.png' %}" alt="Avatar">
                            </div>
                            <div class="notification-content notification-unread">
                                <div class="notification-title">tolga_info@biadagroup.com</div>
                                <div class="notification-subtitle">site_info - klasörler</div>
                                <div class="notification-date">07 Ağustos 2024 • 09:36</div>
                                <div class="notification-actions">
                                    <button class="notification-inspect-button">İncele</button>
                                    <button class="notification-confirm-button">Onayla</button>
                                </div>
                            </div>
                        </div>
                        <div class="notification">
                            <div class="notification-avatar">
                                <img src="{% static 'go/images/avatar-2.png' %}" alt="Avatar">
                            </div>
                            <div class="notification-content notification-unread">
                                <div class="notification-title notification-title-success">Görevinizi tamamladınız</div>
                                <div class="notification-date">07 Ağustos 2024 • 09:36</div>
                            </div>
                        </div>
                        <div class="notification">
                            <div class="notification-avatar">
                                <img src="{% static 'go/images/avatar-2.png' %}" alt="Avatar">
                            </div>
                            <div class="notification-content notification-unread">
                                <div class="notification-title notification-title-danger">Ödeme tarihini geçen bir
                                    faturanız bulunmaktadır.</div>
                                <div class="notification-date">07 Ağustos 2024 • 09:36</div>
                                <div class="notification-actions">
                                    <button class="notification-inspect-button">İncele</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="notifications" id="notification-unread" style="display: none;">
                        <div class="notification">
                            <div class="notification-avatar">
                                <img src="{% static 'go/images/avatar-2.png' %}" alt="Avatar">
                            </div>
                            <div class="notification-content notification-unread">
                                <div class="notification-title">tolga_info@biadagroup.com</div>
                                <div class="notification-subtitle">site_info - klasörler</div>
                                <div class="notification-date">07 Ağustos 2024 • 09:36</div>
                                <div class="notification-actions">
                                    <button class="notification-inspect-button">İncele</button>
                                    <button class="notification-confirm-button">Onayla</button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <script>
                        function notificationTab(e, id) {
                            var i, x, notificationTabBtn;
                            x = document.getElementsByClassName("notifications");
                            for (i = 0; i < x.length; i++) {
                                x[i].style.display = "none";
                            }
                            notificationTabBtn = document.getElementsByClassName("notification-tab-btn");
                            for (i = 0; i < x.length; i++) {
                                notificationTabBtn[i].className = notificationTabBtn[i].className.replace(" active", "");
                            }
                            document.getElementById(id).style.display = "block";
                            e.currentTarget.className += " active";
                        }
                    </script>

                    <div class="notifications-footer">
                        <a href="#">Tümünü Gör <i class="icon icon-forward"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-language-wrapper">
            <div class="header-language">
            {% for i in diller  %}
                            {% if i.dil_kisaltması == dil %}
                <img id="" src="{{i.dil_bayragi_icon.url}}" alt="Header Language" height="20" class="header-language-flag">
                <span>Türkçe</span>
                <i class="icon icon-chevron-bottom"></i>
                  {% else %}
                            {% endif %}
                        {% endfor %}
            </div>
            <div class="header-language-dropdown">
            {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}

                    {% for lang in languages %}
                        {% for i in diller  %}
                            {% if i.dil_kisaltması == lang.code %}
                <div class="language-selector">
                    <a href="/{{ lang.code }}/{{linki}}" class="dropdown-item notify-item language py-2" data-lang="{{ lang.code }}" title="{{ lang.name_local }}">
                                <img src="{{i.dil_bayragi_icon.url}}" alt="user-image" class="me-2 rounded" height="18">
                                <span class="align-middle">{{ lang.name_local }}</span>
                                </a>
                        {{ lang.name_local }}
                    
                </div>
                    {% else %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
            </div>
        </div>
        <div class="header-profile-wrapper">
            <div class="header-profile">
            {% if request.user.image %}
                <div class="profile-avatar">
                    <img src="{{request.user.image.url}}" alt="Avatar">
                    {% else %}
                    <img src="{% static 'go/images/avatar.png' %}" alt="Avatar">
                    {% endif %}
                </div>
                <div class="profile-title">
                    <span>{% trans 'Hoşgeldin' %} </span>
                    {{request.user.last_name}}
                </div>
                <i class="icon icon-chevron-bottom"></i>
            </div>
            <div class="header-profile-dropdown">
                <div class="profile-dropdown-title">
                    {{request.user.last_name}}
                    <span>{{request.user.first_name}}</span>
                </div>
                <div class="profile-dropdown-actions">
                    <a href="/{{dil}}{% url 'user:profil_bilgisi' %}"><i class="icon icon-profile"></i> {% trans 'Profil' %}</a>
                    <a href="/{{dil}}{% url 'users:profile_edit_kismi' %}"><i class="icon icon-settings"></i> {% trans 'Ayarlar' %}</a>
                    <a href="/{{dil}}{% url 'users:unlock' %}"><i class="icon icon-lock"></i> {% trans 'Ekranı kilitle' %}</a>
                </div>
                <div class="profile-dropdown-logout">
                    <a href="/{{dil}}{% url 'users:logout' %}">{% trans 'Çıkış yap' %}</a>
                </div>
            </div>
        </div>
    </header>