
{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block header %}
        
{% endblock header %}
{% block slider %}
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

     

            <div class="row justify-content-start">
                <div class="col-xxl-9">
                    <div class="card" id="demo">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card-header border-bottom-dashed p-4">
                                    <div class="d-flex">
                                        <div class="flex-grow-1">
                                            <img src="{{bilgi.gelir_kime_ait_oldugu.image.url}}" class="card-logo card-logo-dark" alt="logo dark" height="100">
                                            <img src="{{bilgi.gelir_kime_ait_oldugu.image.url}}" class="card-logo card-logo-light" alt="logo light" height="100">
                                            <div class="mt-sm-5 mt-4">
                                          <div class="card-body p-4 border-top border-top-dashed">
                                    <div class="row g-3">
                                        <div class="col-6">
                                            <h6 class="text-muted text-uppercase fw-semibold mb-3">Billing Address</h6>
                                            <p class="fw-medium mb-2" id="billing-name">{{bilgi.gelir_kime_ait_oldugu.first_name}}</p>
                                            <p class="text-muted mb-1" id="billing-address-line-1">{{bilgi.gelir_kime_ait_oldugu.adrrsi}}</p>
                                            <p class="text-muted mb-1"><span>Phone: </span><span id="billing-phone-no">{{bilgi.gelir_kime_ait_oldugu.telefon_numarasi}}</span></p>

                                        </div>
                                        <!--end col-->
                                        <div class="col-6">
                                            <h6 class="text-muted text-uppercase fw-semibold mb-3">Shipping Address</h6>
                                            
                                            
                                            
                                            <p class="fw-medium mb-2" id="shipping-name">{{bilgi.cari_bilgisi.cari_adi}}</p>
                                            <p class="text-muted mb-1" id="shipping-address-line-1">{{bilgi.cari_bilgisi.aciklama}}</p>
                                            <p class="text-muted mb-1"><span>Phone: </span><span id="shipping-phone-no">{{bilgi.cari_bilgisi.telefon_numarasi}}</span></p>
                                       
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                                            </div>
                                        </div>
                                        <div class="flex-shrink-0 mt-sm-0 mt-3">
                                            <img src="{%  gelir_qr_cek bilgi.id %}"  alt="logo dark" height="100">
                                            
                                        </div>
                                    </div>
                                </div>
                                <!--end card-header-->
                            </div><!--end col-->
                            <div class="col-lg-12">
                                <div class="card-body p-4">
                                    <div class="row g-3">
                                        <div class="col-lg-3 col-6">
                                            <p class="text-muted mb-2 text-uppercase fw-semibold">Invoice No</p>
                                            <h5 class="fs-14 mb-0"><span id="invoice-no">{{bilgi.fatura_no}}</span></h5>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-3 col-6">
                                            <p class="text-muted mb-2 text-uppercase fw-semibold">Date</p>
                                            <h5 class="fs-14 mb-0"><span id="invoice-date">{{bilgi.fatura_tarihi | date:'Y-m-d'}}</span> </h5>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-3 col-6">
                                            <p class="text-muted mb-2 text-uppercase fw-semibold">Payment Status</p>
                                            {% if i.silinme_bilgisi %}
                                                    <td class="cancel"><span>İPTAL</span></td>
                                                    {% else %}
                                                   {% toplam_tutar_cikarma bilgi as tutar %}
                                                    {% toplam_odenme_tutar bilgi as odeme %}
                                                    {% if  odeme == tutar %}
                                                        <span class="badge bg-success-subtle text-success fs-11" id="payment-status">ÖDENDİ</span>
                                                    {% elif odeme > 0 %}
                                                    <span class="badge bg-warning-subtle text-warning fs-11" id="payment-status">PARÇALI ÖDENDİ</span>
                                                    {% elif odeme == 0 %}
                                                    <span class="badge bg-danger-subtle text-danger fs-11" id="payment-status">ÖDENMEDİ</span>
                                                    {% endif %}
                                                     {% endif %}
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-3 col-6">
                                            <p class="text-muted mb-2 text-uppercase fw-semibold">Total Amount</p>
                                            <h5 class="fs-14 mb-0">$<span id="total-amount">{% toplam_tutar_cikarma bilgi %}</span></h5>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end card-body-->
                            </div><!--end col-->
                         
                            <div class="col-lg-12">
                                <div class="card-body p-4">
                                    <div class="table-responsive">
                                        <table class="table table-borderless text-center table-nowrap align-middle mb-0">
                                            <thead>
                                                <tr class="table-active">
                                                  
                                                    <th scope="col">Ürün</th>
                                                    <th scope="col">Fiyat</th>
                                                    <th scope="col">Adet</th>
                                                    <th scope="col" class="text-end">Tutar</th>
                                                </tr>
                                            </thead>
                                            <tbody id="products-list">
                                             {% for i in urunler %}
                                                <tr>
                                                    
                                                    <td class="text-start">
                                                        <span class="fw-medium">{{i.urun_bilgisi.urun_adi}}</span>
                                                        <p class="text-muted mb-0"></p>
                                                    </td>
                                                    <td>${{i.urun_fiyati|stringformat:'.2f'}}</td>
                                                    <td>{{i.urun_adeti}}</td>
                                                    <td class="text-end">${%  carpma_islemi i.urun_adeti i.urun_fiyati %}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table><!--end table-->
                                    </div>
                                    <div class="border-top border-top-dashed mt-2">
                                        <table class="table table-borderless table-nowrap align-middle mb-0 ms-auto" style="width:250px">
                                            <tbody>
                                                <tr>
                                                    <td>Sub Total</td>
                                                    <td class="text-end">${% toplama_yaptirma urunler %}</td>
                                                </tr>
                                                
                                                <tr class="border-top border-top-dashed fs-15">
                                                    <th scope="row">Total Amount</th>
                                                    <th class="text-end">${% toplama_yaptirma urunler %}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <!--end table-->
                                    </div>
                                    <!--
                                    <div class="mt-3">
                                        <h6 class="text-muted text-uppercase fw-semibold mb-3">Payment Details:</h6>
                                        <p class="text-muted mb-1">Payment Method: <span class="fw-medium" id="payment-method">Mastercard</span></p>
                                        <p class="text-muted mb-1">Card Holder: <span class="fw-medium" id="card-holder-name">David Nichols</span></p>
                                        <p class="text-muted mb-1">Card Number: <span class="fw-medium" id="card-number">xxx xxxx xxxx 1234</span></p>
                                        <p class="text-muted">Total Amount: <span class="fw-medium" id="">$ </span><span id="card-total-amount">755.96</span></p>
                                    </div>
                                    <div class="mt-4">
                                        <div class="alert alert-info">
                                            <p class="mb-0"><span class="fw-semibold">NOTES:</span>
                                                <span id="note">All accounts are to be paid within 7 days from receipt of invoice. To be paid by cheque or
                                                    credit card or direct payment online. If account is not paid within 7
                                                    days the credits details supplied as confirmation of work undertaken
                                                    will be charged the agreed quoted fee noted above.
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    
                                    -->
                                    <div class="hstack gap-2 justify-content-end d-print-none mt-4">
                                        <a href="javascript:window.print()" class="btn btn-success"><i class="ri-printer-line align-bottom me-1"></i> Print</a>
                                       <!-- <a href="javascript:void(0);" class="btn btn-primary"><i class="ri-download-2-line align-bottom me-1"></i> Download</a>
                                    end card-body--></div>
                                </div>
                                <!--end card-body-->
                            </div><!--end col-->
                        </div><!--end row-->
                    </div>
                    <!--end card-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->

        </div><!-- container-fluid -->
    </div><!-- End Page-content -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © {{site_adi.footer}}
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div><!-- end main content-->
{% endblock slider %}
