{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./content/style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/r-3.0.3/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

{% endblock head %}
{% block sidebar %}
<form autocomplete="off" method="post" action="/{{dil}}{% url 'accounting:gelir_faturasi_kaydet' %}" enctype="multipart/form-data">
    {% csrf_token %}
  <main>


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="/{{dil}}{% url 'accounting:gelirler_sayfasi' %}"><i class="icon icon-arrow-circle-left"></i></a>
                    {% trans 'Fatura Oluştur' %}
                    
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#">{% trans 'Dashboard' %}</a></li>
                    <li><a href="#">{% trans 'Satın Alma ve Stok' %}</a></li>
                    <li><a href="#">{% trans 'Fatura Oluştur' %}</a></li>
                </ul>
            </div>

        </div>

        <div class="large-stats-card table-card table-detail-card">
            <div class="stats-header">
                <div class="stats-title">{% trans 'Genel Bilgiler' %}</div>
            </div>


            <div class="fatura-olustur">

                <div class="fatura-doviz">

                    <div class="fatura-doviz-form-row">
                        <div class="form-element">
                            <label for="kategori-adi">{% trans 'Fatura No' %}</label>
                            {% if request.user.kullanicilar_db %}
                {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                {% if yetki.gelir_faturasi_kesme_izni %}
                     <input type="text" required name="faturano" class="form-control" value="{% gelir_faturasi_no request.user.kullanicilar_db.id %}" disabled />
                <input type="text" required name="faturano" hidden class="form-control" value="{% gelir_faturasi_no request.user.kullanicilar_db.id %}" />                                                   
                {% else %}
                                                                                
                {% endif %}
                {% else %}
                       <input type="text" required name="faturano" class="form-control" value="{% gelir_faturasi_no request.user.id %}" disabled />
                <input type="text" required name="faturano" hidden class="form-control" value="{% gelir_faturasi_no request.user.id %}" />                                                 
                {% endif %}
                        </div>
                        <div class="form-element">
                            <label for="kategori-adi">{% trans 'Cari' %}</label>
                            <input type="search" required name="musteri_bilgisi"
                                class="form-control cari ui-autocomplete-input"
                                title="Enter the first three characters of the current name for the registered current account."
                                placeholder="Current Account" autocomplete="off">


                            <script>
                                $(document).ready(function () {

                                    var testVerileri = [
                                        "test1",
                                        "test2",
                                        "test3",
                                        "test4",
                                        "deneme",
                                        "merhaba",
                                    ];

                                    $('.cari').autocomplete({
                                        source: testVerileri,
                                        minLength: 2,
                                        select: function (event, ui) {
                                            $('.cari').val(ui.item.label);
                                            return false;
                                        }
                                    }).data('ui-autocomplete')._renderItem = function (ul, item) {
                                        return $('<li>')
                                            .append('<div>' + item.label + '<br>' + item.value + '</div>')
                                            .appendTo(ul);
                                    };
                                });
                            </script>

                        </div>
                        <div class="form-element">
                            <label for="daterange">{% trans 'Düzenleme ve Vade Tarihi' %}</label>
                            <input type="text" name="daterange" id="daterange">
                        </div>
                        <script>
                            $('input[name="daterange"]').daterangepicker({
                                opens: 'left'
                            }, function (start, end, label) {
                                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                            });
                        </script>
                        <div class="form-element">
                            <label for="aciklama">{% trans 'Açıklama' %}</label>
                            <input type="text" name="cari_aciklma"  id="aciklama">
                        </div>
                    </div>

                    <div class="fatura-doviz-form-row">
                        <div class="form-element iqd-input">
                            <label for="doviz-kuru">{% trans 'Döviz Kuru' %}</label>
                            <input type="number" name="doviz-kuru" id="doviz-kuru">
                        </div>
                        <div class="form-element iqd-input">
                            <label for="head-toplam-iqd">{% trans 'Toplam IQD' %}</label>
                            <input type="text" name="head-toplam-iqd" id="head-toplam-iqd">
                        </div>
                        <div class="form-element">
                            <label for="kategori">{% trans 'Kategori' %} <a onclick="openModal('kategori-ekle')">{% trans '+Ekle' %}</a></label>
                            <select name="kategori"  name="gelir_kategorisi" id="kategori">
                                <option value="" selected disabled></option>
                                {% for i in gelir_kategoerisi %}
                                    <option value="{{i.id}}">{{i.gelir_kategori_adi}}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="form-element">
                            <label for="etiketler">{% trans 'Etiketler' %} <a onclick="openModal('etiket-ekle')">{% trans '+Ekle' %}</a></label>
                            <select name="etiketler"  id="etiketler" multiple>
                                {% for i in gelir_etiketi %}
                        <option value="{{i.id}}">{{i.gelir_etiketi_adi}}</option>
                        {% endfor %}
                            </select>
                        </div>
                        <script>
                            // Function to initialize MultiSelectTag
                            function initializeMultiSelectTag() {
                                return new MultiSelectTag('etiketler', {
                                    rounded: true,
                                    shadow: true,
                                    placeholder: 'Arama',
                                    tagColor: {
                                        textColor: '#327b2c',
                                        borderColor: '#92e681',
                                        bgColor: '#eaffe6',
                                    },
                                    onChange: function (values) {
                                        console.log(values);
                                    }
                                });
                            }
                            var multiSelectInstance = initializeMultiSelectTag();
                        </script>
                    </div>


                </div>



                <div class="fatura-head">
                    <h3>{% trans 'Fatura Kalemleri' %}</h3>
                    <div class="fatura-head-action">
                        <a id="kalem-ekle" ><i class="icon icon-add"></i> {% trans 'Kalem Ekle' %}</a>
                    </div>
                </div>

             
                <div class="fatura-kalemleri-wrapper">
                    <table class="dataTable fatura-kalemleri">
                        <thead>
                            <tr>
                                <th>{% trans 'Hizmet / ürün' %}</th>
                                <th>{% trans 'İndirim' %}</th>
                                <th>{% trans 'Miktar' %}</th>
                                <th>{% trans 'Birim Fiyatı' %}</th>
                                <th>{% trans 'Toplam' %}</th>
                                <th>{% trans 'Toplam IQD' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-id="1">
                                <td>
                                    <div class="form-element">
                                        <input type="text" name="urunadi" class="den" required 
                                            placeholder="Ürün/Hizmet Adı Giriniz">
                                    </div>
                                    <div class="form-element">
                                        <input type="text" name="aciklama" id="kalem-aciklama"
                                            placeholder="Açıklama">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" name="indirim" id="kalem-indirim">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" name="miktari" id="kalem-miktar">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" id="bfiyatInput"  name="bfiyatInput" class="bfiyatInput" step="0.01" type="number" value="0" >
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" name="kalem-toplam" id="kalem-toplam">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element iqd-input">
                                        <input type="number" name="kalem-toplam-iqd" id="kalem-toplam-iqd">
                                    </div>
                                    <a onclick="openModal('delete-modal');$('.delete-modal-button').attr('data-delete-id', $(this).closest('tr').attr('data-id'))"
                                        class="status-cancel stats-lg"><i class="icon icon-action-delete"></i> Sil</a>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>

                <script>
                    let indirim_input = $("input[name='kalem-indirim']");
                    let miktar_input = $("input[name='kalem-miktar']");
                    let birim_fiyati_input = $("input[name='kalem-birim-fiyati']");
                    let toplam_input = $("input[name='kalem-toplam']");
                    let toplam_iqd_input = $("input[name='kalem-toplam-iqd']");

                    $(".fatura-kalemleri tbody tr input[type='number']").on("change", faturaFiyatHesapla)
                    $("input[name='doviz-kuru']").on("change", faturaFiyatHesapla)

                    function faturaFiyatHesapla() {
                        let doviz_kuru = parseFloat($("input[name='doviz-kuru']").val()) > 0 ? parseFloat($("input[name='doviz-kuru']").val()) : 0;

                        let ara_toplam = 0;
                        let toplam_indirim = 0;
                        let toplam_iqd = 0;
                        let toplam_fiyat = 0;

                        for (let i = 0; i < miktar_input.length; i++) {
                            let miktar = parseFloat(miktar_input[i].value) > 0 ? parseFloat(miktar_input[i].value) : 1;
                            let birim_fiyati = parseFloat(birim_fiyati_input[i].value) > 0 ? parseFloat(birim_fiyati_input[i].value) : 1;
                            let indirim = parseFloat(indirim_input[i].value) > 0 ? parseFloat(indirim_input[i].value) : 0;

                            let urun_toplam_fiyat = 0;

                            if (indirim > 0) {
                                urun_toplam_fiyat = (miktar * birim_fiyati) - ((miktar * birim_fiyati) * indirim / 100)
                                toplam_indirim += ((miktar * birim_fiyati) * indirim / 100);
                            } else {
                                urun_toplam_fiyat = (miktar * birim_fiyati)
                            }

                            ara_toplam += (miktar * birim_fiyati);

                            toplam_input[i].value = urun_toplam_fiyat;

                            toplam_iqd_input[i].value = urun_toplam_fiyat * doviz_kuru;

                            toplam_iqd += urun_toplam_fiyat * doviz_kuru;
                            toplam_fiyat += urun_toplam_fiyat;


                        }

                        $("#info-ara-toplam").text("$" + ara_toplam);
                        $("#info-toplam-indirim").text("$" + toplam_indirim);
                        $("#info-toplam-iqd").text("$" + toplam_iqd);
                        $("#head-toplam-iqd").val(toplam_iqd);
                        $("#info-toplam").text("$" + toplam_fiyat);

                    }
                </script>



                <div class="fatura-detaylar">

                    <table>
                        <tbody>
                            <tr>
                                <td>{% trans 'Ara Toplam' %}</td>
                                <th id="info-ara-toplam">$0,00</th>
                            </tr>
                            <tr>
                                <td>{% trans 'İndirim' %}</td>
                                <td id="info-toplam-indirim" style="color: #ff0000;">-$0,00</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Toplam IQD' %}</td>
                                <td id="info-toplam-iqd">$0,00</td>
                            </tr>
                            <tr>
                                <th>{% trans 'Toplam' %}</th>
                                <th id="info-toplam">$0,00</th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Kaydet' %}</button>
                    </div>
                </div>




            </div>



        </div>



    </main>
</form>


    <script>
        $(".delete-modal-button").on("click", function () {
            $(".fatura-kalemleri [data-id=" + $(this).attr("data-delete-id") + "]").remove();
            closeModal();
        })
    </script>


    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });

    </script>


    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>

{% endblock sidebar %}
