{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./content/style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/r-3.0.3/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

{% endblock head %}
{% block sidebar %}
<form autocomplete="off" method="post" action="/{{dil}}{% url 'accounting:gider_faturasi_kaydet' %}" enctype="multipart/form-data">
    {% csrf_token %}
  <main>


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="/{{dil}}{% url 'accounting:giderler_sayfasi' %}"><i class="icon icon-arrow-circle-left"></i></a>
                    {% trans 'Fatura Oluştur' %}
                    
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="/{{dil}}/">{% trans 'Dashboard' %}</a></li>
                    <li><a href="#">{% trans 'Satın Alma ve Stok' %}</a></li>
                    <li><a href="#">{% trans 'Fatura Oluştur' %}</a></li>
                </ul>
            </div>

        </div>

        <div class="large-stats-card table-card table-detail-card">
            <div class="stats-header">
                <div class="stats-title">{% trans 'Genel Bilgiler' %}</div>
            </div>


            <div class="fatura-olustur">

                <div class="fatura-doviz">

                    <div class="fatura-doviz-form-row">
                        <div class="form-element">
                            <label for="kategori-adi">{% trans 'Fatura No' %}</label>
                            {% if request.user.kullanicilar_db %}
                {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                {% if yetki.gelir_faturasi_kesme_izni %}
                     <input type="text" required name="faturano" class="form-control" value="{% gider_faturasi_no request.user.kullanicilar_db.id %}" disabled />
                <input type="text" required name="faturano" hidden class="form-control" value="{% gider_faturasi_no request.user.kullanicilar_db.id %}" />                                                   
                {% else %}
                                                                                
                {% endif %}
                {% else %}
                       <input type="text" required name="faturano" class="form-control" value="{% gider_faturasi_no request.user.id %}" disabled />
                <input type="text" required name="faturano" hidden class="form-control" value="{% gider_faturasi_no request.user.id %}" />                                                 
                {% endif %}
                        </div>
                        <div class="form-element">
                            <label for="kategori-adi">{% trans 'Cari' %}</label>
                            <input type="search" required name="musteri_bilgisi"
                                class="form-control cari ui-autocomplete-input"
                                title="{% trans 'Kayıtlı cari hesap için cari hesap adının ilk üç karakterini giriniz.' %}"
                                placeholder="{% trans 'Cari hesabı seçiniz' %}" autocomplete="off">


                            <script>
                                $(document).ready(function () {


                                    $('.cari').autocomplete({
                                        source: testVerileri,
                                        minLength: 2,
                                        select: function (event, ui) {
                                            $('.cari').val(ui.item.label);
                                            return false;
                                        }
                                    }).data('ui-autocomplete')._renderItem = function (ul, item) {
                                        return $('<li>')
                                            .append('<div>' + item.label + '<br>' + item.value + '</div>')
                                            .appendTo(ul);
                                    };
                                });
                            </script>

                        </div>
                        <div class="form-element">
                            <label for="daterange">{% trans 'Düzenleme ve Vade Tarihi' %}</label>
                            <input type="text" name="daterange" id="daterange">
                        </div>
                        <script>
                            $('input[name="daterange"]').daterangepicker({
                                opens: 'left'
                            }, function (start, end, label) {
                                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                            });
                        </script>
                        <div class="form-element">
                            <label for="aciklama">{% trans 'Açıklama' %}</label>
                            <input type="text" name="cari_aciklma"  id="aciklama">
                        </div>
                    </div>

                    <div class="fatura-doviz-form-row">
                        <div class="form-element iqd-input">
                            <label for="doviz-kuru">{% trans 'Döviz Kuru' %}</label>
                            <input type="number" name="doviz_kuru" id="doviz-kuru">
                        </div>
                        <div class="form-element iqd-input">
                            <label for="head-toplam-iqd">{% trans 'Toplam IQD' %}</label>
                            <input type="text" name="head-toplam-iqd" id="head-toplam-iqd">
                        </div>
                        <div class="form-element" id="kategori">
                            <label for="kategori">{% trans 'Kategori' %} <a onclick="openModal('kategori-ekle')">{% trans '+Ekle' %}</a></label>
                            <select   name="gelir_kategorisi_gonder" >
                                <option value="" selected disabled></option>
                                {% for i in gelir_kategoerisi %}
                                    <option value="{{i.id}}">{{i.gider_kategori_adi}}</option>
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="form-element" id="etiket">
                            <label for="etiketler">{% trans 'Etiketler' %} <a onclick="openModal('etiket-ekle')">{% trans '+Ekle' %}</a></label>
                            <select name="etiketler"  id="etiketler" multiple>
                                {% for i in gelir_etiketi %}
                        <option value="{{i.id}}">{{i.gider_etiketi_adi}}</option>
                        {% endfor %}
                            </select>
                        </div>
                        <script>
                           
                        </script>
                    </div>


                </div>



                <div class="fatura-head">
                    <h3>{% trans 'Fatura Kalemleri' %}</h3>
                    <div class="fatura-head-action">
                        <a id="kalem-ekle" ><i class="icon icon-add"></i> {% trans 'Kalem Ekle' %}</a>
                    </div>
                </div>

             
                <div class="fatura-kalemleri-wrapper">
                    <table class="dataTable fatura-kalemleri">
                        <thead>
                            <tr>
                                <th>{% trans 'Hizmet / ürün' %}</th>
                                <th>{% trans 'Miktar' %}</th>
                                <th>{% trans 'Birim Fiyatı' %}</th>
                                <th>{% trans 'İndirim' %}</th>
                                <th>{% trans 'Toplam' %}</th>
                                <th>{% trans 'Toplam IQD' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-id="1">
                                <td>
                                    <div class="form-element">
                                        <input type="text" name="urunadi" class="den" required 
                                            placeholder="Ürün/Hizmet Adı Giriniz" title="{% trans 'Kayıtlı ürün için ürün adının ilk üç karakterini giriniz.' %}"
>
                                    </div>
                                    <div class="form-element">
                                        <input type="text" name="aciklama" id="kalem-aciklama"
                                            placeholder="Açıklama">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" value="1" name="miktari" id="kalem-miktar">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                            <input type="number" name="bfiyatInput" class="bfiyatInput" step="0.01" value="0" onfocus="if(this.value=='0'){this.value='';}" onblur="if(this.value==''){this.value='0';}">                                    </div>
                                </td>
                               <td>
                                    <div class="form-element">
                                        <input type="number" value="0" name="indirim" id="kalem-indirim">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" name="kalem-toplam" id="kalem-toplam">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element iqd-input">
                                        <input type="number" name="kalem-toplam-iqd" id="kalem-toplam-iqd">
                                    </div>
                                    <a onclick="openModal('delete-modal');$('.delete-modal-button').attr('data-delete-id', $(this).closest('tr').attr('data-id'))"
                                        class="status-cancel stats-lg"><i class="icon icon-action-delete"></i> Sil</a>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>





                <div class="fatura-detaylar">

                    <table>
                        <tbody>
                            <tr>
                                <td>{% trans 'Ara Toplam' %}</td>
                                <th id="info-ara-toplam">$0,00</th>
                            </tr>
                            <tr>
                                <td>{% trans 'İndirim' %}</td>
                                <td id="info-toplam-indirim" style="color: #ff0000;">-$0,00</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Toplam IQD' %}</td>
                                <td id="info-toplam-iqd">$0,00</td>
                            </tr>
                            <tr>
                                <th>{% trans 'Toplam' %}</th>
                                <th id="info-toplam">$0,00</th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Kaydet' %}</button>
                    </div>
                </div>




            </div>



        </div>



    </main>
</form>
<!--Translate gelecek yerler -->
    <div class="modal" id="etiket-ekle">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Etiket Ekle
            </div>
            <div class="modal-body">
                
                    <div class="form-element">
                        <label for="etiket-adi">Etiket Adı</label>
                        <input type="text"  name="etiket_ismi_gonder" id="etiket_ismi_gonder"  placeholder="{% trans 'Etiket Adı' %}" />
                        <input type="text" name="tur2" id="tur2" hidden value="1">
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal('etiket-ekle')">Vazgeç</button>
                        <button class="form-action-primary" type="submit"  id="ekle2" onclick="closeModal('etiket-ekle')">Etiket Ekle</button>
                    </div>
              
            </div>
        </div>
    </div>



    <div class="modal" id="kategori-ekle">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Kategori Ekle
            </div>
            <div class="modal-body">
                
                    <input type="text" name="tur" id="tur" hidden value="1">
                    <div class="form-element">
                        <label for="kategori-adi">Kategori Adı</label>
                        <input type="text"  name="adi" id="adi"  placeholder="{% trans 'Kategori Adı' %}" />
                    </div>
                    <div class="form-element">
                        <label for="kategori-aciklamasi">Kategori Açıklaması</label>
                        <input type="text"  name="aciklama" id="aciklama"  placeholder="{% trans 'Kategori Açıklaması' %}" />
                    </div>
                    <div class="form-element">
                        <label for="kategori-rengi">Kategori Rengi</label>
                        <input type="color"  name="renk" id="renk"  placeholder="{% trans 'Gider Rengi' %}" />
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal('')">Vazgeç</button>
                        <button class="form-action-primary"  id="ekle" onclick="closeModal('kategori-ekle')" type="submit">Kategori Oluştur</button>
                    </div>
               
            </div>
        </div>
    </div>


    <div class="modal" id="delete-modal">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Silmek istediğinize emin misiniz?
            </div>
            <div class="modal-body">
                <form>
                    <p>Bu işlemin geri dönüşü olmayacaktır.</p>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-danger delete-modal-button" type="button">Evet, silinsin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--Translate gelecek yerler -->

                <script>
                    let indirim_input = $("input[name='kalem-indirim']");
                    let miktar_input = $("input[name='kalem-miktar']");
                    let birim_fiyati_input = $("input[name='kalem-birim-fiyati']");
                    let toplam_input = $("input[name='kalem-toplam']");
                    let toplam_iqd_input = $("input[name='kalem-toplam-iqd']");

                    $(".fatura-kalemleri tbody tr input[type='number']").on("change", faturaFiyatHesapla)
                    $("input[name='doviz-kuru']").on("change", faturaFiyatHesapla)

                    function faturaFiyatHesapla() {
                        let doviz_kuru = parseFloat($("input[name='doviz-kuru']").val()) > 0 ? parseFloat($("input[name='doviz-kuru']").val()) : 0;

                        let ara_toplam = 0;
                        let toplam_indirim = 0;
                        let toplam_iqd = 0;
                        let toplam_fiyat = 0;

                        for (let i = 0; i < miktar_input.length; i++) {
                            let miktar = parseFloat(miktar_input[i].value) > 0 ? parseFloat(miktar_input[i].value) : 1;
                            let birim_fiyati = parseFloat(birim_fiyati_input[i].value) > 0 ? parseFloat(birim_fiyati_input[i].value) : 1;
                            let indirim = parseFloat(indirim_input[i].value) > 0 ? parseFloat(indirim_input[i].value) : 0;

                            let urun_toplam_fiyat = 0;

                            if (indirim > 0) {
                                urun_toplam_fiyat = (miktar * birim_fiyati) - ((miktar * birim_fiyati) * indirim / 100)
                                toplam_indirim += ((miktar * birim_fiyati) * indirim / 100);
                            } else {
                                urun_toplam_fiyat = (miktar * birim_fiyati)
                            }

                            ara_toplam += (miktar * birim_fiyati);

                            toplam_input[i].value = urun_toplam_fiyat;

                            toplam_iqd_input[i].value = urun_toplam_fiyat * doviz_kuru;

                            toplam_iqd += urun_toplam_fiyat * doviz_kuru;
                            toplam_fiyat += urun_toplam_fiyat;


                        }

                        $("#info-ara-toplam").text("$" + ara_toplam);
                        $("#info-toplam-indirim").text("$" + toplam_indirim);
                        $("#info-toplam-iqd").text("$" + toplam_iqd);
                        $("#head-toplam-iqd").val(toplam_iqd);
                        $("#info-toplam").text("$" + toplam_fiyat);

                    }
                </script>
    <script>
        $(".delete-modal-button").on("click", function () {
            $(".fatura-kalemleri [data-id=" + $(this).attr("data-delete-id") + "]").remove();
            closeModal();
        })
    </script>

    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });

    </script>

 <script>
                                $(document).ready(function () {

                                    var testVerileri = [
                                        "test1",
                                        "test2",
                                        "test3",
                                        "test4",
                                        "deneme",
                                        "merhaba",
                                    ];

                                    $('.cari').autocomplete({
                                        source: testVerileri,
                                        minLength: 2,
                                        select: function (event, ui) {
                                            $('.cari').val(ui.item.label);
                                            return false;
                                        }
                                    }).data('ui-autocomplete')._renderItem = function (ul, item) {
                                        return $('<li>')
                                            .append('<div>' + item.label + '<br>' + item.value + '</div>')
                                            .appendTo(ul);
                                    };
                                });
                            </script>
                        <script>
                            $('input[name="daterange"]').daterangepicker({
                                opens: 'left'
                            }, function (start, end, label) {
                                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                            });
                        </script>

  <script>
                            // Function to initialize MultiSelectTag
                            function initializeMultiSelectTag() {
                                return new MultiSelectTag('etiketler', {
                                    rounded: true,
                                    shadow: true,
                                    placeholder: 'Arama',
                                    tagColor: {
                                        textColor: '#327b2c',
                                        borderColor: '#92e681',
                                        bgColor: '#eaffe6',
                                    },
                                    onChange: function (values) {
                                        console.log(values);
                                    }
                                });
                            }
                            var multiSelectInstance = initializeMultiSelectTag();
                        </script>       

 <script>
$(document).ready(function () {
    let kalemContainer = $(".fatura-kalemleri tbody");
    let dovizKuruInput = $("input[name='doviz_kuru']");
    let araToplamElement = $("#info-ara-toplam");
    let toplamIndirimElement = $("#info-toplam-indirim");
    let toplamIqdElement = $("#info-toplam-iqd");
    let headToplamIqdInput = $("#head-toplam-iqd");
    let toplamFiyatElement = $("#info-toplam");

    function faturaFiyatHesapla() {
        let dovizKuru = parseFloat(dovizKuruInput.val()) > 0 ? parseFloat(dovizKuruInput.val()) : 0;

        let araToplam = 0;
        let toplamIndirim = 0;
        let toplamIqd = 0;
        let toplamFiyat = 0;

        kalemContainer.find("tr").each(function () {
            let miktarInput = $(this).find("input[name='miktari']");
            let birimFiyatiInput = $(this).find("input[name='bfiyatInput']");
            let indirimInput = $(this).find("input[name='indirim']");
            let toplamInput = $(this).find("input[name='kalem-toplam']");
            let toplamIqdInput = $(this).find("input[name='kalem-toplam-iqd']");

            let miktar = parseFloat(miktarInput.val()) > 0 ? parseFloat(miktarInput.val()) : 1;
            let birimFiyati = parseFloat(birimFiyatiInput.val()) > 0 ? parseFloat(birimFiyatiInput.val()) : 0;
            let indirim = parseFloat(indirimInput.val()) > 0 ? parseFloat(indirimInput.val()) : 0;

            let urunToplamFiyat = miktar * birimFiyati;
            let urunIndirim = (indirim > 0) ? (urunToplamFiyat * indirim / 100) : 0;

            urunToplamFiyat -= urunIndirim;
            toplamInput.val(urunToplamFiyat.toFixed(2));

            let urunToplamIqd = urunToplamFiyat * dovizKuru;
            toplamIqdInput.val(urunToplamIqd.toFixed(2));

            araToplam += miktar * birimFiyati;
            toplamIndirim += urunIndirim;
            toplamIqd += urunToplamIqd;
            toplamFiyat += urunToplamFiyat;
        });

        araToplamElement.text("$" + araToplam.toFixed(2));
        toplamIndirimElement.text("-$" + toplamIndirim.toFixed(2));
        toplamFiyatElement.text("$" + toplamFiyat.toFixed(2));
        toplamIqdElement.text("$" + toplamIqd.toFixed(2));
        headToplamIqdInput.val(toplamIqd.toFixed(2));
    }

    function toplamIqdDegisikligi() {
        let toplamIqd = parseFloat(headToplamIqdInput.val()) > 0 ? parseFloat(headToplamIqdInput.val()) : 0;
        let toplamFiyat = parseFloat(toplamFiyatElement.text().replace("$", "")) > 0 ? parseFloat(toplamFiyatElement.text().replace("$", "")) : 0;

        if (toplamFiyat > 0) {
            let yeniDovizKuru = toplamIqd / toplamFiyat;
            dovizKuruInput.val(yeniDovizKuru.toFixed(2));
            faturaFiyatHesapla();
        }
    }

    kalemContainer.on("change", "input[type='number']", faturaFiyatHesapla);
    dovizKuruInput.on("change", faturaFiyatHesapla);
    headToplamIqdInput.on("change", toplamIqdDegisikligi);

    $("#kalem-ekle").on("click", function () {
        let yeniKalem = `<tr data-id="new">
                            <td>
                                <div class="form-element">
                                    <input type="text" name="urunadi" class="den" required placeholder="Ürün/Hizmet Adı Giriniz" title="{% trans 'Kayıtlı ürün için ürün adının ilk üç karakterini giriniz.' %}">
                                </div>
                                <div class="form-element">
                                    <input type="text" name="aciklama" id="kalem-aciklama" placeholder="Açıklama">
                                </div>
                            </td>
                            <td>
                                <div class="form-element">
                                    <input type="number" value="1" name="miktari" class="kalem-miktar">
                                </div>
                            </td>
                            <td>
                                <div class="form-element">
                                    <input type="number" name="bfiyatInput" class="bfiyatInput" step="0.01" value="0" onfocus="if(this.value=='0'){this.value='';}" onblur="if(this.value==''){this.value='0';}">
                                </div>
                            </td>
                            <td>
                                <div class="form-element">
                                    <input type="number" value="0" name="indirim" class="kalem-indirim">
                                </div>
                            </td>
                            <td>
                                <div class="form-element">
                                    <input type="number" name="kalem-toplam" class="kalem-toplam" readonly>
                                </div>
                            </td>
                            <td>
                                <div class="form-element iqd-input">
                                    <input type="number" name="kalem-toplam-iqd" class="kalem-toplam-iqd" readonly>
                                </div>
                                <a onclick="$(this).closest('tr').remove(); faturaFiyatHesapla();" class="status-cancel stats-lg"><i class="icon icon-action-delete"></i> Sil</a>
                            </td>
                        </tr>`;
        kalemContainer.append(yeniKalem);
        kalemContainer.find("input[type='number']").off("change").on("change", faturaFiyatHesapla);
        enableAutocompleteForNewItems();
    });

    kalemContainer.on("change", "input", faturaFiyatHesapla);

    enableAutocompleteForNewItems();
});

</script>
{% endblock sidebar %}
{% block javascriptcodeadd %}
<style>
    .custom-toast-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1050;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: translate(-50%, -60%);
    }
    
    .custom-toast-container.show {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    
    .custom-toast {
        background-color: #013744;
        color: #ffffff;
        padding: 20px 25px;
        border-radius: 8px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        max-width: 350px;
        display: flex;
        align-items: center;
    }
    
    .custom-toast-icon {
        font-size: 30px;
        margin-right: 15px;
        color: #ffcc00; /* İkon rengi */
    }
    
    .custom-toast-content {
        display: flex;
        flex-direction: column;
    }
    
    .custom-toast-content strong {
        font-size: 18px;
        margin-bottom: 5px;
    }
    
    .custom-toast-content p {
        margin: 0;
        font-size: 14px;
        color: #d3d3d3; /* Açık gri metin rengi */
    }
    
        .ui-menu-item-wrapper:hover{
            background-color: white !important;
            color: black;
        }
        .ui-menu-item-wrapper{
        background-color:  orange !important;
        max-width: 400px !important;
        z-index: 999 !important;
        font-size: 15px !important;
        list-style: none; color: white;
        }
        </style>
<script>
$(document).ready(function(){
    $('.cari').autocomplete({
                source: '/accounting/cari/',
                minLength: 2,
                select: function(event, ui) {
                    $('.cari').val(ui.item.label); // Seçilen ürün adını input alanına ekleyin

                    return false;
                }
            }).data('ui-autocomplete')._renderItem = function(ul, item) {
                return $('<li>')
                    .append('<div>' + item.label + '<br>' + item.value + '</div>')// Görünümü özelleştirin (ürün adı ve birim fiyat)
                    .appendTo(ul);
            };
});
function enableAutocompleteForNewItems() {
    $('.den').autocomplete({
        source: '/accounting/search/',
        minLength: 2,
        select: function(event, ui) {
            var id = this.id;

            // Ürün/Hizmet Adı girdi alanına doğru değeri atayın
            $(this).val(ui.item.label);
            
            // Fiyatı ilgili birim fiyatı girdi alanına atayın
            //var bfiyatId = id.replace("kalem-urun-hizmet-adi", "kalem-birim-fiyati");
            //document.getElementById(bfiyatId).value = ui.item.value;

            hesaplama_islemi();
            return false;
        }
    }).data('ui-autocomplete')._renderItem = function(ul, item) {
        return $('<li>')
            .append('<div>' + item.label + '  ' + item.value + ' USD</div>')
            .appendTo(ul);
    };
}

enableAutocompleteForNewItems();
//gelir -gider kategorisi Ekleme 
$(document).ready(function () {
        $("#ekle").click(function (event) {
            var tur = $("#tur").val(),
                adi = $("#adi").val(),
                aciklama = $("#aciklama").val(),
                renk = $("#renk").val();

            $.ajax({
                type: "POST",
                url: "/{{dil}}{% url 'accounting:gider_gelir_ekleme' %}",
                data: {
                    tur: tur,
                    adi: adi,
                    aciklama: aciklama,
                    renk: renk,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (data) {
                    $("#kategori").load(window.location.href + " #kategori");
                }
            });
            return false;
        });
    });
    $(document).ready(function () {
  $("#ekle2").click(function (event) {
    tur2 = $("#tur2").val(),
    adi2 = $("#etiket_ismi_gonder").val(),

    $.ajax({
      type: "POST",
      url: "/{{dil}}{% url 'accounting:gider_gelir_etiketekleme' %}",
      data: {
        tur2: tur2,
        adi2:adi2,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (data) {
        $("#etiket").load(window.location.href + " #etiket", function() {
            multiSelectInstance = initializeMultiSelectTag() });
      }
    });
    return false; //<---- move it here
  });  });
</script>
{% endblock javascriptcodeadd %}