
{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block slider %}
<!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Giderler</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Giderler</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" id="invoiceList">
                            <div class="card-header border-0">
                                <form method="get">
                                    <div class="row g-3 gelirler-filtre">
                                        <div class="col-sm-4">
                                            <div class="search-box">
                                                <input type="text" name="search" value="{% if request.GET.search %}{{request.GET.search}}{% endif %}" class="form-control search bg-light border-light" placeholder="Cari adı, kategori veya etiket yazınız...">
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-sm-4">
                                            <input type="date" name="tarih" value="{% if request.GET.tarih %}{{request.GET.tarih}}{% endif %}" class="form-control bg-light border-light" id="datepicker-range" placeholder="Tarih seçiniz">
                                        </div>
                                        <!--end col-->
                                        <div class="col-sm-1">
                                            <button type="submit" class="btn btn-primary w-100">
                                            Ara
                                            </button>

                                        </div>
                                        <div class="col-sm-2">
                                            <a href="{% url 'accounting:giderler_sayfasi' %}" type="button" class="btn btn-primary w-100">
                                                Temizle
                                            </a>

                                        </div>
                                        <!--end col-->

                                        <!--end col-->
                                        <div class="col-sm-1 fatura-ekle">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <div class="d-flex gap-2 flex-wrap">
                                                        <button class="btn btn-primary" id="remove-actions" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                                                        {% if hash_bilgi %}
                                                        <a href="/{{dil}}{% url 'accounting:gider_ekle_2' hashler %}" class="btn btn-danger"><i class="ri-add-line align-bottom me-1"></i> {% trans 'Fatura Oluştur' %}</a>
                                                        {% else %}
                                                        <a href="/{{dil}}{% url 'accounting:gider_ekle' %}" class="btn btn-danger"><i class="ri-add-line align-bottom me-1"></i> {% trans 'Fatura Oluştur' %}</a>
                                                        {% endif %}
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end row-->
                                </form>

                            </div>
                            <div class="card-body bg-light-subtle border border-dashed border-start-0 border-end-0">
                            </div>
                            <div class="card-body">
                                <div>
                                    <div class="table-responsive table-card">
                                        <table class="table align-middle table-nowrap" id="invoiceTable">
                                            <thead class="text-muted">
                                                <tr>
                                                {% if request.user.is_superuser %}
                                                <th class="text-uppercase">Gider Kime Ait</th>
                                                {% else %}
                                                {% endif %}
                                                    <th class="text-uppercase">Fatura No</th>
                                                    <th class="text-uppercase">
                                                        Cari</th>
                                                    <th class="text-uppercase">
                                                        Açıklma</th>
                                                    <th class="text-uppercase">Düzenleme Tarihi</th>
                                                    <th class="text-uppercase">Vade Tarihi</th>
                                                    <th class="text-uppercase">Fatura Bedeli</th>
                                                    <th class="text-uppercase">Kalan Tutar</th>
                                                    <th class="text-uppercase">
                                                        DURUM</th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all" id="invoice-list-data">
                                                {% for i in  santiyeler %}
                                                
                                                <tr class="faturabilgisi" id="{{i.id}}">
                                                {% if request.user.is_superuser %}
                                                <td class="customer_name">{{i.gelir_kime_ait_oldugu.first_name}}
                                                    </td>
                                                {% else %}
                                                {% endif %}
                                                    <td><span>{{i.fatura_no}}</span></td>
                                                    <td><span>{{i.cari_bilgisi.cari_adi}}</span></td>
                                                    <td><span>{{i.aciklama}}</span></td>
                                                    <td><span>{{i.fatura_tarihi| date:'d.m.Y'}}</span></td>
                                                    <td><span>{{i.vade_tarihi| date:'d.m.Y'}}</span></td>
                                                    <td><span>{% toplam_tutar_cikarmai i %} $</span></td>
                                                    <td>
                                                        <div id="ge{{i.id}}">
                                                        <span>{% kalan_tutuari i %} $</span></div></td>

                                                    {% if i.silinme_bilgisi %}
                                                    <td class="cancel"><span>İPTAL</span></td>
                                                    {% else %}
                                                   {% toplam_tutar_cikarmai i as tutar %}
                                                    {% toplam_odenme_tutari i as odeme %}
                                                    {% if  odeme == tutar %}
                                                        <td class="paid"><span>ÖDENDİ</span></td>
                                                    {% elif odeme > 0 %}
                                                    <td class="paidinparts"><span>PARÇALI ÖDENDİ</span></td>
                                                    {% elif odeme == 0 %}
                                                    <td class="unpaid"><span>ÖDENMEDİ</span></td>
                                                    {% endif %}
                                                     {% endif %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="noresult" style="display: none">
                                            <div class="text-center">
                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                                </lord-icon>
                                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                                <p class="text-muted mb-0">We've searched more than 150+ invoices We did not find any
                                                    invoices for you search.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end mt-3">
                                        <div class="pagination-wrap hstack gap-2">
                                            <ul class="pagination pagination-m justify-content-center">

                                                {% if medya.has_previous %}
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">« Previous page</a></li>

                                                  {% if medya.number > 3 %}

                                                    <li class="page-item"><a class="page-link" href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">1</a></li>
                                                    {% if medya.number > 4 %}
                                                      <li class="page-item"><span class="page-link">...</span></li>
                                                    {% endif %}
                                                  {% endif %}
                                                {% endif %}

                                                {% for num in medya.paginator.page_range %}
                                                  {% if medya.number == num %}
                                                    <li class="page-item"><a class="page-link " style="color:black;" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% elif num > medya.number|add:'-3' and num < medya.number|add:'3' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% endif %}
                                                {% endfor %}

                                                {% if medya.has_next %}
                                                  {% if medya.number < medya.paginator.num_pages|add:'-3' %}
                                                    <li class="page-item"><span class="page-link">...</span></li>
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% elif medya.number < medya.paginator.num_pages|add:'-2' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% endif %}

                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next Page »</a></li>
                                                {% endif %}
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade flip" id="deleteOrder" tabindex="-1" aria-labelledby="deleteOrderLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-body p-5 text-center">
                                                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px">
                                                </lord-icon>
                                                <div class="mt-4 text-center">
                                                    <h4>You are about to delete a order ?</h4>
                                                    <p class="text-muted fs-15 mb-4">Deleting your order will remove all of
                                                        your information from our database.</p>
                                                    <div class="hstack gap-2 justify-content-center remove">
                                                        <button class="btn btn-link link-success fw-medium text-decoration-none" id="deleteRecord-close" data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</button>
                                                        <button class="btn btn-danger" id="delete-record">Yes, Delete It</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--end modal -->
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
        </div>
        {% for i in  santiyeler %}
         <div class="modal" id="faturasil{{i.id}}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Faturayı İptal Et</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
        <form action="{% url 'accounting:fatura_sil' %}" method="post">
        {% csrf_token %}
      <!-- Modal body -->
      <div class="modal-body">
        Faturayı iptal etmek istediğinizden emin misiniz ?
        <input type="text" name="gelir_gider" value="1" hidden>
        <input type="text" name="idbilgisicek" value="{{i.id}}" hidden>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">İptal</button>
        <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">Sil</button>
      </div>
    </form>
    </div>
  </div>
</div>
        {% makbuzlari_getiri  i.id as gelen_makbuzlar %}
        {% for k in gelen_makbuzlar %}
        <div class="modal" id="makbuzsil{{k.id}}">
            <div class="modal-dialog">
                <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Ödeme Sil</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    Ödemeyi Silmek İstediğinizden Emin Misiniz ?
                    <input type="text" name="makbuz" value="0" hidden>
                    <input type="text" name="makbuzidsi" value="{{k.id}}" hidden>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">İptal</button>
                    <button type="button"  id="{{k.id}}-{{k.gelir_kime_ait_oldugu.id}}" data-bs-dismiss="modal" class="btn btn-danger makbuzsill" >Sil</button>
                </div>

                </div>
            </div>
            </div>
            {% endfor %}
            {% endfor %}
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © {{site_adi.footer}}
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- end main content-->
{% endblock slider %}
{% block footer %}
{% for i in  santiyeler %}
<!-- END layout-wrapper -->
<div class="invoice-detail-modal" id="invoice-detail-modal{{i.id}}">
    <div class="wrapper">
        <div class="modal-head">
            <div class="invoice-title">
                <a>Fatura Adı</a>
            </div>
            <div class="invoice-icons">
                <div class="icon-item print-icon"><a href="{% url 'accounting:fatura_goster2' i.id %}"  title="Yazdır" class="mdi mdi-printer-outline"></a></div>
                <div class="icon-item cancel-icon"><span type="button"  data-bs-toggle="modal" data-bs-target="#faturasil{{i.id}}" title="İptal et" class="mdi mdi-alert-circle-outline"></span></div>
                <a href="{% url 'accounting:gider_duzenle' i.id %}" class="icon-item edit-icon"><span title="Düzenle" class="mdi mdi-pencil-circle-outline"></span></a>
                <div class="icon-item close-icon"><span title="Kapat" class="mdi mdi-close-circle-outline"></span></div>
            </div>
        </div>
        <div class="modal-body">
            <div class="top">
                <div class="title"><h4>Satış Faturası</h4></div>
                <div class="category"><span>{{i.gelir_kategorisi.gelir_kategori_adi}}</span></div>
            </div>
            <div class="fatura-info">
                <div class="info-item">
                    <div class="title"><h5>Fatura no</h5></div>
                    <div class="value"><span>{{i.fatura_no}}</span></div>
                </div>
                <div class="info-item">
                    <div class="title"><h5>DÖVİZ KURU</h5></div>
                    <div class="value"><span>{{i.doviz}}</span></div>
                </div>
                <div class="info-item">
                    <div class="title"><h5>Düzenleme Tarihi</h5></div>
                    <div class="value"><span>{{i.fatura_tarihi}}</span></div>
                </div>
                <div class="info-item">
                    <div class="title"><h5>VADE TARİHİ</h5></div>
                    <div class="value"><span>{{i.vade_tarihi}}</span></div>
                </div>
            </div>
            <div class="fature-desc">
                <div class="title"><h5>Açıklama</h5></div>
                <div class="value"><span>
                {% if i.aciklama %}
                    {{i.aciklama}}
                {% else %}
                {% endif %}
                </span></div>
            </div>
            <div class="title">
                <h5>Fatura Kalemleri</h5>
            </div>
            <div class="satis-table">
                <div class="table-titles">
                    <h5>Ürün</h5>
                    <h5>Adet</h5>
                    <h5>Fiyat</h5>
                    <h5>Toplam</h5>
                </div>
                {% kalemleri_getir_gelir_faturasi_icini i as bilgi_getir %}
                {% for j in bilgi_getir %}
                    <div class="table-item">
                        <div class="title"><span>{{j.urun_bilgisi.urun_adi}}</span></div>
                        <div class="adet">{{j.urun_adeti}}</div>
                        <div class="fiyat"><span>{{j.urun_fiyati}}<span>$</span></span></div>
                        <div class="toplam"><span>{% carpma_islemi j.urun_adeti j.urun_fiyati %}<span>$</span></span></div>
                    </div>
                {% endfor %}
                {% kalemleri_getir_gelir_faturasi_icin_toplam_flani i as topla %}
                <div class="table-total">
                    <div class="fiyat"><span>{{topla.toplam}}<span>$</span></span></div>
                    <div class="toplam"><span>{{topla.genel}}<span>$</span></span></div>
                </div>
            </div>
            <div class="eklenen-kasa">
                <div class="eklenen-item">
                    <div class="tarih">
                        <span></span>
                    </div>
                    <div title="Makbuzu Görüntüle" class="makbuz">
                        <span id="{{i.id}}" class="mdi mdi-text-box-search-outline"></span>
                        <span>Makbuzlar</span>
                    </div>
                    <div class="fiyat"><span>{{topla.genel}}<span>$</span></div>
                </div>
            </div>
            <div class="kalan">
                <div class="wrapper">
                    <div title="ekle" class="ekle">
                        <span id="{{i.id}}" class="mdi mdi-plus-circle"></span>
                        <span>KALAN</span>
                    </div>
                    <div class="price">
                    <div id="g{{i.id}}">
                        <span>{% kalan_tutuari i %} <span>$</span></span></div>
                    </div>
                </div>
            </div>
            <div class="tahsilatEkle" id="tahsilatEkle{{i.id}}">
                <form method="post" action="{% url 'accounting:gider_odemesi_ekle' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" hidden value="{{i.id}}" name="faturabilgisi">
                    <div class="input-item">
                        <label>TÜR</label>
                        <select name="odemeturu">
                            <option value="0">Nakit / Banka</option>
                            <option value="1" disabled>ÇEK VEYA SENET</option>
                            <option value="2">ÇEK</option>
                            <option value="3">SENET</option>
                        </select>
                    </div>
                    <div class="input-item">
                        <label>HESAP</label>
                        <select name="kasabilgisi">
                            {% for m in kasa %}
                                <option value="{{m.id}}">{{m.kasa_adi}}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="input-item">
                        <label>TARİH</label>
                        <input required name="islemtarihi" type="date" />
                    </div>
                    <div class="input-item">
                        <label>TUTAR</label>
                        <input type="number" required step="0.01" value="{% kalan_tutuari i %}" max="{% kalan_tutuari i %}" min="0"  name="islemtutari" placeholder="105000.41" />
                        <span class="mdi mdi-currency-usd"></span>
                    </div>
                    <div class="input-item">
                        <label>MAKBUZ NO</label>
                        <input name="makbuznumarasi" type="text" />
                    </div>
                    <div class="input-item">
                        <label>AÇIKLAMA</label>
                        <input name="aciklama_bilgisi" type="text" />
                    </div>
                    <div class="input-item">
                        <label>DOSYA</label>
                        <input name="dosya" type="file" />
                    </div>
                    <div class="buttons">
                        <span id ="{{i.id}}">Vazgeç</span>
                        <input type="submit" value="Tahsilat İşle" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% for i in  santiyeler %}
<div id="tahsilat-makbuzu-modal{{i.id}}" class="tahsilat-makbuzu-modal">
    <div class="wrapper">
        <div class="modal-head">
            <div class="invoice-title">
                <h2>Tahsilat Makbuzu</h2>
            </div>
            <div class="invoice-icons">
                <div class="icon-item print-icon"><span title="Yazdır" class="mdi mdi-printer-outline"></span></div>
                <div class="icon-item cancel-icon"><span title="İptal et" class="mdi mdi-alert-circle-outline"></span></div>
                <div class="icon-item edit-icon"><span title="Düzenle" class="mdi mdi-pencil-circle-outline"></span></div>
                <div class="icon-item close-icon"><span id="{{i.id}}" title="Kapat" class="mdi mdi-close-circle-outline"></span></div>
            </div>
        </div>
        <style>

        div.scroll {
            margin: 4px, 4px;
            height: 400px;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: justify;
        }
    </style>
        {% makbuzlari_getiri  i.id as gelen_makbuzlar %}
        {% kalemleri_getir_gelir_faturasi_icin_toplam_flani i as topla %}
        <div id="guncelle{{i.id}}" class="modal-body scroll ">
            <div class="hesap">
                <h2>CARİ HESABI</h2>
                <span><a href="">{{i.cari_bilgisi.cari_adi}}</a></span>
            </div>
            {% for k in gelen_makbuzlar %}
                <!-- The Modal -->

                   <style>.odeme-tarihi table, .odeme-tarihi th,.odeme-tarihi td {
                    border: 1px solid black;
                  }</style>
            <div class="odeme-tarihi">

            <table>
                <thead>
                    <tr>
                        <th>ÖDEME TARİHİ</th>
                        <th>KASA HESABI</th>
                        <th>İŞLEM TARİHİ</th>
                        <th>KULLANICI</th>
                        <th>TUTAR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{k.tarihi|date:'d-m-Y'}}</td>
                        <td>{{k.kasa_bilgisi.kasa_adi}}</td>
                        <td>{{k.kayit_tarihi|date:'d-m-Y'}}</td>
                        <td>{% if k.islemi_yapan.last_name %}
                            {{k.islemi_yapan.last_name}}
                        {% else %}
                        {% endif %}</td>
                        <td></td>
                    </tr>
                    <tr>
                        {% if k.gelir_makbuzu %}
                             <td colspan="2"><a target="_blank" href="{{k.gelir_makbuzu.url}}">Resmi Göster</a></td>
                        {% else %}
                        <td colspan="2">Resim Yok</td>
                        {% endif %}

                        <td colspan="2"> <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#makbuzsil{{k.id}}">SİL</button></td>
                        <td>{{k.tutar}} $</td>
                    </tr>
                </tbody>
            </table>
                </div>
            {% endfor %}
            <div class="fatura-table">
                <div class="table-head">
                    <div class="item"><h2>İŞLENEN FATURA</h2></div>
                    <div class="item"><h2>FATURA TUTARI</h2></div>
                    <div class="item"><h2>MAHSUP TUTARI</h2></div>
                </div>
                <div class="table-body">
                    <div class="fatura-item">
                        <div class="item"><span>{{i.fatura_tarihi|date:'d-m-Y'}}</span></div>
                        <div class="item"><span>{{topla.genel}} $</span></div>
                        <div class="item"><span>{{topla.genel}} $</span></div>
                    </div>
                </div>
            </div>
            <div class="kalan">
                <h2>KALAN</h2>
                <span>{% kalan_tutuari i %} $</span>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<div class="delete-fatura-modal">
    <div class="wrapper">
        <div class="title"><h4>Satış Faturası Silme İşlemini Onaylayınız</h4></div>
        <div class="uyari"><span class="mdi mdi-alert-circle"></span><span>Bu işlem geri alınamayacaktır.</span></div>
        <div class="buttons">
            <span>Vazgeç</span>
            <input type="button" value="Onayla ve Sil" />
        </div>
    </div>
</div>
<div class="delete-makbuz-modal">
    <div class="wrapper">
        <div class="title"><h4>Tahsilat Makbuzu Silme İşlemini Onaylayınız</h4></div>
        <div class="uyari"><span class="mdi mdi-alert-circle"></span><span>Bu işlem geri alınamayacaktır.</span></div>
        <div class="buttons">
            <span>Vazgeç</span>
            <input type="button" value="Onayla ve Sil" />
        </div>
    </div>
</div>
<!--start back-to-top-->
<button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
    <i class="ri-arrow-up-line"></i>
</button>
<!--end back-to-top-->

<!-- JAVASCRIPT -->

<script src="{% static '' %}assets/libs/simplebar/simplebar.min.js"></script>
<script src="{% static '' %}assets/libs/node-waves/waves.min.js"></script>
<script src="{% static '' %}assets/libs/feather-icons/feather.min.js"></script>
<script src="{% static '' %}assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
<script src="{% static '' %}assets/js/plugins.js"></script>
<script src="{% static '' %}assets/js/custom.js"></script>

<!-- list.js min js -->
<script src="{% static '' %}assets/libs/list.js/list.min.js"></script>
<!--list pagination js-->
<script src="{% static '' %}assets/libs/list.pagination.js/list.pagination.min.js"></script>
<!-- Sweet Alerts js -->
<script src="{% static '' %}assets/libs/sweetalert2/sweetalert2.min.js"></script>
<!-- App js -->
<script src="{% static '' %}assets/js/app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
         <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(document).ready(function () {
  $(".makbuzsill").click(function (event) {
    makbuz = "1",
    y = this.id.split('-')[0],
    makbuzidsi = y,
    a = this.id.split('-')[1],
    $.ajax({
      type: "POST",
      url: "{% url 'accounting:makbuz_sil' %}",
      data: {
        makbuz: makbuz,
        makbuzidsi :makbuzidsi,
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (data) {

        $("#guncelle"+ String(a) ).load(window.location.href + " #guncelle"+ String(a) );
        $("#g"+ String(a) ).load(window.location.href + " #g"+ String(a) );
        $("#ge"+ String(a) ).load(window.location.href + " #ge"+ String(a) );
        $("#get"+ String(a) ).load(window.location.href + " #get"+ String(a) );
        document.querySelector("#guncelle"+ String(a)).style.display="flex";
    }
    });
    return false; //<---- move it here
  });
});
</script>
{% endblock footer %}



