{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
<style>
    .ui-menu .ui-menu-item a{
    background:red;
    height:10px;
    font-size:8px;

}
</style>
<!--Multi Select Date Picker Calender-->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="{% static '' %}assets/js/layout.js"></script>
<!-- Bootstrap Css -->
<link href="{% static '' %}assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!-- Icons Css -->
<link href="{% static '' %}assets/css/icons.min.css" rel="stylesheet" type="text/css">
<!-- App Css-->
<link href="{% static '' %}assets/css/app.min.css" rel="stylesheet" type="text/css">
<!-- custom Css-->
<link href="{% static '' %}assets/css/custom.min.css" rel="stylesheet" type="text/css">
<link href="{% static '' %}assets/css/custom.css" rel="stylesheet" type="text/css">
<!--Multi Select Date Picker Calender-->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
{% endblock head %}
{% block sidebar %}
<!-- ============================================================== -->
<form method="post" action="{% url 'accounting:gider_faturasi_kaydet' %}">
    {% csrf_token %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">{% trans 'Satış Ekle' %}</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">{% trans 'Dashboard' %}</a></li>
                                    <li class="breadcrumb-item active">{% trans 'Satış Ekle' %}</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div id="satis-ekle" class="row">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h2 class="title">{% trans 'Genel Bilgiler' %}</h2>
                            <div class="buttons">
                                <a class="btn btn-warning btn-label waves-effect waves-light" href="{% url 'accounting:giderler_sayfasi' %}"><i class="ri-error-warning-line label-icon align-middle fs-16 me-2"></i> {% trans 'Vazgeç' %}</a>
                                <button type="submit" class="btn btn-success btn-label waves-effect waves-light"><i class="ri-check-double-line label-icon align-middle fs-16 me-2"></i> {% trans 'Kaydet' %}</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col-md-3">
                                    <div class="input-item musteri-input">
                                        <label>{% trans 'Cari' %}</label>
                                        <input type="search" required name="musteri_bilgisi" class="form-control cari" title="{% trans 'Kayıtlı cariler için cari adının ilk üç karekterini giriniz.' %}" placeholder="{% trans 'Cari Hesabı' %}" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{% trans 'Düzenleme ve Vade Tarihi' %}</label>
                                        <input type="text" required name="daterange" class="form-control" value="{% tarih_cek %}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{% trans 'Döviz Kuru' %}</label>
                                        <div class="input-group">
                                            <input required type="text" name="doviz_kuru" class="form-control" pattern="[0-9]+([,.][0-9]+)?" title="{% trans 'Lütfen sadece rakam giriniz, ondalık için veya  kullanabilirsiniz' %}" placeholder="{% trans 'Örn: 1450 veya 1450,06' %}">
                                            <span class="input-group-text">IQD</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{% trans 'Fatura No' %}</label>
                                        <input type="text" required name="faturano" class="form-control" value="{% gider_faturasi_no request.user.id %}" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{% trans 'Açıklama' %}</label>
                                        <input type="text" required name="cari_aciklma" class="form-control" placeholder="{% trans 'Açıklama' %}">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{% trans 'Kategori' %}</label>
                                        <div class="input-group">
                                            <select required id="kategori" name="gelir_kategorisi" class="form-select">
                                                {% for i in gelir_kategoerisi %}
                                                <option value="{{i.id}}">{{i.gider_kategori_adi}}</option>
                                                {% endfor %}
                                            </select>
                                            <button type="button" class="btn btn-success ms-2" data-bs-toggle="modal" data-bs-target="#showModal">
                                                <i class="ri-add-line align-bottom me-1"></i>{% trans 'Ekle' %}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-item etiket">
                                        <label>{% trans 'Etiketler' %}</label>
                                        <div id="etkett" class="d-flex align-items-center">
                                            <select name="etiketler" required id="cokluetiket" class="etkett me-2" multiple>
                                                {% for i in gelir_etiketi %}
                                                <option value="{{i.id}}">{{i.gider_etiketi_adi}}</option>
                                                {% endfor %}
                                            </select>
                                            <button type="button" class="btn btn-success ms-2" data-bs-toggle="modal" data-bs-target="#gideretiketiekle">
                                                <i class="ri-add-line align-bottom me-1"></i>{% trans 'Ekle' %}
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-head">
                            <div class="title"><h2>{% trans 'Fatura Kalemleri' %}</h2></div>
                        </div>
                        <div class="fatura-tablosu-basliklar">
                            <h2 class="urun">{% trans 'HİZMET / ÜRÜN' %}</h2>
                            <h2 class="miktar">{% trans 'MİKTAR' %}</h2>
                            <h2 class="bfiyat">{% trans 'BİRİM FİYAT' %}</h2>
                            <h2 class="toplam">{% trans 'TOPLAM' %}</h2>
                        </div>
                        <div class="card-body">
                            <div class="form2" id="form2" >


                                <div class="table-item">
                                    <div class="urun">
                                        <input type="search" name="urunadi" class="den" required id="searchInput" placeholder="{% trans 'Ürün / Hizmet Adı' %}" />

                                    </div>
                                    <div class="miktar">
                                        <input class="miktarInput" name="miktari"  type="number" value="1" oninput="hesaplama_islemi()" />
                                    </div>
                                    <div class="bfiyat">
                                        <input id="bfiyatInput" name="bfiyatInput" class="bfiyatInput" step="0.01" type="number" value="0" oninput="hesaplama_islemi()" />
                                        <span class="mdi mdi-currency-usd-circle"></span>
                                    </div>
                                    <div class="toplam">
                                        <input id="toplamInput" name="toplamInput" type="number" disabled class="toplamInput" value="0" step="0.01" oninput="hesaplama_islemi()"/>
                                        <span class="mdi mdi-currency-usd-circle"></span>
                                    </div>
                                </div>

                            </div>
                            <input type="hidden" name="yuzde" value="">
                            <input type="hidden" name="islem" value="">
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>
            <!-- container-fluid -->
        </div>
        <!-- End Page-content -->
    </div>
    </div>
</form>
</div>
<!-- end page title -->


{% endblock sidebar %}

