{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% block sidebar %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">{% trans 'Kasa Detayı' %}</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">{% trans 'Dashboard' %}</a></li>
                                    <li class="breadcrumb-item active">{% trans 'Kasa Detayı' %}</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">{% trans 'Kasa Detayı' %}</h4>
                            </div><!-- end card header -->
                            <div class="card-body">
                                <div class="listjs-table" id="customerList">
                                    <div class="row g-4 mb-3">
                                        <div class="col-sm">
                                            <div class="d-flex justify-content-sm-end align-items-center">
                                                <div class="col-sm">
                                            <div class="d-flex justify-content-sm-end">
                                                <div class="search-box ms-2">

                                                </div>
                                            </div>
                                        </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive table-card mt-3 mb-1">
                                        <table class="table align-middle table-nowrap" id="customerTable">
                                            <thead class="table-light">
                                                <tr>
                                                    <th scope="col" style="width: 50px;">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                        </div>
                                                    </th>
                                                    {% if request.user.is_superuser %}
                                                    <th class="sort" data-sort="customer_name">{% trans 'Kasa Kime Ait' %}</th>
                                                    {% endif %}
                                                    <th class="sort" data-sort="customer_name">{% trans 'Kasa' %}</th>

                                                    <th class="sort" data-sort="phone">{% trans 'Açıklama' %}</th>
                                                    <th class="sort" data-sort="phone">{% trans 'Tarih' %}</th>
                                                    <th class="sort" data-sort="date">{% trans 'Tutar' %}</th>
                                                    <th class="sort" data-sort="date">{% trans 'Bakiye' %}</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                                {% kasa_islemleri kasabilgiis_getirme as bilgiler %}
                                                {% sorgu kasabilgiis_getirme.bakiye as bakiye  %}
                                                {% for i in bilgiler %}
                                                <tr style= "{% if request.user.is_superuser %}{% if i.silinme_bilgisi %}background-color: grey;color: white; {% endif %} {% endif %}">
                                                    <th scope="row">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                                                        </div>
                                                    </th>
                                                    {% if request.user.is_superuser %}
                                                    <td class="kasa">{{i.kasa_bilgisi.kasa_kart_ait_bilgisi.first_name}}</td>
                                                    {% endif %}
                                                    <td class="kasa">{{i.kasa_bilgisi.kasa_adi}}</td>

                                                    <td class="konum">{{i.aciklama}}</td>
                                                    <td class="konum">{{i.tarihi | date:'Y-m-d'}}</td>
                                                    <td class="konum">
                                                        {% fatura_durumu i.gelir_kime_ait_oldugu.fatura_no as bilgisicek %}
                                                        {% if bilgisicek == 0 %}
                                                        <span style="color:blue;" > + ${{i.tutar}}</span>
                                                        {% else %}
                                                        <span style="color:orange;" > - ${{i.tutar}}</span>
                                                        {% endif %}

                                                    </td>
                                                    <td class="konum">
                                                        {% fatura_durumu i.gelir_kime_ait_oldugu.fatura_no as bilgisicek %}
                                                        {% if bilgisicek == 0 %}
                                                       <span  > {% basit_toplama bakiye i.tutar %}
                                                       {% basit_toplama bakiye i.tutar  as bakiye%}</span>
                                                        {% else %}
                                                        
                                                         <span > {% basit_cikarma bakiye i.tutar %}
                                                         {% basit_cikarma bakiye i.tutar as bakiye %}</span>
                                                        {% endif %}
                                                    </td>
                                                    
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="noresult" style="display: none">
                                            <div class="text-center">
                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                                </lord-icon>
                                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                                <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any
                                                    orders for you search.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <div class="pagination-wrap hstack gap-2">
                                            <ul class="pagination pagination-m justify-content-center">

                                                {% if medya.has_previous %}
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{% trans '« Previous page' %}</a></li>

                                                  {% if medya.number > 3 %}

                                                    <li class="page-item"><a class="page-link" href="?page=1{{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">1</a></li>
                                                    {% if medya.number > 4 %}
                                                      <li class="page-item"><span class="page-link">...</span></li>
                                                    {% endif %}
                                                  {% endif %}
                                                {% endif %}

                                                {% for num in medya.paginator.page_range %}
                                                  {% if medya.number == num %}
                                                    <li class="page-item"><a class="page-link " style="color:black;" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% elif num > medya.number|add:'-3' and num < medya.number|add:'3' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% endif %}
                                                {% endfor %}

                                                {% if medya.has_next %}
                                                  {% if medya.number < medya.paginator.num_pages|add:'-3' %}
                                                    <li class="page-item"><span class="page-link">...</span></li>
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% elif medya.number < medya.paginator.num_pages|add:'-2' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% endif %}

                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{% trans 'Next Page »' %}</a></li>
                                                {% endif %}
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

              

                <!-- end row -->
    
                <!--end modal -->
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © {{site_adi.footer}}
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">

                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

</div>
<!-- end main content-->
{% endblock sidebar %}

