{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% block sidebar %}
{% load static %}
{% if hash_bilgi %}

<main>
    <div class="page-header">
        <div class="page-info">
            <div class="page-title">
                <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                {% trans 'Kasa' %}
            </div>
            <ul class="page-breadcrumb">
                <li><a href="/{{dil}}/">{% trans 'Dashboard' %}</a></li>
                <li><a href="#" >{% trans 'Muhasebe' %}</a></li>
                <li><a href="#">{% trans 'Kasa' %}</a></li>
            </ul>
        </div>
        <div class="page-actions">
         {% if request.user.kullanicilar_db %}
                                        {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                        {% if yetki.kasa_olusturma_izni %}
                                                <button class="page-primary-btn" onclick="openModal('kasa-ekle')"><i class="icon icon-new"></i>{% trans 'Kasa Ekle' %}</button>                                               
                                                                                                        
                                        {% endif %}
                                        {% if yetki.kasa_virman_olusturma_izni %}
                                                         <button class="page-primary-btn" onclick="openModal('virman')">{% trans 'Virman' %}</button>                                          
                                           
                                        {% endif %}
                                        {% else %}
                                                <button class="page-primary-btn" onclick="openModal('kasa-ekle')"><i class="icon icon-new"></i>{% trans 'Kasa Ekle' %}</button>
            <button class="page-primary-btn" onclick="openModal('virman')">{% trans 'Virman' %}</button>                                             
                                        {% endif %}
                                               
                                            
            
        </div>
    </div>

    <div class="large-stats-card table-card table-detail-card">
        <div class="stats-header">
            <div class="stats-title">{% trans 'Kasa' %}</div>
            <div class="stats-search">
                <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                <button><i class="icon icon-search"></i></button>
            </div>
        </div>

        <div class="table-wrapper">
            <table id="datatable">
                <thead>
                    <tr>
                         <!-- Gizli ID sütunu -->
                        <th>{% trans 'Kasa' %}</th>
                        <th>{% trans 'Bakiye' %}</th>
                        <th>{% trans 'Konum' %}</th>
                        <th>{% trans 'Maaş Faturalarında Otomatik Kullan' %}</th>
                        <th>{% trans 'Avans Faturalarında Otomatik Kullan' %}</th>
                        <th>{% trans 'Kayıt Tarihi' %}</th>
                        <th>{% trans 'Aksiyon' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in santiyeler %}
                        <tr style="{% if request.user.is_superuser %}{% if i.silinme_bilgisi %}background-color: grey; color: white; {% endif %} {% endif %}">
                            <td class="kasa">{{ i.kasa_adi }}</td>
                            <td class="bakiye"> {% kasa_verisi i.bakiye i %} <span>$</span></td>
                            <td class="konum">{{ i.aciklama }}</td>
                            <td class="kasa">
                                {% if i.maas_icin_kullan %}
                                    {% trans 'Otomatik Faturalarda Kullan' %}
                                {% else %}
                                    {% trans 'Faturalarda Otomatik Kullanma' %}
                                {% endif %}
                            </td>
                            <td class="kasa">
                                {% if i.avans_icin_kullan %}
                                    {% trans 'Otomatik Faturalarda Kullan' %}
                                {% else %}
                                    {% trans 'Faturalarda Otomatik Kullanma' %}
                                {% endif %}
                            </td>
                            <td class="konum">{{ i.kayit_tarihi }}</td>
                            <td>
                                <div class="td-actions">
                                    

                                    {% if request.user.kullanicilar_db %}
                                        {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                        {% if yetki.kasa_guncelleme_izni %}
                                            <a onclick="openModal('departman-duzenle{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>                                                
                                        {% endif %}
                                        {% if yetki.Kasa_silme_izni %}
                                            
                                        <a onclick="openModal('departman-sil{{i.id}}')"  class="status-cancel"><i class="icon icon-action-delete"></i></a>                                               
                                        {% endif %}
                                        {% if yetki.kasa_detay_izni %}
                                            <a href="/{{dil}}{% url 'accounting:kasa_tekli_2' i.id hashler %}" class="status-success">{% trans 'Detay' %}</a>
                                                                                    
                                        {% endif %}
                                    {% else %}
                                    <a href="/{{dil}}{% url 'accounting:kasa_tekli_2' i.id hashler %}" class="status-success">{% trans 'Detay' %}</a>
                                    <a onclick="openModal('departman-duzenle{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>
                                        <a onclick="openModal('departman-sil{{i.id}}')"  class="status-cancel"><i class="icon icon-action-delete"></i></a>
                                    {% endif %}

                                    
                               </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</main>
<div class="modal" id="kasa-ekle">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Kasa Ekle' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" method="post" action="/{{dil}}{% url 'accounting:kasa_ekle_2' hashler %}"  autocomplete="off">
                                {% csrf_token %}
                                
                  

                                    <div class="form-element">
                                        <label for="customername-field"  >{% trans 'Kasa Adı' %}</label>
                                        <input name="kasaadi" type="text" id="customername-field"   placeholder="{% trans 'Kasa Adı' %}" required />
                                         
                                    </div>
                                    <div class="form-element">
                                        <label for="customername-field"  >{% trans 'Açılış Bilançosu' %}</label>
                                        <input name="bakiye" value="0" step="0.01" type="number" id="customername-field"   placeholder="{% trans 'Açılış Bilançosu' %}" required />
                                         
                                    </div>
                                    <div class="form-element">
                                        <label for="customername-field"  >{% trans 'Konum' %}</label>
                                        <input type="text" name="konumu" id="customername-field"   placeholder="{% trans 'Konum' %}" required />
                                         
                                    </div>
                                    <div class="form-element">
                                            <label for="date-field"  >{% trans 'Otomatik Maaşlarda Kullan' %}</label>
                                            <select   name="maaslarda_kullan" >
                                            
                                                <option value="1">{% trans 'Kullanma' %}</option>
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                            </select>
                                        </div>
                                    <div class="form-element">
                                            <label for="date-field"  >{% trans 'Otomatik avanslarda Kullan' %}</label>
                                            <select   name="avanslarda_kullan" >
                                            
                                                <option value="1">{% trans 'Kullanma' %}</option>
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                            </select>
                                        </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-primary" type="submit">Kasayı Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal" id="virman">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Virman
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" method="post" action="/{{dil}}{% url 'accounting:virman_yapma_2' hashler %}" autocomplete="off">
                                {% csrf_token %}
                                
                                    <div class="form-element" id="modal-id" style="display: none;">
                                        <label for="id-field" class="form-label">{% trans 'ID' %}</label>
                                        <input type="text" id="id-field" class="form-control" placeholder="ID" readonly />
                                    </div>
                                    

                                    <div class="form-element">
                                        <label for="gonderen" class="form-label">{% trans 'Gönderen' %}</label>
                                        <select id="gonderen" name="gonderen" class="form-control">
                                            <option selected disabled>{% trans 'Seçiniz..' %}</option>
                                                {% for i in santiyeler %}
                                                <option value="{{i.id}}">{{i.kasa_adi}}</option>
                                                {% endfor %}
                                        </select>
                                        
                                    </div>

                                    <div class="form-element">
                                        <label for="alici"  class="form-label">{% trans 'Alıcı' %}</label>
                                        <select id="alici" name="alici" class="form-control">
                                            <option selected disabled>{% trans 'Seçiniz..' %}</option>
                                            {% for i in santiyeler %}
                                                <option value="{{i.id}}">{{i.kasa_adi}}</option>
                                                {% endfor %}
                                        </select>
                                        
                                    </div>

                                    <div class="form-element">
                                        <label for="tarih" class="form-label">{% trans 'Tarih' %}</label>
                                        <input id="tarih" name="islemtarihi" type="date" class="form-control" />
                                        
                                    </div>

                                    <div class="form-element">
                                        <label for="tutar" class="form-label">{% trans 'Tutar' %}</label>
                                        <input id="tutar" name="tutar" step="0.01" type="text" class="form-control" placeholder="{% trans 'Tutar giriniz' %}"/>
                                        
                                    </div>

                                    <div class="form-element">
                                        <label for="aciklama" class="form-label">{% trans 'Açıklama' %}</label>
                                        <textarea id="aciklama" name="aciklama" type="text" class="form-control" placeholder="{% trans 'Açıklama' %}"></textarea>
                                        
                                    </div>
                                
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-primary" type="submit">Kasayı Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });


    </script>

    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>



    <script>
        $(document).ready(function () {
            let datatable = $('#datatable').DataTable({
                paging: false,
                searching: true,
                info: false,
                dom: 'Bfrtip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            });

            // Arama işlevi
            $('#stats-search').keyup(function () {
                datatable.search($(this).val()).draw();
            });
        });
    </script>


{% for i in santiyeler %}
    <div class="modal" id="departman-duzenle{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Departman Düzenle' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" action="/{{dil}}{% url 'accounting:kasa_duzenle_2' hashler %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                                
                                    <div class="form-element" id="modal-id" style="display: none;">

                                        <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}"/>
                                    </div>

                                    

                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Kasa Adı' %}</label>
                                            <input type="text" value="{{i.kasa_adi}}"  name="yetkili_adi" id="date-field" class="form-control" placeholder="{% trans 'Kasa Adı' %}" />
                                        </div>
                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Konum' %}</label>
                                            <input type="text" value="{{i.aciklama}}"  name="konumu" id="date-field" class="form-control" placeholder="{% trans 'Kasa Adı' %}" />
                                        </div>
                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Otomatik Maaşlarda Kullan' %}</label>
                                            <select class="form-control" name="maaslarda_kullan" id="date-field">
                                                {% if i.maas_icin_kullan %}
                                               
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                                <option value="1">{% trans 'Kullanma' %}</option>
                                            {% else %}
                                            <option value="1">{% trans 'Kullanma' %}</option>
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                            {% endif %}
                                                
                                            </select>
                                        </div>
                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Otomatik avanslarda Kullan' %}</label>
                                            <select class="form-control" name="avanslarda_kullan" id="date-field">
                                            {% if i.avans_icin_kullan %}
                                               
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                                <option value="1">{% trans 'Kullanma' %}</option>
                                            {% else %}
                                            <option value="1">{% trans 'Kullanma' %}</option>
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                            {% endif %}
                                            </select>
                                        </div>
                                        {% if request.user.is_superuser %}
                                            <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Kasa Silinme Durumu' %}</label>
                                            <select name="silinmedurumu"  class="form-control" id="">
                                                <option value="3">{% trans 'Karışma' %}</option>
                                                <option value="2">{% trans 'Sil' %}</option>
                                                {% if i.silinme_bilgisi %}
                                                    <option value="1">{% trans 'Geri Getir' %}</option>
                                                {% else %}
                                                {% endif %}

                                            </select>
                                        </div>

                                        {% endif %}

                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-primary" type="submit">Kasayı Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal" id="departman-sil{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Silmek istediğinize emin misiniz?' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"action="/{{dil}}{% url 'accounting:kasa_sil_2' hashler %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">
                 
                    <p> {% trans 'Bu işlemin geri dönüşü olmayacaktır.' %}</p>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal('departman-sil{{i.id}}')">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-danger" type="submit"> {% trans 'Evet, silinsin' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
{% else %}

<main>
    <div class="page-header">
        <div class="page-info">
            <div class="page-title">
                <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                {% trans 'Kasa' %}
            </div>
            <ul class="page-breadcrumb">
                <li><a href="/{{dil}}/">{% trans 'Dashboard' %}</a></li>
                <li><a href="#" >{% trans 'Muhasebe' %}</a></li>
                <li><a href="#">{% trans 'Kasa' %}</a></li>
            </ul>
        </div>
        <div class="page-actions">
         {% if request.user.kullanicilar_db %}
                                        {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                        {% if yetki.kasa_olusturma_izni %}
                                                <button class="page-primary-btn" onclick="openModal('kasa-ekle')"><i class="icon icon-new"></i>{% trans 'Kasa Ekle' %}</button>                                               
                                                                                                        
                                        {% endif %}
                                        {% if yetki.kasa_virman_olusturma_izni %}
                                                         <button class="page-primary-btn" onclick="openModal('virman')">{% trans 'Virman' %}</button>                                          
                                           
                                        {% endif %}
                                        {% else %}
                                                <button class="page-primary-btn" onclick="openModal('kasa-ekle')"><i class="icon icon-new"></i>{% trans 'Kasa Ekle' %}</button>
            <button class="page-primary-btn" onclick="openModal('virman')">{% trans 'Virman' %}</button>                                             
                                        {% endif %}
                                               
                                            
            
        </div>
    </div>

    <div class="large-stats-card table-card table-detail-card">
        <div class="stats-header">
            <div class="stats-title">{% trans 'Kasa' %}</div>
            <div class="stats-search">
                <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                <button><i class="icon icon-search"></i></button>
            </div>
        </div>

        <div class="table-wrapper">
            <table id="datatable">
                <thead>
                    <tr>
                         <!-- Gizli ID sütunu -->
                        <th>{% trans 'Kasa' %}</th>
                        <th>{% trans 'Bakiye' %}</th>
                        <th>{% trans 'Konum' %}</th>
                        <th>{% trans 'Maaş Faturalarında Otomatik Kullan' %}</th>
                        <th>{% trans 'Avans Faturalarında Otomatik Kullan' %}</th>
                        <th>{% trans 'Kayıt Tarihi' %}</th>
                        <th>{% trans 'Aksiyon' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in santiyeler %}
                        <tr style="{% if request.user.is_superuser %}{% if i.silinme_bilgisi %}background-color: grey; color: white; {% endif %} {% endif %}">
                            <td class="kasa">{{ i.kasa_adi }}</td>
                            <td class="bakiye"> {% kasa_verisi i.bakiye i %} <span>$</span></td>
                            <td class="konum">{{ i.aciklama }}</td>
                            <td class="kasa">
                                {% if i.maas_icin_kullan %}
                                    {% trans 'Otomatik Faturalarda Kullan' %}
                                {% else %}
                                    {% trans 'Faturalarda Otomatik Kullanma' %}
                                {% endif %}
                            </td>
                            <td class="kasa">
                                {% if i.avans_icin_kullan %}
                                    {% trans 'Otomatik Faturalarda Kullan' %}
                                {% else %}
                                    {% trans 'Faturalarda Otomatik Kullanma' %}
                                {% endif %}
                            </td>
                            <td class="konum">{{ i.kayit_tarihi }}</td>
                            <td>
                                <div class="td-actions">
                                    

                                    {% if request.user.kullanicilar_db %}
                                        {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                        {% if yetki.kasa_guncelleme_izni %}
                                            <a onclick="openModal('departman-duzenle{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>                                                
                                        {% endif %}
                                        {% if yetki.Kasa_silme_izni %}
                                            
                                        <a onclick="openModal('departman-sil{{i.id}}')"  class="status-cancel"><i class="icon icon-action-delete"></i></a>                                               
                                        {% endif %}
                                        {% if yetki.kasa_detay_izni %}
                                            <a href="/{{dil}}{% url 'accounting:kasa_tekli' i.id %}" class="status-success">{% trans 'Detay' %}</a>
                                                                                    
                                        {% endif %}
                                    {% else %}
                                    <a href="/{{dil}}{% url 'accounting:kasa_tekli' i.id %}" class="status-success">{% trans 'Detay' %}</a>
                                    <a onclick="openModal('departman-duzenle{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>
                                        <a onclick="openModal('departman-sil{{i.id}}')"  class="status-cancel"><i class="icon icon-action-delete"></i></a>
                                    {% endif %}

                                    
                               </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</main>
<div class="modal" id="kasa-ekle">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Kasa Ekle' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" method="post" action="/{{dil}}{% url 'accounting:kasa_ekle' %}"  autocomplete="off">
                                {% csrf_token %}
                                
                    


                                    <div class="form-element">
                                        <label for="customername-field"  >{% trans 'Kasa Adı' %}</label>
                                        <input name="kasaadi" type="text" id="customername-field"   placeholder="{% trans 'Kasa Adı' %}" required />
                                         
                                    </div>
                                    <div class="form-element">
                                        <label for="customername-field"  >{% trans 'Açılış Bilançosu' %}</label>
                                        <input name="bakiye" value="0" step="0.01" type="number" id="customername-field"   placeholder="{% trans 'Açılış Bilançosu' %}" required />
                                         
                                    </div>
                                    <div class="form-element">
                                        <label for="customername-field"  >{% trans 'Konum' %}</label>
                                        <input type="text" name="konumu" id="customername-field"   placeholder="{% trans 'Konum' %}" required />
                                         
                                    </div>
                                    <div class="form-element">
                                            <label for="date-field"  >{% trans 'Otomatik Maaşlarda Kullan' %}</label>
                                            <select   name="maaslarda_kullan" >
                                            
                                                <option value="1">{% trans 'Kullanma' %}</option>
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                            </select>
                                        </div>
                                    <div class="form-element">
                                            <label for="date-field"  >{% trans 'Otomatik avanslarda Kullan' %}</label>
                                            <select   name="avanslarda_kullan" >
                                            
                                                <option value="1">{% trans 'Kullanma' %}</option>
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                            </select>
                                        </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Kasa Oluştur' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal" id="virman">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                {% trans 'Virman' %}
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" method="post" action="/{{dil}}{% url 'accounting:virman_yapma' %}" autocomplete="off">
                                {% csrf_token %}
                                
                                    <div class="form-element" id="modal-id" style="display: none;">
                                        <label for="id-field" class="form-label">{% trans 'ID' %}</label>
                                        <input type="text" id="id-field" class="form-control" placeholder="ID" readonly />
                                    </div>
                                    

                                    <div class="form-element">
                                        <label for="gonderen" class="form-label">{% trans 'Gönderen' %}</label>
                                        <select id="gonderen" name="gonderen" class="form-control">
                                            <option selected disabled>{% trans 'Seçiniz..' %}</option>
                                                {% for i in santiyeler %}
                                                <option value="{{i.id}}">{{i.kasa_adi}}</option>
                                                {% endfor %}
                                        </select>
                                        
                                    </div>

                                    <div class="form-element">
                                        <label for="alici"  class="form-label">{% trans 'Alıcı' %}</label>
                                        <select id="alici" name="alici" class="form-control">
                                            <option selected disabled>{% trans 'Seçiniz..' %}</option>
                                            {% for i in santiyeler %}
                                                <option value="{{i.id}}">{{i.kasa_adi}}</option>
                                                {% endfor %}
                                        </select>
                                        
                                    </div>

                                    <div class="form-element">
                                        <label for="tarih" class="form-label">{% trans 'Tarih' %}</label>
                                        <input id="tarih" name="islemtarihi" type="date" class="form-control" />
                                        
                                    </div>

                                    <div class="form-element">
                                        <label for="tutar" class="form-label">{% trans 'Tutar' %}</label>
                                        <input id="tutar" name="tutar" step="0.01" type="text" class="form-control" placeholder="{% trans 'Tutar giriniz' %}"/>
                                        
                                    </div>

                                    <div class="form-element">
                                        <label for="aciklama" class="form-label">{% trans 'Açıklama' %}</label>
                                        <textarea id="aciklama" name="aciklama" type="text" class="form-control" placeholder="{% trans 'Açıklama' %}"></textarea>
                                        
                                    </div>
                                    
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Kasa Oluştur' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });


    </script>

    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>



    <script>
        $(document).ready(function () {
            let datatable = $('#datatable').DataTable({
                paging: false,
                searching: true,
                info: false,
                dom: 'Bfrtip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            });

            // Arama işlevi
            $('#stats-search').keyup(function () {
                datatable.search($(this).val()).draw();
            });
        });
    </script>


{% for i in santiyeler %}
    <div class="modal" id="departman-duzenle{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Departman Düzenle' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" action="/{{dil}}{% url 'accounting:kasa_duzenle' %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                                
                                    <div class="form-element" id="modal-id" style="display: none;">

                                        <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}"/>
                                    </div>

                                    

                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Kasa Adı' %}</label>
                                            <input type="text" value="{{i.kasa_adi}}"  name="yetkili_adi" id="date-field" class="form-control" placeholder="{% trans 'Kasa Adı' %}" />
                                        </div>
                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Konum' %}</label>
                                            <input type="text" value="{{i.aciklama}}"  name="konumu" id="date-field" class="form-control" placeholder="{% trans 'Kasa Adı' %}" />
                                        </div>
                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Otomatik Maaşlarda Kullan' %}</label>
                                            <select class="form-control" name="maaslarda_kullan" id="date-field">
                                                {% if i.maas_icin_kullan %}
                                               
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                                <option value="1">{% trans 'Kullanma' %}</option>
                                            {% else %}
                                            <option value="1">{% trans 'Kullanma' %}</option>
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                            {% endif %}
                                                
                                            </select>
                                        </div>
                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Otomatik avanslarda Kullan' %}</label>
                                            <select class="form-control" name="avanslarda_kullan" id="date-field">
                                            {% if i.avans_icin_kullan %}
                                               
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                                <option value="1">{% trans 'Kullanma' %}</option>
                                            {% else %}
                                            <option value="1">{% trans 'Kullanma' %}</option>
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                            {% endif %}
                                            </select>
                                        </div>
                                        {% if request.user.is_superuser %}
                                            <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Kasa Silinme Durumu' %}</label>
                                            <select name="silinmedurumu"  class="form-control" id="">
                                                <option value="3">{% trans 'Karışma' %}</option>
                                                <option value="2">{% trans 'Sil' %}</option>
                                                {% if i.silinme_bilgisi %}
                                                    <option value="1">{% trans 'Geri Getir' %}</option>
                                                {% else %}
                                                {% endif %}

                                            </select>
                                        </div>

                                        {% endif %}

                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Kasa Oluştur' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal" id="departman-sil{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Silmek istediğinize emin misiniz?' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"action="/{{dil}}{% url 'accounting:kasa_sil' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">
                 
                    <p> {% trans 'Bu işlemin geri dönüşü olmayacaktır.' %}</p>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal('departman-sil{{i.id}}')">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-danger" type="submit"> {% trans 'Evet, silinsin' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
{% endif %}
{% endblock sidebar %}
