{% extends "homebase.html" %}
{% load i18n %}
{% block sidebar %}
<form class="tablelist-form"  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="main-content">
        <div class="page-content options">
            <div class="container-fluid">
                <div class="row">
                    

                    <div  class="col-sm-12" >
                        <label>Fatura Logosu</label>
                        <input type="file" class="form-control" id="inputGroupFile03" name="dark_logo"
                            aria-describedby="inputGroupFileAddon03" aria-label="Upload">
                    </div>
                    <div  class="col-sm-12 mb-5 ">
                        {% if fatura_icerigi == "0" %}
                        <label>Fatura Gider Etiketi</label>
                        <input type="text" class="form-control" id="inputGroupFile03" name="gideretiketi" value="E">
                        <label>Fatura Gelir Etiketi</label>
                        <input type="text" class="form-control" id="inputGroupFile03" name="gelir_etiketi" value="I">
                        {% else %}
                        <label>Fatura Gider Etiketi</label>
                        <input type="text" class="form-control" id="inputGroupFile03" name="gideretiketi" value="{{fatura_icerigi.gider_etiketi}}">
                        <label>Fatura Gelir Etiketi</label>
                        <input type="text" class="form-control" id="inputGroupFile03" name="gelir_etiketi" value="{{fatura_icerigi.gelir_etiketi}}">
                        {% endif %}
                        
                    </div>
                    <input type="submit" class="btn btn-success waves-effect waves-light" value="Kaydet">

                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © {{site_adi.footer}}
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</form>
{% endblock sidebar %}