{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'content/style/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/r-3.0.3/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
{% endblock head %}

{% block sidebar %}

<main>
    <div class="page-header">
        <div class="page-info">
            <div class="page-title">
                <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                {% trans 'Ürünler' %}
            </div>
            <ul class="page-breadcrumb">
                <li><a href="#">{% trans 'Dashboard' %}</a></li>
                <li><a href="#">{% trans 'Muhasabe Ayarları' %}</a></li>
                <li><a href="#">{% trans 'Ürünler' %}</a></li>
            </ul>
        </div>
        <div class="page-actions">
        <button class="page-primary-btn" onclick="openModal('cari-ekle')"><i class="icon icon-new"></i>{% trans "Ürünler Ekle" %}</button>

        </div>
    </div>

    <div class="large-stats-card table-card table-detail-card">
        <div class="stats-header">
            <div class="stats-title">{% trans 'Ürünler' %}</div>
            <div class="stats-search">
                <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                <button><i class="icon icon-search"></i></button>
            </div>
        </div>

        <div class="table-wrapper">
            <table id="datatable">
                <thead>
                    <tr>
                      <th class="sort" data-sort="customer_name">{% trans 'Ürün Kategorisi' %}</th>
                                                    <th class="sort" data-sort="customer_name">{% trans 'Ürün Türü' %}</th>
                                                    <th class="sort" data-sort="customer_name">{% trans 'Ürün Stoğa Dahil Mi ?' %}</th>
                                                    <th class="sort" data-sort="customer_name">{% trans 'Ürün Adı' %}</th>
                                                    <th class="sort" data-sort="phone">{% trans 'Ürün Fiyatı' %}</th>
                                                    <th class="sort" data-sort="phone">{% trans 'Maaş Faturalarında Otomatik Kullan' %}</th>
                                                    <th class="sort" data-sort="phone">{% trans 'Avans Faturalarında Otomatik Kullan' %}</th>
                                                    <th class="sort" data-sort="date">{% trans 'Kayıt Tarihi' %}</th>
                                                    <th class="sort" data-sort="date">{% trans 'Aksiyonlar' %}</th>
                                               
                    </tr>
                </thead>
                <tbody>
                {% for i in santiyeler %}
                                                <tr style= "{% if request.user.is_superuser %}{% if i.silinme_bilgisi %}background-color: grey;color: white; {% endif %} {% endif %}">
                                                  
                                                    {% if request.user.is_superuser %}
                                                    <td class="kasa">{{i.urun_ait_oldugu.first_name}}</td>
                                                    {% endif %}
                                                    
                                                     <td class="kasa">{% if i.urun_kategorisi %}
                                                     {{i.urun_kategorisi.kategori_adi}}
                                                     {% else %}
                                                     {% trans 'Ürün Kategorisi Yok' %}
                                                     {% endif %}</td>
                                                     <td class="kasa">
                                                     {% if i.urun_turu_secim == "1" %}
                                                        {% trans 'Hizmet' %}
                                                     {% else %}
                                                     {% trans 'Stok Ürünü' %}
                                                     {% endif %}
                                                     </td>
                                                     <td class="kasa">
                                                     {% if i.stok_mu %}
                                                        {% trans 'Evet' %}
                                                     {% else %}
                                                     {% trans 'Hayır' %}
                                                     {% endif %}
                                                     </td>
                                                    <td class="kasa">{{i.urun_adi}}</td>
                                                    <td class="bakiye">{{i.urun_fiyati}} <span>$</span></td>
                                                    <td class="kasa">
                                                     {% if i.maas_icin_kullan  %}
                                                        {% trans 'Otomatik Faturalarda Kullan' %}
                                                     {% else %}
                                                     {% trans 'Faturalarda Otomatik Kullanma' %}
                                                     {% endif %}
                                                     </td>
                                                     <td class="kasa">
                                                     {% if i.avans_icin_kullan %}
                                                         {% trans 'Otomatik Faturalarda Kullan' %}
                                                     {% else %}
                                                     {% trans 'Faturalarda Otomatik Kullanma' %}
                                                     {% endif %}
                                                     </td>
                                                    <td class="konum">{{i.kayit_tarihi}}</td>
                                                    <td>
                                                        <div class="td-actions">
                                                        {% if request.user.kullanicilar_db %}
                                                        {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                                        {% if yetki.gelir_kategorisi_guncelleme %}
                                                              <a onclick="openModal('cari-ekle_duzenle{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>                                                
                                                        {% else %}
                                                                                                                        
                                                        {% endif %}
                                                        {% else %}
                                                              <a onclick="openModal('cari-ekle_duzenle{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>                                                  
                                                        {% endif %}
                                                            
                                                        {% if request.user.kullanicilar_db %}
                                                        {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                                        {% if yetki.gelir_kategorisi_silme %}
                                                           
                                                        <a onclick="openModal('departman-sil{{i.id}}')"  class="status-cancel"><i class="icon icon-action-delete"></i></a>                                               
                                                        {% else %}
                                                                                                                        
                                                        {% endif %}
                                                        {% else %}
                                                               
                                                        <a onclick="openModal('departman-sil{{i.id}}')"  class="status-cancel"><i class="icon icon-action-delete"></i></a>                                              
                                                        {% endif %} 
                                                       
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="large-stats-card-footer-actions">
            <a onclick="$('.buttons-pdf').click()" class="lsc-footer-action"><i class="icon icon-pdf"></i></a>
            <a onclick="$('.buttons-excel').click()" class="lsc-footer-action"><i class="icon icon-xlsx"></i></a>
            <a onclick="$('.buttons-print').click()" class="lsc-footer-action"><i class="icon icon-print"></i></a>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            let datatable = $('#datatable').DataTable({
                paging: false,
                searching: true,
                info: false,
                
            });

            $('#stats-search').keyup(function () {
                datatable.search($(this).val()).draw();
            });
        });

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }

        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>

</main>
    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });


    </script>

    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>
<div class="modal" id="cari-ekle">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Ürünler Ekle' %}
                
            </div>
            <div class="modal-body">
                 <form autocomplete="off"class="tablelist-form" method="post" action="/{{dil}}{% url 'accounting:urun_ekle' %}"  autocomplete="off">
                                {% csrf_token %}
                    {% if request.user.is_superuser %}
                                            <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Hesap Seç' %}</label>
                                            <select class="form-control" name="kullanici" id="date-field">
                                                <option value="{{i.proje_ait_bilgisi.id}}">{{i.proje_ait_bilgisi.first_name}}</option>
                                                {% for j in kullanicilar %}
                                                    <option value="{{j.id}}">{{j.first_name}}</option>
                                                {% endfor %}
                                                
                                                
                                            </select>
                                        </div>
                                        {% else %}
                                        {% endif %}
                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Ürün Kategorisi' %}</label>
                                            <select class="form-control" name="kategori" id="date-field">
                                                
                                                {% for j in urun_kategorisi %}
                                                    <option value="{{j.id}}">{{j.kategori_adi}}</option>
                                                {% endfor %}
                                                
                                                
                                            </select>
                                        </div>
                                    <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Ürün Türü' %}</label>
                                            <select class="form-control" name="urun_turu" id="date-field">
                                            
                                                <option value="1">{% trans 'Hizmet' %}</option>
                                                <option value="2">{% trans 'Stok Ürünü' %}</option> 
                                            </select>
                                        </div>
                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Ürün Stoğa Dahil Mi' %}</label>
                                            <select class="form-control" name="stok" id="date-field">
                                            
                                                <option value="1">{% trans 'Stoğa Dahil' %}</option>
                                                <option value="2">{% trans 'Stoğa Dahil Değil' %}</option>
                                            
                                                
                                            </select>
                                        </div>
                                    <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Otomatik Maaşlarda Kullan' %}</label>
                                            <select class="form-control" name="maaslarda_kullan" id="date-field">
                                            
                                                <option value="1">{% trans 'Kullanma' %}</option>
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                            </select>
                                        </div>
                                    <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Otomatik avanslarda Kullan' %}</label>
                                            <select class="form-control" name="avanslarda_kullan" id="date-field">
                                            
                                                <option value="1">{% trans 'Kullanma' %}</option>
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                            </select>
                                        </div>
                                    <div class="form-element">
                                        <label for="customername-field" class="form-label">{% trans 'Ürün Adı' %}</label>
                                        <input name="kasaadi" type="text" id="customername-field" class="form-control" placeholder="{% trans 'Ürün Adı' %}" required />
                                        
                                    </div>
                                    <div class="form-element">
                                        <label for="customername-field" class="form-label">{% trans 'Ürün Fiyatı' %}</label>
                                        <input name="bakiye" value="0" step="0.01" type="number" id="customername-field" class="form-control" placeholder="{% trans 'Ürün Fiyatı' %}" required />
                                        
                                    </div>
                                    
                              
                  
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal('cari-ekle')">{% trans 'Vazgeç' %} </button>
                        <button class="form-action-primary" type="submit">{% trans 'Kullanıcıyı Ekle' %} </button>
                    </div>
                </form>
          
            </div>
        </div>
</div>
{% for i in santiyeler %}
<div class="modal" id="cari-ekle_duzenle{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Ürünler Düzenle' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" action="/{{dil}}{% url 'accounting:urun_duzenle' %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                    <div class="form-element" id="modal-id" style="display: none;">
                                        
                                        <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}"/>
                                    </div>

                                    {% if request.user.is_superuser %}
                                            <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Hesap Seç' %}</label>
                                            <select class="form-control" name="kullanici" id="date-field">
                                                <option value="{{i.urun_ait_oldugu.id}}">{{i.urun_ait_oldugu.first_name}}</option>
                                                {% for j in kullanicilar %}
                                                    <option value="{{j.id}}">{{j.first_name}}</option>
                                                {% endfor %}
                                                
                                                
                                            </select>
                                        </div>
                                        {% else %}
                                        {% endif %}
                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Ürün Kategorisi' %}</label>
                                            <select class="form-control" name="kategori" id="date-field">
                                                <option value="{{i.urun_kategorisi.id}}">{{i.urun_kategorisi.kategori_adi}}</option>
                                                {% for j in urun_kategorisi %}
                                                    <option value="{{j.id}}">{{j.kategori_adi}}</option>
                                                {% endfor %}
                                                
                                                
                                            </select>
                                        </div>
                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Ürün Türü' %}</label>
                                            <select class="form-control" name="urun_turu" id="date-field">
                                            {% if i.urun_turu_secim == "1" %}
                                                <option value="1">{% trans 'Hizmet' %}</option>
                                                <option value="2">{% trans 'Stok Ürünü' %}</option>
                                            {% else %}
                                            <option value="2">{% trans 'Stok Ürünü' %}</option>
                                            <option value="1">{% trans 'Hizmet' %}</option>
                                            {% endif %}
                                                
                                                
                                            </select>
                                        </div>
                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Ürün Stoğa Dahil Mi' %}</label>
                                            <select class="form-control" name="stok" id="date-field">
                                            {% if i.stok_mu %}
                                                <option value="1">{% trans 'Stoğa Dahil' %}</option>
                                                <option value="2">{% trans 'Stoğa Dahil Değil' %}</option>
                                            {% else %}
                                            <option value="2">{% trans 'Stoğa Dahil Değil' %}</option>
                                            <option value="1">{% trans 'Stoğa Dahil' %}</option> 
                                            {% endif %}
                                                
                                            </select>
                                        </div>
                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Otomatik Maaşlarda Kullan' %}</label>
                                            <select class="form-control" name="maaslarda_kullan" id="date-field">
                                                {% if i.maas_icin_kullan %}
                                               
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                                <option value="1">{% trans 'Kullanma' %}</option>
                                            {% else %}
                                            <option value="1">{% trans 'Kullanma' %}</option>
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                            {% endif %}
                                                
                                            </select>
                                        </div>
                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Otomatik avanslarda Kullan' %}</label>
                                            <select class="form-control" name="avanslarda_kullan" id="date-field">
                                            {% if i.avans_icin_kullan %}
                                               
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                                <option value="1">{% trans 'Kullanma' %}</option>
                                            {% else %}
                                            <option value="1">{% trans 'Kullanma' %}</option>
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                            {% endif %}
                                            </select>
                                        </div>
                                        <div class="form-element">
                                        <label for="customername-field" class="form-label">{% trans 'Ürün Adı' %}</label>
                                        <input name="kasaadi" value="{{i.urun_adi}}" type="text" id="customername-field" class="form-control" placeholder="{% trans 'Ürün Adı' %}" required />
                                        
                                    </div>
                                    <div class="form-element">
                                        <label for="customername-field" class="form-label">{% trans 'Ürün Fiyatı' %}</label>
                                        <input name="bakiye"  value="{{i.urun_fiyati|stringformat:'.2f'}}" step="0.01" type="number" id="customername-field" class="form-control" placeholder="{% trans 'Ürün Fiyatı' %}" required />
                                        
                                    </div>{% if request.user.is_superuser %}
                                            <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Ürün Silinme Durumu' %}</label>
                                            <select name="silinmedurumu"  class="form-control" id="">
                                                <option value="3">{% trans 'Karışma' %}</option>
                                                <option value="2">{% trans 'Sil' %}</option>
                                                {% if i.silinme_bilgisi %}
                                                    <option value="1">{% trans 'Geri Getir' %}</option>
                                                {% else %}
                                                {% endif %}
                                                
                                            </select>
                                        </div>
                                        
                                        {% endif %}
                            <div class="form-actions">
                                <button class="form-action-secondary" type="button" onclick="closeModal('cari-ekle_duzenle{{i.id}}')">{% trans 'Vazgeç' %} </button>
                                <button class="form-action-primary" type="submit">{% trans 'Ürünü Düzenle' %} </button>
                            </div>
                </form>
            </div>
        </div>
</div>
    <div class="modal" id="departman-sil{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Silmek istediğinize emin misiniz?' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"action="/{{dil}}{% url 'accounting:urun_sil' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">
                        <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal('departman-sil{{i.id}}')">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-danger" type="submit"> {% trans 'Evet, silinsin' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}


{% endblock sidebar %}
