{% extends "homebase2.html" %}
{% load i18n %}
{% load custom_tags %}
{% block sidebar %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">{% trans 'Ürünler' %}</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">{% trans 'Dashboard' %}</a></li>
                                    <li class="breadcrumb-item active">{% trans 'Ürün Listesi' %}</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">{% trans 'Ürünler' %}</h4>
                            </div><!-- end card header -->
                            <div class="card-body">
                                <div class="listjs-table" id="customerList">
                                    <div class="row g-4 mb-3">
                                        <div class="col-sm">
                                            <div class="d-flex justify-content-sm-end align-items-center">
                                                <div class="col-sm">
                                            <div class="d-flex justify-content-sm-end">
                                                <div class="search-box ms-2">
                                                    <form autocomplete="off"method="get">
                                                    <input type="text" name="search" class="form-control search" placeholder="{% trans 'Search...' %}">
                                                    <i class="ri-search-line search-icon"></i>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                                <div class="addKasaBtn">
                                                    <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#kasaEkleModal"><i class="ri-add-line align-bottom me-1"></i>{% trans 'Ürün Ekle' %}</button>
                                                </div>
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive table-card mt-3 mb-1">
                                        <table class="table align-middle table-nowrap" id="customerTable">
                                            <thead class="table-light">
                                                <tr>
                                                    <th scope="col" style="width: 50px;">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                        </div>
                                                    </th>
                                                    {% if request.user.is_superuser %}
                                                    <th class="sort" data-sort="customer_name">{% trans 'Ürün Kime Ait' %}</th>
                                                    {% endif %}
                                                    <th class="sort" data-sort="customer_name">{% trans 'Ürün Kategorisi' %}</th>
                                                    <th class="sort" data-sort="customer_name">{% trans 'Ürün Türü' %}</th>
                                                    <th class="sort" data-sort="customer_name">{% trans 'Ürün Stoğa Dahil Mi ?' %}</th>
                                                    <th class="sort" data-sort="customer_name">{% trans 'Ürün Adı' %}</th>
                                                    <th class="sort" data-sort="phone">{% trans 'Ürün Fiyatı' %}</th>
                                                    <th class="sort" data-sort="phone">{% trans 'Maaş Faturalarında Otomatik Kullan' %}</th>
                                                    <th class="sort" data-sort="phone">{% trans 'Avans Faturalarında Otomatik Kullan' %}</th>
                                                    <th class="sort" data-sort="date">{% trans 'Kayıt Tarihi' %}</th>
                                                    <th class="sort" data-sort="date">{% trans 'Aksiyonlar' %}</th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                                {% for i in santiyeler %}                      
                                                <tr style= "{% if request.user.is_superuser %}{% if i.silinme_bilgisi %}background-color: grey;color: white; {% endif %} {% endif %}">
                                                    <th scope="row">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                                                        </div>
                                                    </th>
                                                    {% if request.user.is_superuser %}
                                                    <td class="kasa">{{i.urun_ait_oldugu.first_name}}</td>
                                                    {% endif %}
                                                    <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">#VZ2101</a></td>
                                                     <td class="kasa">{% if i.urun_kategorisi %}
                                                     {{i.urun_kategorisi.kategori_adi}}
                                                     {% else %}
                                                     {% trans 'Ürün Kategorisi Yok' %}
                                                     {% endif %}</td>
                                                     <td class="kasa">
                                                     {% if i.urun_turu_secim == "1" %}
                                                        {% trans 'Hizmet' %}
                                                     {% else %}
                                                     {% trans 'Stok Ürünü' %}
                                                     {% endif %}
                                                     </td>
                                                     <td class="kasa">
                                                     {% if i.stok_mu %}
                                                        {% trans 'Evet' %}
                                                     {% else %}
                                                     {% trans 'Hayır' %}
                                                     {% endif %}
                                                     </td>
                                                    <td class="kasa">{{i.urun_adi}}</td>
                                                    <td class="bakiye">{{i.urun_fiyati}} <span>$</span></td>
                                                    <td class="kasa">
                                                     {% if i.maas_icin_kullan  %}
                                                        {% trans 'Otomatik Faturalarda Kullan' %}
                                                     {% else %}
                                                     {% trans 'Faturalarda Otomatik Kullanma' %}
                                                     {% endif %}
                                                     </td>
                                                     <td class="kasa">
                                                     {% if i.avans_icin_kullan %}
                                                         {% trans 'Otomatik Faturalarda Kullan' %}
                                                     {% else %}
                                                     {% trans 'Faturalarda Otomatik Kullanma' %}
                                                     {% endif %}
                                                     </td>
                                                    <td class="konum">{{i.kayit_tarihi}}</td>
                                                    <td>
                                                        <div class="d-flex justify-content-end">
                                                            <div class="edit">
                                                                <button class="btn btn-sm btn-success edit-item-btn" data-bs-toggle="modal" data-bs-target="#showModal{{i.id}}">{% trans 'Ürünü Düzenle' %}</button>
                                                            </div>
                                                            <div class="remove" style="margin-left:10px;">
                                                                <button class="btn btn-sm btn-danger remove-item-btn" data-bs-toggle="modal" data-bs-target="#deleteRecordModal{{i.id}}">{% trans 'Ürünü Sil' %}</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="noresult" style="display: none">
                                            <div class="text-center">
                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                                </lord-icon>
                                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                                <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any
                                                    orders for you search.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <div class="pagination-wrap hstack gap-2">
                                            <ul class="pagination pagination-m justify-content-center">

                                                {% if medya.has_previous %}
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{% trans '« Previous page' %}</a></li>
                                                
                                                  {% if medya.number > 3 %}
                                                
                                                    <li class="page-item"><a class="page-link" href="?page=1{{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">1</a></li>
                                                    {% if medya.number > 4 %}
                                                      <li class="page-item"><span class="page-link">...</span></li>
                                                    {% endif %}
                                                  {% endif %}
                                                {% endif %}
                                                
                                                {% for num in medya.paginator.page_range %}
                                                  {% if medya.number == num %}
                                                    <li class="page-item"><a class="page-link " style="color:black;" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% elif num > medya.number|add:'-3' and num < medya.number|add:'3' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% endif %}
                                                {% endfor %}
                                                
                                                {% if medya.has_next %}
                                                  {% if medya.number < medya.paginator.num_pages|add:'-3' %}
                                                    <li class="page-item"><span class="page-link">...</span></li>
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% elif medya.number < medya.paginator.num_pages|add:'-2' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% endif %}
                                                
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{% trans 'Next Page »' %}</a></li>
                                                {% endif %}
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
                
                <!--KASA EKLE POPUP-->
                <div class="modal fade" id="kasaEkleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-light p-3">
                                <h5 class="modal-title" id="exampleModalLabel">{% trans 'Ürün Ekle' %}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                            </div>
                            <form autocomplete="off"class="tablelist-form" method="post" action="/{{dil}}{% url 'accounting:urun_ekle' %}"  autocomplete="off">
                                {% csrf_token %}
                                <div class="modal-body">
                                    {% if request.user.is_superuser %}
                                            <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Hesap Seç' %}</label>
                                            <select class="form-control" name="kullanici" id="date-field">
                                                <option value="{{i.proje_ait_bilgisi.id}}">{{i.proje_ait_bilgisi.first_name}}</option>
                                                {% for j in kullanicilar %}
                                                    <option value="{{j.id}}">{{j.first_name}}</option>
                                                {% endfor %}
                                                
                                                
                                            </select>
                                        </div>
                                        {% else %}
                                        {% endif %}
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Ürün Kategorisi' %}</label>
                                            <select class="form-control" name="kategori" id="date-field">
                                                
                                                {% for j in urun_kategorisi %}
                                                    <option value="{{j.id}}">{{j.kategori_adi}}</option>
                                                {% endfor %}
                                                
                                                
                                            </select>
                                        </div>
                                    <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Ürün Türü' %}</label>
                                            <select class="form-control" name="urun_turu" id="date-field">
                                            
                                                <option value="1">{% trans 'Hizmet' %}</option>
                                                <option value="2">{% trans 'Stok Ürünü' %}</option> 
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Ürün Stoğa Dahil Mi' %}</label>
                                            <select class="form-control" name="stok" id="date-field">
                                            
                                                <option value="1">{% trans 'Stoğa Dahil' %}</option>
                                                <option value="2">{% trans 'Stoğa Dahil Değil' %}</option>
                                            
                                                
                                            </select>
                                        </div>
                                    <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Otomatik Maaşlarda Kullan' %}</label>
                                            <select class="form-control" name="maaslarda_kullan" id="date-field">
                                            
                                                <option value="1">{% trans 'Kullanma' %}</option>
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                            </select>
                                        </div>
                                    <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Otomatik avanslarda Kullan' %}</label>
                                            <select class="form-control" name="avanslarda_kullan" id="date-field">
                                            
                                                <option value="1">{% trans 'Kullanma' %}</option>
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                            </select>
                                        </div>
                                    <div class="mb-3">
                                        <label for="customername-field" class="form-label">{% trans 'Ürün Adı' %}</label>
                                        <input name="kasaadi" type="text" id="customername-field" class="form-control" placeholder="{% trans 'Ürün Adı' %}" required />
                                        <div class="invalid-feedback">{% trans 'Lütfen Boş Bırakmayınız' %}</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="customername-field" class="form-label">{% trans 'Ürün Fiyatı' %}</label>
                                        <input name="bakiye" value="0" step="0.01" type="number" id="customername-field" class="form-control" placeholder="{% trans 'Ürün Fiyatı' %}" required />
                                        <div class="invalid-feedback">{% trans 'Lütfen Boş Bırakmayınız' %}</div>
                                    </div>
                                    
                                </div>
                                <div class="modal-footer">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">{% trans 'Kapat' %}</button>
                                        <button type="submit" class="btn btn-success" id="add-btn">{% trans 'Ürünü Ekle' %}</button>
                                        <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- end row -->
                {% for i in santiyeler %}
                <div class="modal fade" id="showModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-light p-3">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                            </div>
                            <form autocomplete="off"class="tablelist-form" action="/{{dil}}{% url 'accounting:urun_duzenle' %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="mb-3" id="modal-id" style="display: none;">
                                        
                                        <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}"/>
                                    </div>

                                    {% if request.user.is_superuser %}
                                            <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Hesap Seç' %}</label>
                                            <select class="form-control" name="kullanici" id="date-field">
                                                <option value="{{i.urun_ait_oldugu.id}}">{{i.urun_ait_oldugu.first_name}}</option>
                                                {% for j in kullanicilar %}
                                                    <option value="{{j.id}}">{{j.first_name}}</option>
                                                {% endfor %}
                                                
                                                
                                            </select>
                                        </div>
                                        {% else %}
                                        {% endif %}
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Ürün Kategorisi' %}</label>
                                            <select class="form-control" name="kategori" id="date-field">
                                                <option value="{{i.urun_kategorisi.id}}">{{i.urun_kategorisi.kategori_adi}}</option>
                                                {% for j in urun_kategorisi %}
                                                    <option value="{{j.id}}">{{j.kategori_adi}}</option>
                                                {% endfor %}
                                                
                                                
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Ürün Türü' %}</label>
                                            <select class="form-control" name="urun_turu" id="date-field">
                                            {% if i.urun_turu_secim == "1" %}
                                                <option value="1">{% trans 'Hizmet' %}</option>
                                                <option value="2">{% trans 'Stok Ürünü' %}</option>
                                            {% else %}
                                            <option value="2">{% trans 'Stok Ürünü' %}</option>
                                            <option value="1">{% trans 'Hizmet' %}</option>
                                            {% endif %}
                                                
                                                
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Ürün Stoğa Dahil Mi' %}</label>
                                            <select class="form-control" name="stok" id="date-field">
                                            {% if i.stok_mu %}
                                                <option value="1">{% trans 'Stoğa Dahil' %}</option>
                                                <option value="2">{% trans 'Stoğa Dahil Değil' %}</option>
                                            {% else %}
                                            <option value="2">{% trans 'Stoğa Dahil Değil' %}</option>
                                            <option value="1">{% trans 'Stoğa Dahil' %}</option> 
                                            {% endif %}
                                                
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Otomatik Maaşlarda Kullan' %}</label>
                                            <select class="form-control" name="maaslarda_kullan" id="date-field">
                                                {% if i.maas_icin_kullan %}
                                               
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                                <option value="1">{% trans 'Kullanma' %}</option>
                                            {% else %}
                                            <option value="1">{% trans 'Kullanma' %}</option>
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                            {% endif %}
                                                
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Otomatik avanslarda Kullan' %}</label>
                                            <select class="form-control" name="avanslarda_kullan" id="date-field">
                                            {% if i.avans_icin_kullan %}
                                               
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                                <option value="1">{% trans 'Kullanma' %}</option>
                                            {% else %}
                                            <option value="1">{% trans 'Kullanma' %}</option>
                                                <option value="2">{% trans 'Kullan' %}</option> 
                                            {% endif %}
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                        <label for="customername-field" class="form-label">{% trans 'Ürün Adı' %}</label>
                                        <input name="kasaadi" value="{{i.urun_adi}}" type="text" id="customername-field" class="form-control" placeholder="{% trans 'Ürün Adı' %}" required />
                                        <div class="invalid-feedback">{% trans 'Lütfen Boş Bırakmayınız' %}</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="customername-field" class="form-label">{% trans 'Ürün Fiyatı' %}</label>
                                        <input name="bakiye"  value="{{i.urun_fiyati|stringformat:'.2f'}}" step="0.01" type="number" id="customername-field" class="form-control" placeholder="{% trans 'Ürün Fiyatı' %}" required />
                                        <div class="invalid-feedback">{% trans 'Lütfen Boş Bırakmayınız' %}</div>
                                    </div>{% if request.user.is_superuser %}
                                            <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Ürün Silinme Durumu' %}</label>
                                            <select name="silinmedurumu"  class="form-control" id="">
                                                <option value="3">{% trans 'Karışma' %}</option>
                                                <option value="2">{% trans 'Sil' %}</option>
                                                {% if i.silinme_bilgisi %}
                                                    <option value="1">{% trans 'Geri Getir' %}</option>
                                                {% else %}
                                                {% endif %}
                                                
                                            </select>
                                        </div>
                                        
                                        {% endif %}
                                        
                                    
                                </div>
                                <div class="modal-footer">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">{% trans 'Kapat' %}</button>
                                        <button type="submit" class="btn btn-success" id="add-btn">{% trans 'Ürünü Güncelle' %}</button>
                                        <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for i in santiyeler %}
                <!-- Modal -->
                <div class="modal fade zoomIn" id="deleteRecordModal{{i.id}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                            </div>
                            <div class="modal-body">
                                
                                <div class="mt-2 text-center">
                                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                        <h4>{% trans 'Emin Misin ?' %}</h4>
                                        <p class="text-muted mx-4 mb-0">{% trans 'Ürünü Silmek İstediğinizden Emin Misiniz ? ' %}</p>
                                    </div>
                                </div>
                                <form autocomplete="off"action="/{{dil}}{% url 'accounting:urun_sil' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">
                                
                                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">{% trans 'Kapat' %}</button>
                                    <button type="submit" class="btn w-sm btn-danger " id="delete-record">{% trans 'Evet, Sil' %}</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--end modal -->
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © {{site_adi.footer}}
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        
</div>
<!-- end main content-->
{% endblock sidebar %}

