{% load i18n %}
{% load custom_tags %}
{% load static %}
<form autocomplete="off"method="post" action="/{{dil}}{% url 'accounting:gider_faturasi_kaydet_personel_2' hashler %}" enctype="multipart/form-data">


    {% csrf_token %}
            <input type="text" hidden value="{{veri.id}}" name="faturaya_bagla">
  <main>


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="/{{dil}}{% url 'accounting:giderler_sayfasi' %}"><i class="icon icon-arrow-circle-left"></i></a>
                    {% trans 'Fatura Oluştur' %}
                    
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="/{{dil}}/">{% trans 'Dashboard' %}</a></li>
                    <li><a href="#">{% trans 'Satın Alma ve Stok' %}</a></li>
                    <li><a href="#">{% trans 'Fatura Oluştur' %}</a></li>
                </ul>
            </div>

        </div>

        <div class="large-stats-card table-card table-detail-card">
            <div class="stats-header">
                <div class="stats-title">{% trans 'Genel Bilgiler' %}</div>
            </div>


            <div class="fatura-olustur">

                <div class="fatura-doviz">

                    <div class="fatura-doviz-form-row">
                        <div class="form-element">
                            <label for="kategori-adi">{% trans 'Fatura No' %}</label>
                            {% if request.user.kullanicilar_db %}
                {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                {% if yetki.gelir_faturasi_kesme_izni %}
                     <input type="text" required name="faturano" class="form-control" value="{% gider_faturasi_no request.user.kullanicilar_db.id %}" disabled />
                <input type="text" required name="faturano" hidden class="form-control" value="{% gider_faturasi_no request.user.kullanicilar_db.id %}" />                                                   
                {% else %}
                                                                                
                {% endif %}
                {% else %}
                {% if hash_bilgi  %}
                    <input type="text" required name="faturano" class="form-control" value="{% gider_faturasi_no hash_bilgi.id %}" disabled />
                <input type="text" required name="faturano" hidden class="form-control" value="{% gider_faturasi_no hash_bilgi.id %}" />                                                 
                {% else %}
                <input type="text" required name="faturano" class="form-control" value="{% gider_faturasi_no request.user.id %}" disabled />
                <input type="text" required name="faturano" hidden class="form-control" value="{% gider_faturasi_no request.user.id %}" />                                                 
                {% endif %}
                       
                {% endif %}
                        </div>
                        <div class="form-element">
                            <label for="kategori-adi">{% trans 'Cari' %}</label>
                            <input type="search" required  value="{{veri.calisan.isim}} {{veri.calisan.soyisim}}" class="form-control" title="{% trans 'Kayıtlı cariler için cari adının ilk üç karekterini giriniz.' %}" disabled placeholder="{% trans 'Cari Hesabı' %}" autocomplete="off">
                        <input type="search" required name="musteri_bilgisi" value="{{veri.calisan.isim}} {{veri.calisan.soyisim}}" class="form-control" title="{% trans 'Kayıtlı cariler için cari adının ilk üç karekterini giriniz.' %}" hidden placeholder="{% trans 'Cari Hesabı' %}" autocomplete="off">
                            <script>
                                $(document).ready(function () {

                                    var testVerileri = [
                                        "test1",
                                        "test2",
                                        "test3",
                                        "test4",
                                        "deneme",
                                        "merhaba",
                                    ];

                                    $('.cari').autocomplete({
                                        source: testVerileri,
                                        minLength: 2,
                                        select: function (event, ui) {
                                            $('.cari').val(ui.item.label);
                                            return false;
                                        }
                                    }).data('ui-autocomplete')._renderItem = function (ul, item) {
                                        return $('<li>')
                                            .append('<div>' + item.label + '<br>' + item.value + '</div>')
                                            .appendTo(ul);
                                    };
                                });
                            </script>

                        </div>
                        <div class="form-element">
                            <label for="daterange">{% trans 'Düzenleme ve Vade Tarihi' %}</label>
                            <input type="text" required  disabled class="form-control" value="{{veri.odeme_tarihi|date:'m-d-Y'}} - {{veri.odeme_tarihi|date:'m-d-Y'}}">
                        <input type="text" required name="daterange" hidden class="form-control" value="{{veri.odeme_tarihi|date:'m-d-Y'}} - {{veri.odeme_tarihi|date:'m-d-Y'}}">
                        </div>
                        <script>
                            $('input[name="daterange"]').daterangepicker({
                                opens: 'left'
                            }, function (start, end, label) {
                                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
                            });
                        </script>
                        <div class="form-element">
                            <label for="aciklama">{% trans 'Açıklama' %}</label>
                            <input type="text" value ="{{veri.aciklama}}" name="cari_aciklma"  id="aciklama">
                        </div>
                    </div>

                    <div class="fatura-doviz-form-row">
                        <div class="form-element iqd-input">
                            <label for="doviz-kuru">{% trans 'Döviz Kuru' %}</label>
                            <input type="number" value="{{veri.kur |stringformat:'.f'}}" name="doviz_kuru" id="doviz-kuru">
                            <input type="text" id="doviz_kuru" hidden name="doviz_kuru" class="form-control" 
                                        placeholder="{% trans 'Örn: 1450 veya 1450.06' %}" 
                                        pattern="\d+(\.\d{1,2})?" 
                                        title="{% trans 'Lütfen sadece sayısal değer giriniz' %}" 
                                        oninput="hesaplama_islemi()"  value="{{veri.kur |stringformat:'.f' }}" />
                        </div>
                        <div class="form-element iqd-input">
                            <label for="head-toplam-iqd">{% trans 'Toplam IQD' %}</label>
                            {% odeme_para_birimi_hesabi_deger veri.calisan veri.kur veri.tutar as gelen_tutar %}
                                    <input value="{{gelen_tutar | stringformat:'.2f' }}" type="text"  name="head-toplam-iqd" id="head-toplam-iqd"  class="form-control" disabled />
                           
                        </div>
                        <div class="form-element" id="kategori">
                            <label for="kategori">{% trans 'Kategori' %} </label>
                            <select disabled required  class="form-select">
                                {% for i in gelir_kategoerisi %}
                                <option selected value="{{i.id}}">{{i.gider_kategori_adi}}</option>
                                {% endfor %}
                            </select>
                            <select hidden required name="gelir_kategorisi" class="form-select">
                                {% for i in gelir_kategoerisi %}
                                <option selected value="{{i.id}}">{{i.gider_kategori_adi}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-element" id="etiket">
                            <label for="etiketler">{% trans 'Etiketler' %} <a onclick="openModal('etiket-ekle')">{% trans '+Ekle' %}</a></label>
                            
                            <select disabled required id="etiketler" class="etkett me-2" multiple>
                                {% for i in gelir_etiketi %}
                                <option selected value="{{i.id}}">{{i.gider_etiketi_adi}}</option>
                                {% endfor %}
                            </select>
                            <select name="etiketler" hidden required id="" class=" me-2" multiple>
                                {% for i in gelir_etiketi %}
                                <option selected value="{{i.id}}">{{i.gider_etiketi_adi}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <script>
                           
                        </script>
                    </div>


                </div>



                <div class="fatura-head">
                    <h3>{% trans 'Fatura Kalemleri' %}</h3>
                    <div class="fatura-head-action">
                        <a id="kalem-ekle" ><i class="icon icon-add"></i> {% trans 'Kalem Ekle' %}</a>
                    </div>
                </div>

             
                <div class="fatura-kalemleri-wrapper">
                    <table class="dataTable fatura-kalemleri">
                        <thead>
                            <tr>
                                <th>{% trans 'Hizmet / ürün' %}</th>
                                <th>{% trans 'Miktar' %}</th>
                                <th>{% trans 'Birim Fiyatı' %}</th>
                                <th>{% trans 'İndirim' %}</th>
                                <th>{% trans 'Toplam' %}</th>
                                <th>{% trans 'Toplam IQD' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% odeme_para_birimi_hesabi veri.calisan veri.kur veri.tutar as tutar %}
                    
                            <tr data-id="1">
                                <td>
                                    <div class="form-element">
                                        <input disabled value="{{urunler.urun_adi}}" type="text" name="urunadi" class="den" required 
                                            placeholder="{% trans 'Ürün/Hizmet Adı Giriniz' %}">
                                    </div>
                                    <div class="form-element">
                                        <input  type="text" name="aciklama" id="kalem-aciklama"
                                            placeholder="{% trans 'Açıklama' %}">
                                    </div>
                                </td>
                                
                                <td>
                                    <div class="form-element">
                                        <input type="number" name="miktari" id="kalem-miktar">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" disabled id="bfiyatInput" value="{{tutar |stringformat:'.2f'}}"  name="bfiyatInput" class="bfiyatInput" step="0.01" type="number" value="0" >
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" name="indirim" id="kalem-indirim">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" disabled name="kalem-toplam" value="{{tutar |stringformat:'.2f'}}" id="kalem-toplam">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element iqd-input">
                                        <input type="number" name="kalem-toplam-iqd" id="kalem-toplam-iqd">
                                    </div>
                                    <a onclick="openModal('delete-modal');$('.delete-modal-button').attr('data-delete-id', $(this).closest('tr').attr('data-id'))"
                                        class="status-cancel stats-lg"><i class="icon icon-action-delete"></i> {% trans 'Sil' %}</a>
                                </td>
                            </tr>
                           <div class="urun">
                    <input type="search" hidden value="{{urunler.urun_adi}}" name="urunadi" class="den" required id="searchInput" placeholder="{% trans 'Ürün / Hizmet Adı' %}" />
                </div>
                <div classy="miktar">
                    <input class="miktarInput" hidden  name="miktari" type="number" value="1" oninput="hesaplama_islemi()" />
                </div>
                <div class="bfiyat">
                    <input id="bfiyatInput" hidden value="{{tutar |stringformat:'.2f'}}" name="bfiyatInput" class="bfiyatInput" step="0.01" type="number" value="0" oninput="hesaplama_islemi()" />
                    
                </div>
                        </tbody>
                    </table>
                </div>





                <div class="fatura-detaylar">

                    <table>
                        <tbody>
                            <tr>
                                <td>{% trans 'Ara Toplam' %}</td>
                                <th id="info-ara-toplam">$0,00</th>
                            </tr>
                            <tr>
                                <td>{% trans 'İndirim' %}</td>
                                <td id="info-toplam-indirim" style="color: #ff0000;">-$0,00</td>
                            </tr>
                            <tr>
                                <td>{% trans 'Toplam IQD' %}</td>
                                <td id="info-toplam-iqd">IQD 0,00</td>
                            </tr>
                            <tr>
                                <th>{% trans 'Toplam' %}</th>
                                <th id="info-toplam">$0,00</th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-actions">
                        <a class="form-action-secondary " href="/" > {% trans 'Vazgeç' %}</a>
                        <button class="form-action-primary" type="submit">{% trans 'Kaydet' %}</button>
                    </div>
                </div>




            </div>



        </div>



    </main>
</form>
<!--Translate gelecek yerler -->
    <div class="modal" id="etiket-ekle">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                {% trans 'Etiket Ekle' %}
            </div>
            <div class="modal-body">
                
                    <div class="form-element">
                        <label for="etiket-adi">{% trans 'Etiket Adı' %}</label>
                        <input type="text"  name="etiket_ismi_gonder" id="etiket_ismi_gonder"  placeholder="{% trans 'Etiket Adı' %}" />
                        <input type="text" name="tur2" id="tur2" hidden value="1">
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal('etiket-ekle')">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit"  id="ekle2" onclick="closeModal('etiket-ekle')">{% trans 'Etiket Ekle' %}</button>
                    </div>
              
            </div>
        </div>
    </div>



    <div class="modal" id="kategori-ekle">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                {% trans 'Kategori Ekle' %}
            </div>
            <div class="modal-body">
                
                    <input type="text" name="tur" id="tur" hidden value="1">
                    <div class="form-element">
                        <label for="kategori-adi">{% trans 'Kategori Adı' %}</label>
                        <input type="text"  name="adi" id="adi"  placeholder="{% trans 'Kategori Adı' %}" />
                    </div>
                    <div class="form-element">
                        <label for="kategori-aciklamasi">{% trans 'Kategori Açıklaması' %}</label>
                        <input type="text"  name="aciklama" id="aciklama"  placeholder="{% trans 'Kategori Açıklaması' %}" />
                    </div>
                    <div class="form-element">
                        <label for="kategori-rengi">{% trans 'Kategori Rengi' %}</label>
                        <input type="color"  name="renk" id="renk"  placeholder="{% trans 'Gider Rengi' %}" />
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal('')">Vazgeç</button>
                        <button class="form-action-primary"  id="ekle" onclick="closeModal('kategori-ekle')" type="submit">{% trans 'Kategori Oluştur' %}</button>
                    </div>
               
            </div>
        </div>
    </div>


    <div class="modal" id="delete-modal">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                {% trans 'Silme Uyarısı' %}
            </div>
            <div class="modal-body">
                <form>
                    <p>{% trans 'Bu işlemin geri dönüşü olmayacaktır!' %}</p>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-danger delete-modal-button" type="button">{% trans 'Evet, Sil' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!--Translate gelecek yerler -->
