
{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block header %}

{% endblock header %}
{% block slider %}
        {% include "muhasebe_page/fatura_goster_qr/css/fatura_goster_gider.html" %}
        {% include "muhasebe_page/fatura_goster_qr/fatura_goster_qr/faturalari_goster_gider.html" %}
{% endblock slider %}

{% block javascriptcodeadd %}
{% include "muhasebe_page/fatura_goster_qr/javascript/faturalari_goster_gider_javascript.html" %}
{% endblock javascriptcodeadd %}
