{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% block header %}

{% endblock header %}
{% load static %}
{% block slider %}
    {% include "muhasebe_page/fatura_goster_qr/css/fatura_goster_gelir.html" %}
    {% include "muhasebe_page/fatura_goster_qr/fatura_goster_qr/faturalari_goster_gelir.html" %}
        
{% endblock slider %}

{% block javascriptcodeadd %}
    {% include "muhasebe_page/fatura_goster_qr/javascript/faturalari_goster_gelir_javascript.html" %}
{% endblock javascriptcodeadd %}
