{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block head %}
    {% include "muhasebe_page\gelir_gider_faturasi_olusturma\css\gelir_faturasi_css.html" %}

{% endblock head %}
{% block sidebar %}
{% if hash_bilgi %}
    {% include "muhasebe_page\gelir_gider_faturasi_olusturma\admin\gelir_faturasi.html" %}
    {% include "muhasebe_page\gelir_gider_faturasi_olusturma\javascript\admin_gelir_faturasi_javascript.html" %}
{% else %}
    {% include "muhasebe_page\gelir_gider_faturasi_olusturma\gelir_gider_faturasi_olusturma\gelir_faturasi.html" %}
    {% include "muhasebe_page\gelir_gider_faturasi_olusturma\javascript\gelir_faturasi_javascript.html" %}
{% endif %}
{% endblock sidebar %}
{% block javascriptcodeadd %}
{% endblock javascriptcodeadd %}