{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block head %}
{% include "muhasebe_page/gelir_gider_faturasi_olusturma/css/gider_faturasi_css.html" %}
{% endblock head %}
{% block sidebar %}
{% if hash_bilgi %}
    {% include "muhasebe_page/gelir_gider_faturasi_olusturma/admin/gider_faturasi.html" %}
    {% include "muhasebe_page/gelir_gider_faturasi_olusturma/javascript/admin_gider_faturasi_javascript.html" %}
{% else %}
    {% include "muhasebe_page/gelir_gider_faturasi_olusturma/gelir_gider_faturasi_olusturma/gider_faturasi.html" %}
    {% include "muhasebe_page/gelir_gider_faturasi_olusturma/javascript/gider_faturasi_javascript.html" %}

{% endif %}
{% include "muhasebe_page\gelir_gider_faturasi_olusturma\javascript\gider_faturasi_personel_kesimi_javascript.html" %}
{% endblock sidebar %}
