{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block head %}
    {% include "muhasebe_page\gelir_gider_faturasi_olusturma\css\gider_faturasi_personel_kesimi_css.html" %}
{% endblock head %}
{% block sidebar %}
{% if hash_bilgi %}
    {% include "muhasebe_page\gelir_gider_faturasi_olusturma\admin\gider_faturasi_personel_kesimi.html" %}
{% else %}
    {% include "muhasebe_page\gelir_gider_faturasi_olusturma\gelir_gider_faturasi_olusturma\gider_faturasi_personel_kesimi.html" %}
{% endif %}
            
{% endblock sidebar %}
{% block javascriptcodeadd %}

{% endblock javascriptcodeadd %}