{% if request.user.kullanicilar_db %}
                            {% bildirimler request.user.kullanicilar_db as bildirim %}
                        {% else %}
                        {% bildirimler request.user as bildirim %}
                        {% endif %}
                        Bildirimler
                        <span>{{bildirim | length }} adet yeni bildiriminiz var.</span>
                    </div>
                    <div class="notifications-tabs">
                        <button onclick="notificationTab(event, 'notification-all')"
                            class="notification-tab-btn active">Hepsi
                            <span>{{bildirim | length }}</span></button>
                        <!--<button onclick="notificationTab(event, 'notification-unread')"
                            class="notification-tab-btn">Okunmamış <span>3</span></button>-->
                    </div>
                    <div class="notifications" id="notification-all">
                    {% for i in bildirim %}
                        {% if i.type == "Gelir" %}
                            <div class="notification">
                            <div class="notification-avatar">
                                <i class="icon icon-muhasebe"></i>
                            </div>
                            <div class="notification-content notification-unread">
                                <div class="notification-title notification-title-danger">{% trans 'Ödeme tarihini geçen bir Gelir faturanız bulunmaktadır.'%} </div>
                                <div class="notification-date">{{i.vade_tarihi | date:'d m Y' }}</div>
                                <div class="notification-actions">
                                    <a href="/{{dil}}{{ gelirler_sayfasi_url }}"><button class="notification-inspect-button">İncele</button></a> 
                                </div>
                            </div>
                        </div>
                        {% elif i.type == "Gider" %}
                            <div class="notification">
                            <div class="notification-avatar">
                                <i class="icon icon-muhasebe"></i>
                            </div>
                            <div class="notification-content notification-unread">
                                <div class="notification-title notification-title-danger">{% trans 'Ödeme tarihini geçen bir Gider faturanız bulunmaktadır.'%} </div>
                                <div class="notification-date">{{i.vade_tarihi | date:'d m Y' }}</div>
                                <div class="notification-actions">
                                    <a href="/{{dil}}{{ gelirler_sayfasi_url }}"><button class="notification-inspect-button">İncele</button></a> 
                                </div>
                            </div>
                        </div>
                        {% elif i.type == "UrunTalebi" %}
                            <div class="notification">
                            <div class="notification-avatar">
                                <i class="icon icon-stok"></i>
                            </div>
                            <div class="notification-content notification-unread">
                                <div class="notification-title notification-title-danger">{% trans 'İşlem Yapılmamış Ürün Talebi '%} </div>
                                <div class="notification-date">{% blocktrans %}İstenen Ürün{% endblocktrans %}: {{ i.urun.urun_adi }}<br>
                                    {% blocktrans %}Miktar{% endblocktrans %}: {{ i.miktar }}<br>
                                    {% blocktrans %}Tarih{% endblocktrans %}: {{ i.kayit_tarihi }}</div>
                                <div class="notification-actions">
                                    <a href="/{{dil}}{{ satin_alma_talabi_onaylama_url }}"><button class="notification-inspect-button">İncele</button></a> 
                                </div>
                            </div>
                        </div>
                        {% elif i.type == "IsplaniPlan" %}
                            <div class="notification">
                            <div class="notification-avatar">
                                <i class="icon icon-santiye-yonetimi"></i>
                            </div>
                            <div class="notification-content notification-unread">
                                <div class="notification-title notification-title-danger">{% trans 'Bitmemiş İş Planı'%} </div>
                                <div class="notification-date">{% blocktrans %}Görev : {% endblocktrans %} {{ i.title }}<br>
                                    {% blocktrans %}Açıklama : {% endblocktrans %} {{ i.aciklama }}<br>
                                    {% blocktrans %}Teslim Tarihi : {% endblocktrans %} {{ i.teslim_tarihi }}</div>
                                <div class="notification-actions">
                                    <a href="/{{dil}}{{ yapilacaklar_url }}"><button class="notification-inspect-button">İncele</button></a> 
                                </div>
                            </div>
                        </div>
                        {% else %}
                        {% endif %}
                        
                        {% endfor %}