asgiref==3.7.2
backports.zoneinfo==0.2.1
certifi==2023.11.17
charset-normalizer==3.3.2
Django
django-rosetta==0.10.0
idna
Pillow
polib
requests
six
sqlparse
typing_extension
urllib3
openpyxl 
reportlab
qrcode
django-simple-history
hashids