 {% for i in personeller %}
                        {% personel_maas_bilgisi i.id as maaslar %}
                        
                        {% for j in maaslar %}
                        {% if  j.hakedis_tutari > j.odenen %}

<div class="modal" id="maasOdeModal{{i.id}}-{{j.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                {% trans 'Maaş Öde' %}
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="POST" action="/{{dil}}{% url 'users:calisan_odemeleri_kaydet' %}">
                    {% csrf_token %} 
                    <div id="odemeturuu" ><input type="text" hidden value="{{i.id}}" name="users_id"></div>
                    <div class="form-element">
                        <label for="maas-ayi">{% trans 'Hakediş Ayı' %}</label>
                        <select required id="maasAy" name="maas_ayi">
                            <option value="{{j.tarih}}" selected >{{j.tarih}}</option>
                           
                        </select>
                    </div>
                    <div class="form-element">
                        <label for="kalan-bakiye">{% trans 'Kalan Bakiye' %}</label>
                        <input required type="number" step="0.01" placeholder="{{ j.kalan}}" name="tutar" id="maasBakiye"  >
                    </div>
                    <div class="form-element">
                        <label for="kur">{% trans 'Kur' %}</label>
                        <input required type="number" step="0.01" name="kur"  class="form-control" placeholder="Kur">
                    </div>
                    <div class="form-element">
                        <label for="odeme-tarihi">{% trans 'Ödeme Tarihi' %}</label>
                        <input required type="date" name="odeme_tarihi">
                    </div>
                    <div class="form-element">
                        <label for="aciklama">{% trans 'Açıklama' %}</label>
                        <textarea id="avansAciklama" name="aciklama"></textarea>
                    </div>
                    <div class="form-element">
                        <label for="ekler">{% trans 'Dosya Yükle' %}</label>

                        <div class="file-input">
                            <label for="ekler">
                                <img src="./content/images/illustration-upload.png">

                                <button><i class="icon icon-file"></i>{% trans 'Dosya Seç' %}</button>
                            </label>

                            <input type="file" name="file" id="avansDosya">
                        </div>

                        <ul class="fileList">
                        </ul>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button"
                            onclick="closeModal('maasOdeModal')">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Kesinti Yap' %}</button>
                    </div>
                </form>
            </div>
        </div>
</div>

<div class="modal" id="avansOdeModal{{i.id}}-{{j.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                {% trans 'Avans Öde' %}
                
            </div>
            <div class="modal-body">
                
                <form id="avansOdeForm" method="POST" action="/{{dil}}{% url 'users:calisan_odemeleri_kaydet' %}">
                    {% csrf_token %} 
                    <input type="text" hidden value="1" name="odeme_turu">
                    <div id="odemeturu" ><input type="text" hidden value="{{i.id}}" name="users_id"></div>
                    <div class="form-element">
                        <label for="ay-secimi">{% trans 'Hakediş Ayı' %}</label>
                        <select required name="maas_ayi" id="avansAy">
                            <option value="{{j.tarih}}" selected >{{j.tarih}}</option>
                           
                        </select>
                    </div>
                    <div class="form-element">
                        <label for="avansTutar">{% trans 'Ödeme Tarihi' %}</label>
                        <input required type="date" name="odeme_tarihi"  >
                    </div>
                    <div class="form-element">
                        <label for="tutar">Tutar</label>
                        <input required type="number" step="0.01" placeholder="{{ j.kalan }}" name="tutar" id="avansTutar">
                    </div>
                    <div class="form-element">
                        <label for="kur">Kur</label>
                        <input required type="number" step="0.01" name="kur" >
                    </div>
                    
                    <div class="form-element">
                        <label for="aciklama">{% trans 'Açıklama' %}</label>
                        <textarea id="avansAciklama" name="aciklama"></textarea>
                    </div>
                    <div class="form-element">
                        <label for="ekler">Dosya Yükle</label>

                        <div class="file-input">
                            <label for="ekler">
                                <img src="./content/images/illustration-upload.png">

                                <button><i class="icon icon-file"></i>{% trans 'Dosya Seç' %}</button>
                            </label>

                            <input  type="file" name="file" id="avansDosya">
                        </div>

                        <ul class="fileList">
                        </ul>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button"
                            onclick="closeModal('avansOdeModal')">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Avans Öde' %}</button>
                    </div>
                </form>
            </div>
        </div>
</div>
                        
                        {% else %}
                        {% endif %}
                        {% endfor %}
                        
                    {% endfor %}