{% load i18n %}
{% load custom_tags %}
{% load static %}
    <link href="{% static 'assets/css/custom.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css">
      <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Basit ve küçük kaydırma çubuğu -->
<script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>

<!-- Dalgalanma efekti -->
<script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>

<!-- Feather simgeleri -->
<script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>

<!-- Lord ikon -->
<script src="{% static 'assets/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>

<!-- Genel eklentiler -->
<script src="{% static 'assets/js/plugins.js' %}"></script>

<!-- Özel script dosyanız -->
<script src="{% static 'assets/js/custom.js' %}"></script>


<main>
        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                        <a href="javascript:void(0);" onclick="window.history.back();">
                            <i class="icon icon-arrow-circle-left"></i>
                        </a>  {% trans 'Gelir Özeti' %}
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="javascript: void(0);">{% trans 'Dashboard' %}</a></li>
                    <li><a href="#">{% trans 'Raporlar' %}</a></li>
                    <li><a href="#">{% trans 'Gelir Özeti' %}</a></li>
                </ul>
            </div>

            <div class="page-actions">
                    
            </div>
        </div>

                
                        <div class="large-stats-card table-card table-detail-card">
                                <!-- Tablo arama inputu <div class="stats-header">
                                    <div class="stats-title">{% trans 'Hakedişler' %}</div>
                                    
                                    <div class="stats-search">
                                        <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                                        <button><i class="icon icon-search"></i></button>
                                    
                                    </div>-->
                                </div>
                              
                                    <div class="table-wrapper">
                                        <table id="example" class="display nowrap" style="width:100%">
                                            <thead>
                                                <tr>
                                                  
                                                    <th>{% trans "Fatura No" %}</th>
                                                    <th>{% trans "Cari" %}</th>
                                                    <th>{% trans "Açıklama" %}</th>
                                                    <th>{% trans "Etiket 1" %}</th>
                                                    <th>{% trans "Etiket 2" %}</th>
                                                    <th>{% trans "Etiket 3" %}</th>
                                                    <th>{% trans "Fatura Tarihi" %}</th>
                                                    <th>{% trans "Vade Tarihi" %}</th>
                                                    <th>{% trans "Fatura Bedeli" %}</th>
                                                    <th>{% trans "Kalan Tutar" %}</th>
                                                    <th>{% trans "DURUM" %}</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    
                                                    <th>{% trans "Fatura No" %}</th>
                                                    <th>{% trans "Cari" %}</th>
                                                    <th>{% trans "Açıklama" %}</th>
                                                    <th>{% trans "Etiket 1" %}</th>
                                                    <th>{% trans "Etiket 2" %}</th>
                                                    <th>{% trans "Etiket 3" %}</th>
                                                    <th>{% trans "Fatura Tarihi" %}</th>
                                                    <th>{% trans "Vade Tarihi" %}</th>
                                                    <th>{% trans "Fatura Bedeli" %}</th>
                                                    <th>{% trans "Kalan Tutar" %}</th>
                                                    <th>{% trans "DURUM" %}</th>
                                                </tr>
                                            </tfoot>
                                        </table>

                                    </div>

                        
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
        </div>
        <div class="invoice-detail-modal" id="invoice-detail-modal">
           
        </div>
        <div id="tahsilat-makbuzu-modal" class="tahsilat-makbuzu-modal">
          
        </div>

 
    
    <!-- end main content-->
<div id="fatura_silme_divi">

</main>