{% extends "homebase.html" %}
{% load static %}
{% load i18n %}
{% load custom_tags %}
{% block head %}
<link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" />
<!-- DataTables CSS -->
<link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
{% endblock head %}
{% block sidebar %}

{% include "muhasebe_page/cari_kasa_hareketleri/cari_kasa_hareketleri/cari_hareketleri.html" %}
<div class="" style="margin-top: 100px;" ></div>
{% endblock sidebar %}

{% block javascriptcodeadd %}
{% include "muhasebe_page/cari_kasa_hareketleri/javascript/javascript.html" %}
{% endblock javascriptcodeadd %}
