* {
    font-family: "Red Hat Display", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-left: 280px;
    transition: padding .2s ease-in-out;
}

body:has(.sidebar-collapsed) {
    padding-left: 80px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    max-height: 100%;
    box-shadow: 0 16px 44px 0px rgba(0, 0, 0, 0.07);
    transition: all .2s ease-in-out;
    background-color: #fff;
    z-index: 5000;
    border-bottom-right-radius: 18px;
}

.sidebar-navs::-webkit-scrollbar {
    display: none;
}

.sidebar-navs {
    height: calc(100% - 120px);
    max-height: calc(100% - 120px);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar-collapsed {
    width: 80px;
}

.sidebar-collapsed .sidebar-nav li a span {
    display: none;
}

.sidebar-lg-logo {
    display: block;
}

.sidebar-collapsed .sidebar-lg-logo {
    display: none;
}

.sidebar-sm-logo {
    display: none;
}

.sidebar-collapsed .sidebar-sm-logo {
    display: block;
}

.sidebar-nav li a span {
    white-space: nowrap;
}

.sidebar-collapsed .sidebar-nav li {
    margin-inline: 16px;
}

.sidebar-logo {
    padding: 24px 90px 24px 24px;
    margin-bottom: 24px;
    position: relative;
}

.sidebar-logo .sidebar-logo-main-part {
    width: 114px;
    height: 22px;
    background-repeat: no-repeat;
    background-image: url("../images/biada.png");
    transition: all .2s ease-in-out;
}

.sidebar-collapsed .sidebar-logo .sidebar-logo-main-part {
    background-image: url("../images/o.png");
    width: 32px;
    height: 32px;
}

.sidebar-logo .sidebar-logo-second-part {
    position: absolute;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-image: url(../images/o.png);
    transition: all .2s ease-in-out;
    top: 22px;
    left: 140px;
}

.sidebar-collapsed .sidebar-logo .sidebar-logo-second-part {
    background-image: url("../images/half-o.png");
    top: 49px;
    left: 25.5px;
}

.sidebar-logo-large-parts img:first-child {
    position: absolute;
    top: 48px;
    left: 141px;
}

.sidebar-logo-large-parts img:last-child {
    position: absolute;
    top: 22px;
    left: 170px;
}

.sidebar-collapsed .sidebar-logo-large-parts {
    opacity: 0;
    /* animation: sidebar-parts-anim .2s; */
    display: none;
    transition-property: display opacity;
    transition-duration: 200ms;
    transition-behavior: allow-discrete;
}

@keyframes sidebar-parts-anim {
    from {
        display: block;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
}

.sidebar-nav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sidebar-nav>li {
    margin-inline: 24px;
    border-radius: 50px;
    transition: all .1s ease-in-out;
    transition: border-radius .2s ease-in-out;
}

.sidebar-nav>li a {
    text-decoration: none;
    color: #8C8C8C;
    padding: 12px 16px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    font-size: 14px;
    transition: all .1s ease-in-out;
}

.sidebar-nav>li:hover,
.sidebar-nav>li.active {
    background-color: #EEF2FF;
}

.sidebar-nav .sidebar-sub-menu a:hover {
    font-weight: bold;
    color: #052941;
}

.sidebar-nav>li:hover>a,
.sidebar-nav>li.active>a {
    color: #052941;
    font-weight: bold;
}

.sidebar-nav .sidebar-sub-toggle .icon-caret {
    transition: all .2s ease-in-out;
    margin-left: auto;
}

.sidebar-collapsed .sidebar-sub-toggle .icon-caret {
    display: none;
}

.sidebar-collapsed .sidebar-sub-menu {
    display: none !important;
}

.rotate {
    transform: rotate(90deg);
}

.sidebar-nav li:has(.sidebar-sub-menu.open) {
    border-radius: 24px;
}

.sidebar li .sidebar-sub-menu {
    display: none;
    list-style-type: none;
}

.sidebar li .sidebar-sub-menu a {
    padding-left: 30px;
}

.sidebar-sub-menu .sidebar-sub-menu {
    padding-left: 30px;
}

.sidebar hr {
    border: 1px solid #D9D9D9;
    margin-block: 24px;
}

.sidebar-mobile-toggle {
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 4px 14px 0 rgba(148, 148, 148, 0.5);
    border-top-right-radius: 16px;
    z-index: 250;
    background-color: #fff;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 4px 8px;
}

.sidebar-mobile-toggle i {
    width: 30px;
    height: 30px;
}


@media screen and (max-width: 420px) {
    .sidebar-mobile-toggle {
        display: flex;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        display: none;
    }

    .sidebar.sidebar-collapsed {
        display: block;
        width: 280px !important;
    }

    .sidebar-collapsed .sidebar-nav li a span {
        display: block;
    }

    .sidebar-collapsed .sidebar-lg-logo {
        display: block;
    }

    .sidebar-collapsed .sidebar-sm-logo {
        display: none;
    }

    .sidebar-collapsed .sidebar-nav li {
        margin-inline: 24px;
    }

    body {
        padding-left: 0 !important;
        width: 100vw;
    }
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-caret {
    background-image: url("../icons/caret.svg");
}

.icon-sidebar-left {
    background-image: url("../icons/sidebar-left.svg");
}

.icon-sidebar-right {
    background-image: url("../icons/sidebar-right.svg");
}

.icon-close {
    background-image: url("../icons/close.svg");
}

.icon-dashboard {
    background-image: url("../icons/dashboard.svg");
}

.icon-super-admin {
    background-image: url("../icons/super-admin.svg");
}

.icon-santiye-yonetimi {
    background-image: url("../icons/santiye-yonetimi.svg");
}

.icon-muhasebe {
    background-image: url("../icons/muhasebe.svg");
}

.icon-stok {
    background-image: url("../icons/stok.svg");
}

.icon-users {
    background-image: url("../icons/users.svg");
}

.icon-notifications {
    background-image: url("../icons/notifications.svg");
}

.icon-help {
    background-image: url("../icons/help.svg");
}

.icon-chevron-left {
    background-image: url("../icons/chevron-left.svg");
}

.icon-chevron-right {
    background-image: url("../icons/chevron-right.svg");
}

.icon-search {
    background-image: url("../icons/search.svg");
}

.icon-fullscreen {
    background-image: url("../icons/fullscreen.svg");
}

.icon-notification {
    background-image: url("../icons/notification.svg");
}

.icon-moon {
    background-image: url("../icons/moon.svg");
}

.icon-chevron-bottom {
    background-image: url("../icons/chevron-bottom.svg");
}

.icon-profile {
    background-image: url("../icons/profile.svg");
}

.icon-settings {
    background-image: url("../icons/settings.svg");
}

.icon-lock {
    background-image: url("../icons/lock.svg");
}

.icon-forward {
    background-image: url("../icons/forward.svg");
}

.icon-arrow-circle-down {
    background-image: url("../icons/arrow-circle-down.svg");
}

.icon-arrow-circle-up {
    background-image: url("../icons/arrow-circle-up.svg");
}

.icon-add {
    background-image: url("../icons/add.svg");
}

.icon-plus {
    background-image: url("../icons/plus.svg");
}

.icon-calendar {
    background-image: url("../icons/calendar.svg");
}

.icon-increment {
    background-image: url("../icons/increment.svg");
}

.icon-decrement {
    background-image: url("../icons/decrement.svg");
}

.icon-register {
    background-image: url("../icons/register.svg");
}

.icon-document {
    background-image: url("../icons/document.svg");
}

.icon-ilerleme-takibi {
    background-image: url("../icons/ilerleme-takibi.svg");
}

.icon-giderler {
    background-image: url("../icons/giderler.svg");
}

.icon-gelirler {
    background-image: url("../icons/gelirler.svg");
}

.icon-satin-alma {
    background-image: url("../icons/satin-alma.svg");
}

.icon-yeni-personel {
    background-image: url("../icons/yeni-personel.svg");
}

.icon-yeni-kullanici {
    background-image: url("../icons/yeni-kullanici.svg");
}

.icon-dosya-yoneticisi {
    background-image: url("../icons/dosya-yoneticisi.svg");
}

.icon-taseronlar {
    background-image: url("../icons/taseronlar.svg");
}

.icon-sozlesmeler {
    background-image: url("../icons/sozlesmeler.svg");
}

.icon-hakedisler {
    background-image: url("../icons/hakedisler.svg");
}

.icon-gorevler {
    background-image: url("../icons/gorevler.svg");
}

.icon-kasa {
    background-image: url("../icons/kasa.svg");
}

.icon-puantaj-girisi {
    background-image: url("../icons/puantaj-girisi.svg");
}


.sidebar-toggle {
    background-color: #fff;
    border: 1px solid #E2E8F0;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    right: -14px;
    top: 24px;
    cursor: pointer;
    z-index: 300;
}

.sidebar-toggle i {
    width: 16px;
    height: 16px;
}

.icon-sidebar-left {
    display: block;
}

.icon-sidebar-right {
    display: none;
}

.sidebar-collapsed .icon-sidebar-left {
    display: none;
}

.sidebar-collapsed .icon-sidebar-right {
    display: block;
}

header {
    background-color: #fff;
    height: 92px;
    border-bottom: 1px solid #E2E8F0;
    box-shadow: 10px 0px 16px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 24px;
}

@media screen and (max-width: 520px) {
    header {
        padding-inline: 0;
        flex-wrap: wrap;
        padding: 12px;
        height: auto;
    }
}


header .header-search {
    width: 100%;
    height: 44px;
    border-radius: 100px;
    border: 1px solid #E2E8F0;
    display: flex;
    transition: all .2s ease-in-out;
}

header .header-search input {
    border-radius: 100px 0 0 100px;
    border: none;
    outline: none;
    padding-inline: 24px;
    width: 100%;
}

header .header-search button {
    border-radius: 0 100px 100px 0;
    border: none;
    outline: none;
    background-color: #fff;
    padding-inline: 24px;
    cursor: pointer;
}

@media screen and (max-width: 650px) and (min-width: 520px) {
    header .header-search:focus-within {
        z-index: 200;
        position: absolute;
        left: 100px;
        width: 80vw;
    }
}


header .header-actions {
    margin-left: 57px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

@media screen and (max-width: 830px) {
    header .header-actions {
        margin-left: 10px;
        margin-right: 10px;
    }

    header .header-search input {
        padding-inline: 24px 0;
    }
}

header .header-actions i {
    width: 24px;
    height: 24px;
}

header .header-actions a {
    display: flex;
    align-items: center;
}

.header-actions-dropdown {
    position: relative;
}

.actions-dropdown-content {
    position: absolute;
    top: 24px;
    left: 0;
    display: none;
    background-color: #fff;
    box-shadow: -20px 20px 40px -4px rgba(145, 158, 171, 0.24);
    width: 320px;
    border-radius: 12px;
    border: 1px solid #E2E8F0;
    z-index: 100;
}

@media screen and (max-width: 530px) {
    .actions-dropdown-content {
        position: fixed;
        top: 120px;
        left: 0;
        right: 0;
        width: 100vw;
    }
}

.header-actions-dropdown:hover .actions-dropdown-content {
    display: block;
}

.actions-dropdown-content-title {
    font-size: 16px;
    font-weight: bold;
    padding: 16px 16px 12px 16px;
    border-bottom: 2px dashed #E3E3E3;
}

.actions-dropdown-content-apps {
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 12px 16px;
    z-index: 1000;
}

.actions-dropdown-content-apps .adc-app {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}

.adc-app .adc-app-icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E2E8F0;
    border-radius: 12px;
}

.adc-app .adc-app-title {
    font-size: 16px;
    font-weight: 600;
    color: #052941;
    text-decoration: none;
}


.notifications-dropdown .actions-dropdown-content {
    display: none;
    width: 430px;
    left: -215px;
    z-index: 1000;
}

@media screen and (max-width: 830px) {
    .notifications-dropdown .actions-dropdown-content {
        left: -300px;
    }
}

@media screen and (max-width: 630px) {
    .notifications-dropdown .actions-dropdown-content {
        left: -200px;
    }
}

@media screen and (max-width: 530px) {
    .notifications-dropdown .actions-dropdown-content {
        position: fixed;
        top: 120px;
        left: 0;
        right: 0;
        width: 100vw;
    }
}

.notifications-dropdown .actions-dropdown-content-title {
    display: flex;
    align-items: center;
    padding: 30px 20px;
    border-bottom-style: solid;
}

.notifications-dropdown .actions-dropdown-content-title span {
    background-color: #EEF2FF;
    color: #052941;
    padding: 2px 6px;
    font-weight: bold;
    font-size: 12px;
    margin-left: auto;
}

.notifications-tabs {
    padding-inline: 20px;
    height: 50px;
    display: flex;
    gap: 24px;
    border-bottom: 2px solid rgba(145, 158, 171, 0.2);
}

.notifications-tabs button {
    background-color: #fff;
    border: none;
    outline: none;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #637381;
    cursor: pointer;
}

.notifications-tabs button.active {
    font-weight: 700;
    color: #052941;
    border-bottom: 3px solid #052941;
}

.notifications-tabs button.active span {
    background-color: #052941;
    color: #fff;
}

.notifications-tabs button span {
    background-color: rgba(145, 158, 171, 0.12);
    border-radius: 6px;
    padding: 2px 6px;
    margin-left: 8px;
}

.notifications {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: scroll;
}

.notifications::-webkit-scrollbar {
    width: 8px;
}

.notifications::-webkit-scrollbar-track {
    background: transparent;
}

.notifications::-webkit-scrollbar-thumb {
    background: rgba(99, 115, 129, 0.6);
    border-radius: 12px;
}

.notifications-footer {
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px dashed #E3E3E3;
}

.notifications-footer a {
    text-decoration: none;
    color: #052941;
    font-weight: bold;
    font-size: 13px;
}

.notification {
    display: flex;
    padding: 20px;
    gap: 16px;
    border-bottom: 2px dashed #E3E3E3;
}

.notification:last-child {
    border: none;
}

.notification .notification-avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.notification .notification-avatar img {
    border-radius: 50%;
    width: 100%;
    object-fit: contain;
}

.notification .notification-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    width: 100%;
    z-index: 1000;
}

.notification .notification-content.notification-unread::after {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #212B36;
    position: absolute;
    top: 6px;
    right: 0;
}

.notification-title {
    font-size: 14px;
    color: #052941;
    font-weight: bold;
    width: 96%;
}

.notification-title-success {
    color: #36B37E;
}

.notification-title-danger {
    color: #E11D02;
}

.notification-subtitle {
    font-size: 12px;
    color: #052941;
}

.notification-date {
    color: #919EAB;
    font-size: 12px;
}

.notification-actions {
    margin-top: 8px;
    display: flex;
    gap: 12px;
}

.notification-actions button {
    padding: 4px 22px;
    font-weight: bold;
    font-size: 12px;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    color: #212B36;
}

.notification-actions .notification-inspect-button {
    background-color: rgba(145, 158, 171, 0.16);
}

.notification-actions .notification-confirm-button {
    background-color: rgba(0, 167, 111, 0.16);
    color: #00A76F;
}



header .header-language {
    height: 44px;
    border: 1px solid #E2E8F0;
    border-radius: 100px;
    padding-inline: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

header .header-language:hover,
.header-language-wrapper:hover .header-language {
    background-color: #EEF2FF;
}

.header-language span {
    color: #052941;
    font-weight: bolder;
    font-size: 14px;
}

header .header-language i {
    width: 12px;
    height: 12px;
    margin-left: 20px;
}

@media screen and (max-width: 830px) {
    .header-language span {
        display: none;
    }

    header .header-language i {
        margin-left: 0;
    }
}

.header-language-wrapper {
    position: relative;
}

.header-language-dropdown {
    display: none;
    position: absolute;
    top: 44px;
    right: 0;
    background-color: #fff;
    border: 1px solid #E2E8F0;
    box-shadow: -20px 20px 40px -4px rgba(145, 158, 171, 0.24);
    padding: 10px 6px;
    width: 230px;
    z-index: 1000;
}

.header-language-wrapper:hover .header-language-dropdown {
    display: block;
}

.language-selector {
    display: flex;
    align-items: center;
    gap: 11px;
    padding: 6px 8px;
    border-radius: 12px;
    margin-bottom: 6px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.language-selector:hover,
.language-selector:has(input:checked) {
    background-color: #EEEEEE;
}

.language-selector label {
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 14px;
    font-weight: bolder;
    width: 100%;
    cursor: pointer;
}

.language-selector input {
    accent-color: #052941;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.header-profile-wrapper {
    position: relative;
    margin-left: 26px;
}

.header-profile-dropdown {
    display: none;
    position: absolute;
    top: 44px;
    right: 0;
    background-color: #fff;
    border: 1px solid #E2E8F0;
    box-shadow: -20px 20px 40px -4px rgba(145, 158, 171, 0.24);
    width: 230px;
    border-radius: 12px;
    flex-direction: column;
    z-index: 1000;
}

.header-profile-wrapper:hover .header-profile-dropdown {
    display: flex;
}

.profile-dropdown-title {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
    color: #052941;
}

.profile-dropdown-title span {
    font-size: 14px;
    font-weight: 500;
    color: #637381;
}

.profile-dropdown-actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
    border-top: 2px dashed #E3E3E3;
    border-bottom: 2px dashed #E3E3E3;
}

.profile-dropdown-actions a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #637381;
    gap: 4px;
}

.profile-dropdown-logout {
    padding: 14px;
}

.profile-dropdown-logout a {
    color: #FF5630;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.header-profile {
    display: flex;
    align-items: center;
    height: 44px;
    gap: 12px;
    border-radius: 100px;
    padding: 4px 14px 4px 2px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.header-profile:hover,
.header-profile-wrapper:hover .header-profile {
    background-color: #EEF2FF;
}

.header-profile .profile-avatar {
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.header-profile .profile-avatar img {
    border-radius: 50%;
}

.header-profile .profile-title {
    font-size: 14px;
    color: #052941;
    font-weight: bolder;
    width: max-content;

}

.header-profile .profile-title span {
    font-size: 12px;
    color: #64748B;
    white-space: nowrap;
}

@media screen and (max-width: 830px) {
    .header-profile .profile-title {
        display: none;
    }
}

main {
    padding: 30px 24px;
}

.quick-actions {
    background-color: #fff;
    border: 1px solid #ECEEF0;
    border-radius: 16px;
    box-shadow: 0 12px 24px -4px rgba(173, 173, 173, 0.12);
}

.quick-actions-header {
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}

.quick-actions:has(.quick-actions-body.open) .quick-actions-header {
    border-bottom: 1px solid #EDEDED;
}

.quick-actions-inner {
    overflow: hidden;
}

.quick-actions-body {
    display: grid;
    grid-template-rows: 0fr;
    transition: all .2s ease-in-out;
}

.quick-actions-body.open {
    grid-template-rows: 1fr;
}

.quick-actions-grid {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px 20px;
}

@media screen and (max-width: 900px) {
    .quick-actions-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 740px) {
    .quick-actions-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .quick-actions-grid {
        grid-template-columns: 1fr;
    }
}

.quick-actions-grid .quick-action,
.quick-actions-grid .hidden-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #646464;
    text-decoration: none;
    padding: 8px 14px;
    border: 1px solid rgba(145, 158, 171, 0.32);
    border-radius: 30px;
    font-size: 16px;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

.quick-actions-grid .quick-action:hover {
    background-color: #EEF2FF;
    color: #052941;
    font-weight: 600;
}

.quick-actions-grid .quick-action i {
    width: 24px;
    height: 24px;
}

.quick-actions-grid .quick-action:hover i.icon-document {
    background-image: url("../icons/hover/document.svg");
}

.quick-actions-grid .quick-action:hover i.icon-ilerleme-takibi {
    background-image: url("../icons/hover/ilerleme-takibi.svg");
}

.quick-actions-grid .quick-action:hover i.icon-giderler {
    background-image: url("../icons/hover/giderler.svg");
}

.quick-actions-grid .quick-action:hover i.icon-gelirler {
    background-image: url("../icons/hover/gelirler.svg");
}

.quick-actions-grid .quick-action:hover i.icon-muhasebe {
    background-image: url("../icons/hover/muhasebe.svg");
}

.quick-actions-grid .quick-action:hover i.icon-satin-alma {
    background-image: url("../icons/hover/satin-alma.svg");
}

.quick-actions-grid .quick-action:hover i.icon-yeni-personel {
    background-image: url("../icons/hover/yeni-personel.svg");
}

.quick-actions-grid .quick-action:hover i.icon-yeni-kullanici {
    background-image: url("../icons/hover/yeni-kullanici.svg");
}

.quick-actions-grid .quick-action:hover i.icon-dosya-yoneticisi {
    background-image: url("../icons/hover/dosya-yoneticisi.svg");
}

.quick-actions-grid .quick-action:hover i.icon-taseronlar {
    background-image: url("../icons/hover/taseronlar.svg");
}

.quick-actions-grid .quick-action:hover i.icon-sozlesmeler {
    background-image: url("../icons/hover/sozlesmeler.svg");
}

.quick-actions-grid .quick-action:hover i.icon-hakedisler {
    background-image: url("../icons/hover/hakedisler.svg");
}

.quick-actions-grid .quick-action:hover i.icon-gorevler {
    background-image: url("../icons/hover/gorevler.svg");
}

.quick-actions-grid .quick-action:hover i.icon-kasa {
    background-image: url("../icons/hover/kasa.svg");
}

.quick-actions-grid .quick-action:hover i.icon-users {
    background-image: url("../icons/hover/users.svg");
}

.quick-actions-grid .quick-action:hover i.icon-puantaj-girisi {
    background-image: url("../icons/hover/puantaj-girisi.svg");
}








.quick-actions-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.quick-actions-toggle i {
    width: 24px;
    height: 24px;
}

.quick-actions-toggle i.icon-arrow-circle-up {
    display: none;
}

.quick-actions:has(.quick-actions-body.open) .quick-actions-toggle i.icon-arrow-circle-up {
    display: block;
}

.quick-actions:has(.quick-actions-body.open) .quick-actions-toggle i.icon-arrow-circle-down {
    display: none;
}

.quick-actions-right {
    display: flex;
    gap: 12px;
}

.quick-actions-add {
    background-color: #fff;
    border: 1px solid #D0D5DD;
    padding-inline: 12px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    opacity: 0;
    transition: all .1s ease-in-out;
    cursor: pointer;
}


.quick-actions:has(.quick-actions-body.open) .quick-actions-add {
    opacity: 1;
}

@media screen and (max-width: 520px) {
    .quick-actions-add {
        display: none;
    }
}

.main-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
    margin-top: 24px;
}

@media screen and (max-width: 1300px) {
    .main-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 830px) {
    .main-cards {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1000px) {
    body {
        padding-left: 80px;
    }
}

.main-cards .profile-card {
    box-shadow: 0 4px 14px 0 rgba(197, 197, 197, 0.25);
    display: flex;
    gap: 14px;
    align-items: center;
    padding: 24px;
    border-radius: 24px;
}

.profile-card .profile-title {
    font-size: 18px;
    font-weight: bold;
    color: #052941;
    display: flex;
    flex-direction: column;
}

.profile-card .profile-title span {
    font-size: 16px;
    font-weight: normal;
}

.profile-card .profile-date {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
    color: #052941;
}

.profile-card .profile-date i {
    width: 24px;
    height: 24px;
}

.profile-avatar,
.profile-avatar img {
    border-radius: 50%;
}

.stats-card {
    box-shadow: 0 4px 14px 0 rgba(197, 197, 197, 0.25);
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: space-between;
    padding: 24px;
    border-radius: 24px;
    position: relative;
}

.stats-card .stats-title {
    text-transform: uppercase;
    font-size: 14px;
    color: #052941;
    font-weight: 500;
}

.stats-card .stats-value {
    font-weight: bold;
    font-size: 32px;
}

.stats-card .stats-rease {
    display: flex;
    align-items: center;
    gap: 8px;
}

.stats-card .stats-rease .stats-rease-icon {
    display: flex;
    align-items: center;
}

.stats-card .stats-img {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 400px) {
    .stats-img {
        display: none;
    }
}

.weather-card {
    box-shadow: 0 4px 14px 0 rgba(197, 197, 197, 0.25);
    display: flex;
    gap: 14px;
    justify-content: space-between;
    padding: 0px 24px 0px 24px;
    border-radius: 24px;
}

.weather-card .weather-location {
    display: flex;
    flex-direction: column;
    color: #052941;
    font-size: 32px;
    font-weight: 600;
    padding-top: 12px;
}

.weather-card .weather-location span {
    font-size: 18px;
    font-weight: normal;
    color: #6C6C6C;
}

.weather-card .weather-content {
    display: flex;
    align-items: center;
    gap: 32px;
}

.weather-card .weather-content>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-size: 26px;
    font-weight: 600;
}
#time-date {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Saat rengi */
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); /* Hafif bir gölge */
    padding: 24px 0px; /* İçerik boşlukları */
    border-radius: 8px; /* Yuvarlak köşeler */
    display: inline-block; /* Blok eleman yapar */
    text-align: left; /* Saatin ortalanması */
}
.weather-temp,
.weather-wind {
    display: flex;
    align-items: center; /* Dikey hizalamayı sağlamak için */
    margin-bottom: 10px;
}

.weather-temp span,
.weather-wind span {
    font-size: 32px;
    font-weight: bold;
}

.weather-temp span {
    font-size: 32px;
}

.weather-temp img {
    width: 70px;
    height: 70px;
    align-self: center; /* İkonun tam ortada hizalanması */
}

.weather-wind span {
    font-size: 20px;
}

.weather-wind img {
    width: 30px;
    height: 30px;
    align-self: center; /* İkonun tam ortada hizalanması */
}

@media screen and (max-width: 410px) {
    .weather-card .weather-content {
        gap: 0;
    }

    .weather-card .weather-content>div {
        font-size: 18px;
    }
}

.register-card {
    box-shadow: 0 4px 14px 0 rgba(197, 197, 197, 0.25);
    display: flex;
    gap: 14px;
    justify-content: space-between;
    padding: 24px;
    border-radius: 24px;
}

.register-card-registers {
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.register-card-registers .register-card-register {
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 2px 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: bold;
}

.register-card-register span {
    margin-left: auto;
    color: #008722;
    font-weight: 500;
}

.register-card-title {
    flex: 1 1 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #052941;
    font-size: 32px;
    font-weight: 700;
}

.register-card-title span {
    font-size: 18px;
    font-weight: normal;
    color: #6C6C6C;
}

.large-cards {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
}

@media screen and (max-width: 1300px) {
    .large-cards {
        grid-template-columns: 1fr;
    }
}

.large-stats-card {
    box-shadow: 0 4px 14px 0 rgba(197, 197, 197, 0.25);
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
    border-radius: 24px;
    position: relative;
}

.large-stats-card .stats-title {
    font-size: 18px;
    color: #052941;
    font-weight: bold;
}

.stats-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats-period-dropdown {
    position: relative;
}

.stats-period {
    background-color: #F6F7F8;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
    padding: 3px 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.stats-period::after {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../icons/dropdown.svg");
}

.stats-period-dropdown .stats-period-content {
    position: absolute;
    top: 24px;
    right: 0;
    background-color: #fff;
    box-shadow: -20px 20px 40px -4px rgba(145, 158, 171, 0.24);
    padding: 12px;
    z-index: 100;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stats-period-dropdown:hover .stats-period-content {
    display: flex;
}

.stats-period-dropdown .stats-period-content a {
    text-decoration: none;
    color: #052941;
    padding: 4px 8px;
    width: 100%;
    border-radius: 6px;
    transition: all .2s ease-in-out;
}

.stats-period-dropdown .stats-period-content a:hover {
    background-color: #F6F7F8;
}

#expenses-by-category {
    margin-top: 30px;
}

#expenses-by-category,
#expenses-by-category>.apexcharts-canvas,
#expenses-by-category>.apexcharts-canvas svg,
#expenses-by-category>.apexcharts-canvas svg foreignObject {
    min-height: 200px !important;
}

#expenses-by-category .apexcharts-legend {
    top: 0 !important;
}

.expenses-by-category {
    padding: 0;
}

.expenses-by-category .stats-header,
.expenses-by-category #expenses-by-category {
    padding: 24px;
}

.stats-footer {
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 2px dashed #E3E3E3;
}

.stats-footer-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #052941;
    padding: 16px;
}

.stats-footer-part span {
    font-size: 14px;
    font-weight: normal;
    color: #6C6C6C;
}

.stats-footer-part:first-child {
    border-right: 2px dashed #E3E3E3;
}

table.dataTable thead>tr>th span.dt-column-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-title:after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../icons/arrow-down.svg");
    margin-top: 1px;
}

table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-title:after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../icons/arrow-up.svg");

}

table.dataTable {
    border-spacing: 0;
}

table.dataTable thead {
    background-color: #F4F6F8;
}

table.dataTable thead tr th {
    padding: 16px;
    font-size: 14px;
    color: #6C6C6C;
}

table.dataTable tbody tr {
    height: 54px;
    text-align: center;
    font-size: 14px;
    color: #052941;
}

table.dataTable tbody tr td {
    border-bottom: 2px dashed #E3E3E3;
}

table.dataTable tbody tr td:has(span.time) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 54px;
}

table.dataTable tbody tr td span.time {
    color: #6C6C6C;
    font-size: 12px;
}

.status-success {
    padding: 2px 6px;
    color: #118D57;
    background-color: #DCF6E5;
    border-radius: 6px;
    font-weight: bold;
    font-size: 12px;
}

.status-pending {
    padding: 2px 6px;
    color: #B76E00;
    background-color: #FFF2D6;
    border-radius: 6px;
    font-weight: bold;
    font-size: 12px;
}

.status-cancel {
    padding: 2px 6px;
    color: #B71D18;
    background-color: #FCE1DB;
    border-radius: 6px;
    font-weight: bold;
    font-size: 12px;
}

.table-card {
    padding: 0;
}

.table-card .stats-header {
    padding: 24px 24px 0 24px;
}

.table-footer {
    padding: 28px 16px;
    display: flex;
}

.table-footer a {
    color: #052941;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    margin-left: auto;
}

@media screen and (max-width: 600px) {
    .table-wrapper {
        max-width: 80vw;
        overflow-x: scroll;
    }
}

.large-cards-main-row {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.large-cards-second-row {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

#gorevler img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    object-fit: cover;
}

.card {
    box-shadow: 0 4px 14px 0 rgba(197, 197, 197, 0.25);
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: space-between;
    padding: 24px;
    border-radius: 24px;
    position: relative;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header .card-title {
    font-size: 18px;
    color: #052941;
    font-weight: bold;
}

.card-header .card-title:has(span) {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.card-header .card-title span {
    font-size: 14px;
    font-weight: 500;
}

.card-header .card-details {
    text-decoration: none;
    color: #052941;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 13px;
    font-weight: bold;
}

.card:has(.building-img) {
    padding-bottom: 0;
}

.building-img {
    width: 100%;
}

.info-card {
    box-shadow: 0 4px 14px 0 rgba(197, 197, 197, 0.25);
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: space-evenly;
    padding: 24px;
    border-radius: 24px;
    position: relative;
}

.info-card-content {
    font-size: 36px;
    font-weight: bold;
    color: #052941;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.info-card-content span {
    font-size: 14px;
    font-weight: normal;
}

.employees {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 12px;
}

.employee {
    display: flex;
    gap: 16px;
    align-items: center;
}

.employee .employee-image img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.employee .employee-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
    font-weight: bold;
    color: #052941;
}

.employee-details span {
    font-weight: normal;
}

.employee .employee-stats {
    display: flex;
    flex-direction: column;
    font-size: 26px;
    font-weight: bold;
    color: #052941;
    text-align: center;
    margin-left: auto;
}

.employee .employee-stats span {
    color: #637381;
    font-weight: normal;
    font-size: 12px;
}

@media screen and (max-width: 410px) {
    .employee {
        gap: 6px;
    }

    .employee .employee-image img {
        width: 32px;
        height: 32px;
    }

    .employee .employee-stats {
        font-size: 20px;
    }

    .employee .employee-stats span {
        font-size: 10px;
    }
}

.card-footer {
    display: flex;
    padding-top: 12px;
    margin-top: 12px;
    border-top: 1px solid #ECEEF0;
}

.card-show-all {
    text-decoration: none;
    color: #052941;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 13px;
    font-weight: bold;
}

.quick-action-modal {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 50000;
    display: none;
    align-items: center;
    justify-content: center;
}

.quick-action-modal.open {
    display: flex;
}

.quick-action-modal .quick-action-modal-content {
    background-color: #fff;
    width: 600px;
    min-width: 300px;
    min-height: 200px;
    border-radius: 12px;
    box-shadow: -20px 20px 40px -4px rgba(145, 158, 171, 0.24);
}

.quick-action-modal .quick-action-modal-content .quick-action-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    border-bottom: 1px solid #E3E3E3;
    color: #052941;
    font-weight: bold;
}

.quick-action-modal-header button {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}