@keyframes opacityAnim {
    0% {opacity: 0; }
    100% {opacity: 1; }
}
.santiye-ekle-form{
    max-width: 768px;
    margin:0 auto;
    padding:20px;
    background-color: #fff;
    border-radius: 20px;
}
html[data-bs-theme="dark"] .santiye-ekle-form{
    background-color: transparent;
}
.santiye-ekle-form .row{
    display: flex;
}
.santiye-ekle-form .row > div{
    margin-bottom:30px;
}
.options{
    max-width: 960px;
    margin:0 auto;
}
.options .row form{
    width: 100%;
}
.options .row form input{
    width: 100%;
}
.bos-sayfa-title{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top:50%;
}
.export{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.export span:nth-child(1){
    font-size: 14px;
    font-weight: 700;
    color:#495057;
    margin-right: 10px;
}
.export span:nth-child(2){
    margin-right: 5px;
    background-color: green;
    color:#fff;
}
.export span:nth-child(3){
    background-color: red;
    color:#fff;
}
.export span.item{
    font-size: 18px;
    padding:5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.filtre{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
#layout-wrapper > div.main-content > div > div > div > div > div > div > div > div:nth-child(2) > div > span > i{
    color:rgb(80,195,230);
}
.taseronlar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
}
.taseronlar .taseron-title{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.taseronlar .taseron-title i{
    color:#495057;
    font-weight: 700;
    font-size: 24px;
    margin-right: 5px;
}
.taseronlar .addBtn{
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid rgb(80,195,230);
}
.taseronlar .addBtn i,
.taseronlar .addBtn a{
    color:rgb(80,195,230);
    font-weight: 500;
}
.taseron-ara{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:15px;
    box-shadow: 0px 0px 5px lightgrey;
}
.taseron-ara .taseron-title{
    display: flex;
    align-items: center;
    padding:10px;
    height: 40px;
}
.taseron-ara .taseron-title i{
    color:#495057;
    font-weight: 700;
    font-size: 18px;
}
.taseron-ara .taseron-title h2{
    font-size: 18px;
}
.taseron-ara .taseron-inputs{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding:10px;
    margin-top:20px;
    margin-bottom:30px;
}
.taseron-ara .taseron-inputs .item{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}
.taseron-ara .taseron-inputs .item label{
    font-size: 14px;
    font-weight: 700;
    color:#495057;
}
.taseron-ara .taseron-inputs input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    outline:0;
    border:1px solid #495057;
    padding-left:10px;
}
.taseron-ara .taseron-btn{
    display: flex;
    width: 100px;
    height: 100%;
    justify-content: flex-end;
}
.taseron-ara .taseron-btn a{
    padding:5px 10px;
    border:1px solid rgb(80,195,230);
    color:rgb(80,195,230);
    border-radius: 5px;
}
.taseron-sayisi .card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:30px;
    padding-bottom:30px;
    text-align: center;
}
.taseron-sayisi .card i{
    font-size: 32px;
}
.taseron-sayisi .card span{
    font-size: 16px;
    color:#495057;
}
.taseron-sayisi .card h4{
    font-size:32px;
}
#customerTable > tbody > tr > td.document > i{
    font-size: 18px;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border:1px solid #495057;
    cursor: pointer;
}
#customerTable > tbody > tr > td.projeler span{
    padding:5px;
    background-color: rgb(40, 72, 254);
    color:#fff;
    cursor: pointer;
    border-radius: 2px;
}
#customerList > div.row.g-4.mb-3 > div > div > .addKasaBtn > button{
    border:none;
    background-color:#13c56b;
    color:#fff;
    padding:5px;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 5px;
}
#customerList > div.row.g-4.mb-3 > div > div > .addKasaBtn > button:hover{
    background-color: #10a75b;
}
#customerList > div.row.g-4.mb-3 > div > div > .virmanBtn > button{
    border:none;
    background-color: #ed5e5e;
    color:#fff;
    padding:5px;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 5px;
}
.dangerZoneContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dangerZoneContainer .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:150px;
    text-align: center;
}
.dangerZoneContainer .wrapper i{
    font-size: 120px;
}
.ilerleme-table{
    width: 100%;
    overflow: hidden;
}
tbody tr td.mission_name{
    width: 300px;
}
tbody tr td.weight{
    min-width: 100px;
    padding-right: 10px;
}
tbody tr td.weight input{
    width: 80px;
    margin-right: 5px;
}
tbody tr td.zemin,
tbody tr td.bodrum{
    min-width: 70px;
    justify-content: start;
}
tbody tr td input[type="checkbox"]{
    width: 18px;
    height: 18px;
}
tbody tr td.kat{
    min-width: 50px;
}
.etiket-selects{
    display: flex;
    align-items: center;
    height: 40px;
}
.etiket-selects label{
    margin-right: 10px;
}
.etiket-selects .choices{
    height: auto;
}
.etiket-selects .choices .choices__inner{
    height: 100%;
}
.filter-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}
.filter-flex button{
    max-width: 200px;
}
/*ISI HARİTASI DÜZENLENDİ*/
div#shades_heatmap{
    width: 100%;
}
div#shades_heatmap .apexcharts-canvas{
    width: 100%;
}
div#shades_heatmap .apexcharts-canvas svg{
    width: 100%;
    display: flex;
}
div#shades_heatmap .apexcharts-canvas svg .apexcharts-yaxis{
    width: 60%;
}
div#shades_heatmap .apexcharts-canvas svg .apexcharts-inner{
    width: 40%;
}

/*Muhasebe Ayarları*/
.ayarCard button{
    width: 100px;
    height: 40px;
    background-color: #f2f2f2;
    border:1px solid lightgrey;
}
.ayarCard .ayarWrapper{
    display: none;
    height: 0px;
}
.ayarCard .ayarWrapper form{
    display: flex;
    flex-direction: column;
    margin-top:10px;
}
.ayarCard .ayarWrapper form .input-item{
    display: flex;
    flex-direction: column;
    margin-top:10px;
}
.ayarCard .ayarWrapper form .input-item label{
    font-size: 16px;
    font-weight: 600;
}
.ayarCard .ayarWrapper form .input-item input{
    width: 100%;
    height: 30px;
    border:1px solid lightgrey;
    padding-left:10px;
}
.ayarCard .ayarWrapper form .input-item input:focus{
    outline: none;
}
.pickr{
    width: 100%;
    height: 30px;
}
.pickr button.pcr-button{
    width: 100%!important;
    height: 100%!important;
    border-radius:0!important;
}
.pickr button.pcr-button::before{
    border-radius:0!important;
}
.pickr button.pcr-button::after{
    border-radius:0!important;
}
.pickr .pcr-button{
    border-radius: 0!important;
}
.ayarCard .ayarWrapper form .buttons{
    margin-top:10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
}
.ayarCard .ayarWrapper form .buttons input:nth-child(1){
    border:none;
    background-color: light grey;
    padding:5px;
    margin-right: 15px;
    color:grey;
    border:1px solid grey;
}
.ayarCard .ayarWrapper form .buttons input:nth-child(2){
    border:none;
    background-color: green;
    padding:5px;
    margin-right: 15px;
    color:#fff;
    border:1px solid grey;
}

/*Gelirler Sayfası*/
.row.g-3.gelirler-filtre{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#invoice-list-data > tr > td.paid span{
    padding:5px 10px;
    background-color: #10a75b;
    color:#fff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 300;
}
#invoice-list-data > tr > td.cancel span{
    padding:5px 10px;
    background-color: grey;
    color:#fff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 300;
}
#invoice-list-data > tr > td.unpaid span{
    padding:5px 10px;
    background-color: red;
    color:#fff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 300;
}
#invoice-list-data > tr > td.paidinparts span{
    padding:5px 10px;
    background-color: orange;
    color:#fff;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 300;
}
#invoice-list-data > tr{
    cursor:pointer;
}
#invoice-list-data > tr:nth-of-type(odd){
    background-color: #f2f2f2;
}
#invoice-list-data > tr:nth-of-type(even){
    background-color: #fff;
}
#invoice-list-data > tr:hover{
    background-color: #AAD7D9;
    width: 100%;
    height: 30px;
}
#invoiceList > div:nth-child(3) > div:nth-child(1) > div.d-flex.justify-content-end.mt-3 > div > ul.custom-pagination{
    display: flex;
    align-items: center;
}
#invoiceList > div:nth-child(3) > div:nth-child(1) > div.d-flex.justify-content-end.mt-3 > div > ul.custom-pagination li{
    width: 28px;
    height: 28px;
    border:1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#invoiceList > div:nth-child(3) > div:nth-child(1) > div.d-flex.justify-content-end.mt-3 > div > ul.custom-pagination li.active{
    border:1px solid #0B60B0;
    color:#0B60B0;
}
.invoice-detail-modal{
    position:fixed;
    width: 100%;
    height: 100vh;
    z-index: 5000;
    top:0;
    left:0;
    background-color: #00000050;
    display: none;
    align-items: center;
    justify-content: center;
}
.invoice-detail-modal .wrapper{
    background-color: #fff;
    padding:20px;
    display: flex;
    flex-direction: column;
    width:960px;
    border-radius: 15px;
}
.invoice-detail-modal .wrapper .modal-head{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
}
.invoice-detail-modal .wrapper .modal-head .invoice-title a{
    font-size: 16px;
    cursor:pointer;
    font-weight: 500;
}
.invoice-detail-modal .wrapper .modal-head .invoice-title a:hover{
    color: #0B60B0;
}
.invoice-detail-modal .wrapper .modal-head .invoice-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.invoice-detail-modal .wrapper .modal-head .invoice-icons .icon-item{
    margin-right: 10px;
}
.invoice-detail-modal .wrapper .modal-head .invoice-icons .icon-item.print-icon{
    padding-right: 10px;
    border-right:3px solid lightgrey;
}
.invoice-detail-modal .wrapper .modal-head .invoice-icons .icon-item.close-icon span{
    color:grey;
    font-size: 30px;
}
.invoice-detail-modal .wrapper .modal-head .invoice-icons .icon-item.print-icon span:hover,
.invoice-detail-modal .wrapper .modal-head .invoice-icons .icon-item.edit-icon span:hover{
    color:#0B60B0;
}
.invoice-detail-modal .wrapper .modal-head .invoice-icons .icon-item.close-icon span:hover{
    color:#4d4d4d;
}
.invoice-detail-modal .wrapper .modal-head .invoice-icons .icon-item.cancel-icon span:hover{
    color:red;
}
.invoice-detail-modal .wrapper .modal-head .invoice-icons .icon-item span{
    font-size: 24px;
    color:lightgrey;
    cursor:pointer;
}
.invoice-detail-modal .wrapper .modal-body{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.invoice-detail-modal .wrapper .modal-body .top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:10px;
}
.invoice-detail-modal .wrapper .modal-body .top .title h4{
    font-size: 14px;
}
.invoice-detail-modal .wrapper .modal-body .top .category span{
    font-size: 14px;
    color:#4d4d4d;
    font-weight: 500;
}
.invoice-detail-modal .wrapper .modal-body .fatura-info{
    display: flex;
    justify-content: space-between;
    padding:5px;
    border-radius: 5px;
    border:1px solid #f2f2f2;
}
.invoice-detail-modal .wrapper .modal-body .fatura-info .info-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.invoice-detail-modal .wrapper .modal-body .fatura-info .info-item .title h5{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color:grey;
}
.invoice-detail-modal .wrapper .modal-body .fatura-info .info-item .value{
    font-size: 14px;
    font-weight: 500;
}
.invoice-detail-modal .wrapper .modal-body .fatura-info .info-item:nth-child(3) .value,
.invoice-detail-modal .wrapper .modal-body .fatura-info .info-item:nth-child(4) .value{
    align-self: flex-end;
}
.invoice-detail-modal .wrapper .modal-body .fature-desc{
    padding:5px;
    border:1px solid #f2f2f2;
}
.invoice-detail-modal .wrapper .modal-body .fature-desc .title h5{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color:grey;
}
.invoice-detail-modal .wrapper .modal-body .fature-desc .value{
    font-size: 14px;
    font-weight: 500;
}
.invoice-detail-modal .wrapper .modal-body > .title{
    width: 100%;
    padding:10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border:1px solid #f2f2f2;
    background-color:#dcebf2c4;
}
.invoice-detail-modal .wrapper .modal-body .title h5{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color:grey;
}
.invoice-detail-modal .wrapper .modal-body .satis-table{
    width: 100%;
}
.invoice-detail-modal .wrapper .modal-body .satis-table .table-titles{
    display: flex;
    width: 100%;
    padding:5px;
    border:1px solid #f2f2f2;
    background-color: #dcebf2c4;
}
.invoice-detail-modal .wrapper .modal-body .satis-table .table-titles h5{
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color:grey;
}
.invoice-detail-modal .wrapper .modal-body .satis-table .table-item{
    display: flex;
    width: 100%;
    padding:5px;
    border:1px solid #f2f2f2;
}
.invoice-detail-modal .wrapper .modal-body .satis-table .table-item div{
    width: 100%;
}
.invoice-detail-modal .wrapper .modal-body .satis-table .table-total{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.invoice-detail-modal .wrapper .modal-body .satis-table .table-total div{
    width: 25%;
}
.invoice-detail-modal .wrapper .modal-body .eklenen-kasa .eklenen-item{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:5px;
    border:1px solid #f2f2f2;
}
.invoice-detail-modal .wrapper .modal-body .eklenen-kasa .eklenen-item .tarih{
    padding:5px;
    font-size: 14px;
    font-weight:400;
    width: 25%;
}
.invoice-detail-modal .wrapper .modal-body .eklenen-kasa .eklenen-item .makbuz{
    padding:5px;
    font-size: 14px;
    font-weight:500;
    width: 20%;
    display: flex;
    align-items: center;
}
.invoice-detail-modal .wrapper .modal-body .eklenen-kasa .eklenen-item .makbuz span.mdi{
    font-size: 20px;
    margin-right:5px;
    cursor:pointer;
}
.invoice-detail-modal .wrapper .modal-body .eklenen-kasa .eklenen-item .fiyat span{
    font-size: 18px;
}
.invoice-detail-modal .wrapper .modal-body .kalan{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.invoice-detail-modal .wrapper .modal-body .kalan .wrapper{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.invoice-detail-modal .wrapper .modal-body .kalan .wrapper .ekle{
    display: flex;
    align-items: center;
}
.invoice-detail-modal .wrapper .modal-body .kalan .wrapper .ekle span.mdi{
    font-size:32px;
    margin-right: 10px;
    cursor:pointer;
}
.invoice-detail-modal .wrapper .modal-body .kalan .wrapper .price span{
    font-size: 26px;
}
.invoice-detail-modal .wrapper .modal-body .tahsilatEkle{
    position:absolute;
    bottom:0;
    right:0;
    z-index: 6;
    background-color: #fff;
    width: 350px;
    border-radius: 5px;
    border:1px solid lightgrey;
    padding:10px;
    display: none;
}
.invoice-detail-modal .wrapper .modal-body .tahsilatEkle form{
    display: flex;
    flex-direction: column;
    padding:10px;
    border:1px solid lightgrey;
    border-radius: 5px;
}
.invoice-detail-modal .wrapper .modal-body .tahsilatEkle form .input-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-bottom:5px;
    position: relative;
}
.invoice-detail-modal .wrapper .modal-body .tahsilatEkle form .input-item label{
    margin:0;
    font-size: 14px;
    font-weight: 400;
}
.invoice-detail-modal .wrapper .modal-body .tahsilatEkle form .input-item select{
    width: 70%;
    height: 40px;
    padding-left:10px;
    font-size: 16px;
    font-weight: 500;
    color:#495057;
}
.invoice-detail-modal .wrapper .modal-body .tahsilatEkle form .input-item input{
    width: 70%;
    height: 40px;
    padding-left:10px;
    font-size: 16px;
    font-weight: 500;
    color:#495057;
}
.invoice-detail-modal .wrapper .modal-body .tahsilatEkle form .input-item select option{
    font-size: 16px;
    font-weight: 500;
    color:#495057;
    width: 100%;
    height: 40px;
    padding:5px;
}
.invoice-detail-modal .wrapper .modal-body .tahsilatEkle form .input-item select option[disabled]{
    background-color: lightgrey;
    padding:5px;
}
.invoice-detail-modal .wrapper .modal-body .tahsilatEkle form .input-item span.mdi{
    position:absolute;
    color:#495057;
    font-size: 18px;
    top:50%;
    right:10px;
    transform:translate(0%, -50%)
}
.invoice-detail-modal .wrapper .modal-body .tahsilatEkle form .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:20px;
    align-items: center;
}
.invoice-detail-modal .wrapper .modal-body .tahsilatEkle form .buttons span{
    font-size: 16px;
    color:#495057;
    cursor:pointer;
    font-weight: 600;
}
.invoice-detail-modal .wrapper .modal-body .tahsilatEkle form .buttons span:hover{
    color:#0B60B0;
}
.invoice-detail-modal .wrapper .modal-body .tahsilatEkle form .buttons input{
    font-size: 14px;
    width: 70%;
    height: 40px;
    border:none;
    background-color: #0B60B0;
    color:#fff;
}
.delete-fatura-modal{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, .4);
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    z-index: 999
}
.delete-fatura-modal .wrapper{
    padding:20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    border-radius: 10px;
}
.delete-fatura-modal .wrapper .title{
    margin-bottom:20px;
}
.delete-fatura-modal .wrapper .title h4{
    font-size: 24px;
    font-weight:700;
}
.delete-fatura-modal .wrapper .uyari{
    margin-bottom:20px;
    display: flex;
    align-items: center;
}
.delete-fatura-modal .wrapper .uyari span.mdi{
    color:red;
    font-size: 32px;
    margin-right:10px;
    animation-name: opacityAnim;
    animation-duration: 1s;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.delete-fatura-modal .wrapper .uyari span{
    font-size: 14px;
    font-weight: 400;
    color:red;
}
.delete-fatura-modal .wrapper .buttons{
    display: flex;
    align-items: center;
}
.delete-fatura-modal .wrapper .buttons span{
    font-size: 16px;
    color:#495057;
    font-weight: 700;
    margin-right: 20px;
    cursor: pointer;
}
.delete-fatura-modal .wrapper .buttons span:hover{
    color: #0B60B0;
}
.delete-fatura-modal .wrapper .buttons input{
    border:none;
    background-color: red;
    color:#fff;
    font-size: 16px;
    padding:5px 10px;
    border-radius: 5px;
}
.delete-fatura-modal .wrapper .buttons input:hover{
    opacity: .8;
}
.delete-makbuz-modal{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0, .4);
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    z-index: 999
}
.delete-makbuz-modal .wrapper{
    padding:20px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    border-radius: 10px;
}
.delete-makbuz-modal .wrapper .title{
    margin-bottom:20px;
}
.delete-makbuz-modal .wrapper .title h4{
    font-size: 24px;
    font-weight:700;
}
.delete-makbuz-modal .wrapper .uyari{
    margin-bottom:20px;
    display: flex;
    align-items: center;
}
.delete-makbuz-modal .wrapper .uyari span.mdi{
    color:red;
    font-size: 32px;
    margin-right:10px;
    animation-name: opacityAnim;
    animation-duration: 1s;
    animation-fill-mode:both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.delete-makbuz-modal .wrapper .uyari span{
    font-size: 14px;
    font-weight: 400;
    color:red;
}
.delete-makbuz-modal .wrapper .buttons{
    display: flex;
    align-items: center;
}
.delete-makbuz-modal .wrapper .buttons span{
    font-size: 16px;
    color:#495057;
    font-weight: 700;
    margin-right: 20px;
    cursor: pointer;
}
.delete-makbuz-modal .wrapper .buttons span:hover{
    color: #0B60B0;
}
.delete-makbuz-modal .wrapper .buttons input{
    border:none;
    background-color: red;
    color:#fff;
    font-size: 16px;
    padding:5px 10px;
    border-radius: 5px;
}
.delete-makbuz-modal .wrapper .buttons input:hover{
    opacity: .8;
}
/*Tahsilat Makbuzu Modal*/
.tahsilat-makbuzu-modal{
    position:fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    z-index: 999;
    top:0;
    left:0;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.tahsilat-makbuzu-modal .wrapper{
    padding:20px;
    width: 600px;
    height:auto;
    background-color:#fff;
    border-radius: 20px;
}
.tahsilat-makbuzu-modal .wrapper .modal-head{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
}
.tahsilat-makbuzu-modal .wrapper .modal-head .invoice-title h2{
    font-size: 20px;
    font-weight: 700;
}
.tahsilat-makbuzu-modal .wrapper .modal-head .invoice-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tahsilat-makbuzu-modal .wrapper .modal-head .invoice-icons .icon-item{
    margin-right: 10px;
}
.tahsilat-makbuzu-modal .wrapper .modal-head .invoice-icons .icon-item.print-icon{
    padding-right: 10px;
    border-right:3px solid lightgrey;
}
.tahsilat-makbuzu-modal .wrapper .modal-head .invoice-icons .icon-item.close-icon span{
    color:grey;
    font-size: 30px;
}
.tahsilat-makbuzu-modal .wrapper .modal-head .invoice-icons .icon-item.print-icon span:hover, .tahsilat-makbuzu-modal .wrapper .modal-head .invoice-icons .icon-item.edit-icon span:hover{
    color:#0B60B0;
}
.invoice-detail-modal .wrapper .modal-head .invoice-icons .icon-item.close-icon span:hover{
    color:#4d4d4d;
}
.tahsilat-makbuzu-modal .wrapper .modal-head .invoice-icons .icon-item.cancel-icon span:hover{
    color:red;
}
.tahsilat-makbuzu-modal .wrapper .modal-head .invoice-icons .icon-item span{
    font-size: 24px;
    color:lightgrey;
    cursor:pointer;
}
.tahsilat-makbuzu-modal .wrapper .modal-body{
    border:1px solid lightgrey;
    border-radius: 10px;
}
.tahsilat-makbuzu-modal .wrapper .modal-body .hesap{
    width: 100%;
    padding:5px;
    border-bottom:1px solid lightgrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
}
.tahsilat-makbuzu-modal .wrapper .modal-body h2{
    font-size: 12px;
    font-weight: 500;
    color:grey;
    margin:0;
}
.tahsilat-makbuzu-modal .wrapper .modal-body span{
    margin:0;
    font-size: 12px;
    font-weight: 500;
    color:#4d4d4d;
}
.tahsilat-makbuzu-modal .wrapper .modal-body span a{
    font-size: 12px;
    font-weight: 700;
    color:#4d4d4d;
}
.tahsilat-makbuzu-modal .wrapper .modal-body span a:hover{
    color:#0B60B0;
}
.tahsilat-makbuzu-modal .wrapper .modal-body .odeme-tarihi{
    width: 100%;
    padding:5px;
    border-bottom:1px solid lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tahsilat-makbuzu-modal .wrapper .modal-body .islem-tarihi{
    width: 100%;
    padding:5px;
    border-bottom:1px solid lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tahsilat-makbuzu-modal .wrapper .modal-body .right{
    text-align: right;
}
.tahsilat-makbuzu-modal .wrapper .modal-body .tutar{
    width: 100%;
    padding:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    border-bottom:1px solid lightgrey;
}
.tahsilat-makbuzu-modal .wrapper .modal-body .kalan{
    width: 100%;
    padding:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.tahsilat-makbuzu-modal .wrapper .modal-body .kalan span{
    margin-left:100px;
}
.tahsilat-makbuzu-modal .wrapper .modal-body .tutar span{
    margin-left:100px;
}
.tahsilat-makbuzu-modal .wrapper .modal-body .fatura-table{
    width: 100%;
    display: flex;
    border-bottom:1px solid lightgrey;
    flex-direction: column;
}
.tahsilat-makbuzu-modal .wrapper .modal-body .fatura-table .table-head{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
    border-bottom:1px solid lightgrey;
    background-color: #f2f2f2;
}
.tahsilat-makbuzu-modal .wrapper .modal-body .fatura-table .item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.tahsilat-makbuzu-modal .wrapper .modal-body .fatura-table .item:first-child{
    justify-content: flex-start;
}
.tahsilat-makbuzu-modal .wrapper .modal-body .fatura-table .item h2{
    font-size: 12px;
    font-weight: 700;
    color:#495057;
}
.tahsilat-makbuzu-modal .wrapper .modal-body .fatura-table .table-body{
    width: 100%;
}
.tahsilat-makbuzu-modal .wrapper .modal-body .fatura-table .table-body .fatura-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding:10px;
    border-bottom:1px solid lightgrey;
}
.tahsilat-makbuzu-modal .wrapper .modal-body .fatura-table .table-body .fatura-item:hover{
    background-color: rgb(210, 235, 252);
}
.tahsilat-makbuzu-modal .wrapper .modal-body .fatura-table .table-body .fatura-item .item{
    width: 100%;
}
/*Satış Ekle Sayfası*/
#satis-ekle{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#satis-ekle .card{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:0;
}
#satis-ekle .card .card-head{
    border-bottom:1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
}
#satis-ekle .card .card-head .title h2{
    font-size: 18px;
    font-weight: 500;
    color:#4d4d4d;
    margin:0;
}
#satis-ekle .card .card-head .buttons{
    display: flex;
}
#satis-ekle .card .card-head .buttons a.vazgec{
    font-size: 16px;
    font-weight: 700;
    color:#4d4d4d;
    background-color: #EEF5FF;
    padding:5px 40px;
    border-radius: 5px;
    margin-right: 10px;
}
#satis-ekle .card .card-head .buttons .kaydet{
    font-size: 16px;
    font-weight: 700;
    color:#fff;
    background-color: #99BC85;
    padding:5px 40px;
    border-radius: 5px;
    margin-right: 10px;
    border:none;
}
#satis-ekle .card .card-body{
    width:100%;
}
#satis-ekle .card .card-body form{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#satis-ekle .card .card-body form .input-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:5px;
}
#satis-ekle .card .card-body form .input-item input{
    width:100%;
    height: 40px;
    padding-left:10px;
    border:2px solid #BFCFE7;
    outline: none;
    color:#495057;
    font-weight: 500;
}
#satis-ekle .card .card-body form .input-item select{
    width:100%;
    height: 40px;
    padding-left:10px;
    border:2px solid #BFCFE7;
    outline: none;
    color:#495057;
    font-weight: 500;
}
#satis-ekle .card .card-body form .input-item input:hover,
#satis-ekle .card .card-body form .input-item input:focus{
    border:2px solid #495057;
}
#satis-ekle .card .card-body form .input-item.musteri-input{
    width: 50%;
}
#satis-ekle .card .card-body form .input-item.duzenleme-vade-tarihi{
    width: 25%;
}
#satis-ekle .card .card-body form .input-item.kategori{
    width: 25%;
}
#satis-ekle .card .card-body form .input-item.aciklama{
    width:55%;
}
#satis-ekle .card .card-body form .input-item.doviz{
    width:15%;
}
#satis-ekle .card .card-body form .input-item.etiket{
    width: 15%;
}
#satis-ekle .card .card-body form .input-item.hizmet-urun-adi{
    width: 50%;
}
.choices{
    width: 100%;
    height: 40px;
}
.choices__inner{
    padding:0;
    border:2px solid #BFCFE7;
    height: 40px;
}
#satis-ekle .card .card-body form .input-item.etiket input{
    border:none;
}
#satis-ekle .card .card-body form .input-item.fatura{
    width: 15%;
}
#satis-ekle .card .card-body form .input-item.aciklama input{
    cursor:none;
}
#satis-ekle .card .fatura-tablosu-basliklar{
    width: 100%;
    height: 40px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color:#f2f2f2;
    padding-left:20px;
    padding-right: 20px;
}
#satis-ekle .card .fatura-tablosu-basliklar h2{
    font-size: 14px;
    margin:0;
    color:#495057;
}
#satis-ekle .card .card-body form .table-item{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    color:grey;
    margin-bottom:10px;
}
#satis-ekle .card .fatura-tablosu-basliklar h2.urun{
    width:55%;
}
#satis-ekle .card .fatura-tablosu-basliklar h2.miktar{
    width:10%;
}
#satis-ekle .card .fatura-tablosu-basliklar h2.bfiyat{
    width:10%;
}
#satis-ekle .card .fatura-tablosu-basliklar h2.toplam{
    width:20%;
    text-align: right;
}
#satis-ekle .card .card-body form .table-item input{
    padding-left:10px;
    border:1px solid #BFCFE7;
    outline: none;
    font-weight: 500;
    height: 30px;
    width: 100%;
    color:grey;
}
#satis-ekle .card .card-body form .table-item .urun{
    padding-right:10px;
    width:55%;
}

#satis-ekle .card .card-body form .table-item .miktar{
    padding-right: 10px;
    width: 10%;
}
#satis-ekle .card .card-body form .table-item .bfiyat{
    width: 10%;
    position:relative;
    padding-right: 10px;
}
#satis-ekle .card .card-body form .table-item .aciklama{
    width:55%;
    padding-right: 10px;
    padding-top:5px;
    display:flex;
    align-items: center;
}
#satis-ekle .card .card-body form .table-item .aciklama span{
    font-size: 24px;
    cursor:pointer;
}
#satis-ekle .card .card-body form .table-item .aciklama span:hover{
    color:red;
}
#satis-ekle .card .card-body form .table-item .indirim{
    width:35%;
    padding-right: 10px;
    padding-top:5px;
    display:flex;
    align-items: center;
}
#satis-ekle .card .card-body form .table-item .indirim span{
    font-size: 24px;
    cursor:pointer;
}
#satis-ekle .card .card-body form .table-item .indirim span:hover{
    color:red;
}
#satis-ekle .card .card-body form .table-item .bfiyat span,
#satis-ekle .card .card-body form .table-item .toplam span{
    position:absolute;
    right:20px;
    top:50%;
    transform:translate(0%, -50%);
    font-size: 18px;
    color:grey;
}
#satis-ekle .card .card-body form .table-item .toplam{
    width: 20%;
    position: relative;
}
#satis-ekle .card .card-body form .table-item .icons{
    width:5%;
    padding-left: 5px;
    position:relative;
    display: flex;
}
#satis-ekle .card .card-body form .table-item .icons span.closeBtn{
    color: #fff;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    background-color: red;
    display: none;
}
#satis-ekle .card .card-body form .table-item .icons .specs{
    position:absolute;
    top:30px;
    right:0;
    min-width: 150px;
    background-color: #fff;
    border:1px solid #f2f2f2;
    padding:10px;
    list-style-type: none;
    height: 0;
    display: none;
    overflow: hidden;
    z-index: 999
}
#satis-ekle .card .card-body form .table-item .icons .specs.active{
    height: auto;
    display: block;
}
#satis-ekle .card .card-body form .table-item .icons .specs li{
    cursor: pointer;
    padding:5px;
    font-weight: 500;
    font-size: 12px;
}
#satis-ekle .card .card-body form .table-item .icons .specs li:hover{
    background-color: #AAD7D9;
    color:#fff;
    border-radius: 5px;
}
#satis-ekle .card .card-body form .table-item .icons span{
    width: 30px;
    height: 30px;
    font-size: 24px;
    background-color: #0B60B0;
    color:#fff;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#satis-ekle .card .addNewItem{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #f2f2f2;
    padding-right: 20px;
}
#satis-ekle .card .addNewItem span{
    padding:5px 10px;
    background-color: grey;
    color:#fff;
    font-size: 12px;
    margin:0;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
}
#satis-ekle .hesaplar{
    width:400px;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}
#satis-ekle .hesaplar .price-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px;
    margin-bottom:10px;
    border-bottom:2px solid #AAD7D9;
    cursor: pointer;
}
#satis-ekle .hesaplar .price-item:hover{
    border-bottom:2px solid #495057;
}
#satis-ekle .hesaplar .price-item h2{
    font-size: 20px;
    margin:0;
    margin-right: 20px;
}
#satis-ekle .hesaplar .price-item span{
    font-size: 18px;

}