{% extends "homebase.html" %}
{% load i18n %}
{% block sidebar %}
{% load static %}
<form autocomplete="off"class="tablelist-form"  method="post" enctype="multipart/form-data">
    {% csrf_token %}
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
<!--Multi Select Date Picker Calender-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="{% static 'assets/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css">
    <!-- custom Css-->
    <link href="{% static 'assets/css/custom.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css">
    <!--Multi Select Date Picker Calender-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

        <div class="page-content options">
            <div class="container-fluid">
                <div class="row">
                    

                    <div  class="col-sm-12" >
                        <label>{% trans 'Fatura Logosu' %}</label>
                        <input type="file" accept="image/*" class="form-control" id="inputGroupFile03" name="dark_logo"
                            aria-describedby="inputGroupFileAddon03" aria-label="Upload">
                    </div>
                    
                    {% if faturalar_bilgisi != "0" %}
                    <div  class="col-sm-12" >
                        <label>{% trans 'Şirket Adresi' %}</label>
                        <input type="text" value="{{faturalar_bilgisi.adress}}" class="form-control" id="inputGroupFile03" maxlength="200" name="adres">
                    </div>
                    <div  class="col-sm-12" >
                        <label>{% trans 'Email Adresi' %}</label>
                        <input type="text" value="{{faturalar_bilgisi.email}}" class="form-control" id="inputGroupFile03" name="emailadresi">
                    </div>
                    <div  class="col-sm-12" >
                        <label>{% trans 'Telefon' %}</label>
                        <input type="text" value="{{faturalar_bilgisi.telefon}}" class="form-control" id="inputGroupFile03" name="telefonadresi">
                    </div>
                    <div  class="col-sm-12" >
                        <label>{% trans 'Günlük Çalışma Saati' %}</label>
                        <input value="{{faturalar_bilgisi.gunluk_calisma_saati | stringformat:'.2F'}}" step="0.00" type="text" class="form-control" id="gunluk_calisma_saati" name="gunluk_calisma_saati">
                    </div>
                    {% else %}
                    <div  class="col-sm-12" >
                        <label>{% trans 'Şirket Adresi' %}</label>
                        <input type="text" class="form-control" id="inputGroupFile03" maxlength="200" name="adres">
                    </div>
                    <div  class="col-sm-12" >
                        <label>{% trans 'Email Adresi' %}</label>
                        <input type="text" class="form-control" id="inputGroupFile03" name="emailadresi">
                    </div>
                    <div  class="col-sm-12" >
                        <label>{% trans 'Telefon' %}</label>
                        <input type="text" class="form-control" id="inputGroupFile03" name="telefonadresi">
                    </div>
                    <div  class="col-sm-12" >
                        <label>{% trans 'Günlük Çalışma Saati' %}</label>
                        <input value="9" type="text" class="form-control" id="gunluk_calisma_saati" name="gunluk_calisma_saati">
                    </div>
                    {% endif %}
                    
                    <div  class="col-sm-12 mb-5 ">
                        {% if fatura_icerigi == "0" %}
                        <label>{% trans 'Fatura Gider Etiketi' %}</label>
                        <input type="text" class="form-control" id="inputGroupFile03" name="gideretiketi" value="E">
                        <label>{% trans 'Fatura Gelir Etiketi' %}</label>
                        <input type="text" class="form-control" id="inputGroupFile03" name="gelir_etiketi" value="I">
                        {% else %}
                        <label>{% trans 'Fatura Gider Etiketi' %}</label>
                        <input type="text" class="form-control" id="inputGroupFile03" name="gideretiketi" value="{{fatura_icerigi.gider_etiketi}}">
                        <label>{% trans 'Fatura Gelir Etiketi' %}</label>
                        <input type="text" class="form-control" id="inputGroupFile03" name="gelir_etiketi" value="{{fatura_icerigi.gelir_etiketi}}">
                        {% endif %}
                        
                    </div>
                    <input type="submit" class="btn btn-success waves-effect waves-light" value="{% trans 'Kaydet' %}">

                </div>
            </div>
       
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <script>document.write(new Date().getFullYear())</script> © {{site_adi.footer}}
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end d-none d-sm-block">

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</form>
{% endblock sidebar %}