.santiye-ekle-form{
    max-width: 768px;
    margin:0 auto;
    padding:20px;
    background-color: #fff;
    border-radius: 20px;
}
.santiye-ekle-form .row{
    display: flex;
}
.santiye-ekle-form .row > div{
    margin-bottom:30px;
}
.options{
    max-width: 960px;
    margin:0 auto;
}
.options .row form{
    width: 100%;
}
.options .row form input{
    width: 100%;
}
.bos-sayfa-title{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top:50%;
}
.export{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.export span:nth-child(1){
    font-size: 14px;
    font-weight: 700;
    color:#495057;
    margin-right: 10px;
}
.export span:nth-child(2){
    margin-right: 5px;
    background-color: green;
    color:#fff;
}
.export span:nth-child(3){
    background-color: red;
    color:#fff;
}
.export span.item{
    font-size: 18px;
    padding:5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.filtre{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}
.giderler-table{
    width: 100%;
    padding: 20px;
    overflow: scroll;
    display: flex;
    position: relative;
}
.giderler-table table{
    min-width: 1280px;
}
.giderler-table table thead{
    width: 100%;
}
.giderler-table table thead tr{
    width: 100%;
}
.giderler-table table thead tr th{
    padding-bottom:10px;
    border-bottom:1px solid #495057;
}
.giderler-table table tbody{
    width: 100%;
}
.giderler-table table tbody tr td{
    margin-bottom:10px;
    padding-bottom:10px;
}
.giderler-table table tbody tr td:first-child{
    font-weight: 700;
}
#layout-wrapper > div.main-content > div > div > div > div > div > div > div > div:nth-child(2) > div > span > i{
    color:rgb(80,195,230);
}