@media print {
  body {
    margin: 0;
    padding: 0;
    zoom: 80%; /* Sayfaya sığmıyorsa küçültmek için */
  }

  .ganttLines, .ganttTable, .ganttGrid {
    max-width: 100% !important;
    width: 100% !important;
    overflow: visible !important;
  }

  .ganttTable {
    table-layout: fixed !important;
    word-wrap: break-word !important;
  }

  .ganttTask {
    max-width: 100% !important;
  }

  .ganttTaskBox {
    max-width: 100% !important;
    white-space: normal !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
  }

  .splitBox2 {
    page-break-before: always !important;
    max-width: 100% !important;
  }

  .gdfTable {
    width: auto !important;
    max-width: 100% !important;
  }
}
