{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block head %}
    {% include "muhasebe_page/muhasebe_ayarlari/gelir_gider_kategorileri/javascript/gider_javascript.html" %}
{% endblock head %}

{% block sidebar %}
{% if hash_bilgi %}
{% include "muhasebe_page/muhasebe_ayarlari/gelir_gider_kategorileri/admin/gider_kategorisi.html" %}
{% else %}
{% include "muhasebe_page/muhasebe_ayarlari/gelir_gider_kategorileri/gelir_gider_kategorileri/gider_kategorisi.html" %}
{% endif %}
{% endblock sidebar %}
