{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'content/style/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/r-3.0.3/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
{% endblock head %}

{% block sidebar %}
<main>
    <div class="page-header">
        <div class="page-info">
            <div class="page-title">
                <a href="#" onclick="history.back(); return false;"><i class="icon icon-arrow-circle-left"></i></a>
                {% trans 'Bordro' %}
            </div>
            <ul class="page-breadcrumb">
                <li><a href="/{{dil}}/">{% trans 'Dashboard' %}</a></li>
                <li><a href="#">{% trans 'Muhasebe' %}</a></li>
                <li><a href="#">{% trans 'Bordro' %}</a></li>
            </ul>
        </div>
    </div>

    <div class="large-stats-card table-card table-detail-card">
        <div class="stats-header">{% bodro_cek personel.id istenen_tarih_araligi as bilgi %}
            <div class="stats-title">{% trans "Personel : " %}{{personel.isim}} {{personel.soyisim}} {% trans "Tarih : " %} {{istenen_tarih_araligi}} {% trans "Toplam Tutar : " %} {{bilgi.odenecek_tutar}}</div>
            <div class="stats-search">
                <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                <button><i class="icon icon-search"></i></button>
            </div>
        </div>

        <div class="table-wrapper">
            <table id="datatable">
                <thead>
                    <tr>
                    <th >{% trans 'Ay' %}</th>
                    <th >{% trans 'Ödeme Tarihi' %}</th>
                    <th >{% trans 'Ödeme Türü' %}</th>
                    <th>{% trans 'Ödeme Miktarı' %}</th>
                    <th>{% trans 'Kur' %}</th>
                    <th>{% trans 'Açıklama' %}</th>

                    </tr>
                </thead>
                <tbody>
                
                    {% for i in bilgi.odemeler %}
                        <tr style="{% if request.user.is_superuser and i.silinme_bilgisi %}background-color: grey;color: white;{% endif %}">
                            <td>{{ i.tarihi |date:'d.m.Y' }} </td>
                            <td>{{ i.kayit_tarihi |date:'d.m.Y' }} </td>
                            <td>{% if i.odeme_turu %}
                                {% trans 'Avans' %}
                            {% else %}
                            {% trans 'Maaş' %}
                            {% endif %} </td>
                            <td>{% fiyat_duzelt_html i.tutar %}</td>
                            <td>{% fiyat_duzelt_html i.kur %}</td>
                            <td>{{i.aciklama}}</td>

                        </tr>
             {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="large-stats-card-footer-actions">
            <a onclick="$('.buttons-pdf').click()" class="lsc-footer-action"><i class="icon icon-pdf"></i></a>
            <a onclick="$('.buttons-excel').click()" class="lsc-footer-action"><i class="icon icon-xlsx"></i></a>
            <a onclick="$('.buttons-print').click()" class="lsc-footer-action"><i class="icon icon-print"></i></a>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            let datatable = $('#datatable').DataTable({
                paging: false,
                searching: true,
                info: false,
                
            });

            $('#stats-search').keyup(function () {
                datatable.search($(this).val()).draw();
            });
        });

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }

        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>
{% endblock sidebar %}
