{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./content/style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
  <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/r-3.0.3/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
{% endblock head %}
{% block sidebar %}
{% load static %}
{% if hash_bilgi %}
<main>
    <div class="page-header">
        <div class="page-info">
            <div class="page-title">
                <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                {% trans 'Personel Departmanları' %}
            </div>
            <ul class="page-breadcrumb">
                <li><a href="/{{dil}}/">{% trans 'Dashboard' %}</a></li>
                <li><a href="#">{% trans 'Çalışan Yönetimi' %}</a></li>
                <li><a href="#">{% trans 'Personel Departmanları' %}</a></li>
            </ul>
        </div>

        <div class="page-actions">
            {% if request.user.kullanicilar_db %}
                {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                {% if yetki.personeller_olusturma %}
                    <button class="page-primary-btn" onclick="openModal('yeni-departman')">
                        <i class="icon icon-new"></i> {% trans 'Yeni Departman Ekle' %}
                    </button>
                {% endif %}
            {% else %}
                <button class="page-primary-btn" onclick="openModal('yeni-departman')">
                    <i class="icon icon-new"></i> {% trans 'Yeni Departman Ekle' %}
                </button>
            {% endif %}
        </div>
    </div>

    <div class="large-stats-card table-card table-detail-card">
        <div class="stats-header">
            <div class="stats-title">{% trans 'Personel Departmanları' %}</div>
            <div class="stats-search">
                <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                <button><i class="icon icon-search"></i></button>
            </div>
        </div>

        <div class="table-wrapper">
            <table id="datatable">
                <thead>
                    <tr>
                        <th class="sort" data-sort="email">{% trans 'Departman Adı' %}</th>
                                                    <th class="sort" data-sort="phone">{% trans 'Departmandaki Personel Sayısı' %}</th>
                                                    
                                                    <th class="sort" data-sort="date">{% trans 'Kayıt Tarihi' %}</th>
                                                    <th class="sort" data-sort="date">{% trans 'Durum' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in santiyeler %}
              <tr>
                        <td>{{i.kategori_isimi}}</td>
                        <td>{% departman_calisan_sayisi i %}</td>
                      
                        <td>{{i.kayit_tarihi}}</td>
                        <td>
                                <div class="td-actions">
                                {% if request.user.kullanicilar_db %}
                                                        {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                                        {% if yetki.personeller_duzenleme %}
                                                               <a onclick="openModal('departman-duzenle{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>                                                
                                                        {% else %}
                                                                                                                        
                                                        {% endif %}
                                                        {% else %}
                                                           <a onclick="openModal('departman-duzenle{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>                                                  
                                                        {% endif %}
                                                            
                                                            {% if request.user.kullanicilar_db %}
                                                        {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                                        {% if yetki.personeller_silme %}
                                                                 <a onclick="openModal('departman-sil{{i.id}}')" href="#" class="status-cancel"><i class="icon icon-action-delete"></i></a>                                            
                                                        {% else %}
                                                                                                                        
                                                        {% endif %}
                                                        {% else %}
                                                               
                                    <a onclick="openModal('departman-sil{{i.id}}')" href="#" class="status-cancel"><i class="icon icon-action-delete"></i></a>
                                                            </div>                                                 
                                                        {% endif %}
                                    
                                </div>
                            </td>
                    </tr>
                {% endfor %}
                   
                </tbody>
            </table>
        </div>

         <style>
                            .dt-buttons {
                                opacity: 0;
                                height: 0;
                                position: fixed;
                                top: 10000px;
                                left: 10000px;
                            } 
                            </style>
                            <div class="large-stats-card-footer-actions">
                                <a onclick="$('.buttons-pdf').click()" class="lsc-footer-action"><i class="icon icon-pdf"></i></a>
                                <a onclick="$('.buttons-excel').click()" class="lsc-footer-action"><i class="icon icon-xlsx"></i></a>
                                <a onclick="$('.buttons-print').click()" class="lsc-footer-action"><i class="icon icon-print"></i></a>
                            </div>
    </div>



    <!-- DataTable Başlatma -->
    <script>
        $(document).ready(function() {
            let datatable = $('#datatable').DataTable({
                paging: false,
                searching: true,
                info: false,
                dom: 'Bfrtip',  // Butonları etkinleştirmek için
                buttons: ['copy', 'excel', 'pdf', 'print']
            });

            // Arama işlevi
            $('#stats-search').keyup(function () {
                datatable.search($(this).val()).draw();
            });
        });
    </script>

    <div class="modal" id="yeni-departman">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Yeni Departman Ekle' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" action="/{{dil}}{% url 'users:personeller_departman_ekle_2' hashler %}"  method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                   
                    <div class="form-element">
                                        <label for="date-field" >{% trans 'Departman Adı' %}</label>
                                        <input type="text"  name="yetkili_adi" id="date-field"  placeholder="{% trans 'Departman Adı' %}" />
                                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Kaydet' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% for i in santiyeler %}
    <div class="modal" id="departman-duzenle{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Departman Düzenle' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" action="/{{dil}}{% url 'users:personelleri_departman_düzenle_2' hashler %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                                 <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}"/>
                     <div class="form-element">
                                            <label for="date-field" >{% trans 'Departman  Adı' %}</label>
                                            <input type="text" value="{{i.kategori_isimi}}"  name="yetkili_adi"   placeholder="{% trans 'Departman Adı' %}" />
                                        </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Devam Et' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal" id="departman-sil{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Silmek istediğinize emin misiniz?' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"action="/{{dil}}{% url 'users:personeller_departman_sil_2' hashler %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">
                 
                    <p> {% trans 'Bu işlemin geri dönüşü olmayacaktır.' %}</p>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-danger" type="submit"> {% trans 'Evet, silinsin' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}




    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });

    </script>


    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>

{% else %}
<main>
    <div class="page-header">
        <div class="page-info">
            <div class="page-title">
                <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                {% trans 'Personel Departmanları' %}
            </div>
            <ul class="page-breadcrumb">
                <li><a href="/{{dil}}/">{% trans 'Dashboard' %}</a></li>
                <li><a href="#">{% trans 'Çalışan Yönetimi' %}</a></li>
                <li><a href="#">{% trans 'Personel Departmanları' %}</a></li>
            </ul>
        </div>

        <div class="page-actions">
            {% if request.user.kullanicilar_db %}
                {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                {% if yetki.personeller_olusturma %}
                    <button class="page-primary-btn" onclick="openModal('yeni-departman')">
                        <i class="icon icon-new"></i> {% trans 'Yeni Departman Ekle' %}
                    </button>
                {% endif %}
            {% else %}
                <button class="page-primary-btn" onclick="openModal('yeni-departman')">
                    <i class="icon icon-new"></i> {% trans 'Yeni Departman Ekle' %}
                </button>
            {% endif %}
        </div>
    </div>

    <div class="large-stats-card table-card table-detail-card">
        <div class="stats-header">
            <div class="stats-title">{% trans 'Personel Departmanları' %}</div>
            <div class="stats-search">
                <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                <button><i class="icon icon-search"></i></button>
            </div>
        </div>

        <div class="table-wrapper">
            <table id="datatable">
                <thead>
                    <tr>
                        <th class="sort" data-sort="email">{% trans 'Departman Adı' %}</th>
                                                    <th class="sort" data-sort="phone">{% trans 'Departmandaki Personel Sayısı' %}</th>
                                                    
                                                    <th class="sort" data-sort="date">{% trans 'Kayıt Tarihi' %}</th>
                                                    <th class="sort" data-sort="date">{% trans 'Durum' %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in santiyeler %}
              <tr>
                        <td>{{i.kategori_isimi}}</td>
                        <td>{% departman_calisan_sayisi i %}</td>
                      
                        <td>{{i.kayit_tarihi}}</td>
                        <td>
                                <div class="td-actions">
                                {% if request.user.kullanicilar_db %}
                                                        {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                                        {% if yetki.personeller_duzenleme %}
                                                               <a onclick="openModal('departman-duzenle{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>                                                
                                                        {% else %}
                                                                                                                        
                                                        {% endif %}
                                                        {% else %}
                                                           <a onclick="openModal('departman-duzenle{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>                                                  
                                                        {% endif %}
                                                            
                                                            {% if request.user.kullanicilar_db %}
                                                        {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                                        {% if yetki.personeller_silme %}
                                                                 <a onclick="openModal('departman-sil{{i.id}}')" href="#" class="status-cancel"><i class="icon icon-action-delete"></i></a>                                            
                                                        {% else %}
                                                                                                                        
                                                        {% endif %}
                                                        {% else %}
                                                               
                                    <a onclick="openModal('departman-sil{{i.id}}')" href="#" class="status-cancel"><i class="icon icon-action-delete"></i></a>
                                                            </div>                                                 
                                                        {% endif %}
                                    
                                </div>
                            </td>
                    </tr>
                {% endfor %}
                   
                </tbody>
            </table>
        </div>

         <style>
                            .dt-buttons {
                                opacity: 0;
                                height: 0;
                                position: fixed;
                                top: 10000px;
                                left: 10000px;
                            } 
                            </style>
                            <div class="large-stats-card-footer-actions">
                                <a onclick="$('.buttons-pdf').click()" class="lsc-footer-action"><i class="icon icon-pdf"></i></a>
                                <a onclick="$('.buttons-excel').click()" class="lsc-footer-action"><i class="icon icon-xlsx"></i></a>
                                <a onclick="$('.buttons-print').click()" class="lsc-footer-action"><i class="icon icon-print"></i></a>
                            </div>
    </div>



    <!-- DataTable Başlatma -->
    <script>
        $(document).ready(function() {
            let datatable = $('#datatable').DataTable({
                paging: false,
                searching: true,
                info: false,
                dom: 'Bfrtip',  // Butonları etkinleştirmek için
                buttons: ['copy', 'excel', 'pdf', 'print']
            });

            // Arama işlevi
            $('#stats-search').keyup(function () {
                datatable.search($(this).val()).draw();
            });
        });
    </script>

    <div class="modal" id="yeni-departman">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Yeni Departman Ekle' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" action="/{{dil}}{% url 'users:personeller_departman_ekle' %}"  method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                   
                    <div class="form-element">
                                        <label for="date-field" >{% trans 'Departman Adı' %}</label>
                                        <input type="text"  name="yetkili_adi" id="date-field"  placeholder="{% trans 'Departman Adı' %}" />
                                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Kaydet' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% for i in santiyeler %}
    <div class="modal" id="departman-duzenle{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Departman Düzenle' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" action="/{{dil}}{% url 'users:personelleri_departman_düzenle' %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                                 <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}"/>
                     <div class="form-element">
                                            <label for="date-field" >{% trans 'Departman  Adı' %}</label>
                                            <input type="text" value="{{i.kategori_isimi}}"  name="yetkili_adi"   placeholder="{% trans 'Departman Adı' %}" />
                                        </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Devam Et' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="modal" id="departman-sil{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Silme Uyarısı' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"action="/{{dil}}{% url 'users:personeller_departman_sil' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">
                 
                    <p> {% trans 'Bu öğeyi silmek istediğinizden emin misiniz? Bu işlem geri alınamaz.' %}</p>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-danger" type="submit"> {% trans 'Sil' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}




    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });

    </script>


    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>

{% endif %}
{% endblock sidebar %}
