{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.css">

    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'content/style/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/r-3.0.3/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
{% endblock head %}

{% block sidebar %}
<style>
.hidden {
    display: none !important;
}

</style>
<main>
    <div class="page-header">
        <div class="page-info">
            <div class="page-title">
                <a href="#" onclick="history.back(); return false;"><i class="icon icon-arrow-circle-left"></i></a>
                {% trans 'Bekleyen Maaş Ödemeleri' %}
            </div>
            <ul class="page-breadcrumb">
                <li><a href="/{{dil}}/">{% trans 'Dashboard' %}</a></li>
                <li><a href="#">{% trans 'Muhasebe' %}</a></li>
                <li><a href="#">{% trans 'Bekleyen Maaş Ödemeleri' %}</a></li>
            </ul>
        </div>
    </div>

    <div class="large-stats-card table-card table-detail-card">
        <div class="stats-header">
            <div class="stats-title">{% trans 'Bekleyen Maaş Ödemeleri' %}</div>
            <div class="stats-search">
                <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                <button><i class="icon icon-search"></i></button>
            </div>
        </div>

        <div class="table-wrapper">
            <table id="datatable">
                <thead>
                    <tr>
                    <th >{% trans 'Departman' %}</th>
                    <th >{% trans 'Pozisyon' %}</th>
                        <th>{% trans 'Personel' %}</th>
                        <th>{% trans 'Ay' %}</th>
                        <th>{% trans 'Toplam Tutar' %}</th>
                        <th>{% trans 'Ödenen Tutar' %}</th>
                        <th>{% trans 'Kalan Tutar' %}</th>
                        <th>{% trans 'Avans Öde' %}</th>
                        <th>{% trans 'Maaş Öde' %}</th>
                        <th>{% trans 'Bordro' %}</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for i in personeller %}
                        {% personel_maas_bilgisi i.id as maaslar %}
                        
                        {% for j in maaslar %}
                        {% if  j.hakedis_tutari > j.odenen %}
                        
                        
                        <tr style="{% if request.user.is_superuser and i.silinme_bilgisi %}background-color: grey;color: white;{% endif %}">
                            <td>{{ i.calisan_kategori.kategori_isimi }} </td>
                            <td>{{ i.calisan_pozisyonu.kategori_isimi }} </td>
                            <td>{{ i.isim }} {{ i.soyisim }}</td>
                            <td>{{j.tarih}}</td>
                            <td>{{ j.hakedis_tutari }} {% if j.parabirimi %}
                                {% trans "$" %}
                            {% else %}
                            {% trans "IQD" %}
                            {% endif %} </td>
                            <td>{{ j.odenen }}{% if j.parabirimi %}
                                {% trans "$" %}
                            {% else %}
                            {% trans "IQD" %}
                            {% endif %}</td>
                            <td>{{ j.kalan }}{% if j.parabirimi %}
                                {% trans "$" %}
                            {% else %}
                            {% trans "IQD" %}
                            {% endif %}</td>
                           <td><button class="status-primary stats-lg" type="button"
                                onclick="openModal('avansOdeModal{{i.id}}-{{j.id}}', false)">{% trans 'Kesinti' %} </button></td>
                            <td><button class="status-primary stats-lg" type="button"
                                onclick="openModal('maasOdeModal{{i.id}}-{{j.id}}', false)">{% trans 'Maaş Öde' %} </button></td>
                            <td><button class="status-primary stats-lg" type="button"
                                        onclick="window.location.href='/{{dil}}/users/payroll/{{j.tarih}}/{{i.id}}/'">
                                    {% trans 'Bordro' %}
                                </button></td>
                            
                        </tr>
                        {% else %}
                        {% endif %}
                        {% endfor %}
                        
                    {% endfor %}
                </tbody>
            </table>
             <style>
                            .dt-buttons {
                                opacity: 0;
                                height: 0;
                                position: fixed;
                                top: 10000px;
                                left: 10000px;
                            } 
                            </style>
                            <div class="large-stats-card-footer-actions">
                                <a onclick="$('.buttons-pdf').click()" class="lsc-footer-action"><i class="icon icon-pdf"></i></a>
                                <a onclick="$('.buttons-excel').click()" class="lsc-footer-action"><i class="icon icon-xlsx"></i></a>
                                <a onclick="$('.buttons-print').click()" class="lsc-footer-action"><i class="icon icon-print"></i></a>
                            </div>
            
        </div>

        
    </div>

    <script>
        $(document).ready(function() {
            let datatable = $('#datatable').DataTable({
                paging: true,
                searching: true,
                info: false,
                ordering: true,
            dom: 'Btip', // Butonları etkinleştirir
            buttons: [
                {
                    extend: 'pdfHtml5',
                    className: 'hidden', // DataTables butonunu gizlemek için
                    orientation: 'landscape',
                    pageSize: 'A4',
                    exportOptions: { columns: ':visible' },
                    customize: function (doc) {
                        doc.content[1].table.widths = Array(doc.content[1].table.body[0].length).fill('18%'); 
                        doc.pageMargins = [15, 20, 15, 20];
                        doc.defaultStyle = { fontSize: 8 };
                        doc.styles.tableHeader = {
                            fillColor: '#f2f2f2',
                            color: '#333',
                            alignment: 'center'
                        };
                    }
                },
                {
                        extend: 'excelHtml5',
                        className: 'hidden',
                        exportOptions: { columns: ':visible' },
                        customize: function (xlsx) {
                            var sheet = xlsx.xl.worksheets['sheet1.xml'];
                            
                            // Para birimlerinin olduğu sütunları belirleyin (örneğin, 5 ve 6. sütunlar)
                            $('row c[r^="E"], row c[r^="F"]', sheet).each(function () {
                                $(this).attr('s', '2'); // 2 numaralı hücre stiline ayarlanarak sayısal veri olarak işlenecek
                            });

                            // Tarihlerin olduğu sütunları belirleyin (örneğin, 4. sütun)
                            $('row c[r^="D"]', sheet).each(function () {
                                $(this).attr('s', '3'); // 3 numaralı hücre stiline ayarlanarak tarih olarak işlenecek
                            });
                        }
                    },
                {
                    extend: 'print',
                    className: 'hidden',
                    exportOptions: { columns: ':visible' },
                    customize: function (win) {
                        $(win.document.body).css('font-size', '10pt').css('width', '95%').css('margin', 'auto');
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit')
                            .css('width', '100%')
                            .css('margin', 'auto');
                    }
                }
            ]
                
            });

            $('#stats-search').keyup(function () {
                datatable.search($(this).val()).draw();
            });
        });

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }

        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>
 {% for i in personeller %}
                        {% personel_maas_bilgisi i.id as maaslar %}
                        
                        {% for j in maaslar %}
                        {% if  j.hakedis_tutari > j.odenen %}

<div class="modal" id="maasOdeModal{{i.id}}-{{j.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                {% trans 'Maaş Öde' %}
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="POST" action="/{{dil}}{% url 'users:calisan_odemeleri_kaydet' %}">
                    {% csrf_token %} 
                    <div id="odemeturuu" ><input type="text" hidden value="{{i.id}}" name="users_id"></div>
                    <div class="form-element">
                        <label for="maas-ayi">{% trans 'Hakediş Ayı' %}</label>
                        <select required id="maasAy" name="maas_ayi">
                            <option value="{{j.tarih}}" selected >{{j.tarih}}</option>
                           
                        </select>
                    </div>
                    <div class="form-element">
                        <label for="kalan-bakiye">{% trans 'Kalan Bakiye' %}</label>
                        <input required type="number" step="0.01" placeholder="{{ j.kalan}}" name="tutar" id="maasBakiye"  >
                    </div>
                    <div class="form-element">
                        <label for="kur">{% trans 'Kur' %}</label>
                        <input required type="number" step="0.01" name="kur"  class="form-control" placeholder="Kur">
                    </div>
                    <div class="form-element">
                        <label for="odeme-tarihi">{% trans 'Ödeme Tarihi' %}</label>
                        <input required type="date" name="odeme_tarihi">
                    </div>
                    <div class="form-element">
                        <label for="aciklama">{% trans 'Açıklama' %}</label>
                        <textarea id="avansAciklama" name="aciklama"></textarea>
                    </div>
                    <div class="form-element">
                        <label for="ekler">{% trans 'Dosya Yükle' %}</label>

                        <div class="file-input">
                            <label for="ekler">
                                <img src="./content/images/illustration-upload.png">

                                <button><i class="icon icon-file"></i>{% trans 'Dosya Seç' %}</button>
                            </label>

                            <input type="file" name="file" id="avansDosya">
                        </div>

                        <ul class="fileList">
                        </ul>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button"
                            onclick="closeModal('maasOdeModal')">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Kesinti Yap' %}</button>
                    </div>
                </form>
            </div>
        </div>
</div>

<div class="modal" id="avansOdeModal{{i.id}}-{{j.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                {% trans 'Avans Öde' %}
                
            </div>
            <div class="modal-body">
                
                <form id="avansOdeForm" method="POST" action="/{{dil}}{% url 'users:calisan_odemeleri_kaydet' %}">
                    {% csrf_token %} 
                    <input type="text" hidden value="1" name="odeme_turu">
                    <div id="odemeturu" ><input type="text" hidden value="{{i.id}}" name="users_id"></div>
                    <div class="form-element">
                        <label for="ay-secimi">{% trans 'Hakediş Ayı' %}</label>
                        <select required name="maas_ayi" id="avansAy">
                            <option value="{{j.tarih}}" selected >{{j.tarih}}</option>
                           
                        </select>
                    </div>
                    <div class="form-element">
                        <label for="avansTutar">{% trans 'Ödeme Tarihi' %}</label>
                        <input required type="date" name="odeme_tarihi"  >
                    </div>
                    <div class="form-element">
                        <label for="tutar">Tutar</label>
                        <input required type="number" step="0.01" placeholder="{{ j.kalan }}" name="tutar" id="avansTutar">
                    </div>
                    <div class="form-element">
                        <label for="kur">Kur</label>
                        <input required type="number" step="0.01" name="kur" >
                    </div>
                    
                    <div class="form-element">
                        <label for="aciklama">{% trans 'Açıklama' %}</label>
                        <textarea id="avansAciklama" name="aciklama"></textarea>
                    </div>
                    <div class="form-element">
                        <label for="ekler">Dosya Yükle</label>

                        <div class="file-input">
                            <label for="ekler">
                                <img src="./content/images/illustration-upload.png">

                                <button><i class="icon icon-file"></i>{% trans 'Dosya Seç' %}</button>
                            </label>

                            <input  type="file" name="file" id="avansDosya">
                        </div>

                        <ul class="fileList">
                        </ul>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button"
                            onclick="closeModal('avansOdeModal')">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Avans Öde' %}</button>
                    </div>
                </form>
            </div>
        </div>
</div>
                        
                        {% else %}
                        {% endif %}
                        {% endfor %}
                        
                    {% endfor %}

<script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal($(e.target).attr("id"));
            }
        });

        $('input[type="file"]').on('change', function () {
            var files = $(this).prop('files');
            var formElement = $(this).closest('.form-element');
            var fileList = formElement.find('.fileList');
            fileList.empty();

            for (var i = 0; i < files.length; i++) {
                fileList.append('<li>' + files[i].name + '</li>');
            }
        });

    </script>
{% endblock sidebar %}
