{% extends "homebase.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block sidebar %}
   <main>

        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                    {% trans "Personnel" %}
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#">{% trans "Dashboard" %}</a></li>
                    <li><a href="#">{% trans "Employee Management" %}</a></li>
                    <li><a href="#">{% trans "Personnel" %}</a></li>
                </ul>
            </div>

            <div class="page-actions">
                <button class="page-primary-btn" onclick="openModal('personel-olustur', false)"><i
                        class="icon icon-new"></i>
                    {% trans "Create Personnel" %}</button>
            </div>
        </div>

        <div class="employees-page">
            <!-- First employee card -->
            {% for i in personeller %}
            
            
            <div class="employeep" onclick="openModal('personel-detay-karti', false)">
                <div class="employeep-image">
                <img src="{% if i.profile %}{{i.profile.url}}{% else %}https://www.pngitem.com/pimgs/m/81-819673_construction-workers-safety-icons-health-and-safety-policy.png{% endif %}" alt="{% trans 'employee' %}">
                    
                </div>
                <div class="employeep-name">{{i.isim}} {{i.soyisim}}</div>
                <div class="employeep-tags">
                    <div class="employeep-tag-job">{{i.calisan_pozisyonu.kategori_isimi}}</div>
                    <div class="employeep-tag-salary">15.500 ₺</div>
                </div>
                <div class="employeep-details">
                    <div class="employeep-detail">
                        <span>{% trans "Department" %}</span>
                        {{i.calisan_kategori.kategori_isimi}}
                    </div>
                    <div class="employeep-detail">
                        <span>{% trans "Start Date" %}</span>
                       {{i.kayit_tarihi | date:'d.m.Y'}}
                    </div>
                </div>
            </div>
            {% endfor %}
           

        </div>
    </main>
<div class="modal" id="personel-detay-karti">
        <div class="modal-inner" style="width: 724px;">
            <div class="modal-header">
                Personel Detay Kartı
            </div>
            <div class="modal-body">
                <div class="employee-details-modal-header">
                    <div class="employee-details-modal-header-info">
                        <img src="./content/images/avatar-2.png">
                        <span>Jane Cooper</span>
                    </div>
                    <div class="employee-details-modal-header-tags">
                        <div class="employeep-tag">Yönetim</div>
                        <div class="employeep-tag-job">Mühendis</div>
                        <div class="employeep-tag-salary">15.500 ₺</div>
                    </div>
                </div>

                <div class="employee-details-tab-navs">
                    <div class="employee-details-tab-nav active" data-tab="personel-bilgileri">Personel Bilgileri</div>
                    <div class="employee-details-tab-nav" data-tab="ucret-yonetimi">Ücret Yönetimi</div>
                    <div class="employee-details-tab-nav" data-tab="puantaj-yonetimi">Puantaj Yönetimi</div>
                </div>

                <div class="employee-details-tabs">
                    <div class="employee-details-tab" id="personel-bilgileri">
                        <div class="employee-modal-infos">
                            <div class="employee-modal-info"><span>Pasaport No: </span> 123456789</div>
                            <div class="employee-modal-info"><span>Uyruk: </span> Türkiye</div>
                            <div class="employee-modal-info"><span>Doğum Tarihi: </span> 01/01/2000</div>
                            <div class="employee-modal-info"><span>Telefon Numarası: </span> 0555 555 5555</div>
                            <div class="employee-modal-info"><span>Ücret Tipi: </span> -</div>
                            <div class="employee-modal-info"><span>Para Birimi: </span> TL</div>
                            <div class="employee-modal-info"><span>Günlük Ücret: </span> 1.500 ₺</div>
                            <div class="employee-modal-info"><span>Saatlik Ücret: </span> 300 ₺</div>
                            <div class="employee-modal-info"><span>Not: </span> Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Sed voluptatibus reiciendis eaque dolor officiis, commodi voluptates
                                accusamus, sit libero aliquam minus! Neque alias quod illum ex porro, optio dolore
                                repellat.</div>
                        </div>
                        <div class="employee-modal-documents">
                            <div class="employee-modal-document">
                                <span>Oturum Belgesi</span>
                                <img src="./content/images/oturum-belgesi.png">
                            </div>
                            <div class="employee-modal-document">
                                <span>Pasaport</span>
                                <img src="./content/images/oturum-belgesi.png">
                            </div>
                        </div>
                    </div>
                    <div class="employee-details-tab active" id="ucret-yonetimi">
                        <div class="form-actions">
                            <button class="form-action-highlight" type="button"
                                onclick="openModal('maas-olustur', false)">Maaş
                                Oluştur</button>
                            <button class="form-action-primary" type="button"
                                onclick="openModal('maas-ode', false)">Maaş
                                Öde</button>
                            <button class="form-action-primary" type="button"
                                onclick="openModal('avans-ode', false)">Avans
                                Öde</button>
                        </div>
                        <table id="employee-details-modal-table">
                            <thead>
                                <tr>
                                    <th>Ay</th>
                                    <th>Hakediş</th>
                                    <th>Ödenen</th>
                                    <th>Kalan</th>
                                    <th>Bordro</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Eylül</td>
                                    <td>5000</td>
                                    <td>3000</td>
                                    <td>2000</td>
                                    <td><i class="icon icon-download"></i></td>
                                </tr>
                            </tbody>
                        </table>
                        <script>
                            let datatable = new DataTable('#employee-details-modal-table', {
                                paging: false,
                                searching: false,
                                info: false,
                                layout: {
                                    topStart: {
                                        buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                                    }
                                }
                            });
                        </script>
                    </div>
                    <div class="employee-details-tab" id="puantaj-yonetimi">...</div>
                </div>

                <div class="form-actions">
                    <button class="form-action-secondary" type="button"
                        onclick="closeModal('personel-detay-karti')">Vazgeç</button>
                    <button class="form-action-danger" type="button" onclick="openModal('isten-ayril', false)">İşten
                        Ayrıl</button>
                    <button class="form-action-primary" type="button"
                        onclick="openModal('personel-duzenle', false)">Düzenle</button>
                </div>
            </div>
        </div>
</div>

    <script>
        $(".employee-details-tab-nav").on("click", function () {
            $(".employee-details-tab-nav").removeClass("active");
            $(this).addClass("active");

            $(".employee-details-tab").removeClass("active");
            $("#" + $(this).attr("data-tab")).addClass("active");
        })
    </script>



<div class="modal" id="isten-ayril">
        <div class="modal-inner" style="width: 724px;">
            <div class="modal-header">
                Personel Detay Kartı
            </div>
            <div class="modal-body">
                <div class="employee-details-modal-header">
                    <div class="employee-details-modal-header-info">
                        <img src="./content/images/avatar-2.png">
                        <span>Jane Cooper</span>
                    </div>
                    <div class="employee-details-modal-header-tags">
                        <div class="employeep-tag">Yönetim</div>
                        <div class="employeep-tag-job">Mühendis</div>
                        <div class="employeep-tag-salary">15.500 ₺</div>
                    </div>
                </div>


                <form style="margin-top: 20px;">
                    <div class="form-element">
                        <label for="isten-ayrilma-sebebi">İşten Ayrılma Sebebi</label>
                        <select name="isten-ayrilma-sebebi" id="isten-ayrilma-sebebi">
                            <option value="Disiplin">Disiplin</option>
                            <option value="Disiplin">Disiplin</option>
                            <option value="Disiplin">Disiplin</option>
                        </select>
                    </div>
                    <div class="form-element">
                        <label for="aciklama">Açıklama</label>
                        <textarea name="aciklama" id="aciklama"></textarea>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button"
                            onclick="closeModal('isten-ayril')">Vazgeç</button>
                        <button class="form-action-danger" type="submit">İşten Ayrıl</button>
                    </div>
                </form>
            </div>
        </div>
</div>


<div class="modal" id="maas-olustur">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Maaş Oluştur
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-element">
                        <label for="ay-secimi">Ay Seçimi</label>
                        <select name="ay-secimi" id="ay-secimi">
                            <option value="" selected disabled></option>
                            <option value="Ay">Ay</option>
                            <option value="Ay">Ay</option>
                            <option value="Ay">Ay</option>
                        </select>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button"
                            onclick="closeModal('maas-olustur')">Vazgeç</button>
                        <button class="form-action-primary" type="submit">Devam Et</button>
                    </div>
                </form>
            </div>
        </div>
</div>

<div class="modal" id="maas-ode">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Maaş Öde
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-element">
                        <label for="maas-ayi">Maaş Ayı</label>
                        <select name="maas-ayi" id="maas-ayi">
                            <option value="" selected disabled></option>
                            <option value="Ay">Ay</option>
                            <option value="Ay">Ay</option>
                            <option value="Ay">Ay</option>
                        </select>
                    </div>
                    <div class="form-element">
                        <label for="kalan-bakiye">Kalan Bakiye</label>
                        <input type="number" name="kalan-bakiye" id="kalan-bakiye">
                    </div>
                    <div class="form-element">
                        <label for="kur">Kur</label>
                        <input type="number" name="kur" id="kur">
                    </div>
                    <div class="form-element">
                        <label for="odeme-tarihi">Ödeme Tarihi</label>
                        <input type="date" name="odeme-tarihi" id="odeme-tarihi">
                    </div>
                    <div class="form-element">
                        <label for="aciklama">Açıklama</label>
                        <textarea name="aciklama" id="aciklama"></textarea>
                    </div>
                    <div class="form-element">
                        <label for="ekler">Dosya Yükle</label>

                        <div class="file-input">
                            <label for="ekler">
                                <img src="./content/images/illustration-upload.png">

                                <button><i class="icon icon-file"></i> Dosya Seç</button>
                            </label>

                            <input type="file" name="ekler" id="ekler">
                        </div>

                        <ul class="fileList">
                        </ul>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button"
                            onclick="closeModal('maas-ode')">Vazgeç</button>
                        <button class="form-action-primary" type="submit">Maaş Öde</button>
                    </div>
                </form>
            </div>
        </div>
</div>

<div class="modal" id="avans-ode">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Avans Öde
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-element">
                        <label for="ay-secimi">Ay Seçimi</label>
                        <select name="ay-secimi" id="ay-secimi">
                            <option value="" selected disabled></option>
                            <option value="Ay">Ay</option>
                            <option value="Ay">Ay</option>
                            <option value="Ay">Ay</option>
                        </select>
                    </div>
                    <div class="form-element">
                        <label for="tutar">Tutar</label>
                        <input type="number" name="tutar" id="tutar">
                    </div>
                    <div class="form-element">
                        <label for="kur">Kur</label>
                        <input type="number" name="kur" id="kur">
                    </div>
                    <div class="form-element">
                        <label for="odeme-tarihi">Ödeme Tarihi</label>
                        <input type="date" name="odeme-tarihi" id="odeme-tarihi">
                    </div>
                    <div class="form-element">
                        <label for="aciklama">Açıklama</label>
                        <textarea name="aciklama" id="aciklama"></textarea>
                    </div>
                    <div class="form-element">
                        <label for="ekler">Dosya Yükle</label>

                        <div class="file-input">
                            <label for="ekler">
                                <img src="./content/images/illustration-upload.png">

                                <button><i class="icon icon-file"></i> Dosya Seç</button>
                            </label>

                            <input type="file" name="ekler" id="ekler">
                        </div>

                        <ul class="fileList">
                        </ul>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button"
                            onclick="closeModal('avans-ode')">Vazgeç</button>
                        <button class="form-action-primary" type="submit">Avans Öde</button>
                    </div>
                </form>
            </div>
        </div>
</div>

<div class="modal" id="personel-olustur">
    <div class="modal-inner" style="width: 724px;">
        <div class="modal-header">
            {% trans "Add Personnel" %}
        </div>
        <div class="modal-body">

           <form id="addPersonForm" method="post" action="/{{dil}}{% url 'user:personeller_ekle' %}"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-element add-employee-image">
                        <img src="{% static 'go/content/images/default-profile.png' %}" id="personel-olustur-img">
                        <div class="file-input">
                            <label for="personel-profile">
                                <button type="button"><i class="icon icon-file"></i> {% trans "Choose File" %}</button>
                            </label>
                            <input type="file" name="profilePicture"id="personel-profile">
                        </div>
                        <script>
                            $('#personel-profile').change(function (event) {
                                const file = event.target.files[0];
                                if (file) {
                                    const reader = new FileReader();
                                    reader.onload = function (e) {
                                        $('#personel-olustur-img').attr('src', e.target.result);
                                    }
                                    reader.readAsDataURL(file);
                                }
                            });
                        </script>
                    </div>
                    <div class="form-element">
                        <label for="adsoyad">{% trans "Full Name" %}</label>
                        <input type="text" name="firstName" id="adsoyad">
                        <input type="text" name="lastName" id="adsoyad">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-element">
                        <label for="pasaport-no">{% trans "Passport No" %}</label>
                        <input type="text" name="passportNo" id="pasaport-no">
                    </div>
                    <div class="form-element">
                        <label for="uyruk">{% trans "Nationality" %}</label>
                        <select id="nationality" name="nationality" class="form-control" required>
                            <option value="">Seçiniz</option>
                            <option value="Türkiye">Türkiye</option>
                            <option value="Irak">Irak</option>
                            <option value="Suriye">Suriye</option>
                        </select>
                    </div>
                    <div class="form-element">
                        <label for="date">{% trans "Date of Birth" %}</label>
                        <input type="date" name="dob"  id="date">
                    </div>
                </div>

                <div class="form-row">
                    
                    <div class="form-element">
                        <label for="telefon-no">{% trans "Phone Number" %}</label>
                        <input type="text" name="phoneNumber" id="telefon-no">
                    </div>
                    <div class="form-element">
                        <label for="ucret-tipi">{% trans "Payment Type" %}</label>
                        <select name="salaryType" id="ucret-tipi">
                            <option value="" selected disabled></option>
                            <option value="Yevmiye">{% trans "Yevmiye" %}</option>
                            <option value="maas">{% trans "maas" %}</option>
                            
                        </select>
                    </div>
                    <div class="form-element">
                        <label for="ucret-tipi">{% trans "Para Birimi" %}</label>
                        <select name="salaryType" id="ucret-tipi">
                            <option value="" selected disabled></option>
                            <option value="USD">{% trans "USD" %}</option>
                            <option value="IQD">{% trans "IQD" %}</option>
                            
                        </select>
                    </div>
                </div>

                <div class="form-row">
                <div class="form-element">
                        <label for="date">{% trans "Pozisyonu" %}</label>
                        <select id="position" name="position" class="form-control" required>
                            <option value="">Seçiniz</option>
                            {% for i in pozisyonlari %}
                            <option value="{{i.id}}">{{i.kategori_isimi}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-element">
                        <label for="para-birimi">{% trans "Depertman" %}</label>
                        <select id="department" name="department" required>
                            <option value="">Seçiniz</option>
                            {% for i in departmanlar %}
                            <option value="{{i.id}}">{{i.kategori_isimi}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-element">
                        <label for="gunluk-ucret">{% trans "Daily Wage" %}</label>
                        <input type="number" name="dailyWage" id="gunluk-ucret">
                    </div>
                    <div class="form-element">
                        <label for="saatlik-ucret">{% trans "Hourly Wage" %}</label>
                        <input type="number" name="hourlyWage" id="saatlik-ucret">
                    </div>
                </div>

                <div class="form-element">
                    <label for="not">{% trans "Note" %}</label>
                    <input type="text" name="not" id="not">
                </div>

                <div class="form-element">
                    <label for="ekler">{% trans "Upload Document" %}</label>

                    <div class="file-input">
                        <label for="ekler">
                            <img src="{% static 'go/content/images/illustration-upload.png' %}">

                            <button><i class="icon icon-file"></i> {% trans "Choose File" %}</button>
                        </label>

                        <input type="file" name="ekler" id="ekler">
                    </div>

                    <ul class="fileList">
                    </ul>
                </div>
            

            <div class="form-actions">
                <button class="form-action-secondary" type="button" onclick="closeModal('personel-olustur')">{% trans "Cancel" %}</button>
                <button class="form-action-primary" type="submit">{% trans "Continue" %}</button>
            </div>
        </form>
        </div>
    </div>
</div>


<div class="modal" id="personel-duzenle">
        <div class="modal-inner" style="width: 724px;">
            <div class="modal-header">
                Personel Düzenle
            </div>
            <div class="modal-body">
                <div class="employee-details-modal-header">
                    <div class="employee-details-modal-header-info">
                        <img src="./content/images/avatar-2.png">
                        <span>Jane Cooper</span>
                    </div>
                    <div class="employee-details-modal-header-tags">
                        <div class="employeep-tag">Yönetim</div>
                        <div class="employeep-tag-job">Mühendis</div>
                        <div class="employeep-tag-salary">15.500 ₺</div>
                    </div>
                </div>


                <form style="margin-top: 20px;">

                    <div class="form-row">
                        <div class="form-element">
                            <label for="pasaport-no">Pasaport No</label>
                            <input type="text" name="pasaport-no" id="pasaport-no">
                        </div>
                        <div class="form-element">
                            <label for="uyruk">Uyruk</label>
                            <input type="text" name="uyruk" id="uyruk">
                        </div>
                        <div class="form-element">
                            <label for="date">Doğum Tarihi</label>
                            <input type="text" name="date" id="date">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-element">
                            <label for="date">İşe Giriş Tarihi</label>
                            <input type="text" name="date" id="date">
                        </div>
                        <div class="form-element">
                            <label for="telefon-no">Telefon No</label>
                            <input type="text" name="telefon-no" id="telefon-no">
                        </div>
                        <div class="form-element">
                            <label for="ucret-tipi">Ücret Tipi</label>
                            <select name="ucret-tipi" id="ucret-tipi">
                                <option value="" selected disabled></option>
                                <option value="Tip">Tip</option>
                                <option value="Tip">Tip</option>
                                <option value="Tip">Tip</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-element">
                            <label for="para-birimi">Para Birimi</label>
                            <select name="para-birimi" id="para-birimi">
                                <option value="" selected disabled></option>
                                <option value="Birim">Birim</option>
                                <option value="Birim">Birim</option>
                                <option value="Birim">Birim</option>
                            </select>
                        </div>
                        <div class="form-element">
                            <label for="gunluk-ucret">Günlük Ücret</label>
                            <input type="number" name="gunluk-ucret" id="gunluk-ucret">
                        </div>
                        <div class="form-element">
                            <label for="saatlik-ucret">Saatlik Ücret</label>
                            <input type="number" name="saatlik-ucret" id="saatlik-ucret">
                        </div>
                    </div>


                    <div class="form-element">
                        <label for="not">Not</label>
                        <input type="text" name="not" id="not">
                    </div>

                    <div class="employee-modal-documents">
                        <div class="employee-modal-document">
                            <span>Oturum Belgesi <i class="icon icon-trash"></i></span>
                            <img src="./content/images/oturum-belgesi.png">
                        </div>
                        <div class="employee-modal-document">
                            <span>Pasaport <i class="icon icon-trash"></i></span>
                            <img src="./content/images/oturum-belgesi.png">
                        </div>
                    </div>
                </form>


                <div class="form-actions">
                    <button class="form-action-secondary" type="button"
                        onclick="closeModal('personel-duzenle')">Vazgeç</button>
                    <button class="form-action-primary" type="submit">Değişiklikleri Kaydet</button>
                </div>
            </div>
        </div>
</div>
<script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal($(e.target).attr("id"));
            }
        });

        $('input[type="file"]').on('change', function () {
            var files = $(this).prop('files');
            var formElement = $(this).closest('.form-element');
            var fileList = formElement.find('.fileList');
            fileList.empty();

            for (var i = 0; i < files.length; i++) {
                fileList.append('<li>' + files[i].name + '</li>');
            }
        });

    </script>


    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>

{% endblock sidebar %}
