{% extends "homebase.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block sidebar %}
<div class="main-content">
        <div class="page-content">

<style>
    .app-menu {
        z-index: 88 !important;
    }
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #013744;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.filter-input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    width: auto;
}

.btn {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.apply-btn {
    background-color: #24d6b6;
    color: white;
}

.bulk-btn {
    background-color: #24d6b6;
    color: white;
}

.save-btn {
    background-color: #013744;
    color: white;
}

.table-container {
    overflow-x: auto;
    position: relative;
}

.attendance-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 12px;
}

.attendance-table th, .attendance-table td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.attendance-table th:first-child, 
.attendance-table td:first-child {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    position: sticky;
    left: 0;
    background-color: #f8f9fa;
    z-index: 1;
}

.attendance-table th:last-child, 
.attendance-table td:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.attendance-table tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

.attendance-table tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

.day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px; /
}

.day-hours, .overtime-hours {
    width: 50px; /* Genişlik */
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    text-align: center; /* İçeriği ortala */
    font-size: 14px; /* Yazı boyutunu artır */
}

.overtime-hours {
    margin-bottom: 0;
}

.attendance-table th, .attendance-table td {
    padding: 5px; /* Hücrelerin iç boşluğu artırıldı */
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}


.custom-card {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.month-header {
    text-align: left;
    margin-bottom: 20px;
}

.month-header h2 {
    font-size: 18px;
    font-weight: 500;
    color: #013744;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content p {
    margin-bottom: 20px;
    font-size: 16px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.total-box {
    background-color: #013744;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.total-box p {
    margin: 0;
    font-size: 14px;
}

.total-box h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #fff;

}

@media only screen and (max-width: 768px) {
    .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-input {
        width: 100%;
    }

    .table-container {
        overflow-x: scroll;
    }
}
.no-data-message {
    text-align: center;
    color: #666;
    font-size: 16px;
    margin: 20px 0;
}

</style>
   
           
        <div class="container-fluid">
            <div class="header-top">
                <h1 class="page-title" id="puantajTitle">Aylık Puantaj Girişi</h1>
                <button id="saveBtn" class="btn save-btn"><i class="fas fa-save"></i> Kaydet</button>
            </div>
            <div class="filters">
                <input type="month" id="monthFilter" class="filter-input">
                <select id="jobTypeFilter" class="filter-input">
                    <option value="">Kategori Seçin</option>
                    {% for i in departmanlar %}
                    <option value="{{i.kategori_isimi}}">{{i.kategori_isimi}}</option>
                    {% endfor %}
                </select>
                <button id="applyFilters" class="btn apply-btn"><i class="fas fa-filter"></i> Filtreleri Uygula</button>
               <div class="total-box">
                    <p>Toplam Hakediş:</p>
                    <h3 id="totalSalaryDisplay">0 $</h3>
                </div>
            </div>
        </div>
 

    <div class="container-fluid">
        <div class="month-header">
            <h2 id="selectedMonth">Eylül 2024 Puantajı</h2>
        </div>

        <div class="bulk-entry custom-card">
            <label>Toplu Giriş: </label>
            <input type="date" id="bulkStartDate" class="filter-input" placeholder="Başlangıç Tarihi">
            <input type="date" id="bulkEndDate" class="filter-input" placeholder="Bitiş Tarihi">
            <input type="number" id="bulkHours" class="filter-input" placeholder="Normal Saat">
            <input type="number" id="bulkOvertime" class="filter-input" placeholder="Mesai Saati">
            <button id="applyBulk" class="btn bulk-btn"><i class="fas fa-edit"></i> Uygula</button>
        </div>

        <div class="table-container custom-card">
              <div id="noDataMessage" class="no-data-message" style="display: none;">
        <p>Veri bulunamadı, görüntülemek için ay seçimi yapın.</p>
    </div>
            <table class="attendance-table">
                <thead>
                    <tr>
                        <th>Ad Soyad</th>
                        <th>Görevi</th>
                        <!-- Günler için başlıklar -->
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                        <th>17</th>
                        <th>18</th>
                        <th>19</th>
                        <th>20</th>
                        <th>21</th>
                        <th>22</th>
                        <th>23</th>
                        <th>24</th>
                        <th>25</th>
                        <th>26</th>
                        <th>27</th>
                        <th>28</th>
                        <th>29</th>
                        <th>30</th>
                        <th>Toplam Çalışma</th>
                        <th>Toplam Mesai</th>
                        <th>Hakediş</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Dinamik personel satırları buraya gelecek -->
                </tbody>
            </table>
        </div>
    </div>

    <!-- Başarı Mesajı Modalı -->
    <div id="successModal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <p><i class="fas fa-check-circle"></i> Puantaj başarıyla kaydedildi!</p>
        </div>
    </div>

    <!-- Uyarı Mesajı Modalı -->
    <div id="warningModal" class="modal">
        <div class="modal-content">
            <p id="warningMessage">Şu şu tarih aralığında şukadar kişi için veri girişi yapıyorsunuz. Emin misiniz?</p>
            <button id="confirmBulkEntry" class="btn bulk-btn">Evet</button>
            <button id="cancelBulkEntry" class="btn bulk-btn">Hayır</button>
        </div>
    </div>

    <script src="scripts.js"></script>


    </div>

    <script>
// Örnek Personel Verileri

// Örnek Personel Verileri
const personnelData = [
    {% for i in personeller %}
    { id : "{{i.id}}",name: "{{i.isim}} {{i.soyisim}}", category: "{{i.calisan_kategori.kategori_isimi}}" }
    {% if not forloop.last %},{% endif %}
    {% endfor %}

];

// Tabloya Personel Verilerini Yükleme
window.onload = function() {
    const tbody = document.querySelector('.attendance-table tbody');
    personnelData.forEach((person, personIndex) => {
        const row = document.createElement('tr');

        let daysInputs = '';
        for (let i = 1; i <= 30; i++) {
            daysInputs += `
                <td>
                    <div class="day-container">
                        <input type="number" class="day-hours" data-person="${person.id}" data-day="${i}" data-type="normal" min="0" max="24" value="9" placeholder="Normal">
                        <input type="number" class="overtime-hours" data-person="${person.id}" data-day="${i}" data-type="overtime" min="0" max="24" value="0" placeholder="Fazla Mesai">
                    </div>
                </td>`;
        }

        row.innerHTML = `
            <td>${person.name}</td>
            <td>${person.category}</td>
            ${daysInputs}
            <td class="total-working-hours">0</td>
            <td class="total-overtime-hours">0</td>
            <td class="total-salary">0 ₺</td>
        `;

        tbody.appendChild(row);
    });

    calculateTotal();

    // Tab tuşu ile aynı günün bir sonraki inputuna (normal->mesai) ve bir sonraki personelin inputuna geçiş yapma
    document.addEventListener('keydown', function(event) {
        if (event.key === 'Tab') {
            const activeElement = document.activeElement;
            if (activeElement.tagName === 'INPUT' && (activeElement.classList.contains('day-hours') || activeElement.classList.contains('overtime-hours'))) {
                event.preventDefault();  // Default tab davranışını iptal et

                const personIndex = parseInt(activeElement.getAttribute('data-person'));
                const dayIndex = parseInt(activeElement.getAttribute('data-day'));
                const inputType = activeElement.getAttribute('data-type');

                let nextInput;

                // Eğer normal saat kutusundaysa, fazla mesai kutusuna geç
                if (inputType === 'normal') {
                    nextInput = document.querySelector(`input[data-person="${person.id}"][data-day="${dayIndex}"][data-type="overtime"]`);
                } else {
                    // Fazla mesai kutusundaysa, bir sonraki personelin normal saat kutusuna geç
                    nextInput = document.querySelector(`input[data-person="${personIndex + 1}"][data-day="${dayIndex}"][data-type="normal"]`);
                }

                // Eğer sonraki input varsa ona odaklan, yoksa bir sonraki güne geç
                if (nextInput) {
                    nextInput.focus();
                } else {
                    const firstPersonInputNextDay = document.querySelector(`input[data-person="0"][data-day="${dayIndex + 1}"][data-type="normal"]`);
                    if (firstPersonInputNextDay) {
                        firstPersonInputNextDay.focus();
                    }
                }
            }
        }
    });
};

// Toplu Veri Girişi
document.getElementById('applyBulk').addEventListener('click', function() {
    const bulkStartDate = document.getElementById('bulkStartDate').value;
    const bulkEndDate = document.getElementById('bulkEndDate').value;
    const bulkHours = document.getElementById('bulkHours').value;
    const bulkOvertime = document.getElementById('bulkOvertime').value;

    const startDay = new Date(bulkStartDate).getDate();
    const endDay = new Date(bulkEndDate).getDate();

    // Uyarı modalını göster
    const warningModal = document.getElementById('warningModal');
    const warningMessage = document.getElementById('warningMessage');
    const dayCount = (endDay - startDay) + 1;
    const personnelCount = document.querySelectorAll('.attendance-table tbody tr').length;
    
    warningMessage.textContent = `${dayCount} gün ve ${personnelCount} kişi için veri girişi yapıyorsunuz. Emin misiniz?`;
    warningModal.style.display = 'block';

    // Evet ve Hayır butonları için event listener ekle
    document.getElementById('confirmBulkEntry').addEventListener('click', function() {
        applyBulkEntries(startDay, endDay, bulkHours, bulkOvertime);
        warningModal.style.display = 'none';
    });

    document.getElementById('cancelBulkEntry').addEventListener('click', function() {
        warningModal.style.display = 'none';
    });
});

function applyBulkEntries(startDay, endDay, bulkHours, bulkOvertime) {
    const rows = document.querySelectorAll('.attendance-table tbody tr');
    rows.forEach(row => {
        for (let i = startDay - 1; i < endDay; i++) {
            const dayInput = row.querySelectorAll('.day-hours')[i];
            const overtimeInput = row.querySelectorAll('.overtime-hours')[i];
            dayInput.value = bulkHours;
            overtimeInput.value = bulkOvertime;
        }
    });

    calculateTotal();
}

// Toplam Ücret ve Saat Hesaplama
document.addEventListener('input', function(event) {
    if (event.target.classList.contains('day-hours') || event.target.classList.contains('overtime-hours')) {
        calculateTotal();
    }
});

function calculateTotal() {
    const rows = document.querySelectorAll('.attendance-table tbody tr');
    let totalSalary = 0;

    rows.forEach(row => {
        const dayHours = row.querySelectorAll('.day-hours');
        const overtimeHours = row.querySelectorAll('.overtime-hours');
        
        let totalWorkingHours = 0;
        let totalOvertimeHours = 0;

        dayHours.forEach((input, index) => {
            totalWorkingHours += parseFloat(input.value);
            totalOvertimeHours += parseFloat(overtimeHours[index].value);
        });

        const rowTotalSalary = (totalWorkingHours * 10) + (totalOvertimeHours * 15); // Örnek ücret hesaplama
        totalSalary += rowTotalSalary;

        row.querySelector('.total-working-hours').innerText = totalWorkingHours;
        row.querySelector('.total-overtime-hours').innerText = totalOvertimeHours;
        row.querySelector('.total-salary').innerText = rowTotalSalary.toFixed(2) + ' ₺';
    });

    document.getElementById('totalSalaryDisplay').innerText = totalSalary.toFixed(2) + ' $';
}

// Kaydetme ve Başarı Mesajı Gösterme
document.getElementById('saveBtn').addEventListener('click', function() {
    const successModal = document.getElementById('successModal');
    successModal.style.display = 'block';
});

document.querySelector('.close-btn').addEventListener('click', function() {
    const successModal = document.getElementById('successModal');
    successModal.style.display = 'none';
});

window.addEventListener('click', function(event) {
    const successModal = document.getElementById('successModal');
    if (event.target == successModal) {
        successModal.style.display = 'none';
    }
});

// Ay seçimi yapıldığında başlığı güncelle
document.addEventListener('DOMContentLoaded', function() {
    const monthInput = document.getElementById('monthFilter');
    const monthHeader = document.getElementById('selectedMonth');

    function updateMonthHeader() {
        const monthNames = ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"];
        const date = new Date(monthInput.value);

        if (isNaN(date.getTime())) {
            // Eğer ay seçimi yapılmadıysa
            monthHeader.textContent = "Lütfen ay seçimi yapın";
        } else {
            const month = monthNames[date.getMonth()];
            const year = date.getFullYear();
            monthHeader.textContent = `${month} ${year} Puantajı`;
        }
    }

    monthInput.addEventListener('change', updateMonthHeader);

    updateMonthHeader(); // Sayfa yüklendiğinde başlığı güncelle
});
document.addEventListener('DOMContentLoaded', function() {
    const monthInput = document.getElementById('monthFilter');
    const monthHeader = document.getElementById('selectedMonth');
    const tableContainer = document.querySelector('.attendance-table');
    const noDataMessage = document.getElementById('noDataMessage');

    function updateMonthHeader() {
        const monthNames = ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"];
        const date = new Date(monthInput.value);

        if (isNaN(date.getTime())) {
            // Ay seçimi yapılmadıysa
            monthHeader.textContent = "Lütfen ay seçimi yapın";
            tableContainer.style.display = "none"; // Tabloyu gizle
            noDataMessage.style.display = "block"; // Uyarı mesajını göster
        } else {
            const month = monthNames[date.getMonth()];
            const year = date.getFullYear();
            monthHeader.textContent = `${month} ${year} Puantajı`;
            tableContainer.style.display = "table"; // Tabloyu göster
            noDataMessage.style.display = "none"; // Uyarı mesajını gizle
        }
    }

    monthInput.addEventListener('change', updateMonthHeader);

    updateMonthHeader(); // Sayfa yüklendiğinde başlığı güncelle
});
document.addEventListener('DOMContentLoaded', function() {
    const monthInput = document.getElementById('monthFilter');
    const monthHeader = document.getElementById('selectedMonth');
    const tableContainer = document.querySelector('.attendance-table');
    const tbody = tableContainer.querySelector('tbody');
    const noDataMessage = document.getElementById('noDataMessage');

    function daysInMonth(month, year) {
        return new Date(year, month, 0).getDate();
    }

    function updateTable() {
        const date = new Date(monthInput.value);
        const dfe = [];
    if (isNaN(date.getTime())) {
        monthHeader.textContent = "Lütfen ay seçimi yapın";
        tableContainer.style.display = "none";
        noDataMessage.style.display = "block";
    } else {
        const month = date.getMonth() + 1;
        const year = date.getFullYear();
        const days = daysInMonth(month, year);
        monthHeader.textContent = `${date.toLocaleString('tr-TR', { month: 'long' })} ${year} Puantajı`;
        tableContainer.style.display = "table";
        noDataMessage.style.display = "none";

        // Tablo başlıklarını güncelle
        const thead = tableContainer.querySelector('thead tr');
        thead.innerHTML = `
            <th>Ad Soyad</th>
            <th>Görevi</th>
        `;
        for (let i = 1; i <= days; i++) {
            thead.innerHTML += `<th>${i}</th>`;
        }
        thead.innerHTML += `
            <th>Toplam Çalışma</th>
            <th>Toplam Mesai</th>
            <th>Hakediş</th>
        `;

        // Tablo gövdesini güncelle
        tbody.innerHTML = ''; // Önceki içerikleri temizle

        const fetchPromises = personnelData.map((person, personIndex) => {
            // Her gün için bir dizi oluştur
            const daysInputsArray = new Array(days).fill('');

            const dayPromises = [];
            for (let i = 1; i <= days; i++) {
                const tarih_gonder = document.querySelector(".filter-input").value;

                const veri = [{
                    gun_gonder: i,
                    tarih_gonder: tarih_gonder,
                    personel: person.id
                }];

                dayPromises.push(
                    fetch('/users/taketally/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify(veri)  // Tüm verileri gönderiyoruz
                    })
                    .then(response => response.json())
                    .then(data => {
                        const normal_saat_bilgisi = data.sonuc == "veri_yok" ? 9 : parseFloat(data.normal_saat) || 0;
                        const mesai_saati_bilgisi = data.sonuc == "veri_yok" ? 0 : parseFloat(data.mesai_saati) || 0;
                        //dfe.push(
                        //    {"gun":i,"normal_saat_bilgisi":normal_saat_bilgisi,"mesai_saati_bilgisi":mesai_saati_bilgisi}
                        //)
                        // Veriyi doğru sıraya ekleyelim
                        daysInputsArray[i - 1] = `
                            <td>
                                <div class="day-container">
                                    <input type="number" class="day-hours" data-person="${person.id}" data-day="${i}" data-type="normal" step="0.01" min="0" max="24" value="${normal_saat_bilgisi}" placeholder="Normal">
                                    <input type="number" class="overtime-hours" data-person="${person.id}" data-day="${i}" data-type="overtime" step="0.01" min="0" max="24" value="${mesai_saati_bilgisi}" placeholder="Fazla Mesai">
                                </div>
                            </td>`;
                    })
                );
                //console.log(dfe);
            }

            return Promise.all(dayPromises).then(() => {
                const daysInputs = daysInputsArray.join(''); // Günlük verileri sırayla birleştir
                const row = `
                    <tr>
                        <td>${person.name}</td>
                        <td>${person.category}</td>
                        ${daysInputs}
                        <td class="total-working-hours">0</td>
                        <td class="total-overtime-hours">0</td>
                        <td class="total-salary">0 ₺</td>
                    </tr>
                `;
                tbody.innerHTML += row;
            });
        });

        Promise.all(fetchPromises).then(() => {
            console.log('Tablo başarıyla güncellendi.');
        }).catch(error => {
            console.error('Tablo güncellenirken bir hata oluştu:', error);
        });
        }
    }

    monthInput.addEventListener('change', updateTable);

    updateTable(); // Sayfa yüklendiğinde tabloyu güncelle
});


// HABIPPPPPPP BURDAN SONRASIIIII
// Ay seçimi sayısal
document.getElementById('monthFilter').addEventListener('change', function () {
    const selectedDate = new Date(this.value); 
    const selectedMonth = selectedDate.getMonth() + 1; 
    console.log("Seçilen ay:", selectedMonth); 
});


//filitreeeeeeeee
// Filtreleme işlevi
function filterData() {
    const jobTypeFilter = document.getElementById('jobTypeFilter').value;
    const tbody = document.querySelector('.attendance-table tbody');
    tbody.innerHTML = ''; // Mevcut tabloyu temizle

    // Eğer bir kategori seçildiyse, verileri filtrele
    let filteredData = personnelData.filter(person => {
        return jobTypeFilter === '' || person.category === jobTypeFilter;
    });

    // Filtrelenmiş personelleri tabloya yükle
    filteredData.forEach((person, personIndex) => {
        const row = document.createElement('tr');

        let daysInputs = '';
        for (let i = 1; i <= 30; i++) {
            daysInputs += `
                <td>
                    <div class="day-container">
                        <input type="number" class="day-hours" data-person="${person.id}" data-day="${i}" data-type="normal" min="0" max="24" value="9" placeholder="Normal">
                        <input type="number" class="overtime-hours" data-person="${person.id}" data-day="${i}" data-type="overtime" min="0" max="24" value="0" placeholder="Fazla Mesai">
                    </div>
                </td>`;
        }

        row.innerHTML = `
            <td>${person.name}</td>
            <td>${person.category}</td>
            ${daysInputs}
            <td class="total-working-hours">0</td>
            <td class="total-overtime-hours">0</td>
            <td class="total-salary">0 ₺</td>
        `;

        tbody.appendChild(row);
    });
}

// Kategori seçildiğinde filtreleme işlevini çalıştır
document.getElementById('jobTypeFilter').addEventListener('change', filterData);

// Sayfa yüklendiğinde tüm personelleri yükle
window.onload = function () {
    filterData(); // İlk başta tüm personelleri göster
};

//Toplu giriş kısıtı
document.getElementById('monthFilter').addEventListener('change', function () {
    const selectedMonth = this.value;  // YYYY-MM formatında ay değeri

    if (!selectedMonth) {
        // Ay seçilmediyse toplu giriş bölümünü gizle
        document.querySelector('.bulk-entry').style.display = 'none';
        return;
    }

    // Eğer geçerli bir ay seçildiyse toplu giriş bölümünü göster
    document.querySelector('.bulk-entry').style.display = 'block';

    const year = parseInt(selectedMonth.split('-')[0]);  // Seçilen yıl
    const month = parseInt(selectedMonth.split('-')[1]);  // Seçilen ay (1 tabanlı)

    // Seçilen ayın son gününü doğru bir şekilde hesapla
    const firstDayOfMonth = `${year}-${month.toString().padStart(2, '0')}-01`; // Ayın ilk günü
    const lastDayOfMonth = `${year}-${month.toString().padStart(2, '0')}-${new Date(year, month, 0).getDate()}`; // Ayın son günü

    // Toplu giriş tarih alanlarının min ve max değerlerini güncelle
    document.getElementById('bulkStartDate').setAttribute('min', firstDayOfMonth);
    document.getElementById('bulkStartDate').setAttribute('max', lastDayOfMonth);

    document.getElementById('bulkEndDate').setAttribute('min', firstDayOfMonth);
    document.getElementById('bulkEndDate').setAttribute('max', lastDayOfMonth);

    console.log("Seçilen ayın ilk günü:", firstDayOfMonth);
    console.log("Seçilen ayın son günü:", lastDayOfMonth);
});

// Sayfa yüklendiğinde toplu giriş bölümünü gizle
window.onload = function () {
    document.querySelector('.bulk-entry').style.display = 'none';  // Sayfa ilk yüklendiğinde gizli
};


// Normal mesai inputları için renk değiştirme fonksiyonu
// Normal mesai inputları için renk değiştirme fonksiyonu
function updateInputBackground(inputElement) {
    const value = parseFloat(inputElement.value);
    
    if (isNaN(value)) {
        return; // Eğer input boş ise hiçbir değişiklik yapma
    }

    if (value >= 1 && value <= 4) {
        inputElement.style.backgroundColor = '#FEBA33';  // 1-4 arasında
        inputElement.style.color = '#000000';
    } else if (value >= 5 && value <= 8) {
        inputElement.style.backgroundColor = '#1AA5E0';  // 5-8 arasında
        inputElement.style.color = '#000000';
    } else if (value === 9) {
        inputElement.style.backgroundColor = '#23D4AF';  // 9 olduğunda
        inputElement.style.color = '#000000';
    } else if (value > 9) {
        inputElement.style.backgroundColor = '#FF5450';  // 9 üzeri
        inputElement.style.color = '#000000';
    }
}

// Fazla mesai inputları için renk değiştirme fonksiyonu
function updateOvertimeBackground(inputElement) {
    const value = parseFloat(inputElement.value);
    
    if (isNaN(value)) {
        return; // Eğer input boş ise hiçbir değişiklik yapma
    }

    if (value > 0) {
        inputElement.style.backgroundColor = '#F45B42';  // Fazla mesai 0'dan büyükse
        inputElement.style.color = '#000000';
    } else {
        inputElement.style.backgroundColor = '';  // Varsayılan rengi koru
        inputElement.style.color = '';
    }
}

// Toplu veri girişini gerçekleştiren fonksiyon
function applyBulkEntries(startDay, endDay, bulkHours, bulkOvertime) {
    const rows = document.querySelectorAll('.attendance-table tbody tr');
    rows.forEach(row => {
        for (let i = startDay - 1; i < endDay; i++) {
            const dayInput = row.querySelectorAll('.day-hours')[i];
            const overtimeInput = row.querySelectorAll('.overtime-hours')[i];
            dayInput.value = bulkHours;
            overtimeInput.value = bulkOvertime;

            // Toplu giriş sırasında renk değiştirme fonksiyonlarını çağırıyoruz
            updateInputBackground(dayInput);        // Normal mesai için
            updateOvertimeBackground(overtimeInput); // Fazla mesai için
        }
    });

    calculateTotal(); // Toplam ücret ve saat hesaplamasını güncelle
}

// Toplu veri girişi fonksiyonu
document.getElementById('applyBulk').addEventListener('click', function() {
    const bulkStartDate = document.getElementById('bulkStartDate').value;
    const bulkEndDate = document.getElementById('bulkEndDate').value;
    const bulkHours = document.getElementById('bulkHours').value;
    const bulkOvertime = document.getElementById('bulkOvertime').value;

    const startDay = new Date(bulkStartDate).getDate();
    const endDay = new Date(bulkEndDate).getDate();

    // Uyarı modalını göster
    const warningModal = document.getElementById('warningModal');
    const warningMessage = document.getElementById('warningMessage');
    const dayCount = (endDay - startDay) + 1;
    const personnelCount = document.querySelectorAll('.attendance-table tbody tr').length;
    
    warningMessage.textContent = `${dayCount} gün ve ${personnelCount} kişi için veri girişi yapıyorsunuz. Emin misiniz?`;
    warningModal.style.display = 'block';

    // Evet ve Hayır butonları için event listener ekle
    document.getElementById('confirmBulkEntry').addEventListener('click', function() {
        applyBulkEntries(startDay, endDay, bulkHours, bulkOvertime);
        warningModal.style.display = 'none';
    });

    document.getElementById('cancelBulkEntry').addEventListener('click', function() {
        warningModal.style.display = 'none';
    });
});

// Inputların renklerini değiştir
document.addEventListener('input', function (event) {
    if (event.target.classList.contains('day-hours')) {
        updateInputBackground(event.target);  // Normal mesai inputu
    } else if (event.target.classList.contains('overtime-hours')) {
        updateOvertimeBackground(event.target);  // Fazla mesai inputu
    }
});


    </script>

<script>
    
document.querySelector('#saveBtn').addEventListener('click', function() {
    const dayInputs = document.querySelectorAll('.day-hours');
    const overtimeInputs = document.querySelectorAll('.overtime-hours');
    
    const filter_input = document.querySelector(".filter-input") 
    const dis_katman = [filter_input.value];
    const dataToSend = [];
    // Normal saatler için verileri topla
    dayInputs.forEach(input => {
        const person = input.getAttribute('data-person');
        const day = input.getAttribute('data-day');
        const type = input.getAttribute('data-type');
        const value = input.value;
        const value_filter_input = filter_input.value;
        // Veriyi toplu olarak diziye ekle
        dataToSend.push({
            person: person,
            day: day,
            type: type,
            value: value
        });
    });
    
    // Fazla mesai saatleri için verileri topla
    overtimeInputs.forEach(input => {
        const person = input.getAttribute('data-person');
        const day = input.getAttribute('data-day');
        const type = input.getAttribute('data-type');
        const value = input.value;

        // Fazla mesai verisini diziye ekle
        dataToSend.push({
            person: person,
            day: day,
            type: type,
            value: value
        });
    });
    dis_katman.push(
             dataToSend
        );
    // AJAX isteği ile Django'ya veri gönder
    fetch('/users/savetally/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify(dis_katman)  // Tüm verileri gönderiyoruz
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
    })
    .catch(error => {
        console.error('Hata:', error);
    });
});

</script>
        </div>

{% endblock sidebar %}