 {% extends "homebase.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./content/style/style.css">
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
<script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
<script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/v/dt/dt-1.11.5/fc-3.3.3/datatables.min.css">
<script src="https://cdn.datatables.net/v/dt/dt-1.11.5/fc-3.3.3/datatables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    
{% endblock head %}
{% block sidebar %}
<style>
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.dataTables_wrapper .DTFC_LeftWrapper {
    background-color: white; /* Sabit sütun arka plan rengi */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sabit sütun ile diğer sütunlar arasında gölge */
}
.dark-mode .dataTables_wrapper .DTFC_LeftWrapper {
    background-color: #2c2c2c; /* Sabit sütun arka plan rengi */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sabit sütun ile diğer sütunlar arasında gölge */
}
.warning-message {
    background-color: #fff3cd; /* Hafif sarı arka plan */
    color: #856404; /* Koyu sarı yazı rengi */
    border-left: 4px solid #ffecb5; /* Sadece sol tarafta ince bir çizgi */
    padding: 10px 15px; /* İç boşluk */
    font-size: 1em; /* Standart yazı boyutu */
    text-align: center;
    border-radius: 4px; /* Hafif yuvarlatılmış köşeler */
    max-width: 70%; /* Genişlik sınırlaması */
    margin: 20px auto; /* Ortalanmış konumlandırma */
}



.stats-info {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.info-icon {
    font-size: 14px;
    color: #007bff; /* İsteğe bağlı renk */
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.info-icon:hover + .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}
.tutar {
    font-size: 20px; /* İstediğiniz boyutta ayarlayabilirsiniz */
    font-weight: bold;
}
.dark-mode table.dataTable tbody tr {
    background-color: #121212;
}

</style>
<main>
                                    <!-- Preloader Bölümü -->
                                    <div id="preloader">
                                        <div class="spinner"></div>
                                        <p>{% trans 'Veriler işleniyor...' %} <br>{% trans ' Lütfen bekleyiniz.' %}</p>
                                    </div>

        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#" onclick="history.back(); return false;"><i class="icon icon-arrow-circle-left"></i></a>
                    {% trans 'Puantaj' %}
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#">{% trans 'Dashboard' %}</a></li>
                    <li><a href="#">{% trans 'Çalışan Yönetimi' %}</a></li>
                    <li><a href="#">{% trans 'Puantaj' %}</a></li>
                </ul>
            </div>

            <div class="page-actions">
                <button class="page-primary-btn" onclick="openModal('toplu-puantaj-gir')"><i class="icon icon-new"></i>
                    {% trans 'Toplu Puantaj Gir' %}</button>
                <button id="saveBtn" class="btn save-btn page-primary-btn"><i class="fas fa-save"></i> {% trans "Kaydet" %}</button>
            </div>
        </div>

        <div class="large-stats-card table-card table-detail-card">
            <div class="stats-header">
                <div class="stats-title">{% trans 'Aylık Puantaj Girişi' %}</div>
                    <div class="stats-right">
                        <div class="stats-info">
                            {% trans 'Hakediş (USD):' %} <span class="tutar" id="tutardolar">{% trans '-' %}</span>
                            <i class="fas fa-info-circle info-icon"></i>
                            <span class="tooltip-text">{% trans 'Bu tutar, USD ile maaş alan çalışanların hakediş toplamını gösterir. Hakediş filitreleme yapıldıktan sonra hesaplanır.' %}</span>
                        </div>
                        <div class="stats-info">
                            {% trans 'Hakediş (IQD):' %} <span class="tutar" id="tutardinar">{% trans '-' %}</span>
                            <i class="fas fa-info-circle info-icon"></i>
                            <span class="tooltip-text">{% trans 'Bu tutar, IQD ile maaş alan çalışanların hakediş toplamını gösterir. Hakediş filitreleme yapıldıktan sonra hesaplanır.' %}</span>
                        </div>
                    </div>

                
            </div>
            <form id="filterForm" method="GET" >
            <div class="puantaj-actions">
            
                <div class="puantaj-action">
                    <div class="stats-search">
                        <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                        <button><i class="icon icon-search"></i></button>
                    </div>
                </div>
                <div class="puantaj-action">
                    <div class="stats-search-date">
                       <input type="month" id="monthFilter" name="monthFilter" class="filter-input"
       value="{% if request.GET.monthFilter %}{{ request.GET.monthFilter }}{% endif %}">
       <button type="button" ><i class="icon icon-puantaj-calendar"></i></button>
                    </div>
                </div>
                <div class="puantaj-action">
                    <div class="form-element">
                       <select id="jobTypeFilter" name="jobTypeFilter" class="filter-input">
                        <option value="">{% trans 'Departman Seçin' %}</option>
                        {% for i in departmanlar %}
                            <option value="{{ i.id }}" {% if request.GET.jobTypeFilter == i.id|stringformat:"s" %}selected{% endif %}>
                                {{ i.kategori_isimi }}
                            </option>
                        {% endfor %}
                        </select>
                        <input type="text" id="personelID" hidden name="personelID" class="filter-input"
                        value="{% if request.GET.personelID %}{{ request.GET.personelID }}{% endif %}">
                    </div>
                </div>
                <div class="puantaj-action">
                    <button type="submit" class="puantaj-action-btn">{% trans 'Filtreleri Uygula' %}</button>
                </div>
               
                <div class="puantaj-action puantaj-tabs">
                    <div class="puantaj-tab" data-tab="haftalik">{% trans 'Haftalık' %}</div>
                    <div class="puantaj-tab active" data-tab="aylik">{% trans 'Aylık' %}</div>
                </div>

            </div>
             </form>
            <script>
                $(".puantaj-tab").on("click", function () {
                    $(".puantaj-tab").removeClass("active");
                    $(".puantaj-tab-content").removeClass("active");

                    $(this).addClass("active");
                    $("#" + $(this).attr("data-tab")).addClass("active");
                })
            </script>

            <div class="puantaj-tab-contents">

                <div class="puantaj-tab-content" id="haftalik">

                    <div class="tab-navs">
                        <button class="tab-navs-btn active" data-tab="hafta-1">{% trans '1. Hafta' %}</button>
                        <button class="tab-navs-btn" data-tab="hafta-2">{% trans '2. Hafta' %}</button>
                        <button class="tab-navs-btn" data-tab="hafta-3">{% trans '3. Hafta' %}</button>
                        <button class="tab-navs-btn" data-tab="hafta-4">{% trans '4. Hafta' %}</button>
                    </div>

                    <div class="tab-contents" style="margin: 0;">

                        <div class="tab-content active" id="hafta-1">
                        
                            <div class="table-wrapper">

                                <table class="puantaj-table" id="hafta-1-table">
                                    <thead>
                                        <tr>
                                            <th>{% trans 'Ad Soyad' %}</th>
                        <th>{% trans 'Görevi' %}</th>
                                           {% for day in haftalik.hafta1 %}
                        
                        
                                            <th>{{day}}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for i in personeller %}
                    
                    
                <tr>
                        <td>{{i.isim}} {{i.soyisim}}</td>
                        <td>{{i.calisan_kategori.kategori_isimi}}</td>
                        {% for day in haftalik.hafta1 %}
    {% calismalari_cek i.id day request.GET.monthFilter as bilgi %}
    <td>
        <div class="td-puantaj">
        {% if  bilgi.normal_saat > 0 %}
            <input type="number" class="day-hours td-puantaj-part td-puantaj-highlight" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="{% trans 'Normal' %}">
        {% else %}
        <input type="number" class="day-hours td-puantaj-part" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="{% trans 'Normal' %}">
        {% endif %}
           {% if  bilgi.mesai_saati > 0 %}
            <input type="number" class="overtime-hours td-puantaj-part td-puantaj-danger" data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="{% trans 'Fazla Mesai' %}">
        {% else %}
        <input type="number" class="overtime-hours td-puantaj-part " data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="{% trans 'Fazla Mesai' %}">
        {% endif %}
            
            
        </div>
    </td>
{% endfor %}

                    </tr>
                    <!-- Dinamik personel satırları buraya gelecek -->
                    {% endfor %}
                              
                                    </tbody>
                                </table>
                                                                <div class="large-stats-card-footer-actions">
                                    {% trans 'Yanlızca aylık görünümde export yapabilirsiniz.' %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" id="hafta-2">
                            <div class="table-wrapper">
                                <table class="puantaj-table" id="hafta-2-table">
                                    <thead>
                                        <tr>
                                            
                                            <th>{% trans 'Ad Soyad' %}</th>
                                            <th>{% trans 'Görevi' %}</th>
                                           {% for day in haftalik.hafta2 %}
                        
                        
                                            <th>{{day}}</th>
                                            {% endfor %}
                                        </tr>
                                        
                                    </thead>
                                    <tbody>
                                      {% for i in personeller %}
                    
                    
                                         <tr>
                                        <td>{{i.isim}} {{i.soyisim}}</td>
                                        <td>{{i.calisan_kategori.kategori_isimi}}</td>
                                        {% for day in haftalik.hafta2 %}
                                        {% calismalari_cek i.id day request.GET.monthFilter as bilgi %}
                                        <td>
                                            <div class="td-puantaj">
                                                 {% if  bilgi.normal_saat > 0 %}
                                                    <input type="number" class="day-hours td-puantaj-part td-puantaj-highlight" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="{% trans 'Normal' %}">
                                                {% else %}
                                                <input type="number" class="day-hours td-puantaj-part" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="{% trans 'Normal' %}">
                                                {% endif %}
                                                {% if  bilgi.mesai_saati > 0 %}
                                                    <input type="number" class="overtime-hours td-puantaj-part td-puantaj-danger" data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="{% trans 'Fazla Mesai' %}">
                                                {% else %}
                                                <input type="number" class="overtime-hours td-puantaj-part " data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="{% trans 'Fazla Mesai' %}">
                                                {% endif %}
                                                    
                                            </div>
                                        </td>
                                    {% endfor %}

                                    </tr>
                                    <!-- Dinamik personel satırları buraya gelecek -->
                                    {% endfor %}
                              
                                    </tbody>
                                </table>
                                                                <div class="large-stats-card-footer-actions">
                                    {% trans 'Yanlızca aylık görünümde export yapabilirsiniz.' %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" id="hafta-3">
                            <div class="table-wrapper">
                                <table class="puantaj-table" id="hafta-3-table">
                                    <thead>
                                       <tr>
                                           
                                            <th>{% trans 'Ad Soyad' %}</th>
                        <th>{% trans 'Görevi' %}</th>
                                           {% for day in haftalik.hafta3 %}
                        
                        
                                            <th>{{day}}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for i in personeller %}
                    
                    
                <tr>
                        <td>{{i.isim}} {{i.soyisim}}</td>
                        <td>{{i.calisan_kategori.kategori_isimi}}</td>
                        {% for day in haftalik.hafta3 %}
    {% calismalari_cek i.id day request.GET.monthFilter as bilgi %}
    <td>
        <div class="td-puantaj">
             {% if  bilgi.normal_saat > 0 %}
            <input type="number" class="day-hours td-puantaj-part td-puantaj-highlight" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="{% trans 'Normal' %}">
        {% else %}
        <input type="number" class="day-hours td-puantaj-part" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="{% trans 'Normal' %}">
        {% endif %}
           {% if  bilgi.mesai_saati > 0 %}
            <input type="number" class="overtime-hours td-puantaj-part td-puantaj-danger" data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="{% trans 'Fazla Mesai' %}">
        {% else %}
        <input type="number" class="overtime-hours td-puantaj-part " data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="{% trans 'Fazla Mesai' %}">
        {% endif %}
            
        </div>
    </td>
{% endfor %}

                    </tr>
                    <!-- Dinamik personel satırları buraya gelecek -->
                    {% endfor %}
                              
                                    </tbody>
                                </table>
                                                                <div class="large-stats-card-footer-actions">
                                    {% trans 'Yanlızca aylık görünümde export yapabilirsiniz.' %}
                                </div>
                            </div>
                        </div>
                       

                        <div class="tab-content" id="hafta-4">
                            <div class="table-wrapper">
                                <table class="puantaj-table" id="hafta-4-table">
                                    <thead>
                                        <tr>
                                         
                                            <th>{% trans 'Ad Soyad' %}</th>
                        <th>{% trans 'Görevi' %}</th>
                                           {% for day in haftalik.hafta4 %}
                        
                        
                                            <th>{{day}}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for i in personeller %}
                    
                    
                <tr>
                        <td>{{i.isim}} {{i.soyisim}}</td>
                        <td>{{i.calisan_kategori.kategori_isimi}}</td>
                        {% for day in haftalik.hafta4 %}
    {% calismalari_cek i.id day request.GET.monthFilter as bilgi %}
    <td>
        <div class="td-puantaj">
            {% if  bilgi.normal_saat > 0 %}
            <input type="number" class="day-hours td-puantaj-part td-puantaj-highlight" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="{% trans 'Normal' %}">
        {% else %}
        <input type="number" class="day-hours td-puantaj-part" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="{% trans 'Normal' %}">
        {% endif %}
           {% if  bilgi.mesai_saati > 0 %}
            <input type="number" class="overtime-hours td-puantaj-part td-puantaj-danger" data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="{% trans 'Fazla Mesai' %}">
        {% else %}
        <input type="number" class="overtime-hours td-puantaj-part " data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="{% trans 'Fazla Mesai' %}">
        {% endif %}
            
        </div>
    </td>
{% endfor %}

                    </tr>
                    <!-- Dinamik personel satırları buraya gelecek -->
                    {% endfor %}
                              

                                    </tbody>
                                </table>
                                <div class="large-stats-card-footer-actions">
                                    {% trans 'Yanlızca aylık görünümde export yapabilirsiniz.' %}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="puantaj-tab-content active" id="aylik">
                    <div class="table-wrapper">
                        <table class="puantaj-table" id="aylik-table">
                            <thead>
                                <tr>
                                    <th>{% trans 'Ad Soyad' %}</th>
                        <th>{% trans 'Görevi' %}</th>
                        <!-- Günler için başlıklar -->
                        {% for day in gun %}
                        
                        
                        <th>{{day}}</th>
                        {% endfor %}
                        <th>{% trans 'Toplam Ödenecek Tutar' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for i in personeller %}
                    
                    
                <tr>
                        <td>{{i.isim}} {{i.soyisim}}</td>
                        <td>{{i.calisan_kategori.kategori_isimi}}</td>
                        {% for day in gun %}
    {% calismalari_cek i.id day request.GET.monthFilter as bilgi %}
    <td>
        <div class="td-puantaj">
             {% if  bilgi.normal_saat > 0 %}
            <input type="number" class="day-hours td-puantaj-part td-puantaj-highlight" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="{% trans 'Normal' %}">
        {% else %}
        <input type="number" class="day-hours td-puantaj-part" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="{% trans 'Normal' %}">
        {% endif %}
           {% if  bilgi.mesai_saati > 0 %}
            <input type="number" class="overtime-hours td-puantaj-part td-puantaj-danger" data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="{% trans 'Fazla Mesai' %}">
        {% else %}
        <input type="number" class="overtime-hours td-puantaj-part " data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="{% trans 'Fazla Mesai' %}">
        {% endif %}
            
        </div>
    </td>
{% endfor %}
            <td>
            {% odeme_para_birimii i  as para_birimi_bilgi %}
            {% maaslari_getirme i as tutari_ver %}
            
            {% if para_birimi_bilgi == "1"  %}
                {% trans "$" %}
            {% else %}
            {% trans "IQD" %}
            {% endif %}
                        <input type="number" class="saatlik"  data-tutar="{{tutari_ver.saatlik}}" data-parabirimi = "{{para_birimi_bilgi}}" data-person="{{i.id}}" data-day="Normal_mesai_tutari" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="{% trans 'Normal Mesai Tutarı' %}">
            <input type="number" class="fazlamesai" data-person="{{i.id}}" data-tutar="{{tutari_ver.fazla_mesai}}" data-parabirimi = "{{para_birimi_bilgi}}"  data-day="Fazla_mesai_tutari"  step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="{% trans 'Fazla Mesai Tutarı' %}"></td>

                    </tr>
                    <!-- Dinamik personel satırları buraya gelecek -->
                    {% endfor %}
                              

                            </tbody>
                        </table>
                        <div class="large-stats-card-footer-actions">
            <a onclick="$('.buttons-pdf').click()" class="lsc-footer-action"><i class="icon icon-pdf"></i></a>
            <a onclick="$('.buttons-excel').click()" class="lsc-footer-action"><i class="icon icon-xlsx"></i></a>
            <a onclick="$('.buttons-print').click()" class="lsc-footer-action"><i class="icon icon-print"></i></a>
        </div>
                    </div>
                </div>

            </div>





            <script>
                $(".tab-navs-btn").on("click", function () {
                    $(".tab-navs-btn").removeClass("active");
                    $(".tab-content").removeClass("active");

                    $(this).addClass("active");
                    $("#" + $(this).attr("data-tab")).addClass("active");
                })
            </script>

        </div>

        <script>
            let hafta1 = new DataTable('#hafta-1-table', {
                paging: false,
                searching: true,
                ordering: false, // Sıralamayı devre dışı bırak
                dom: 'rt', // Butonları etkinleştirir
                info: false,

            });
            let hafta2 = new DataTable('#hafta-2-table', {
                paging: false,
                searching: true,
                ordering: false, // Sıralamayı devre dışı bırak
                dom: 'rt', // Butonları etkinleştirir
                info: false,

            });
            let hafta3 = new DataTable('#hafta-3-table', {
                paging: false,
                searching: true,
                ordering: false, // Sıralamayı devre dışı bırak
                dom: 'rt', // Butonları etkinleştirir
                info: false,

            });
            let hafta4 = new DataTable('#hafta-4-table', {
                paging: false,
                searching: true,
                ordering: false, // Sıralamayı devre dışı bırak
                dom: 'rt', // Butonları etkinleştirir
                info: false,

            });
            let aylikTable = $('#aylik-table').DataTable({
        paging: false,
        searching: true,
        ordering: false, // Sıralamayı devre dışı bırak
        scrollX: true,
        scrollY: true,
                fixedColumns: {
                    leftColumns: 1
                },
        info: false,
        dom: 'Brtip', // Butonları etkinleştirir
        buttons: [
            {
                extend: 'pdfHtml5',
                className: 'buttons-pdf hidden',
                orientation: 'landscape', // Yatay format
                pageSize: 'A4', // A4 boyutu
                exportOptions: {
                    modifier: {
                        page: 'all' // Tüm sayfaları dahil eder
                    },
                    format: {
                        body: function (data, row, column, node) {
                            let inputs = $(node).find('input');
                            if (inputs.length > 0) {
                                // Birden fazla input varsa, alt alta yaz
                                let values = inputs.map(function() {
                                    return $(this).val();
                                }).get().join('\n'); // Alt alta yazmak için '\n' kullanıyoruz
                                return values;
                            } else {
                                return data; // Eğer input yoksa mevcut veriyi kullan
                            }
                        }
                    }
                },
                customize: function(doc) {
                    // Yazdırmaya benzer olacak şekilde kenar boşlukları ve genişlik ayarları
                    doc.pageMargins = [4, 10, 4, 10]; // Sol, üst, sağ, alt
                    doc.defaultStyle = {
                        fontSize: 7 // Daha okunabilir font boyutu
                    };

                    // Kurumsal renkler ve düzenler
                    doc.styles.tableHeader.fillColor = '#042940'; // Başlık arka plan rengi
                    doc.styles.tableHeader.color = '#24d6b5'; // Başlık yazı rengi
                    doc.styles.title = {
                        color: '#042940', // Başlık yazı rengi
                        fontSize: 12,
                        alignment: 'center'
                    };
                    doc.styles.tableBodyEven = {
                        fillColor: '#f3f3f3' // Çift satırların arka planı
                    };
                    doc.styles.tableBodyOdd = {
                        fillColor: '#ffffff' // Tek satırların arka planı
                    };

                    // Sütun genişliklerini düzenle
                    let columnWidths = [];
                    for (let i = 0; i < doc.content[1].table.body[0].length; i++) {
                        if (i < 2) {
                            columnWidths.push( '4%'); // İlk iki sütun için daha geniş bir oran
                        } else {
                            columnWidths.push('3%'); // Diğer sütunlar için daha dar bir oran
                        }
                    }
                    doc.content[1].table.widths = columnWidths;

                    // Hücre içeriği düzenlemesi
                    for (let row of doc.content[1].table.body) {
                        for (let cell of row) {
                            if (typeof cell === 'object' && cell.text) {
                                cell.alignment = 'center'; // Metinleri merkezde hizala
                                cell.margin = [0, 2, 0, 2]; // Hücre içindeki metin kenar boşlukları
                            }
                        }
                    }
                }
            },
            {
               extend: 'excelHtml5',
    className: 'buttons-excel hidden',
    customizeData: function(data) {
        let newBody = [];
        data.body.forEach(function(row) {
            let newRow = [];
            row.forEach(function(cell) {
                if (typeof cell === 'string' && cell.includes('\n')) {
                    // Normal ve extra mesai verilerini ayır
                    let values = cell.split('\n');
                    newRow.push(values[0]); // Normal mesai hücresi
                    newRow.push(values[1] ? values[1] : ""); // Extra mesai hücresi
                } else {
                    newRow.push(cell); // Diğer hücreler
                }
            });
            newBody.push(newRow);
        });
        data.body = newBody;
    },
    exportOptions: {
        modifier: {
            page: 'all'
        },
        format: {
            body: function (data, row, column, node) {
                let inputs = $(node).find('input');
                if (inputs.length > 1) {
                    return inputs.map(function() {
                        return $(this).val();
                    }).get();
                } else if (inputs.length === 1) {
                    return inputs[0].value;
                } else {
                    return data;
                }
            }
        }
    }

            },
            {
                extend: 'print',
                className: 'buttons-print hidden',
                exportOptions: {
                    modifier: {
                        page: 'all' // Tüm sayfaları dahil eder
                    },
                    format: {
                        body: function (data, row, column, node) {
                            let inputs = $(node).find('input');
                            if (inputs.length > 0) {
                                // Birden fazla input varsa, alt alta yaz
                                let values = inputs.map(function() {
                                    return $(this).val();
                                }).get().join('\n'); // Alt alta yazmak için '\n' kullanıyoruz
                                return values;
                            } else {
                                return data; // Eğer input yoksa mevcut veriyi kullan
                            }
                        }
                    }
                }
            }
        ]
                    
                
            });


            $('#stats-search').keyup(function () {
                hafta1.search($(this).val()).draw();
                hafta2.search($(this).val()).draw();
                hafta3.search($(this).val()).draw();
                hafta4.search($(this).val()).draw();
                aylikTable.search($(this).val()).draw();
            })
        </script>


    </main>

 <script>
        function topluPuantaj() {
            let baslangicTarihi = new Date($("#baslangic-tarihi").val()).getDate();
            let bitisTarihi = new Date($("#bitis-tarihi").val()).getDate();
            let normalSaat = $("#normal-saat").val();
            let mesaiSaati = $("#mesai-saati").val();

            for (let i = baslangicTarihi; i <= bitisTarihi; i++) {
                $("#aylik-table tbody tr td:nth-child("+(i + 2)+") .td-puantaj .td-puantaj-part:first-child").val(normalSaat);
                $("#aylik-table tbody tr td:nth-child("+(i + 2)+") .td-puantaj .td-puantaj-part:last-child").val(mesaiSaati);

                $("#aylik-table tbody tr td:nth-child("+(i + 2)+") .td-puantaj .td-puantaj-part:first-child").addClass("td-puantaj-highlight");
                $("#aylik-table tbody tr td:nth-child("+(i + 2)+") .td-puantaj .td-puantaj-part:last-child").addClass("td-puantaj-danger");
            }
            for (let i = baslangicTarihi;  i <= bitisTarihi; i++) {
                if (i > 0 & i <=7) {
                    
               
                $("#hafta-1-table tbody tr td:nth-child("+(i + 2)+") .td-puantaj .td-puantaj-part:first-child").val(normalSaat);
                $("#hafta-1-table tbody tr td:nth-child("+(i + 2)+") .td-puantaj .td-puantaj-part:last-child").val(mesaiSaati);

                $("#hafta-1-table tbody tr td:nth-child("+(i + 2)+") .td-puantaj .td-puantaj-part:first-child").addClass("td-puantaj-highlight");
                $("#hafta-1-table tbody tr td:nth-child("+(i + 2)+") .td-puantaj .td-puantaj-part:last-child").addClass("td-puantaj-danger");
            }}
            for (let i = baslangicTarihi; i <= bitisTarihi; i++) {
                if (i > 7 & i <=14) {
                $("#hafta-2-table tbody tr td:nth-child("+(i -5)+") .td-puantaj .td-puantaj-part:first-child").val(normalSaat);
                $("#hafta-2-table tbody tr td:nth-child("+(i -5)+") .td-puantaj .td-puantaj-part:last-child").val(mesaiSaati);

                $("#hafta-2-table tbody tr td:nth-child("+(i -5)+") .td-puantaj .td-puantaj-part:first-child").addClass("td-puantaj-highlight");
                $("#hafta-2-table tbody tr td:nth-child("+(i -5)+") .td-puantaj .td-puantaj-part:last-child").addClass("td-puantaj-danger");
            }}
            for (let i = baslangicTarihi; i <= bitisTarihi; i++) {
                if (i > 14 & i <=21) {
                $("#hafta-3-table tbody tr td:nth-child("+(i -12)+") .td-puantaj .td-puantaj-part:first-child").val(normalSaat);
                $("#hafta-3-table tbody tr td:nth-child("+(i -12)+") .td-puantaj .td-puantaj-part:last-child").val(mesaiSaati);

                $("#hafta-3-table tbody tr td:nth-child("+(i -12)+") .td-puantaj .td-puantaj-part:first-child").addClass("td-puantaj-highlight");
                $("#hafta-3-table tbody tr td:nth-child("+(i -12)+") .td-puantaj .td-puantaj-part:last-child").addClass("td-puantaj-danger");
            }}
            for (let i = baslangicTarihi; i <= bitisTarihi; i++) {
                if (i > 21) {
                $("#hafta-4-table tbody tr td:nth-child("+(i -19)+") .td-puantaj .td-puantaj-part:first-child").val(normalSaat);
                $("#hafta-4-table tbody tr td:nth-child("+(i -19)+") .td-puantaj .td-puantaj-part:last-child").val(mesaiSaati);

                $("#hafta-4-table tbody tr td:nth-child("+(i -19)+") .td-puantaj .td-puantaj-part:first-child").addClass("td-puantaj-highlight");
                $("#hafta-4-table tbody tr td:nth-child("+(i -19)+") .td-puantaj .td-puantaj-part:last-child").addClass("td-puantaj-danger");
            }}
            bagimsiz();
            closeModal("toplu-puantaj-gir");
        }
    </script>


    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });

        $('input[type="file"]').on('change', function () {
            var files = $(this).prop('files');
            var formElement = $(this).closest('.form-element');
            var fileList = formElement.find('.fileList');
            fileList.empty();

            for (var i = 0; i < files.length; i++) {
                fileList.append('<li>' + files[i].name + '</li>');
            }
        });

    </script>


    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>

    <script>
var $j = jQuery.noConflict();

$j(document).ready(function() {
    // Sayfa yüklendiğinde preloader'ı göster
    $j("#preloader").show();

    // Sayfa tamamen yüklendiğinde preloader'ı gizleyin (ek güvenlik)
    $j(window).on('load', function() {
        $j("#preloader").hide();
    });
});

    </script>
    <div class="modal" id="toplu-puantaj-gir">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                {% trans 'Toplu Puantaj Ekle' %}
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-element">
                        <label for="baslangic-tarihi">{% trans 'Başlangıç Tarihi' %}</label>
                        <input type="date" name="baslangic-tarihi" id="baslangic-tarihi">
                    </div>
                    <div class="form-element">
                        <label for="bitis-tarihi">{% trans 'Bitiş Tarihi' %}</label>
                        <input type="date" name="bitis-tarihi" id="bitis-tarihi">
                    </div>
                    <div class="form-row">
                        <div class="form-element">
                            <label for="normal-saat">{% trans 'Normal Saat' %}</label>
                            <input type="text" name="normal-saat" id="normal-saat">
                        </div>
                        <div class="form-element">
                            <label for="mesai-saati">{% trans 'Mesai Saati' %}</label>
                            <input type="text" name="mesai-saati" id="mesai-saati">
                        </div>
                    </div>
                    <div class="form-element">
                        <label for="aciklama">{% trans 'Açıklama' %}</label>
                        <textarea name="aciklama" id="aciklama"></textarea>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="button" onclick="topluPuantaj()">{% trans 'Toplu Puantaj Oluştur' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
    
        document.querySelector('#saveBtn').addEventListener('click', function() {
            $j("#preloader").show();
            const dayInputs = document.querySelectorAll('.day-hours');
            const overtimeInputs = document.querySelectorAll('.overtime-hours');
            const filter_input = document.querySelector(".filter-input");
            const dis_katman = [filter_input.value];
            const dataToSend = [];
        
            // Preloader'ı göster
            //document.getElementById('preloader').style.display = 'block';
        
            // Normal saatler için verileri topla
            dayInputs.forEach(input => {
                const person = input.getAttribute('data-person');
                const day = input.getAttribute('data-day');
                const type = input.getAttribute('data-type');
                const value = input.value;
        
                // Veriyi toplu olarak diziye ekle
                dataToSend.push({
                    person: person,
                    day: day,
                    type: type,
                    value: value
                });
            });
        
            // Fazla mesai saatleri için verileri topla
            overtimeInputs.forEach(input => {
                const person = input.getAttribute('data-person');
                const day = input.getAttribute('data-day');
                const type = input.getAttribute('data-type');
                const value = input.value;
        
                // Fazla mesai verisini diziye ekle
                dataToSend.push({
                    person: person,
                    day: day,
                    type: type,
                    value: value
                });
            });
        
            dis_katman.push(dataToSend);
            
            // AJAX isteği ile Django'ya veri gönder
            fetch('/users/savetally/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(dis_katman)  // Tüm verileri gönderiyoruz
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Preloader'ı gizle ve sayfayı yenile
                document.getElementById('preloader').style.display = 'none';
                location.reload();
            })
            .catch(error => {
                console.error('Hata:', error);
                // Hata durumunda preloader'ı gizle
                document.getElementById('preloader').style.display = 'none';
            });
        });
        
        
        </script>
        <script>
var $j = jQuery.noConflict();

function hidePreloader() {
    $j("#preloader").fadeOut("slow"); // Animasyonla gizlemek için
}

$j(document).ready(function() {
    // Sayfa yüklendiğinde preloader'ı göster
    $j("#preloader").show();

    // Preloader'ı sayfa tamamen yüklendiğinde gizle
    if (document.readyState === 'complete') {
        hidePreloader();
    }

    $j(window).on('load', function() {
        hidePreloader();
    });

    // Ayrıca AJAX çağrılarının tamamlanması durumunda preloader'ı gizle
    $j(document).ajaxComplete(function() {
        hidePreloader();
    });
});

// Ek hata durumları için preloader gizleme
window.addEventListener('DOMContentLoaded', hidePreloader);

// Ay kontrolune göre toplu puantaja izin verir

</script>
<script>
    function openModal(modalID, close = true) {
        // Ay ve filtre kontrolü
        const monthFilter = document.getElementById('monthFilter').value;
        const isFilterApplied = document.getElementById('jobTypeFilter').value || document.getElementById('stats-search').value;

        if (!monthFilter || !isFilterApplied) {
            alert("{% trans 'Lütfen önce ay ve departman seçimini yapıp filtreleri uygulayın.' %}");
            return;
        }

        // Seçili ay bilgilerini al
        const selectedYear = parseInt(monthFilter.split('-')[0]);
        const selectedMonth = parseInt(monthFilter.split('-')[1]);

        // Seçilen ayın ilk ve son günlerini belirle
        const firstDayOfMonth = `${monthFilter}-01`;
        const lastDayOfMonth = new Date(selectedYear, selectedMonth, 0).toISOString().split('T')[0]; // Seçili ayın son gününü bul

        // Modal içindeki tarih seçim alanlarına ay sınırlarını uygula
        document.getElementById('baslangic-tarihi').setAttribute('min', firstDayOfMonth);
        document.getElementById('baslangic-tarihi').setAttribute('max', lastDayOfMonth);
        document.getElementById('bitis-tarihi').setAttribute('min', firstDayOfMonth);
        document.getElementById('bitis-tarihi').setAttribute('max', lastDayOfMonth);

        if (close) {
            closeModal();
        }
        $("#" + modalID).css("display", "flex").hide().fadeIn();
    }

    function closeModal(modalID = "") {
        if (modalID.length === 0) {
            $(".modal").fadeOut();
        } else {
            $("#" + modalID).fadeOut();
        }
    }

    $(".modal").on("click", function (e) {
        if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
            closeModal();
        }
    });
</script>

<script>
    // Filtreleri uygularken modalı kontrol et
    document.getElementById('applyFilterBtn').addEventListener('click', function () {
        // Ay seçildiyse ve filtre uygulandıysa modal açılabilir
        const monthFilter = document.getElementById('monthFilter').value;
        const isFilterApplied = document.getElementById('jobTypeFilter').value || document.getElementById('stats-search').value;
        if (monthFilter && isFilterApplied) {
            // Verilerinizi yükleyin veya gerekli işlemleri yapın
            console.log("{% trans 'Filtre uygulandı, veriler yüklenebilir.' %}");
        } else {
            alert("{% trans 'Lütfen önce ay ve departman seçimini yapıp filtreleri uygulayın.' %}");
        }
    });
</script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const urlParams = new URLSearchParams(window.location.search);
    const statsSearch = urlParams.get('stats-search');
    const monthFilter = urlParams.get('monthFilter');
    const jobTypeFilter = urlParams.get('jobTypeFilter');
    const personelID = urlParams.get('personelID');

    // Filtreleme yapılmadıysa tabloyu gizle ve uyarı mesajı göster
    if (!statsSearch && !monthFilter && !jobTypeFilter && !personelID) {
        const tableWrapper = document.querySelectorAll('.table-wrapper');
        tableWrapper.forEach(wrapper => {
            wrapper.style.display = 'none';
        });

        // Uyarı mesajını ekle
        const warningMessage = document.createElement('div');
        warningMessage.className = 'warning-message';
        warningMessage.innerText = '{% trans 'Personel puantajlarını görüntülemek için ay ve departman seçimi yaparak Filtre Uygula butonuna basınız.' %}';
        
        // Uyarıyı tablonun üst kısmına ekle
        const largeStatsCard = document.querySelector('.large-stats-card');
        if (largeStatsCard) {
            largeStatsCard.insertBefore(warningMessage, largeStatsCard.firstChild);
        }
    }
});


</script>
<script>
    // Tüm 'input' elemanlarına dinleyici eklemek için
    function setupInputListeners(className) {
        document.querySelectorAll(`.${className}`).forEach(input => {
            input.addEventListener('change', function () {
                // Güncel değeri ve ilgili personel ID ile günü al
                const newValue = this.value;
                const personId = this.getAttribute('data-person');
                const day = this.getAttribute('data-day');

                // Aynı gün ve aynı person ID'ye sahip tüm diğer inputları seç
                document.querySelectorAll(`.${className}[data-person="${personId}"][data-day="${day}"]`).forEach(otherInput => {
                    // Kendi dışında kalanların değerini güncelle
                    if (otherInput !== this) {
                        otherInput.value = newValue;
                    }
                });

                // Toplam saatleri hesapla
                calculateTotalHours(personId);
                // Değerleri hesapla ve güncelle
                // updateValues(personId);
            });
        });
    }
    function bagimsiz() {
    // Tüm personel ID'lerini al
    const personIds = new Set();
    
    // Tüm personel ID'lerini toplayalım
    document.querySelectorAll('.day-hours, .overtime-hours').forEach(input => {
        personIds.add(input.getAttribute('data-person'));
    });

    // Her bir personel ID için toplam saatleri hesapla
    personIds.forEach(personId => {
        let totalNormalHours = 0;
        let totalOvertimeHours = 0;

        // Normal mesai saatlerini toplama
        document.querySelectorAll(`.day-hours[data-person="${personId}"]`).forEach(input => {
            totalNormalHours += parseFloat(input.value.replace(',', '.')) || 0; // Değeri topla
        });

        // Fazla mesai saatlerini toplama
        document.querySelectorAll(`.overtime-hours[data-person="${personId}"]`).forEach(input => {
            totalOvertimeHours += parseFloat(input.value.replace(',', '.')) || 0; // Değeri topla
        });

        const normalInputs = document.querySelectorAll(`.saatlik[data-person="${personId}"]`);
        const overtimeInputs = document.querySelectorAll(`.fazlamesai[data-person="${personId}"]`);

        normalInputs.forEach(input => {
            const tutar = parseFloat(input.getAttribute('data-tutar').replace(',', '.')) || 0; // Virgülü noktaya çevir
            const total = tutar * totalNormalHours / 2;
            input.value = total.toFixed(2); // Toplamı iki ondalık basamakla güncelle
        });

        overtimeInputs.forEach(input => {
            const tutar = parseFloat(input.getAttribute('data-tutar').replace(',', '.')) || 0; // Virgülü noktaya çevir
            const total = tutar * totalOvertimeHours / 2;
            input.value = total.toFixed(2); // Toplamı iki ondalık basamakla güncelle
        });
    });

    // Toplamları hesapla (varsa)
    hakedis_toplama();
}

    function calculateTotalHours(personId) {
        let totalNormalHours = 0;
        let totalOvertimeHours = 0;

        // Normal mesai saatlerini toplama
        document.querySelectorAll(`.day-hours[data-person="${personId}"]`).forEach(input => {
            totalNormalHours += parseFloat(input.value) || 0; // Değeri topla
        });

        // Fazla mesai saatlerini toplama
        document.querySelectorAll(`.overtime-hours[data-person="${personId}"]`).forEach(input => {
            totalOvertimeHours += parseFloat(input.value) || 0; // Değeri topla
        });

        const normalInputs = document.querySelectorAll(`.saatlik[data-person="${personId}"]`);
        const overtimeInputs = document.querySelectorAll(`.fazlamesai[data-person="${personId}"]`);
        
        normalInputs.forEach(input => {
            const tutar = parseFloat(input.getAttribute('data-tutar').replace(',', '.')) || 0; // Virgülü noktaya çevir
            const total = tutar * totalNormalHours / 2;
            input.value = total.toFixed(2); // Toplamı iki ondalık basamakla güncelle
        });

        overtimeInputs.forEach(input => {
            const tutar = parseFloat(input.getAttribute('data-tutar').replace(',', '.')) || 0; // Virgülü noktaya çevir
            const total = tutar * totalOvertimeHours / 2;
            input.value = total.toFixed(2); // Toplamı iki ondalık basamakla güncelle
        });

        hakedis_toplama() 
    }
    function hakedis_toplama() {
        let total0 = 0;
        let total1 = 0;
        let totalNormalHours0 = 0;
        let totalOvertimeHours0 = 0;
        let totalNormalHours1 = 0;
        let totalOvertimeHours1 = 0;

        const normalInput0 = document.querySelectorAll(`.saatlik[data-parabirimi="0"]`);
        const overtimeInput0 = document.querySelectorAll(`.fazlamesai[data-parabirimi="0"]`);
        const normalInput1 = document.querySelectorAll(`.saatlik[data-parabirimi="1"]`);
        const overtimeInput1 = document.querySelectorAll(`.fazlamesai[data-parabirimi="1"]`);
        
        normalInput0.forEach(input => {
    const tutar = parseFloat(input.value.replace(',', '.')) || 0; // Virgülü noktaya çevir
    totalNormalHours0 += tutar; // Toplamı iki ondalık basamakla güncelle
});

overtimeInput0.forEach(input => {
    const tutar = parseFloat(input.value.replace(',', '.')) || 0; // Virgülü noktaya çevir
    totalOvertimeHours0 += tutar; // Toplamı iki ondalık basamakla güncelle
});

normalInput1.forEach(input => {
    const tutar = parseFloat(input.value.replace(',', '.')) || 0; // Virgülü noktaya çevir
    totalNormalHours1 += tutar; // Toplamı iki ondalık basamakla güncelle
});

overtimeInput1.forEach(input => {
    const tutar = parseFloat(input.value.replace(',', '.')) || 0; // Virgülü noktaya çevir
    totalOvertimeHours1 += tutar; // Toplamı iki ondalık basamakla güncelle
});
        total0=totalNormalHours0 +totalOvertimeHours0;
        total1=totalNormalHours1 +totalOvertimeHours1;
        document.getElementById("tutardolar").textContent = total1+" $";
        document.getElementById("tutardinar").textContent = total0 + " IQD";
        console.log(`Toplam Normal Mesai (0): ${totalNormalHours0}, Normal Mesai (0): ${totalOvertimeHours0}`);
        console.log(`Toplam Normal Mesai (1): ${totalNormalHours1}, Normal Mesai (1): ${totalOvertimeHours1}`);

    }
    // Dinleyicileri başlat
    setupInputListeners('overtime-hours');
    setupInputListeners('day-hours');
</script>


{% endblock sidebar %}