{% extends "homebase.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./content/style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
  <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/r-3.0.3/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
{% endblock head %}
{% block sidebar %}
<style>
#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

</style>
<main>
                                    <!-- Preloader Bölümü -->
                                    <div id="preloader">
                                        <div class="spinner"></div>
                                        <p>Personel bilgileri yükleniyor...</p>
                                    </div>

        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                    Puantaj
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Çalışan Yönetimi</a></li>
                    <li><a href="#">Puantaj</a></li>
                </ul>
            </div>

            <div class="page-actions">
                <button class="page-primary-btn" onclick="openModal('toplu-puantaj-gir')"><i class="icon icon-new"></i>
                    Toplu Puantaj Gir</button>
                <button id="saveBtn" class="btn save-btn page-primary-btn"><i class="fas fa-save"></i> {% trans "Kaydet" %}</button>
            </div>
        </div>

        <div class="large-stats-card table-card table-detail-card">
            <div class="stats-header">
                <div class="stats-title">Aylık Puantaj Girişi</div>
                <div class="stats-right">
                    <div class="stats-info">Toplam Hakediş: 0₺</div>
                </div>
            </div>
            <form id="filterForm" method="GET" >
            <div class="puantaj-actions">
            
                <div class="puantaj-action">
                    <div class="stats-search">
                        <input type="text" name="stats-search" id="stats-search" placeholder="Ara">
                        <button><i class="icon icon-search"></i></button>
                    </div>
                </div>
                <div class="puantaj-action">
                    <div class="stats-search-date">
                        <button type="button" ><i class="icon icon-puantaj-calendar"></i></button>
                       <input type="month" id="monthFilter" name="monthFilter" class="filter-input"
       value="{% if request.GET.monthFilter %}{{ request.GET.monthFilter }}{% endif %}">
                    </div>
                </div>
                <div class="puantaj-action">
                    <div class="form-element">
                       <select id="jobTypeFilter" name="jobTypeFilter" class="filter-input">
                        <option value="">{% trans 'Kategori Seçin' %}</option>
                        {% for i in departmanlar %}
                            <option value="{{ i.id }}" {% if request.GET.jobTypeFilter == i.id|stringformat:"s" %}selected{% endif %}>
                                {{ i.kategori_isimi }}
                            </option>
                        {% endfor %}
                        </select>
                        <input type="text" id="personelID" hidden name="personelID" class="filter-input"
                        value="{% if request.GET.personelID %}{{ request.GET.personelID }}{% endif %}">
                    </div>
                </div>
                <div class="puantaj-action">
                    <button type="submit" class="puantaj-action-btn">Filtreleri Uygula</button>
                </div>
               
                <div class="puantaj-action puantaj-tabs">
                    <div class="puantaj-tab" data-tab="haftalik">Haftalık</div>
                    <div class="puantaj-tab active" data-tab="aylik">Aylık</div>
                </div>

            </div>
             </form>
            <script>
                $(".puantaj-tab").on("click", function () {
                    $(".puantaj-tab").removeClass("active");
                    $(".puantaj-tab-content").removeClass("active");

                    $(this).addClass("active");
                    $("#" + $(this).attr("data-tab")).addClass("active");
                })
            </script>

            <div class="puantaj-tab-contents">

                <div class="puantaj-tab-content" id="haftalik">

                    <div class="tab-navs">
                        <button class="tab-navs-btn active" data-tab="hafta-1">1. Hafta</button>
                        <button class="tab-navs-btn" data-tab="hafta-2">2. Hafta</button>
                        <button class="tab-navs-btn" data-tab="hafta-3">3. Hafta</button>
                        <button class="tab-navs-btn" data-tab="hafta-4">4. Hafta</button>
                    </div>

                    <div class="tab-contents" style="margin: 0;">

                        <div class="tab-content active" id="hafta-1">
                        
                            <div class="table-wrapper">

                                <table class="puantaj-table" id="hafta-1-table">
                                    <thead>
                                        <tr>
                                            <th>{% trans 'Ad Soyad' %}</th>
                        <th>{% trans 'Görevi' %}</th>
                                           {% for day in haftalik.hafta1 %}
                        
                        
                                            <th>{{day}}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for i in personeller %}
                    
                    
                <tr>
                        <td>{{i.isim}} {{i.soyisim}}</td>
                        <td>{{i.calisan_kategori.kategori_isimi}}</td>
                        {% for day in haftalik.hafta1 %}
    {% calismalari_cek i.id day request.GET.monthFilter as bilgi %}
    <td>
        <div class="td-puantaj">
        {% if  bilgi.normal_saat > 0 %}
            <input type="number" class="day-hours td-puantaj-part td-puantaj-highlight" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="Normal">
        {% else %}
        <input type="number" class="day-hours td-puantaj-part" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="Normal">
        {% endif %}
           {% if  bilgi.mesai_saati > 0 %}
            <input type="number" class="overtime-hours td-puantaj-part td-puantaj-danger" data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="Fazla Mesai">
        {% else %}
        <input type="number" class="overtime-hours td-puantaj-part " data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="Fazla Mesai">
        {% endif %}
            
            
        </div>
    </td>
{% endfor %}

                    </tr>
                    <!-- Dinamik personel satırları buraya gelecek -->
                    {% endfor %}
                              
                                    </tbody>
                                </table>
                                                                <div class="large-stats-card-footer-actions">
                                    {% trans 'Yanlızca aylık görünümde export yapabilirsiniz.' %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" id="hafta-2">
                            <div class="table-wrapper">
                                <table class="puantaj-table" id="hafta-2-table">
                                    <thead>
                                        <tr>
                                            
                                            <th>{% trans 'Ad Soyad' %}</th>
                                            <th>{% trans 'Görevi' %}</th>
                                           {% for day in haftalik.hafta2 %}
                        
                        
                                            <th>{{day}}</th>
                                            {% endfor %}
                                        </tr>
                                        
                                    </thead>
                                    <tbody>
                                      {% for i in personeller %}
                    
                    
                                         <tr>
                                        <td>{{i.isim}} {{i.soyisim}}</td>
                                        <td>{{i.calisan_kategori.kategori_isimi}}</td>
                                        {% for day in haftalik.hafta2 %}
                                        {% calismalari_cek i.id day request.GET.monthFilter as bilgi %}
                                        <td>
                                            <div class="td-puantaj">
                                                 {% if  bilgi.normal_saat > 0 %}
                                                    <input type="number" class="day-hours td-puantaj-part td-puantaj-highlight" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="Normal">
                                                {% else %}
                                                <input type="number" class="day-hours td-puantaj-part" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="Normal">
                                                {% endif %}
                                                {% if  bilgi.mesai_saati > 0 %}
                                                    <input type="number" class="overtime-hours td-puantaj-part td-puantaj-danger" data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="Fazla Mesai">
                                                {% else %}
                                                <input type="number" class="overtime-hours td-puantaj-part " data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="Fazla Mesai">
                                                {% endif %}
                                                    
                                            </div>
                                        </td>
                                    {% endfor %}

                                    </tr>
                                    <!-- Dinamik personel satırları buraya gelecek -->
                                    {% endfor %}
                              
                                    </tbody>
                                </table>
                                                                <div class="large-stats-card-footer-actions">
                                    {% trans 'Yanlızca aylık görünümde export yapabilirsiniz.' %}
                                </div>
                            </div>
                        </div>
                        <div class="tab-content" id="hafta-3">
                            <div class="table-wrapper">
                                <table class="puantaj-table" id="hafta-3-table">
                                    <thead>
                                       <tr>
                                           
                                            <th>{% trans 'Ad Soyad' %}</th>
                        <th>{% trans 'Görevi' %}</th>
                                           {% for day in haftalik.hafta3 %}
                        
                        
                                            <th>{{day}}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for i in personeller %}
                    
                    
                <tr>
                        <td>{{i.isim}} {{i.soyisim}}</td>
                        <td>{{i.calisan_kategori.kategori_isimi}}</td>
                        {% for day in haftalik.hafta3 %}
    {% calismalari_cek i.id day request.GET.monthFilter as bilgi %}
    <td>
        <div class="td-puantaj">
             {% if  bilgi.normal_saat > 0 %}
            <input type="number" class="day-hours td-puantaj-part td-puantaj-highlight" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="Normal">
        {% else %}
        <input type="number" class="day-hours td-puantaj-part" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="Normal">
        {% endif %}
           {% if  bilgi.mesai_saati > 0 %}
            <input type="number" class="overtime-hours td-puantaj-part td-puantaj-danger" data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="Fazla Mesai">
        {% else %}
        <input type="number" class="overtime-hours td-puantaj-part " data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="Fazla Mesai">
        {% endif %}
            
        </div>
    </td>
{% endfor %}

                    </tr>
                    <!-- Dinamik personel satırları buraya gelecek -->
                    {% endfor %}
                              
                                    </tbody>
                                </table>
                                                                <div class="large-stats-card-footer-actions">
                                    {% trans 'Yanlızca aylık görünümde export yapabilirsiniz.' %}
                                </div>
                            </div>
                        </div>
                       

                        <div class="tab-content" id="hafta-4">
                            <div class="table-wrapper">
                                <table class="puantaj-table" id="hafta-4-table">
                                    <thead>
                                        <tr>
                                         
                                            <th>{% trans 'Ad Soyad' %}</th>
                        <th>{% trans 'Görevi' %}</th>
                                           {% for day in haftalik.hafta4 %}
                        
                        
                                            <th>{{day}}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for i in personeller %}
                    
                    
                <tr>
                        <td>{{i.isim}} {{i.soyisim}}</td>
                        <td>{{i.calisan_kategori.kategori_isimi}}</td>
                        {% for day in haftalik.hafta4 %}
    {% calismalari_cek i.id day request.GET.monthFilter as bilgi %}
    <td>
        <div class="td-puantaj">
            {% if  bilgi.normal_saat > 0 %}
            <input type="number" class="day-hours td-puantaj-part td-puantaj-highlight" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="Normal">
        {% else %}
        <input type="number" class="day-hours td-puantaj-part" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="Normal">
        {% endif %}
           {% if  bilgi.mesai_saati > 0 %}
            <input type="number" class="overtime-hours td-puantaj-part td-puantaj-danger" data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="Fazla Mesai">
        {% else %}
        <input type="number" class="overtime-hours td-puantaj-part " data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="Fazla Mesai">
        {% endif %}
            
        </div>
    </td>
{% endfor %}

                    </tr>
                    <!-- Dinamik personel satırları buraya gelecek -->
                    {% endfor %}
                              

                                    </tbody>
                                </table>
                                <div class="large-stats-card-footer-actions">
                                    {% trans 'Yanlızca aylık görünümde export yapabilirsiniz.' %}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="puantaj-tab-content active" id="aylik">
                    <div class="table-wrapper">
                        <table class="puantaj-table" id="aylik-table">
                            <thead>
                                <tr>
                                    <th>{% trans 'Ad Soyad' %}</th>
                        <th>{% trans 'Görevi' %}</th>
                        <!-- Günler için başlıklar -->
                        {% for day in gun %}
                        
                        
                        <th>{{day}}</th>
                        {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                            {% for i in personeller %}
                    
                    
                <tr>
                        <td>{{i.isim}} {{i.soyisim}}</td>
                        <td>{{i.calisan_kategori.kategori_isimi}}</td>
                        {% for day in gun %}
    {% calismalari_cek i.id day request.GET.monthFilter as bilgi %}
    <td>
        <div class="td-puantaj">
             {% if  bilgi.normal_saat > 0 %}
            <input type="number" class="day-hours td-puantaj-part td-puantaj-highlight" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="Normal">
        {% else %}
        <input type="number" class="day-hours td-puantaj-part" data-person="{{i.id}}" data-day="{{day}}" data-type="normal" step="0.01" min="0" max="24" value="{{bilgi.normal_saat|stringformat:'.2f'}}" placeholder="Normal">
        {% endif %}
           {% if  bilgi.mesai_saati > 0 %}
            <input type="number" class="overtime-hours td-puantaj-part td-puantaj-danger" data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="Fazla Mesai">
        {% else %}
        <input type="number" class="overtime-hours td-puantaj-part " data-person="{{i.id}}" data-day="{{day}}" data-type="overtime" step="0.01" min="0" max="24" value="{{bilgi.mesai_saati|stringformat:'.2f'}}" placeholder="Fazla Mesai">
        {% endif %}
            
        </div>
    </td>
{% endfor %}

                    </tr>
                    <!-- Dinamik personel satırları buraya gelecek -->
                    {% endfor %}
                              

                            </tbody>
                        </table>
                        <div class="large-stats-card-footer-actions">
            <a onclick="$('.buttons-pdf').click()" class="lsc-footer-action"><i class="icon icon-pdf"></i></a>
            <a onclick="$('.buttons-excel').click()" class="lsc-footer-action"><i class="icon icon-xlsx"></i></a>
            <a onclick="$('.buttons-print').click()" class="lsc-footer-action"><i class="icon icon-print"></i></a>
        </div>
                    </div>
                </div>

            </div>





            <script>
                $(".tab-navs-btn").on("click", function () {
                    $(".tab-navs-btn").removeClass("active");
                    $(".tab-content").removeClass("active");

                    $(this).addClass("active");
                    $("#" + $(this).attr("data-tab")).addClass("active");
                })
            </script>

        </div>

        <script>
            let hafta1 = new DataTable('#hafta-1-table', {
                paging: false,
                searching: true,
                info: false,

            });
            let hafta2 = new DataTable('#hafta-2-table', {
                paging: false,
                searching: true,
                info: false,

            });
            let hafta3 = new DataTable('#hafta-3-table', {
                paging: false,
                searching: true,
                info: false,

            });
            let hafta4 = new DataTable('#hafta-4-table', {
                paging: false,
                searching: true,
                info: false,

            });
            let aylik = new DataTable('#aylik-table', {
                paging: false,
                searching: true,
                info: false,
                layout: {
                    topStart: {
                        buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                    }
                }
            });


            $('#stats-search').keyup(function () {
                hafta1.search($(this).val()).draw();
                hafta2.search($(this).val()).draw();
                hafta3.search($(this).val()).draw();
                hafta4.search($(this).val()).draw();
            })
        </script>


    </main>

 <script>
        function topluPuantaj() {
            let baslangicTarihi = new Date($("#baslangic-tarihi").val()).getDate();
            let bitisTarihi = new Date($("#bitis-tarihi").val()).getDate();
            let normalSaat = $("#normal-saat").val();
            let mesaiSaati = $("#mesai-saati").val();

            for (let i = baslangicTarihi; i <= bitisTarihi; i++) {
                $("#aylik-table tbody tr td:nth-child("+(i + 2)+") .td-puantaj .td-puantaj-part:first-child").val(normalSaat);
                $("#aylik-table tbody tr td:nth-child("+(i + 2)+") .td-puantaj .td-puantaj-part:last-child").val(mesaiSaati);

                $("#aylik-table tbody tr td:nth-child("+(i + 2)+") .td-puantaj .td-puantaj-part:first-child").addClass("td-puantaj-highlight");
                $("#aylik-table tbody tr td:nth-child("+(i + 2)+") .td-puantaj .td-puantaj-part:last-child").addClass("td-puantaj-danger");
            }
            for (let i = baslangicTarihi;  i <= bitisTarihi; i++) {
                if (i > 0 & i <=7) {
                    
               
                $("#hafta-1-table tbody tr td:nth-child("+(i + 2)+") .td-puantaj .td-puantaj-part:first-child").val(normalSaat);
                $("#hafta-1-table tbody tr td:nth-child("+(i + 2)+") .td-puantaj .td-puantaj-part:last-child").val(mesaiSaati);

                $("#hafta-1-table tbody tr td:nth-child("+(i + 2)+") .td-puantaj .td-puantaj-part:first-child").addClass("td-puantaj-highlight");
                $("#hafta-1-table tbody tr td:nth-child("+(i + 2)+") .td-puantaj .td-puantaj-part:last-child").addClass("td-puantaj-danger");
            }}
            for (let i = baslangicTarihi; i <= bitisTarihi; i++) {
                if (i > 7 & i <=14) {
                $("#hafta-2-table tbody tr td:nth-child("+(i -5)+") .td-puantaj .td-puantaj-part:first-child").val(normalSaat);
                $("#hafta-2-table tbody tr td:nth-child("+(i -5)+") .td-puantaj .td-puantaj-part:last-child").val(mesaiSaati);

                $("#hafta-2-table tbody tr td:nth-child("+(i -5)+") .td-puantaj .td-puantaj-part:first-child").addClass("td-puantaj-highlight");
                $("#hafta-2-table tbody tr td:nth-child("+(i -5)+") .td-puantaj .td-puantaj-part:last-child").addClass("td-puantaj-danger");
            }}
            for (let i = baslangicTarihi; i <= bitisTarihi; i++) {
                if (i > 14 & i <=21) {
                $("#hafta-3-table tbody tr td:nth-child("+(i -12)+") .td-puantaj .td-puantaj-part:first-child").val(normalSaat);
                $("#hafta-3-table tbody tr td:nth-child("+(i -12)+") .td-puantaj .td-puantaj-part:last-child").val(mesaiSaati);

                $("#hafta-3-table tbody tr td:nth-child("+(i -12)+") .td-puantaj .td-puantaj-part:first-child").addClass("td-puantaj-highlight");
                $("#hafta-3-table tbody tr td:nth-child("+(i -12)+") .td-puantaj .td-puantaj-part:last-child").addClass("td-puantaj-danger");
            }}
            for (let i = baslangicTarihi; i <= bitisTarihi; i++) {
                if (i > 21) {
                $("#hafta-4-table tbody tr td:nth-child("+(i -19)+") .td-puantaj .td-puantaj-part:first-child").val(normalSaat);
                $("#hafta-4-table tbody tr td:nth-child("+(i -19)+") .td-puantaj .td-puantaj-part:last-child").val(mesaiSaati);

                $("#hafta-4-table tbody tr td:nth-child("+(i -19)+") .td-puantaj .td-puantaj-part:first-child").addClass("td-puantaj-highlight");
                $("#hafta-4-table tbody tr td:nth-child("+(i -19)+") .td-puantaj .td-puantaj-part:last-child").addClass("td-puantaj-danger");
            }}
            closeModal("toplu-puantaj-gir");
        }
    </script>


    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });

        $('input[type="file"]').on('change', function () {
            var files = $(this).prop('files');
            var formElement = $(this).closest('.form-element');
            var fileList = formElement.find('.fileList');
            fileList.empty();

            for (var i = 0; i < files.length; i++) {
                fileList.append('<li>' + files[i].name + '</li>');
            }
        });

    </script>


    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>

    <script>
var $j = jQuery.noConflict();

$j(document).ready(function() {
    // Sayfa yüklendiğinde preloader'ı göster
    $j("#preloader").show();

    // Sayfa tamamen yüklendiğinde preloader'ı gizleyin (ek güvenlik)
    $j(window).on('load', function() {
        $j("#preloader").hide();
    });
});

    </script>
    <div class="modal" id="toplu-puantaj-gir">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Toplu Puantaj Ekle
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-element">
                        <label for="baslangic-tarihi">Başlangıç Tarihi</label>
                        <input type="date" name="baslangic-tarihi" id="baslangic-tarihi">
                    </div>
                    <div class="form-element">
                        <label for="bitis-tarihi">Bitiş Tarihi</label>
                        <input type="date" name="bitis-tarihi" id="bitis-tarihi">
                    </div>
                    <div class="form-row">
                        <div class="form-element">
                            <label for="normal-saat">Normal Saat</label>
                            <input type="text" name="normal-saat" id="normal-saat">
                        </div>
                        <div class="form-element">
                            <label for="mesai-saati">Mesai Saati</label>
                            <input type="text" name="mesai-saati" id="mesai-saati">
                        </div>
                    </div>
                    <div class="form-element">
                        <label for="aciklama">Açıklama</label>
                        <textarea name="aciklama" id="aciklama"></textarea>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-primary" type="button" onclick="topluPuantaj()">Toplu Puantaj Oluştur</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
    
        document.querySelector('#saveBtn').addEventListener('click', function() {
            $j("#preloader").show();
            const dayInputs = document.querySelectorAll('.day-hours');
            const overtimeInputs = document.querySelectorAll('.overtime-hours');
            const filter_input = document.querySelector(".filter-input");
            const dis_katman = [filter_input.value];
            const dataToSend = [];
        
            // Preloader'ı göster
            //document.getElementById('preloader').style.display = 'block';
        
            // Normal saatler için verileri topla
            dayInputs.forEach(input => {
                const person = input.getAttribute('data-person');
                const day = input.getAttribute('data-day');
                const type = input.getAttribute('data-type');
                const value = input.value;
        
                // Veriyi toplu olarak diziye ekle
                dataToSend.push({
                    person: person,
                    day: day,
                    type: type,
                    value: value
                });
            });
        
            // Fazla mesai saatleri için verileri topla
            overtimeInputs.forEach(input => {
                const person = input.getAttribute('data-person');
                const day = input.getAttribute('data-day');
                const type = input.getAttribute('data-type');
                const value = input.value;
        
                // Fazla mesai verisini diziye ekle
                dataToSend.push({
                    person: person,
                    day: day,
                    type: type,
                    value: value
                });
            });
        
            dis_katman.push(dataToSend);
            
            // AJAX isteği ile Django'ya veri gönder
            fetch('/users/savetally/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(dis_katman)  // Tüm verileri gönderiyoruz
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // Preloader'ı gizle ve sayfayı yenile
                document.getElementById('preloader').style.display = 'none';
                location.reload();
            })
            .catch(error => {
                console.error('Hata:', error);
                // Hata durumunda preloader'ı gizle
                document.getElementById('preloader').style.display = 'none';
            });
        });
        
        
        </script>
{% endblock sidebar %}