<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Create Group" %}</title>
</head>
<body>
    <h1>{% trans "Create Group" %}</h1>
    <form method="post">
        {% csrf_token %}
        <label for="group_name">{% trans "Group Name:" %}</label>
        <input type="text" id="group_name" name="group_name" required><br>
        <label for="members">{% trans "Select Members:" %}</label><br>
        {% for user in users %}
            <input type="checkbox" id="user_{{ user.id }}" name="members" value="{{ user.id }}">
            <label for="user_{{ user.id }}">{{ user.username }}</label><br>
        {% endfor %}
        <button type="submit">{% trans "Create Group" %}</button>
    </form>
</body>
</html>
