{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% trans "BiadaGO Sohbet Systems" %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Chitchat">
    <meta name="keywords" content="Chitchat">
    <meta name="author" content="Chitchat">
    <link rel="icon" href="assets/images/favicon/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="assets/images/favicon/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'go/chat/assets/css/date-picker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'go/chat/assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'go/chat/assets/css/style.css' %}" media="screen" id="color">
    <link rel="stylesheet" type="text/css" href="{% static 'go/chat/assets/css/themify-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'go/chat/assets/css/tour.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'go/chat/assets/js/ckeditor/skins/moono-lisa/editor.css' %}?t=HBDD">
    <link rel="stylesheet" type="text/css" href="{% static 'go/chat/assets/js/ckeditor/plugins/scayt/skins/moono-lisa/scayt.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'go/chat/assets/js/ckeditor/plugins/scayt/dialogs/dialog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'go/chat/assets/js/ckeditor/plugins/tableselection/styles/tableselection.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'go/chat/assets/js/ckeditor/plugins/wsc/skins/moono-lisa/wsc.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'go/chat/assets/js/ckeditor/plugins/copyformatting/styles/copyformatting.css' %}">
  </head>
  <body class="sidebar">
    <div class="chitchat-loader">
      <div><img src="assets/images/logo/logo_big.png" alt=""/>
        <h3>{% trans "Şirketinize hızlı bağlantı için basit ve güvenli mesajlaşma..!" %}</h3>
      </div>
    </div>
    <div class="chitchat-container sidebar-toggle">
      <nav class="main-nav on custom-scroll">
        <div class="logo-warpper"><a href="messenger.html"><img src="assets/images/logo/logo.png" alt="logo"/></a></div>
        <div class="sidebar-main">
          <ul class="sidebar-top">
            
            <li><a class="icon-btn btn-light button-effect" href="favourite" data-tippy-content="{% trans "Favourite" %}"><i class="fa fa-star"></i></a></li>
            <li><a class="icon-btn btn-light button-effect" href="document" data-tippy-content="{% trans "Document" %}"> <i class="fa fa-file-text"></i></a></li>
            <li><a class="icon-btn btn-light button-effect" href="contact-list" data-tippy-content="{% trans "Contact List" %}"> <i class="fa fa-users"></i></a></li>
         
            
          </ul>
          <ul class="sidebar-bottom">         
            <li><a class="icon-btn btn-light button-effect mode" href="#" data-tippy-content="{% trans "Theme Mode" %}" data-intro="{% trans "Change mode" %}"><i class="fa fa-moon-o"></i></a></li>
            <li><a class="icon-btn btn-light" href="login.html" data-tippy-content="{% trans "SignOut" %}"> <i class="fa fa-power-off"></i></a></li>
          </ul>
        </div>
      </nav>
      <aside class="chitchat-left-sidebar left-disp">
        <div class="recent-default dynemic-sidebar active">
          <div class="recent">
            <div class="theme-title">
              <div class="d-flex">
                <div> 
                  <h2>{% trans "Sohbet" %}</h2>
                  <h4>{% trans "Biada Group Çalışanları" %}</h4>
                </div>
                <div class="flex-grow-1"><a class="icon-btn btn-outline-light button-effect pull-right mobile-back" href="#"><i class="ti-angle-right"></i></a><a class="icon-btn btn-outline-light button-effect pull-right mainnav" href="#"><i class="ti-layout-grid2"></i></a></div>
              </div>
            </div>
            
          </div>
          <div style="margin-top: 0px !important ;margin-bottom: 0px !important;" class="chat custom-scroll">
            <ul class="chat-cont-setting">
              <li> <a href="#" data-bs-toggle="modal" data-bs-target="#msgchatModal"><span>{% trans "new chat" %}</span>
                  <div class="icon-btn btn-outline-primary button-effect btn-sm"><i data-feather="message-square"></i></div></a></li>
              <li><a href="#" data-bs-toggle="modal" data-bs-target="#msgcallModal"><span>{% trans "new call" %}</span>
                  <div class="icon-btn btn-outline-success button-effect btn-sm"><i data-feather="phone"></i></div></a></li>
              <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><span>{% trans "new Contact" %}</span>
                  <div class="icon-btn btn-outline-danger button-effect btn-sm"><i data-feather="users"></i></div></a></li>
            </ul>
            <div class="theme-title">
              <div class="d-flex">
                <div> 
                  <h2>{% trans "Sohbet" %}</h2>
                  <h4>{% trans "Yeni Konuşma Başlat" %}</h4>
                </div>
                <div class="flex-grow-1"><a class="icon-btn btn-outline-light btn-sm search contact-search" href="#"> <i data-feather="search"></i></a>
                  <form class="form-inline search-form">
                    <div class="form-group">
                      <input class="form-control-plaintext" type="search" placeholder="{% trans "Search.." %}"/>
                      <div class="icon-close close-search"> <i data-feather="x"></i></div>
                    </div>
                  </form><a class="icon-btn btn-primary btn-fix chat-cont-toggle outside" href="#"><i data-feather="plus"></i></a>
                </div>
              </div>
            </div>
            <div class="theme-tab tab-sm chat-tabs">     
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="chat" role="tabpanel" aria-labelledby="chat-tab"> 
                  <div class="theme-tab">       
                    <ul class="nav nav-tabs" id="myTab1" role="tablist">
                      
                    </ul>
                    <div class="tab-content" id="myTabContent1">
                      <div class="tab-pane fade show active" id="direct" role="tabpanel" aria-labelledby="direct-tab"> 
                        <ul class="chat-main">
                            {% for group in groups %}
                  
                        
                                          <li style="border: 1px solid black;" data-to="group_chat">
                                          
                                            <a href="{% url 'users:group_chat' group.id %}" class="group-box">
                                              <div class="profile"><img class="bg-img" src="{% static 'go/chat/assets/images/avtar/teq.jpg' %}" alt="Avatar"/></div>
                                              <div class="details">
                                                <h5>{{ group.name }}</h5>
                                                <h6></h6>
                                              </div>
                                              <div class="date-status">
                                                <ul class="grop-icon">
                                                  <li><a class="group-tp" href="#" data-tippy-content="Josephin"> <img src="{% static 'go/chat/assets/images/contact/1.jpg' %}" alt="group-icon-img"/></a></li>
                                                  <li><a class="group-tp" href="#" data-tippy-content="Jony "> <img src="{% static 'go/chat/assets/images/contact/2.jpg' %}" alt="group-icon-img"/></a></li>
                                                  
                                                  
                                                </ul>
                                              </div>
                                            </a>
                                          </li>
                                          {% endfor %}
                        </ul>
                      </div>
                      <div class="tab-pane fade" id="group" role="tabpanel" aria-labelledby="group-tab"> 
                        <div class="search2">
                          <div>
                            <div class="input-group">
                              <div class="input-group-append"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                              <input class="form-control" type="text" placeholder="{% trans "Start Sohbet" %}"/>
                            </div>
                          </div>
                        </div>
                        <ul class="group-main">
                          
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <div class="fevorite-tab custom-scrollbar dynemic-sidebar" id="favourite">
          <div class="theme-title">
            <div class="d-flex">
              <div> 
                <h2>{% trans "Favourite" %}</h2>
                <h4>{% trans "Last Recent" %}</h4>
              </div>
              <div class="flex-grow-1"><a class="icon-btn btn-outline-light btn-sm m-r-15 search" href="#"> <i data-feather="search"></i></a>
                <form class="form-inline search-form">
                  <div class="form-group">
                    <input class="form-control-plaintext" type="search" placeholder="{% trans "Search.." %}"/>
                    <div class="icon-close close-search"><i data-feather="x"></i></div>
                  </div>
                </form><a class="icon-btn btn-outline-light btn-sm m-r-15" href="#" data-bs-toggle="modal" data-bs-target="#addcallmodal"><i data-feather="plus"></i></a><a class="icon-btn btn-outline-light btn-sm close-panel" href="#"><i data-feather="x"></i></a>
              </div>
            </div>
          </div>
          <ul class="chat-main">
            <li>
              <div class="chat-box">
                <div class="d-flex">
                  <div class="profile offline"><img class="bg-img" src="assets/images/contact/1.jpg" alt="Avatar"/></div>
                  <div class="details">
                    <h5>Josephin water</h5>
                    <h6>Alabma , USA</h6>
                  </div>
                  <div class="flex-grow-1"><a class="icon-btn btn-outline-primary btn-sm pull-right favourite" href="#"> <i data-feather="star"> </i></a></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="document-tab dynemic-sidebar" id="document">
          <div class="theme-title">
            <div class="d-flex">
              <div> 
                <h2>{% trans "Document" %}</h2>
                <h4>{% trans "List of document" %}</h4>
              </div>
              <div class="flex-grow-1"> <a class="icon-btn btn-outline-light btn-sm m-r-15 search" href="#"> <i data-feather="search"></i></a>
                <form class="form-inline search-form">
                  <div class="form-group">
                    <input class="form-control-plaintext" type="search" placeholder="{% trans "Search.." %}"/>
                    <div class="icon-close close-search"> <i data-feather="x"></i></div>
                  </div>
                </form><a class="icon-btn btn-outline-light btn-sm close-panel" href="#"><i data-feather="x"></i></a>
              </div>
            </div>
          </div>
          <ul class="chat-main">
            <li>
              <div class="chat-box">
                <div class="d-flex">
                  <div class="profile"><a class="icon-btn btn-outline-danger btn-xl pull-right rouded15" href="#"><i class="fa fa-file-code-o"></i></a></div>
                  <div class="details">
                    <h5>messenger.html</h5>
                    <h6>2, {% trans "octomber" %} 2023</h6>
                  </div>
                  <div class="flex-grow-1"><a class="icon-btn btn-outline-light btn-sm pull-right" href="assets/doc/messenger.html" target="_blank"><i data-feather="download"></i></a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="chat-box">
                <div class="d-flex">
                  <div class="profile"><a class="icon-btn btn-outline-success btn-xl pull-right rouded15" href="#"><i class="fa fa-file-video-o"></i></a></div>
                  <div class="details">
                    <h5>chapter1.MP4</h5>
                    <h6>3, {% trans "Octomber" %} 2023</h6>
                  </div>
                  <div class="flex-grow-1"><a class="icon-btn btn-outline-light btn-sm pull-right" href="assets/doc/chapter1.MP4" target="_blank"> <i data-feather="download"></i></a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="chat-box">
                <div class="d-flex">
                  <div class="profile"><a class="icon-btn btn-outline-primary btn-xl pull-right rouded15" href="#"><i class="fa fa-file-word-o"></i></a></div>
                  <div class="details">
                    <h5>salary.xlsx</h5>
                    <h6>5, {% trans "Octomber" %} 2023</h6>
                  </div>
                  <div class="flex-grow-1"><a class="icon-btn btn-outline-light btn-sm pull-right" href="assets/doc/salary.xlsx" target="_blank"> <i data-feather="download"></i></a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="chat-box">
                <div class="d-flex">
                  <div class="profile"><a class="icon-btn btn-outline-warning btn-xl pull-right rouded15" href="#"><i class="fa fa-file-pdf-o"></i></a></div>
                  <div class="details">
                    <h5>document.pdf</h5>
                    <h6>7, {% trans "Octomber" %} 2023</h6>
                  </div>
                  <div class="flex-grow-1"><a class="icon-btn btn-outline-light btn-sm pull-right" href="assets/doc/document.pdf" target="_blank"> <i data-feather="download"></i></a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="chat-box">
                <div class="d-flex">
                  <div class="profile"><a class="icon-btn btn-outline-danger btn-xl pull-right rouded15" href="#"><i class="fa fa-file-text-o"></i></a></div>
                  <div class="details">
                    <h5>details.txt</h5>
                    <h6>20, {% trans "Octomber" %} 2023</h6>
                  </div>
                  <div class="flex-grow-1"><a class="icon-btn btn-outline-light btn-sm pull-right" href="assets/doc/details.txt" target="_blank"> <i data-feather="download"></i></a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="chat-box">
                <div class="d-flex">
                  <div class="profile"><a class="icon-btn btn-outline-success btn-xl pull-right rouded15" href="#"><i class="fa fa-file-code-o"></i></a></div>
                  <div class="details">
                    <h5>messenger.html</h5>
                    <h6>2, {% trans "octomber" %} 2023</h6>
                  </div>
                  <div class="flex-grow-1"><a class="icon-btn btn-outline-light btn-sm pull-right" href="assets/doc/messenger.html" target="_blank"><i data-feather="download"></i></a></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- Kullanıcılar Mesaj Kısmı -->
        <div class="contact-list-tab dynemic-sidebar custom-scroll" id="contact-list">
          <div class="theme-title">
            <div class="d-flex">
              <div> 
                <h2>{% trans "Contact" %}</h2>
                <h4>{% trans "Start talking now" %}</h4>
              </div>
              <div class="flex-grow-1"> <a class="icon-btn btn-outline-light btn-sm m-r-15 search" href="#"> <i data-feather="search"></i></a>
                <form class="form-inline search-form">
                  <div class="form-group">
                    <input class="form-control-plaintext" type="search" placeholder="{% trans "Search.." %}"/>
                    <div class="icon-close close-search"> <i data-feather="x"></i></div>
                  </div>
                </form><a class="icon-btn btn-outline-light btn-sm close-panel" href="#"><i data-feather="x"></i></a>
              </div>
            </div>
          </div>
          <ul class="chat-main">
          {% for user in users %}
                        
                          <li class="">
                          <a href="{% url 'users:user_chat' user.id %}" class="chat-box">
              <div class="chat-box">
                <div class="profile offline"><img class="bg-img" src="assets/images/contact/1.jpg" alt="Avatar"/></div>
                <div class="details">
                  <h5>{{ user.last_name }}</h5>
                  <h6></h6>
                </div>
                <div class="date-status">
                  <h6></h6>
                  <h6 class="font-success status">{% trans "Seen" %}</h6>
                </div>
              </div>
               </a>
            </li>
                    {% endfor %}
            
            
          </ul>
        </div>
        <div class="status-tab custom-scroll dynemic-sidebar" id="status">
        </div>
      </aside>
      <div class="chitchat-main small-sidebar" id="content">
        <div class="chat-content tabto active">
          <div class="messages custom-scroll active" id="chating">
            <div class="contact-details">
              <div class="row">
                <form class="form-inline search-form">
                  <div class="form-group">
                    <input class="form-control-plaintext" type="search" placeholder="{% trans "Search.." %}"/>
                    <div class="icon-close close-search"> <i data-feather="x"></i></div>
                  </div>
                </form>
                <div class="col-7">
                  <div class="d-flex left">
                    <div class="media-left">
                      <div class="profile online menu-trigger"><img class="bg-img" src="assets/images/contact/2.jpg" alt="Avatar"/></div>
                    </div>
                    <div class="flex-grow-1">
                      <h5 class="mb-0">{{ recipient.last_name }}</h5>
                      <div class="badge badge-success">{% trans "Active" %}</div>
                    </div>
                    <div class="media-right">
                      
                    </div>
                  </div>
                </div>
                <div class="col px-0">
                
                </div>
              </div>
            </div>
            <div class="contact-chat">
              <ul class="chatappend">
                {% for message in messages %}
                {% if message.sender == request.user %}
                    <li class="replies">
                  <div class="d-flex">
                    <div class="profile"><img class="bg-img" src="{% static 'go/chat/assets/images/contact/2.jpg' %}" alt="Avatar"/></div>
                    <div class="flex-grow-1">
                      <div class="contact-name">
                        <h5>{{ message.sender.last_name }}</h5>
                        <h6>01:40 AM</h6>
                        <ul class="msg-box">
                          <li class="msg-setting-main">
                            <div class="msg-dropdown-main">
                              <div class="msg-setting"><i class="ti-more-alt"></i></div>
                              <div class="msg-dropdown"> 
                                <ul>
                                  <li><a href="#"><i class="fa fa-share"></i>forward</a></li>
                                  <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>
                                  <li><a href="#"><i class="fa fa-star-o"></i>rating</a></li>
                                  <li><a href="#"><i class="ti-trash"></i>delete</a></li>
                                </ul>
                              </div>
                            </div>
                            <h5>{{ message.content }}</h5>
                          </li>
                        
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
        
                {% else %}
                <li class="send">
                  <div class="d-flex">
                    <div class="profile"><img class="bg-img" src="{% static 'go/chat/assets/images/contact/2.jpg' %}" alt="Avatar"/></div>
                    <div class="flex-grow-1">
                      <div class="contact-name">
                        <h5>{{ message.sender.last_name }}</h5>
                        <h6>01:40 AM</h6>
                        <ul class="msg-box">
                          <li class="msg-setting-main">
                            <div class="msg-dropdown-main">
                              <div class="msg-setting"><i class="ti-more-alt"></i></div>
                              <div class="msg-dropdown"> 
                                <ul>
                                  <li><a href="#"><i class="fa fa-share"></i>forward</a></li>
                                  <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>
                                  <li><a href="#"><i class="fa fa-star-o"></i>rating</a></li>
                                  <li><a href="#"><i class="ti-trash"></i>delete</a></li>
                                </ul>
                              </div>
                            </div>
                            <h5>{{ message.content }}</h5>
                          </li>
                        
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
        
                {% endif %}
           
            {% endfor %}

              </ul>
            </div>
          </div>
          <div class="messages custom-scroll" id="blank">
            <div class="contact-details">
              <div class="row">
                <div class="col">
                  <div class="d-flex left">
                    <div class="media-left me-3">
                      <div class="profile online menu-trigger"><img class="bg-img" src="assets/images/contact/2.jpg" alt="Avatar"/></div>
                    </div>
                    <div class="flex-grow-1">
                      <h5>Josephin water</h5>
                      <h6>Last Seen 5 hours</h6>
                    </div>
                    <div class="media-right">
                      <ul>
                        <li><a class="icon-btn btn-light button-effect mute" href="#"><i class="fa fa-volume-up"></i></a></li>
                        <li><a class="icon-btn btn-light search search-right" href="#"> <i data-feather="search"></i></a>
                          <form class="form-inline search-form">
                            <div class="form-group">
                              <input class="form-control-plaintext" type="search" placeholder="Search.."/>
                              <div class="icon-close close-search"> <i data-feather="x"></i></div>
                            </div>
                          </form>
                        </li>
                        <li><a class="icon-btn btn-light button-effect mobile-sidebar" href="#"><i data-feather="chevron-left"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col"> 
                  <ul class="calls text-end">
                    <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Quick Audio Call" data-bs-toggle="modal" data-bs-target="#audiocall"><i data-feather="phone"></i></a></li>
                    <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Quick Video Call" data-bs-toggle="modal" data-bs-target="#videocall"><i data-feather="video"></i></a></li>
                    <li><a class="icon-btn btn-light button-effect apps-toggle" href="#" data-tippy-content="All Apps"><i class="ti-layout-grid2"></i></a></li>
                    <li class="chat-friend-toggle"><a class="icon-btn btn-light bg-transparent button-effect outside" href="#" data-tippy-content="Quick action"><i data-feather="more-vertical"></i></a>
                      <div class="chat-frind-content">
                        <ul>
                          <li><a class="icon-btn btn-outline-primary button-effect btn-sm" href="#"><i data-feather="user"></i></a>
                            <h5>profile</h5>
                          </li>
                          <li><a class="icon-btn btn-outline-success button-effect btn-sm" href="#"><i data-feather="plus-circle"></i></a>
                            <h5>archive</h5>
                          </li>
                          <li><a class="icon-btn btn-outline-danger button-effect btn-sm" href="#"><i data-feather="trash-2"></i></a>
                            <h5>delete</h5>
                          </li>
                          <li><a class="icon-btn btn-outline-light button-effect btn-sm" href="#"><i data-feather="slash"></i></a>
                            <h5>block</h5>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="contact-chat">
              <div class="rightchat animat-rate">
                <div class="bg_circle">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="cross"></div>
                <div class="cross1"></div>
                <div class="cross2"></div>
                <div class="dot"></div>
                <div class="dot1"> </div>
              </div>
            </div>
            <div class="call-list-center"><img src="assets/images/chat.png" alt=""/>
              <div class="animated-bg"><i></i><i></i><i></i></div>
              <p>Select a chat to read messages</p>
            </div>
          </div>
          <div class="messages custom-scroll" id="group_chat">
            <div class="contact-details">
              <div class="row">
                <div class="col">
                  <div class="d-flex left">
                    <div class="media-left me-3">
                      <div class="profile online menu-trigger"><img class="bg-img" src="assets/images/avtar/teq.jpg" alt="Avatar"/></div>
                    </div>
                    <div class="flex-grow-1">
                      <h5>Tech Ninjas</h5>
                      <div class="badge badge-success">Active</div>
                    </div>
                    <div class="media-right">
                      <ul>
                        <li><a class="icon-btn btn-light button-effect mute" href="#"><i class="fa fa-volume-up"></i></a></li>
                        <li><a class="icon-btn btn-light search search-right" href="#"> <i data-feather="search"></i></a>
                          <form class="form-inline search-form">
                            <div class="form-group">
                              <input class="form-control-plaintext" type="search" placeholder="Search.."/>
                              <div class="icon-close close-search"><i data-feather="x"></i></div>
                            </div>
                          </form>
                        </li>
                        <li><a class="icon-btn btn-light button-effect mobile-sidebar" href="#"><i data-feather="chevron-left"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col"> 
                  <ul class="calls text-end">
                    <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Start Audio Conference" data-bs-toggle="modal" data-bs-target="#confercall"><i data-feather="phone"></i></a></li>
                    <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Start Video Conference" data-bs-toggle="modal" data-bs-target="#confvideocl"><i data-feather="video"></i></a></li>
                    <li><a class="icon-btn btn-light button-effect apps-toggle" href="#" data-tippy-content="All Apps"><i class="ti-layout-grid2"></i></a></li>
                    <li class="chat-friend-toggle"><a class="icon-btn btn-light bg-transparent button-effect outside" href="#" data-tippy-content="Quick action"></a>
                      <div class="chat-frind-content">
                        <ul>
                          <li><a class="icon-btn btn-outline-primary button-effect btn-sm" href="#"><i data-feather="user"></i></a>
                            <h5>profile</h5>
                          </li>
                          <li><a class="icon-btn btn-outline-success button-effect btn-sm" href="#"><i data-feather="plus-circle"></i></a>
                            <h5>archive</h5>
                          </li>
                          <li><a class="icon-btn btn-outline-danger button-effect btn-sm" href="#"><i data-feather="trash-2"></i></a>
                            <h5>delete</h5>
                          </li>
                          <li><a class="icon-btn btn-outline-light button-effect btn-sm" href="#"><i data-feather="slash"></i></a>
                            <h5>block</h5>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="contact-chat">
              <ul class="chatappend">
                <li class="groupuser">
                  <h4>Jewellery project</h4>
                  <div class="gr-chat-friend-toggle"><a class="icon-btn btn-sm pull-right add-grbtn outside" href="#" data-tippy-content="Add User"><i data-feather="plus"></i></a>
                    <div class="gr-chat-frind-content">
                      <ul class="chat-main">
                        <li>
                          <div class="chat-box">
                            <div class="d-flex">
                              <div class="profile offline"><img class="bg-img" src="assets/images/contact/1.jpg" alt="Avatar"/></div>
                              <div class="details">
                                <h5>Josephin water</h5>
                                <h6>Alabma , USA</h6>
                              </div>
                              <div class="flex-grow-1"><a class="icon-btn btn-outline-primary btn-sm" href="#" data-tippy-content="Add User"><i class="fa fa-plus"></i></a></div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="chat-box">
                            <div class="d-flex">
                              <div class="profile"><img class="bg-img" src="assets/images/contact/2.jpg" alt="Avatar"/></div>
                              <div class="details">
                                <h5>Josephin water</h5>
                                <h6>Alabma , USA</h6>
                              </div>
                              <div class="flex-grow-1"><a class="icon-btn btn-outline-primary btn-sm" href="#" data-tippy-content="Add User"><i class="fa fa-plus"></i></a></div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="chat-box">
                            <div class="d-flex">
                              <div class="profile"><img class="bg-img" src="assets/images/contact/3.jpg" alt="Avatar"/></div>
                              <div class="details">
                                <h5>Josephin water</h5>
                                <h6>Alabma , USA</h6>
                              </div>
                              <div class="flex-grow-1"><a class="icon-btn btn-outline-primary btn-sm" href="#" data-tippy-content="Add User"><i class="fa fa-plus"></i></a></div>
                            </div>
                          </div>
                        </li>
                        <li>
                          <div class="chat-box">
                            <div class="d-flex">
                              <div class="profile unreachable"><img class="bg-img" src="assets/images/contact/4.jpg" alt="Avatar"/></div>
                              <div class="details">
                                <h5>Josephin water</h5>
                                <h6>Alabma , USA</h6>
                              </div>
                              <div class="flex-grow-1"><a class="icon-btn btn-outline-primary btn-sm" href="#" data-tippy-content="Add User"><i class="fa fa-plus"></i></a></div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="gr-profile dot-btn dot-success grow"><img class="bg-img" src="assets/images/avtar/3.jpg" alt="Avatar"/></div>
                  <div class="gr-profile dot-btn dot-success grow"><img class="bg-img" src="assets/images/avtar/5.jpg" alt="Avatar"/></div>
                </li>
                <li class="sent">
                  <div class="d-flex">
                    <div class="profile"><img class="bg-img" src="assets/images/contact/2.jpg" alt="Avatar"/></div>
                    <div class="flex-grow-1">
                      <div class="contact-name">
                        <h5>Josephin water</h5>
                        <h6>01:35 AM</h6>
                        <ul class="msg-box">
                          <li class="msg-setting-main">
                            <h5>Hi I am Josephin, can you help me to find best chat app?. </h5>
                            <div class="msg-dropdown-main">
                              <div class="msg-setting"><i class="ti-more-alt"></i></div>
                              <div class="msg-dropdown"> 
                                <ul>
                                  <li><a href="#"><i class="fa fa-share"></i>forward</a></li>
                                  <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>
                                  <li><a href="#"><i class="fa fa-star-o"></i>rating</a></li>
                                  <li><a href="#"><i class="ti-trash"></i>delete</a></li>
                                </ul>
                              </div>
                            </div>
                          </li>
                          <li class="msg-setting-main">
                            <h5> it should from elite auther &#128519;</h5>
                            <div class="badge badge-success sm mx-2"> R</div>
                            <div class="msg-dropdown-main">
                              <div class="msg-setting"><i class="ti-more-alt"></i></div>
                              <div class="msg-dropdown"> 
                                <ul>
                                  <li><a href="#"><i class="fa fa-share"></i>forward</a></li>
                                  <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>
                                  <li><a href="#"><i class="fa fa-star-o"></i>rating</a></li>
                                  <li><a href="#"><i class="ti-trash"></i>delete</a></li>
                                </ul>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="replies">
                  <div class="d-flex">
                    <div class="profile"><img class="bg-img" src="assets/images/avtar/1.jpg" alt="Avatar"/></div>
                    <div class="flex-grow-1">
                      <div class="contact-name">
                        <h5>Alan josheph</h5>
                        <h6>01:40 AM</h6>
                        <ul class="msg-box">
                          <li class="msg-setting-main">
                            <div class="msg-dropdown-main">
                              <div class="msg-setting"><i class="ti-more-alt"></i></div>
                              <div class="msg-dropdown"> 
                                <ul>
                                  <li><a href="#"><i class="fa fa-share"></i>forward</a></li>
                                  <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>
                                  <li><a href="#"><i class="fa fa-star-o"></i>rating</a></li>
                                  <li><a href="#"><i class="ti-trash"></i>delete</a></li>
                                </ul>
                              </div>
                            </div>
                            <h5>Sure, chitchat is best theme for chating project, you can it check<a class="ms-1" href="https://themeforest.net/user/pixelstrap/portfolio" target="_blank">here.</a></h5>
                          </li>
                          <li class="msg-setting-main">
                            <div class="msg-dropdown-main">
                              <div class="msg-setting"><i class="ti-more-alt"></i></div>
                              <div class="msg-dropdown"> 
                                <ul>
                                  <li><a href="#"><i class="fa fa-share"></i>forward</a></li>
                                  <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>
                                  <li><a href="#"><i class="fa fa-star-o"></i>rating</a></li>
                                  <li><a href="#"><i class="ti-trash"></i>delete</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="document"><i class="fa fa-file-excel-o font-primary"></i>
                              <div class="details">
                                <h5>Document.xlsx</h5>
                                <h6>25mb Seprate file</h6>
                              </div>
                              <div class="icon-btns"><a class="icon-btn btn-outline-light" href="assets/doc/Document.xlsx" target="_blank"><i data-feather="download"> </i></a></div>
                            </div>
                            <div class="badge badge-dark sm ms-2"> D</div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="sent">
                  <div class="d-flex">
                    <div class="profile"><img class="bg-img" src="assets/images/contact/2.jpg" alt="Avatar"/></div>
                    <div class="flex-grow-1">
                      <div class="contact-name">
                        <h5>Josephin water</h5>
                        <h6>01:42 AM</h6>
                        <ul class="msg-box">
                          <li class="msg-setting-main">
                            <h5>I think it's best for my project.</h5>
                            <div class="msg-dropdown-main">
                              <div class="msg-setting"><i class="ti-more-alt"></i></div>
                              <div class="msg-dropdown"> 
                                <ul>
                                  <li><a href="#"><i class="fa fa-share"></i>forward</a></li>
                                  <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>
                                  <li><a href="#"><i class="fa fa-star-o"></i>rating</a></li>
                                  <li><a href="#"><i class="ti-trash"></i>delete</a></li>
                                </ul>
                              </div>
                            </div>
                          </li>
                          <li class="msg-setting-main">
                            <ul class="auto-gallery">
                              <li><img class="bg-img" src="assets/images/media/1.jpg" alt="Avatar"/></li>
                              <li>   <img class="bg-img" src="assets/images/media/2.jpg" alt="Avatar"/></li>
                              <li>   <img class="bg-img" src="assets/images/media/3.jpg" alt="Avatar"/></li>
                            </ul>
                            <div class="badge badge-danger sm ms-2"></div>
                            <div class="badge badge-outline-primary refresh sm ms-2"> <i data-feather="rotate-cw"></i></div>
                            <div class="msg-dropdown-main">
                              <div class="msg-setting"><i class="ti-more-alt"></i></div>
                              <div class="msg-dropdown"> 
                                <ul>
                                  <li><a href="#"><i class="fa fa-share"></i>forward</a></li>
                                  <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>
                                  <li><a href="#"><i class="fa fa-star-o"></i>rating</a></li>
                                  <li><a href="#"><i class="ti-trash"></i>delete</a></li>
                                </ul>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="replies">
                  <div class="d-flex">
                    <div class="profile"><img class="bg-img" src="assets/images/avtar/1.jpg" alt="Avatar"/></div>
                    <div class="flex-grow-1">
                      <div class="contact-name">
                        <h5>Alan josheph</h5>
                        <h6>01:45 AM</h6>
                        <ul class="msg-box">
                          <li class="msg-setting-main">
                            <div class="msg-dropdown-main">
                              <div class="msg-setting"><i class="ti-more-alt"></i></div>
                              <div class="msg-dropdown"> 
                                <ul>
                                  <li><a href="#"><i class="fa fa-share"></i>forward</a></li>
                                  <li><a href="#"><i class="fa fa-clone"></i>copy</a></li>
                                  <li><a href="#"><i class="fa fa-star-o"></i>rating</a></li>
                                  <li><a href="#"><i class="ti-trash"></i>delete</a></li>
                                </ul>
                              </div>
                            </div>
                            <h5>If you have any other query then feel free to ask us.</h5>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="messages custom-scroll" id="group_blank">
            <div class="contact-details">
              <div class="row">
                <div class="col">
                  <div class="d-flex left">
                    <div class="media-left me-3">
                      <div class="profile online menu-trigger"><img class="bg-img" src="assets/images/avtar/family.jpg" alt="Avatar"/></div>
                    </div>
                    <div class="flex-grow-1">
                      <h5>Family Ties</h5>
                      <h6>Last Seen 2 hours</h6>
                    </div>
                    <div class="media-right">
                      <ul>
                        <li><a class="icon-btn btn-light button-effect mute" href="#"><i class="fa fa-volume-up"></i></a></li>
                        <li><a class="icon-btn btn-light search search-right" href="#"> <i data-feather="search"></i></a>
                          <form class="form-inline search-form">
                            <div class="form-group">
                              <input class="form-control-plaintext" type="search" placeholder="Search.."/>
                              <div class="icon-close close-search"> <i data-feather="x"></i></div>
                            </div>
                          </form>
                        </li>
                        <li><a class="icon-btn btn-light button-effect mobile-sidebar" href="#"><i data-feather="chevron-left"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col"> 
                  <ul class="calls text-end">
                    <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Quick Audio Call" data-bs-toggle="modal" data-bs-target="#confercall"><i data-feather="phone"></i></a></li>
                    <li><a class="icon-btn btn-light button-effect" href="#" data-tippy-content="Quick Video Call" data-bs-toggle="modal" data-bs-target="#confvideocl"><i data-feather="video"></i></a></li>
                    <li><a class="icon-btn btn-light button-effect apps-toggle" href="#" data-tippy-content="All Apps"><i class="ti-layout-grid2"></i></a></li>
                    <li class="chat-friend-toggle"><a class="icon-btn btn-light bg-transparent button-effect outside" href="#" data-tippy-content="Quick action"><i data-feather="more-vertical"></i></a>
                      <div class="chat-frind-content">
                        <ul>
                          <li><a class="icon-btn btn-outline-primary button-effect btn-sm" href="#"><i data-feather="user"></i></a>
                            <h5>profile</h5>
                          </li>
                          <li><a class="icon-btn btn-outline-success button-effect btn-sm" href="#"><i data-feather="plus-circle"></i></a>
                            <h5>archive</h5>
                          </li>
                          <li><a class="icon-btn btn-outline-danger button-effect btn-sm" href="#"><i data-feather="trash-2"></i></a>
                            <h5>delete</h5>
                          </li>
                          <li><a class="icon-btn btn-outline-light button-effect btn-sm" href="#"><i data-feather="slash"></i></a>
                            <h5>block</h5>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="contact-chat">
              <div class="rightchat animat-rate">
                <div class="bg_circle">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
                <div class="cross"></div>
                <div class="cross1"></div>
                <div class="cross2"></div>
                <div class="dot"></div>
                <div class="dot1"> </div>
              </div>
            </div>
            <div class="call-list-center"><img src="assets/images/chat.png" alt=""/>
              <div class="animated-bg"><i></i><i></i><i></i></div>
              <p>Select a chat to read messages</p>
            </div>
          </div>
          {% csrf_token %}
          <div class="message-input">
            <div class="wrap emojis-main"><a class="icon-btn btn-outline-primary button-effect toggle-sticker outside" href="#">
                <svg id="Layer_1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="2158px" height="2148px" viewbox="0 0 2158 2148" enable-background="new 0 0 2158 2148" xml:space="preserve">
                  <path fill-rule="evenodd" clip-rule="evenodd" fill="none" stroke="#000000" stroke-width="60" stroke-miterlimit="10" d="M699,693                        c0,175.649,0,351.351,0,527c36.996,0,74.004,0,111,0c18.058,0,40.812-2.485,57,1c11.332,0.333,22.668,0.667,34,1                        c7.664,2.148,20.769,14.091,25,20c8.857,12.368,6,41.794,6,62c0,49.329,0,98.672,0,148c175.649,0,351.351,0,527,0                        c0-252.975,0-506.025,0-759C1205.692,693,952.308,693,699,693z"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M886,799c59.172-0.765,93.431,25.289,111,66c6.416,14.867,14.612,39.858,9,63                        c-2.391,9.857-5.076,20.138-9,29c-15.794,35.671-47.129,53.674-90,63c-20.979,4.563-42.463-4.543-55-10                        c-42.773-18.617-85.652-77.246-59-141c10.637-25.445,31.024-49,56-60c7.999-2.667,16.001-5.333,24-8                        C877.255,799.833,882.716,801.036,886,799z"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M1258,799c59.172-0.765,93.431,25.289,111,66c6.416,14.867,14.612,39.858,9,63                        c-2.391,9.857-5.076,20.138-9,29c-15.794,35.671-47.129,53.674-90,63c-20.979,4.563-42.463-4.543-55-10                        c-42.773-18.617-85.652-77.246-59-141c10.637-25.445,31.024-49,56-60c7.999-2.667,16.001-5.333,24-8                        C1249.255,799.833,1254.716,801.036,1258,799z"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M1345,1184c-0.723,18.71-11.658,29.82-20,41c-18.271,24.489-50.129,37.183-83,47                        c-7.333,1-14.667,2-22,3c-12.013,2.798-33.636,5.15-44,3c-11.332-0.333-22.668-0.667-34-1c-15.332-3-30.668-6-46-9                        c-44.066-14.426-80.944-31.937-110-61c-22.348-22.353-38.992-45.628-37-90c0.667,0,1.333,0,2,0c9.163,5.585,24.723,3.168,36,6                        c26.211,6.583,54.736,7.174,82,14c34.068,8.53,71.961,10.531,106,19c9.999,1.333,20.001,2.667,30,4c26.193,6.703,54.673,7.211,82,14                        C1304.894,1178.445,1325.573,1182.959,1345,1184z"></path>
                  <polygon fill-rule="evenodd" clip-rule="evenodd" points="668.333,1248.667 901.667,1482 941.667,1432 922.498,1237.846                         687,1210.667 "></polygon>
                </svg></a>
              <div class="dot-btn dot-primary"><a class="icon-btn btn-outline-primary button-effect toggle-emoji" href="#"><i data-feather="smile"></i></a></div>
              <div class="contact-poll"><a class="icon-btn btn-outline-primary outside" href="#"><i class="fa fa-plus"></i></a>
                <div class="contact-poll-content">
                  <ul>
                    <li><a href="#"><i data-feather="image"></i>gallery</a></li>
                    <li><a href="#"><i data-feather="camera"></i>camera</a></li>
                    <li><a data-bs-toggle="modal" data-bs-target="#snippetModal"><i data-feather="code">                       </i>Code Snippest</a></li>
                    <li><a href="#"><i data-feather="user">                              </i>contact</a></li>
                    <li><a href="#"><i data-feather="map-pin">                       </i>location</a></li>
                    <li><a href="#"><i data-feather="clipboard"> </i>document</a></li>
                    <li><a data-bs-toggle="modal" data-bs-target="#pollModal"><i data-feather="bar-chart-2">                       </i>poll</a></li>
                    <li><a href="#"><i data-feather="paperclip">                       </i>attach</a></li>
                  </ul>
                </div>
              </div>
              
              <input class="setemoj" id="setemoj" name="content" type="text" placeholder="Write your message..."/><a class="icon-btn btn-outline-primary button-effect me-2 ms-2" href="#"><i data-feather="mic">                </i></a>
              <button class="submit icon-btn btn-primary " type="submit"  ><i data-feather="send">               </i></button>
              
              <div class="emojis-contain">
                <div class="emojis-sub-contain custom-scroll">
                  <ul>
                    <li>&#128512;</li>
                    <li>&#128513;</li>
                    <li>&#128514;</li>
                    <li>&#128515;</li>
                    <li>&#128516;</li>
                    <li>&#128517;</li>
                    <li>&#128518;</li>
                    <li>&#128519;</li>
                    <li>&#128520;</li>
                    <li>&#128521;</li>
                    <li>&#128522;</li>
                    <li>&#128523;</li>
                    <li>&#128524;</li>
                    <li>&#128525;</li>
                    <li>&#128526;</li>
                    <li>&#128527;</li>
                    <li>&#128528;</li>
                    <li>&#128529;</li>
                    <li>&#128530;</li>
                    <li>&#128531;</li>
                    <li>&#128532;</li>
                    <li>&#128533;</li>
                    <li>&#128534;</li>
                    <li>&#128535;</li>
                    <li>&#128536;</li>
                    <li>&#128537;</li>
                    <li>&#128538;</li>
                    <li>&#128539;</li>
                    <li>&#128540;</li>
                    <li>&#128541;</li>
                    <li>&#128542;</li>
                    <li>&#128543;</li>
                    <li>&#128544;</li>
                    <li>&#128545;</li>
                    <li>&#128546;</li>
                    <li>&#128547;</li>
                    <li>&#128549;</li>
                    <li>&#128550;</li>
                    <li>&#128551;</li>
                    <li>&#128552;</li>
                    <li>&#128553;</li>
                    <li>&#128554;</li>
                    <li>&#128555;</li>
                    <li>&#128557;</li>
                    <li>&#128558;</li>
                    <li>&#128559;</li>
                    <li>&#128560;</li>
                    <li>&#128561;</li>
                    <li>&#128562;</li>
                    <li>&#128563;</li>
                    <li>&#128564;</li>
                    <li>&#128565;</li>
                    <li>&#128566;</li>
                    <li>&#128567;</li>
                    <li>&#128568;</li>
                    <li>&#128569;</li>
                    <li>&#128570;</li>
                    <li>&#128571;</li>
                    <li>&#128572;</li>
                    <li>&#128573;</li>
                    <li>&#128574;</li>
                    <li>&#128576;                    </li>
                    <li>&#128579;                    </li>
                  </ul>
                </div>
              </div>
             </form>
        </div>


      </div>
    </div>

    <script src="{% static 'go/chat/assets/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/owl.carousel.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/tippy-bundle.iife.min.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/switchery.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/easytimer.min.js' %}">        </script>
    <script src="{% static 'go/chat/assets/js/index.js' %}">        </script>
    <script src="{% static 'go/chat/assets/js/feather-icon/feather.min.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/feather-icon/feather-icon.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/ckeditor/styles.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/ckeditor/adapters/jquery.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/ckeditor/ckeditor.custom.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/date-picker/datepicker.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/date-picker/datepicker.en.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/date-picker/datepicker.custom.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/zoom-gallery.js' %}"></script>
    <script src="{% static 'go/chat/assets/js/script.js' %}"></script>
  </body>
</html>