{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'content/style/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/r-3.0.3/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
{% endblock head %}

{% block sidebar %}
  <main>


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                    {% trans 'Depo ve Stok Yönetimi' %}
                    
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#">{% trans 'Dashboard' %}</a></li>
                    <li><a href="#">{% trans 'Satın Alma ve Stok' %}</a></li>
                    <li><a href="#">{% trans 'Depo ve Stok Yönetimi' %}</a></li>
                </ul>
            </div>

            <div class="page-actions">
            
                
            </div>
        </div>

        <div class="large-stats-card table-card table-detail-card">
            <div class="stats-header">
                <div class="stats-title">{% trans 'Depo ve Stok Yönetimi' %}</div>
                <div class="stats-right">
                    <div class="stats-search">
                        <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                        <button><i class="icon icon-search"></i></button>
                    </div>
                </div>
            </div>


            <div class="tab-navs">
                <button class="tab-navs-btn active" data-tab="Tümü">{% trans 'Tümü' %}</button>
                
                
            </div>

            <div class="tab-contents">

                <div class="tab-content active" id="tumu">
                    <div class="table-wrapper">
                        <table id="tumu-table">
                            <thead>
                                <tr>
                                  <th>{% trans 'Ürün Adı' %}</th>
                <th>{% trans 'Kategori' %}</th>
                <th>{% trans 'Stok Durumu' %}</th>
                <th>{% trans 'Zimmet Altında Bulunanlar' %}</th>
                <th>{% trans 'Aksiyonlar' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for i in santiyeler %}
            <tr>
                <td data-label="{% trans 'Ürün Adı' %}">{{i.urun_adi}}</td>
                <td data-label="{% trans 'Kategori' %}">{% if i.urun_kategorisi %}{{ i.urun_kategorisi.kategori_adi}}{% else %}{% trans 'Kategori Yok' %}{% endif %}</td>
                <td data-label="{% trans 'Stok Durumu' %}">{% stok_sayisi i %} </td>
                <td data-label="{% trans 'Stok Durumu' %}">{% zimmet_sayisi i %}</td>
                <td data-label="{% trans 'Aksiyonlar' %}">
                <div class="td-actions">
                    <a onclick="urun_detayi('{{i.id}}')" class="status-view"><i class="icon icon-view"></i> </a>
                    <a onclick="stok_ekle({{i.id}})" class="status-success stats-lg"><i class="icon icon-confirm"></i> Stok İşlemleri</a>
                </div>
                    
                </td>
            </tr>
        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>

        </div>

        <script>
            let table = new DataTable('#tumu-table', {
                paging: false,
                searching: true,
                info: false,
                layout: {
                    topStart: {
                        buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                    }
                }
            });

            $('.tab-navs-btn').on('click', function () {
    $(".tab-navs-btn").removeClass("active");
    $(this).addClass("active");

    // Eğer "Tümü" sekmesi seçiliyse filtreleme yapmadan tüm verileri göster
    if ($(this).attr("data-tab") == "Tümü") {
        table.search('').columns().search('').draw();  // Tüm verileri gösterir
    } else if ($(this).attr("data-tab") == "Beklemede") {
        table.column(8).search('{% trans "Beklemede" %}').draw();  // Durumu "Beklemede" olanları gösterir
    } else if ($(this).attr("data-tab") == "Onaylandı") {
        table.column(8).search('{% trans "Onaylandı" %}').draw();  // Durumu "Onaylandı" olanları gösterir
    } else if ($(this).attr("data-tab") == "Reddedildi") {
        table.column(8).search('{% trans "Onaylanmadı" %}').draw();  // Durumu "Reddedildi" olanları gösterir
    }
});



            $('#stats-search').keyup(function () {
                table.search($(this).val()).draw();
            })
        </script>


    </main>

    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });

        


    </script>


    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>
<div class="modal" id="goruntule">
    <div class="modal-inner" style="width: 500px">
        <div class="modal-header">
            {% trans 'Talep Satın Alındı' %}
        </div>
        <div class="modal-body">
            <h2>{% trans 'Ürün Bilgileri' %}</h2>
            <p><strong>{% trans 'Ürün Adı' %}:</strong> <span id="urun_bilgisi"></span> </p>
            <p><strong>{% trans 'Kategori' %}:</strong> <span id="kategori_bilgisi"></span> </p>
            <p><strong>{% trans 'Stok Durumu' %}:</strong> <span id="adet"></span> </p>
            <p><strong>{% trans 'Zimmet Geçmişi' %}:</strong></p>
            <ul id="zimet">
             
            </ul>
                <div class="form-actions">
                    <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Kapat' %}</button>
                    
                </div>  
            
        </div>
    </div>
</div>
<div class="modal" id="confirm-modal">
    <div class="modal-inner" style="width: 500px">
        <div class="modal-header">
            {% trans 'Talep Satın Alındı' %}
        </div>
        <div class="modal-body">
            <form id="stockTransactionForm" action="/{{dil}}{% url 'accounting:stok_girisi_yap' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="urun" hidden id="urun_bilgisi_doldur">
                <label for="transactionType">{% trans 'İşlem Türü' %}:</label>
                <select id="transactionType" name="transactionType">
                    <option value="0">{% trans 'Stok Girişi' %}</option>
                    <option value="1">{% trans 'Stok Çıkışı' %}</option>
                </select>

                <label for="transactionAmount">{% trans 'Miktar' %}:</label>
                <input type="number" id="transactionAmount" name="transactionAmount" placeholder="{% trans 'Miktar girin' %}">
                <div class="form-actions">
                    <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                    <button class="form-action-primary" type="submit">{% trans 'Evet, onaylansın' %}</button>
                
            
        </div>
        </form>
    </div>
</div>
</div>
<script>
    function urun_detayi(faturaId) {
        fetch(`/accounting/zimmetbilgisi/${faturaId}/`)
            .then(response => response.json())
            .then(data => {
                 
                document.getElementById("urun_bilgisi").textContent = data.isim;
                document.getElementById("kategori_bilgisi").textContent = data.kategori;
                document.getElementById("adet").textContent = data.stok;
                let zimmet = data.kalemler.map(kalem => `
                    <li>${kalem.Personel} - ${kalem.adet} - ${kalem.alis} - ${kalem.veris}</li>
                `).join('');

                document.getElementById("zimet").innerHTML = zimmet;   
                document.getElementById("goruntule").style.display = 'flex';
            })}
            function stok_ekle(id) {
        document.getElementById("urun_bilgisi_doldur").value = id;
        document.getElementById("confirm-modal").style.display = 'flex';
    }
</script>
{% endblock sidebar %}
