{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block head %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'content/style/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/r-3.0.3/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
{% endblock head %}

{% block sidebar %}

<main>
    <div class="page-header">
        <div class="page-info">
            <div class="page-title">
                <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                {% trans 'Bildirimler' %}
            </div>
            <ul class="page-breadcrumb">
                <li><a href="#">{% trans 'Dashboard' %}</a></li>
                <li><a href="#">{% trans 'Ayarlar' %}</a></li>
                <li><a href="#">{% trans 'Bildirimler' %}</a></li>
            </ul>
        </div>
    </div>

    <div class="large-stats-card table-card table-detail-card">
        <div class="stats-header">
            <div class="stats-title">{% trans 'Maaşlar Ve Avanslar' %}</div>
            <div class="stats-search">
                <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                <button><i class="icon icon-search"></i></button>
            </div>
        </div>

        <div class="table-wrapper">
            <table id="datatable">
                <thead>
                    <tr>
                        <th class="sort" data-sort="email">{% trans 'Bildirim' %}</th>
                                                    <th class="sort" data-sort="date">{% trans 'Uyarı Tarihi' %}</th>
                                                    <th class="sort" data-sort="date">{% trans 'İncele' %}</th>
                    </tr>
                </thead>
                <tbody>
                  {% if request.user.kullanicilar_db %}
                                                {% bildirimler request.user.kullanicilar_db as bildirim %}
                                            {% else %}
                                                {% bildirimler request.user as bildirim %}
                                            {% endif %}
                                            {% for i in bildirim %}
                                            {% if i.type == "Gelir" %}
                                                <tr style= "{% if request.user.is_superuser %}{% if i.silinme_bilgisi %}background-color: grey;color: white; {% endif %} {% endif %}">
                                                    <td class="email">
                                                    {% trans 'Ödeme tarihini geçen bir Gelir faturanız bulunmaktadır.'%}</td>
                                                    <td class="email">{{i.vade_tarihi | date:'d m Y' }}</td>
                                                    <td class="email"><a href="/{{dil}}{% url 'accounting:gelirler_sayfasi'  %}"><button class="status-success stats-lg"><i class="icon icon-confirm"></i>İncele</button></a> </td>

                                                </tr>
                                            {% elif i.type == "Gider" %}
                                            <tr style= "{% if request.user.is_superuser %}{% if i.silinme_bilgisi %}background-color: grey;color: white; {% endif %} {% endif %}">
                                                    <td class="email">
                                                    {% trans 'Ödeme tarihini geçen bir Gider faturanız bulunmaktadır.'%}</td>
                                                    <td class="email">{{i.vade_tarihi | date:'d m Y' }}</td>
                                                    <td class="email"><a href="/{{dil}}{% url 'accounting:gelirler_sayfasi'  %}"><button class="status-success stats-lg"><i class="icon icon-confirm"></i>İncele</button></a> </td>

                                                </tr>
                                                {% elif i.type == "UrunTalebi" %}
                                                <tr style= "{% if request.user.is_superuser %}{% if i.silinme_bilgisi %}background-color: grey;color: white; {% endif %} {% endif %}">
                                                        <td class="email">
                                                        {% trans 'İşlem Yapılmamış Ürün Talebi '%}</td>
                                                        <td class="email">{% blocktrans %}İstenen Ürün{% endblocktrans %}: {{ i.urun.urun_adi }}<br>
                                        {% blocktrans %}Miktar{% endblocktrans %}: {{ i.miktar }}<br>
                                        {% blocktrans %}Tarih{% endblocktrans %}: {{ i.kayit_tarihi }}</td>
                                                        <td class="email"><a href="/{{dil}}{% url 'accounting:satin_alma_talabi_onaylama' %}"><button class="status-success stats-lg"><i class="icon icon-confirm"></i>İncele</button></a> </td>

                                                    </tr>
                                                {% elif i.type == "IsplaniPlan" %}
                                            <tr style= "{% if request.user.is_superuser %}{% if i.silinme_bilgisi %}background-color: grey;color: white; {% endif %} {% endif %}">
                                                    <td class="email">
                                                    {% trans 'Bitmemiş İş Planı'%}</td>
                                                    <td class="email">{% blocktrans %}Görev : {% endblocktrans %} {{ i.title }}<br>
                                    {% blocktrans %}Açıklama : {% endblocktrans %} {{ i.aciklama }}<br>
                                    {% blocktrans %}Teslim Tarihi : {% endblocktrans %} {{ i.teslim_tarihi }}</td>
                                                    <td class="email"><a href="/{{dil}}{% url 'main:yapilacaklar'  %}"><button class="status-success stats-lg"><i class="icon icon-confirm"></i>İncele</button></a> </td>

                                                </tr>
                                                {% endif %}
                                                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="large-stats-card-footer-actions">
            <a onclick="$('.buttons-pdf').click()" class="lsc-footer-action"><i class="icon icon-pdf"></i></a>
            <a onclick="$('.buttons-excel').click()" class="lsc-footer-action"><i class="icon icon-xlsx"></i></a>
            <a onclick="$('.buttons-print').click()" class="lsc-footer-action"><i class="icon icon-print"></i></a>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            let datatable = $('#datatable').DataTable({
                paging: false,
                searching: true,
                info: false,
                
            });

            $('#stats-search').keyup(function () {
                datatable.search($(this).val()).draw();
            });
        });

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }

        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>
{% endblock sidebar %}
