{% load static %}
{% load custom_tags %}
{% load i18n %}
<!doctype html>
<html lang="{{dil}}" data-layout="{{layout.data_layout}}" data-layout-style="{{layout_sitili.data_layout_style}}" data-layout-position="{{layout_pozisyonu.data_layout_position}}" data-topbar="{{topbar_color.data_topbar}}" data-sidebar="{{sidebar_rengi.data_sidebar}}" data-sidebar-size="{{sidebar_boyutu.data_sidebar_size}}" data-layout-width="{{layout_uzunlugu.data_layout_width}}" data-sidebar-visibility="{{side_bar_gorunum.data_sidebar_visibility}}" data-bs-theme="{{color_sheme.data_bs_theme}}" data-preloader="disable">
<head>
    <meta charset="utf-8" />
    <title>{{site_adi.site_adi_sekme_tr}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="{{site_adi.site_adi_genel}}" name="description" />
    <meta content="Habip ELİŞ" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{{sayfa_iconu.sayfa_icon.url}}">

    <!-- Layout config Js -->
    <script src="{% static 'assets/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'assets/css/app.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="{% static 'assets/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" />

    {% block head %}

    {% endblock head %}
</head>
<body>
<div id="layout-wrapper">
{% block header %}

    {% include "page_include/header.html" %}

    <!-- END layout-wrapper -->
{% endblock header %}
{% block slider %}

{% endblock slider %}
{% block content %}

{% endblock content %}
{% block sidebar %}

{% endblock sidebar %}
</div>
{% block footer %}


{% endblock footer %}

<!-- JAVASCRIPT -->
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>
    <script src="{% static 'assets/libs/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>

    <!-- apexcharts -->
    <script src="{% static 'assets/libs/apexcharts/apexcharts.min.js' %}"></script>

    <!-- piecharts init
    <script src="{% static 'assets/js/pages/apexcharts-pie.init.html' %}"></script>
-->
    <!-- apexcharts init -->
    <script src="{% static 'assets/js/pages/apexcharts-column.init.js' %}"></script>

    <!-- projects js -->
    <script src="{% static 'assets/js/pages/dashboard-projects.init.js' %}"></script>

    <!-- App js -->
    <script src="{% static 'assets/js/app.js' %}"></script>
        <!-- JAVASCRIPT -->

    <!-- dropzone min -->
    <script src="{% static 'assets/libs/dropzone/dropzone-min.js' %}"></script>

    <!--file Upload-->
    <script src="{% static 'assets/js/pages/form-file-upload.init.js' %}"></script>


    <!-- listjs init -->
    <script src="{% static 'assets/js/pages/listjs.init.js' %}"></script>

    <!-- Sweet Alerts js -->
    <script src="{% static 'assets/libs/sweetalert2/sweetalert2.min.js' %}"></script>
    <script>
    {% if request.user.is_authenticated %}
         {% kategori_bilgi_ver request.user as bilgi_cagir %}
         {% endif %}
function getChartColorsArray(e) {
    if (null !== document.getElementById(e))
        return (
            (e = document.getElementById(e).getAttribute("data-colors")),
            (e = JSON.parse(e)).map(function (e) {
                var t = e.replace(" ", "");
                return -1 === t.indexOf(",")
                    ? getComputedStyle(document.documentElement).getPropertyValue(t) || t
                    : 2 == (e = e.split(",")).length
                    ? "rgba(" + getComputedStyle(document.documentElement).getPropertyValue(e[0]) + "," + e[1] + ")"
                    : t;
            })
        );
}
var upadatedonutchart,
    chartPieBasicColors = getChartColorsArray("simple_pie_chart"),
    chartDonutBasicColors =
        (chartPieBasicColors &&
            ((options = {
                series: {{bilgi_cagir.a}},
                chart: { height: 300, type: "pie" },
                labels: {{bilgi_cagir.isimleri |safe}},
                legend: { position: "right" },
                dataLabels: { dropShadow: { enabled: !1 } },
                colors: {{bilgi_cagir.renk |safe}},
            }),
            (chart = new ApexCharts(document.querySelector("#simple_pie_chart"), options)).render()),

        getChartColorsArray("simple_dount_chart")),
        chartDonutupdatingColors =
        (chartDonutBasicColors &&
            ((options = {
                series: {{bilgi_cagir.a}},
                chart: { height: 300, type: "donut" },
                labels:{{bilgi_cagir.isimleri |safe}},
                legend: { position: "right" },
                dataLabels: { dropShadow: { enabled: !1 } },
                colors: {{bilgi_cagir.renk |safe}}
            }),
            (chart = new ApexCharts(document.querySelector("#simple_dount_chart"), options)).render()),
        getChartColorsArray("updating_donut_chart"));
    </script>
{% block javascriptcode %}



{% endblock javascriptcode %}
{% block javascriptcodeadd %}

{% endblock javascriptcodeadd %}
</body>
</html>