<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <h1>Find Your Weather</h1>
    
    {{weather_data}}
    <hr>
    {{weather_data.weather}}
    <hr>
    {{weather_data.weather.icon}}
    <hr>
    <img src="http://openweathermap.org/img/wn/{{icon}}@2x.png" alt="">
    <button onclick="getLocation()">Get Weather</button>
    
    <form id="location-form" method="POST">
        {% csrf_token %}
        <input type="hidden" id="latitude" name="latitude">
        <input type="hidden" id="longitude" name="longitude">
    </form>
    
    <div id="weather-info">
        
    </div>

    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            document.getElementById('latitude').value = position.coords.latitude;
            document.getElementById('longitude').value = position.coords.longitude;
            document.getElementById('location-form').submit();
        }
    </script>
</body>
</html>
