{% extends "homebase.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block sidebar %}

    <main>


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                    Hakedişler
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Şantiye Yönetimi</a></li>
                    <li><a href="#">Hakedişler</a></li>
                </ul>
            </div>

            <div class="page-actions">
                <button class="page-primary-btn" onclick="openModal('yeni-hakedis-hesap')"><i class="icon icon-new"></i>
                    Yeni Hakediş Ekle</button>
            </div>
        </div>

        <div class="page-stats">
            <div class="page-stat">
                <div class="page-stat-info">
                    <div class="page-stat-icon">
                        <img src="./content/images/wallet.png" alt="wallet">
                    </div>
                    <div class="page-stat-title">Toplam Hakediş: </div>
                </div>
                <div class="page-stat-value">$ 999.999,000</div>
            </div>
            <div class="page-stat">
                <div class="page-stat-info">
                    <div class="page-stat-icon">
                        <img src="./content/images/wallet.png" alt="wallet">
                    </div>
                    <div class="page-stat-title">Okul: </div>
                </div>
                <div class="page-stat-value">$ 999.999,000</div>
            </div>
        </div>

        <div class="large-stats-card table-card table-detail-card">
            <div class="stats-header">
                <div class="stats-title">Hakedişler</div>
                <div class="stats-search">
                    <input type="text" name="stats-search" id="stats-search" placeholder="Ara">
                    <button><i class="icon icon-search"></i></button>
                </div>
            </div>

            <div class="table-wrapper">
                <table id="datatable">
                    <thead>
                        <tr>
                            <th>Taşeron</th>
                            <th>Proje</th>
                            <th>Açıklama</th>
                            <th>Eklenme Tarihi</th>
                            <th>Fatura Numarası</th>
                            <th>Tutar</th>
                            <th>Kalan</th>
                            <th>İndir</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Jane Cooper</td>
                            <td>Group 1 - Proje Adı</td>
                            <td>ZONE C1 TUNEL HAK 1</td>
                            <td>01.01.2000</td>
                            <td>INV123128736</td>
                            <td>$ 34.099,99</td>
                            <td>$ 34.099,99</td>
                            <td>
                                <div class="td-actions">
                                    <a href="#" class="status-info"><i class="icon icon-action-file"></i></a>
                                </div>
                            </td>
                            <td>
                                <div class="td-actions">
                                    <a class="status-success"><i class="icon icon-action-edit"></i></a>
                                    <a href="#" class="status-cancel"><i class="icon icon-action-delete"></i></a>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

        <script>
            let datatable = new DataTable('#datatable', {
                paging: false,
                searching: true,
                info: false
            });


            $('#stats-search').keyup(function () {
                console.log($(this).val());
                datatable.search($(this).val()).draw();
            })
        </script>


    </main>
{% endblock sidebar %}