{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block head %}

{% endblock head %}

{% block sidebar %}
{% if hash_bilgi %}

{% else %}
<main>
    <div class="page-header">
        <div class="page-info">
            <div class="page-title">
                <a href="#" onclick="history.back(); return false;"><i class="icon icon-arrow-circle-left"></i></a>
                {% trans 'Şantiye Şablonları' %}
            </div>
             <ul class="page-breadcrumb">
                <li><a href="/{{dil}}/">{% trans 'Dashboard' %}</a></li>
                <li><a href="#" >{% trans 'Şantiye Yönetimi' %}</a></li>
                <li><a href="#">{% trans 'Şantiye Şablonları' %}</a></li>
            </ul>
        </div>
        <div class="page-actions">
         {% if request.user.kullanicilar_db %}
                                            {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                            {% if yetki.gider_etiketi_olusturma %}
                                                  <button class="page-primary-btn" onclick="openModal('cari-ekle')"><i class="icon icon-new"></i>{% trans "Gider Etiketi Ekle" %}</button>
                                                  
                                            {% else %}
                                                                                                            
                                            {% endif %}
                                            {% else %}
                                              <button class="page-primary-btn" onclick="openModal('cari-ekle')"><i class="icon icon-new"></i>{% trans "Gider Etiketi Ekle" %}</button>
                                                    
                                            {% endif %}
       

        </div>
    </div>

    <div class="large-stats-card table-card table-detail-card">
        <div class="stats-header">
            <div class="stats-title">{% trans 'Şantiye Şablonları' %}</div>
            <div class="stats-search">
                <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                <button><i class="icon icon-search"></i></button>
            </div>
        </div>

        <div class="table-wrapper">
            <table id="datatable">
                <thead>
                    <tr>
 <th>{% trans 'Proje Tipi' %}</th>
                        <th>{% trans 'Proje Adı' %}</th>
                        <th>{% trans 'Şantiye Şablon Adı' %}</th>
                        <th>{% trans 'Şantiye Kayıt Tarihi' %}</th>
                        <th>{% trans 'Şantiye Şablon Tipi' %}</th>
                        <th>{% trans 'Şablon Kayıt Tarihi' %}</th>
                        <th>{% trans 'Aksiyon' %}</th>
                    </tr>
                </thead>
                <tbody>
                  {% for i in santiyeler %}
                    {%  santiye_sablonu_gonder i as bilgi %}
                        <tr style="{% if request.user.is_superuser %}{% if i.silinme_bilgisi %}background-color: grey; color: white; {% endif %} {% endif %}">
                            <td class="kasa">{{ i.proje_tipi.Proje_tipi_adi }}</td>
                            <td class="bakiye">{{ i.proje_adi }}<span></span></td>
                            <td class="konum">{{ i.kayit_tarihi }}</td>
                            <td class="konum">{{ bilgi.sablon_adi}}</td>
                           
                            <td class="kasa">
                            {% if bilgi.sablon_durumu == "0"  %}
                            
                            {% elif bilgi.sablon_durumu == "1"  %}
                            {% elif bilgi.sablon_durumu == "3"  %}
                            {% endif %}
                                
                            </td>
                            <td class="konum">{{ bilgi.kayit_tarihi }}</td>
                            <td>
                                <div class="td-actions">
                                    {% if bilgi %}
                                    <a href="/{{dil}}{% url 'main:santiye_sablonu_duzenle' i.id %}" class="status-success">{% trans 'Şablon Düzenle' %}</a>
                                    {% else %}
                                    <a href="/{{dil}}{% url 'main:santiye_sablonu' i.id %}" class="status-success">{% trans 'Şablon Oluştur' %}</a>
                                    {% endif %}
                                    
                                 

                                    
                               </div>
                            </td>
                        </tr>
                    {% endfor %}
               </tbody>
            </table>
        </div>

        <div class="large-stats-card-footer-actions">
            <a onclick="$('.buttons-pdf').click()" class="lsc-footer-action"><i class="icon icon-pdf"></i></a>
            <a onclick="$('.buttons-excel').click()" class="lsc-footer-action"><i class="icon icon-xlsx"></i></a>
            <a onclick="$('.buttons-print').click()" class="lsc-footer-action"><i class="icon icon-print"></i></a>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            let datatable = $('#datatable').DataTable({
                paging: false,
                searching: true,
                info: false,
                
            });

            $('#stats-search').keyup(function () {
                datatable.search($(this).val()).draw();
            });
        });

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }

        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>

</main>
    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });


    </script>

    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>
{% endif %}
{% endblock sidebar %}

