{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block head %}

{% endblock head %}

{% block sidebar %}
{% if hash_bilgi %}

{% else %}
<main>
    <div class="page-header">
        <div class="page-info">
            <div class="page-title">
                <a href="#" onclick="history.back(); return false;"><i class="icon icon-arrow-circle-left"></i></a>
                {% trans 'Şantiye Yapılarım' %}
            </div>
            <ul class="page-breadcrumb">
                <li><a href="/{{dil}}/">{% trans 'Dashboard' %}</a></li>
                <li><a href="#">{% trans 'Şantiye Yönetimi' %}</a></li>
                <li><a href="#">{% trans 'Şantiye Yapılarım' %}</a></li>
            </ul>
        </div>
        <div class="page-actions">
        </div>
    </div>

    <div class="large-stats-card table-card table-detail-card">
        <div class="stats-header">
            <div class="stats-title">{% trans 'Şantiye Yapılarım' %}</div>
            <div class="stats-search">
                <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                <button><i class="icon icon-search"></i></button>
            </div>
        </div>

        <div class="table-wrapper">
            <table id="datatable">
                <thead>
                    <tr>
                        <th>{% trans 'Şantiye Adı' %}</th>
                        <th>{% trans 'Yapı Adı' %}</th>
                        <th>{% trans 'Kat Sayısı' %}</th>
                        <th>{% trans 'Oluşturma Tarihi' %}</th>
                        <th>{% trans 'Daire Düzeni' %}</th>
                        <th>{% trans 'Daire Sayısı' %}</th>
                        <th>{% trans 'Aksiyon' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in santiyeler %}
                    {% santiye_sablonu_gonder i as bilgi %}
                    <tr style="{% if request.user.is_superuser %}{% if i.silinme_bilgisi %}background-color: grey; color: white; {% endif %} {% endif %}">
                        <td class="bakiye">{{ i.proje_santiye_Ait.proje_adi }}<span></span></td>
                        <td class="konum">{{ i.blog_adi }}</td>
                        <td class="konum">{{ i.kat_sayisi | stringformat:".F" }}</td>
                        <td class="konum">{{ i.kayit_tarihi }}</td>
                        <td class="kasa">
                            {% daire_sayisi_kat_basina_daire i %}
                        </td>
                        <td class="kasa">
                            {% daire_sayisi i as bilgi %}
                            {{ bilgi }}
                        </td>
                        <td>
                            <div class="td-actions">
                                {% if bilgi %}
                                <a href="/{{dil}}{% url 'main:daireleri_gor' i.id %}" class="status-success">{% trans 'Daireleri Gör' %}</a>
                                <a href="/{{dil}}{% url 'main:katlara_gore_gor' i.id %}" class="status-success">{% trans 'Kata Göre Gör' %}</a>
                                {% else %}
                                <a href="/{{dil}}{% url 'main:santiye_projeleri' i.id %}" class="status-success">{% trans 'Daireleri Oluştur' %}</a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="large-stats-card-footer-actions">
            <a onclick="$('.buttons-pdf').click()" class="lsc-footer-action"><i class="icon icon-pdf"></i></a>
            <a onclick="$('.buttons-excel').click()" class="lsc-footer-action"><i class="icon icon-xlsx"></i></a>
            <a onclick="$('.buttons-print').click()" class="lsc-footer-action"><i class="icon icon-print"></i></a>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            let datatable = $('#datatable').DataTable({
                paging: false,
                searching: true,
                info: false,
            });

            $('#stats-search').keyup(function() {
                datatable.search($(this).val()).draw();
            });
        });

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }

        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>
</main>

<script>
    function openModal(modalID, close = true) {
        if (close) {
            closeModal();
        }
        $("#" + modalID).css("display", "flex").hide().fadeIn()
    }

    function closeModal(modalID = "") {
        if (modalID.length === 0) {
            $(".modal").fadeOut();
        } else {
            $("#" + modalID).fadeOut();
        }
    }

    $(".modal").on("click", function(e) {
        if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
            closeModal();
        }
    });
</script>

<script>
    function toggleFullScreen() {
        var doc = window.document;
        var docEl = doc.documentElement;

        var requestFullScreen = docEl.requestFullscreen || doc.mozRequestFullScreen || doc.webkitRequestFullScreen || doc.msRequestFullscreen;
        var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

        if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
            requestFullScreen.call(docEl);
        } else {
            cancelFullScreen.call(doc);
        }
    }

    function updateMaxWidth() {
        var tableCardWidth = $(".table-card")[0].clientWidth;
        $(".table-wrapper").css("max-width", tableCardWidth + "px");
    }
    $(document).ready(updateMaxWidth);
    $(window).resize(updateMaxWidth);
</script>
{% endif %}
{% endblock sidebar %}

