
{% extends "homebase.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block sidebar %}

    <main>


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                    Daire Yönetimi
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Daire Yönetimi</a></li>
                </ul>
            </div>

            <div class="page-actions">
                <button class="page-primary-btn" onclick="openModal('daire-ekle')"><i class="icon icon-new"></i>
                    Yeni Daire Ekle</button>
            </div>
        </div>


        <div class="tum-daireler daire-yonetimi" style="margin-top: 30px;">
            {% for i in daireler %}
            
            
            <div class="daire">
                <div class="daire-images">
                    <span class="daire-status daire-status-completed">Teslim Edildi</span>
                    <div class="daire-thumbnail">
                        <!--<img src="./content/images/daire-1.jfif" alt="">-->
                    </div>
                </div>
                <div class="daire-details">
                    <span>Tamamlanma Tarihi: {{i.kayit_tarihi|date:'d.m.Y'}}</span>
                    <div class="daire-title">{{i.blog_bilgisi.proje_santiye_Ait.proje_adi}}</div>
                    <div class="daire-title">Daire No : {{i.daire_no}}</div>
                    <div class="daire-location"><i class="icon icon-location"></i> {% get_city_from_lat_lon i.blog_bilgisi.proje_santiye_Ait.lat i.blog_bilgisi.proje_santiye_Ait.lon  %}</div>
                    <div class="daire-customer"><i class="icon icon-customer"></i> {% atanan_musteri_sayisi i %} Atanan Müşteri</div>
                </div>
            </div>
          {% endfor %}
        </div>


    </main>







    <div class="modal" id="daire-ekle">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Daire Ekle
            </div>
            <div class="modal-body">
                <form method="POST" action="/{{dil}}{% url 'crm:daire_ekle' %}">
                    {% csrf_token %} 
                    <div class="form-element">
                        <label for="santiye">Şantiye</label>
                        <select name="santiye" id="santiye">
                            <option value="" selected disabled>Şantiye Seçiniz</option>
                            {% for santiye in santiyeler %}
                                <option value="{{ santiye.id }}">{{ santiye.proje_adi }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-element">
                        <label for="blok">Blok</label>
                        <select name="blok" id="blok">
                            <option value="" selected disabled>Blok Seçiniz</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-element">
                            <label for="kat">Kat</label>
                            <select name="kat" id="kat">
                                <option value="" selected disabled></option>
                                <option value="...">...</option>
                                <option value="...">...</option>
                                <option value="...">...</option>
                            </select>
                        </div>
                        <div class="form-element">
                            <label for="daire-no">Daire No</label>
                            <input type="text" required name="daire_no">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-element">
                            <label for="oda-sayisi">Oda Sayisi</label>
                            <input type="number" required name="oda_Sayisi">
                        </div>
                        <div class="form-element">
                            <label for="m2brut">M<sup>2</sup> (brüt)</label>
                            <input type="number" required name="metrekare">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-primary" type="submit">Daire Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        document.getElementById('santiye').addEventListener('change', function() {
            const santiyeId = this.value;
        
            fetch("{% url 'crm:get_bloglar' %}?santiye_id=" + santiyeId)
                .then(response => response.json())
                .then(data => {
                    const blokSelect = document.getElementById('blok');
                    blokSelect.innerHTML = '<option value="" selected disabled>Blok Seçiniz</option>'; // Önce eski verileri temizle
        
                    data.forEach(blok => {
                        const option = document.createElement('option');
                        option.value = blok.id;
                        option.textContent = blok.blog_adi;
                        blokSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error:', error));
        });
        </script>
        



    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });

    </script>
<script>
    document.getElementById('blok').addEventListener('change', function() {
        const blokId = this.value;
    
        fetch("{% url 'crm:get_katlar' %}?blok_id=" + blokId)
            .then(response => response.json())
            .then(data => {
                const katSelect = document.getElementById('kat');
                katSelect.innerHTML = '<option value="" selected disabled>Kat Seçiniz</option>'; // Önce eski verileri temizle
    
                data.forEach(kat => {
                    const option = document.createElement('option');
                    option.value = kat.id;
                    option.textContent = kat.kat_adi;
                    katSelect.appendChild(option);
                });
            })
            .catch(error => console.error('Error:', error));
    });
    </script>
    




    <script>
        function toggleDarkMode() {
            if ($("body").hasClass("dark-mode")) {
                document.cookie = "dark-mode=false; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
            } else {
                document.cookie = "dark-mode=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
            }
            $("body").toggleClass("dark-mode");
        }

        window.onload = function () {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith("dark-mode=true")) {
                    document.body.classList.add('dark-mode');
                    break;
                }
            }
        };

        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>


{% endblock sidebar %}