

{% extends "homebase.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block sidebar %}


    <main>



        <!-- Evrak ve Dokümanlar -->


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                    Daire -1 / Dokümanlar
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Evrak ve Dokümanlar</a></li>
                    <li><a href="#">Liste</a></li>
                </ul>
            </div>

            <div class="page-actions">
                <a href="#" class="page-primary-btn"><i class="icon icon-new"></i>
                    Yeni Doküman Ekle</a>
            </div>
        </div>

        <div class="table-wrapper" style="margin-top: 30px;">
            <table id="files-table">
                <thead>
                    <tr>
                        <th>
                            <div class="task-check">
                                <input type="checkbox" id="task-check-1">
                            </div>
                        </th>
                        <th>Dosya Adı</th>
                        <th>Size</th>
                        <th>Type</th>
                        <th>Eklenme Tarihi</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="task-check">
                                <input type="checkbox" id="task-check-1">
                            </div>
                        </td>
                        <td>
                            <div class="td-status">
                                <i class="icon icon-images-file"></i> Teslim Tutanağı
                            </div>
                        </td>
                        <td>8.6 MB</td>
                        <td>Image</td>
                        <td><div class="td-time">01 Mayıs 2000<span>12:39</span></div></td>
                        <td>
                            <div class="td-actions">
                                <a class="status-success"><i class="icon icon-action-edit"></i></a>
                                <a class="status-info"><i class="icon icon-download-file"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="task-check">
                                <input type="checkbox" id="task-check-1">
                            </div>
                        </td>
                        <td>
                            <div class="td-status">
                                <i class="icon icon-images-file"></i> Teslim Tutanağı
                            </div>
                        </td>
                        <td>8.6 MB</td>
                        <td>Image</td>
                        <td><div class="td-time">01 Mayıs 2000<span>12:39</span></div></td>
                        <td>
                            <div class="td-actions">
                                <a class="status-success"><i class="icon icon-action-edit"></i></a>
                                <a class="status-info"><i class="icon icon-download-file"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="task-check">
                                <input type="checkbox" id="task-check-1">
                            </div>
                        </td>
                        <td>
                            <div class="td-status">
                                <i class="icon icon-images-file"></i> Teslim Tutanağı
                            </div>
                        </td>
                        <td>8.6 MB</td>
                        <td>Image</td>
                        <td><div class="td-time">01 Mayıs 2000<span>12:39</span></div></td>
                        <td>
                            <div class="td-actions">
                                <a class="status-success"><i class="icon icon-action-edit"></i></a>
                                <a class="status-info"><i class="icon icon-download-file"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="task-check">
                                <input type="checkbox" id="task-check-1">
                            </div>
                        </td>
                        <td>
                            <div class="td-status">
                                <i class="icon icon-images-file"></i> Teslim Tutanağı
                            </div>
                        </td>
                        <td>8.6 MB</td>
                        <td>Image</td>
                        <td><div class="td-time">01 Mayıs 2000<span>12:39</span></div></td>
                        <td>
                            <div class="td-actions">
                                <a class="status-success"><i class="icon icon-action-edit"></i></a>
                                <a class="status-info"><i class="icon icon-download-file"></i></a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <script>
            let table = new DataTable('#files-table', {
                paging: false,
                searching: true,
                info: false,
                layout: {
                    topStart: {
                        buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                    }
                },
                columnDefs: [{ width: '30px', targets: 0 },
                { orderable: false, targets: 0 }],
                order: [[1, 'asc']]
            });
        </script>




    </main>




    <script>
        function toggleDarkMode() {
            if ($("body").hasClass("dark-mode")) {
                document.cookie = "dark-mode=false; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
            } else {
                document.cookie = "dark-mode=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
            }
            $("body").toggleClass("dark-mode");
        }

        window.onload = function () {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith("dark-mode=true")) {
                    document.body.classList.add('dark-mode');
                    break;
                }
            }
        };

        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>


{% endblock sidebar %}