
{% extends "homebase.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block sidebar %}




    <main>


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                    Müşteri Detay
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Müşteri Yönetimi</a></li>
                    <li><a href="#">Müşteri Detay</a></li>
                </ul>
            </div>

            <div class="page-actions">
                <button data-tab-btn="daire-belgeleri" style="display: flex;" class="page-primary-btn" onclick="openModal('yeni-daire-ata')"><i class="icon icon-new"></i>Yeni Daire Ata</button>
                <button data-tab-btn="evraklar" style="display: none;" class="page-primary-btn" onclick="openModal('yeni-evrak-ekle')"><i class="icon icon-new"></i>Yeni Evrak Ekle</button>
                <button data-tab-btn="talep-sikayet" style="display: none;" class="page-primary-btn" onclick="openModal('yeni-talep-sikayet')"><i class="icon icon-new"></i>Yeni Talep/Şikayet Ekle</button>
                <button data-tab-btn="gorusme-notlari" style="display: none;" class="page-primary-btn" onclick="openModal('yeni-not')"><i class="icon icon-new"></i>Yeni Not Ekle</button>
                <button data-tab-btn="teklifler" style="display: none;" class="page-primary-btn" onclick="openModal('yeni-teklif')"><i class="icon icon-new"></i>Yeni Teklif Oluştur</button>
            </div>
        </div>

        <div class="musteri-detay-head">
            <div class="musteri-detay-info">
                <div class="musteri-detay-profile">
                    <img src="./content/images/avatar-2.png" alt="">
                    <div class="musteri-detay-title">
                        Jane Copper
                        <span>Müşteri</span>
                    </div>
                </div>
                <div class="musteri-detay-other">
                    <div><span>Telefon No: </span>0555 555 5555</div>
                    <div><span>Müşteri ID: </span>123456798</div>
                </div>
            </div>
            <div class="musteri-detay-nav">
                <div class="musteri-detay-nav-btn active" data-tab="daire-belgeleri">Teslim Edilen Daire Belgeleri</div>
                <div class="musteri-detay-nav-btn" data-tab="evraklar">Evraklar</div>
                <div class="musteri-detay-nav-btn" data-tab="talep-sikayet">Talep ve Şikayetler</div>
                <div class="musteri-detay-nav-btn" data-tab="gorusme-notlari">Görüşme Notları</div>
                <div class="musteri-detay-nav-btn" data-tab="teklifler">Teklifler</div>
            </div>
        </div>

        <div class="tab-contents">
            <div class="tab-content active" id="daire-belgeleri">

                <div class="large-stats-card table-card table-detail-card">
                    <div class="stats-header">
                        <div class="stats-title">Daireler</div>
                        <div class="stats-right">
                            <div class="stats-search">
                                <input type="text" name="stats-search" id="stats-search" placeholder="Ara">
                                <button><i class="icon icon-search"></i></button>
                            </div>
                        </div>
                    </div>


                    <div class="table-wrapper">
                        <table id="daireler-table">
                            <thead>
                                <tr>
                                    <th>Adres</th>
                                    <th>Teslim Tarihi</th>
                                    <th>Proje Tipi</th>
                                    <th>Proje Adı</th>
                                    <th>Durum</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Barbaros Mahallesi, İstanbul</td>
                                    <td>10 Ekim 2024</td>
                                    <td>Apartman</td>
                                    <td>Yeşil Daire Konutları</td>
                                    <td>
                                        <div class="td-info"><span class="status-pending stats-lg">Devam Ediyor</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="td-actions">
                                            <a class="status-success"><i class="icon icon-action-edit"></i></a>
                                            <a href="#" class="status-cancel"><i
                                                    class="icon icon-action-delete"></i></a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>



                </div>

                <script>
                    let daireler = new DataTable('#daireler-table', {
                        paging: false,
                        searching: true,
                        info: false,
                        layout: {
                            topStart: {
                                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                            }
                        }
                    });


                    $('#stats-search').keyup(function () {
                        ana_firma_sozlesmeleri.search($(this).val()).draw();
                        alt_yuklenizi_sozlesmeleri_table.search($(this).val()).draw();
                    })
                </script>

            </div>
            <div class="tab-content" id="evraklar">
                
                <div class="large-stats-card table-card table-detail-card">
                    
                    <div class="documents">
                        <div class="document">
                            <div class="document-title">Oturum Belgesi</div>
                            <img src="./content/images/oturum-belgesi.png" alt="">
                        </div>
                        <div class="document">
                            <div class="document-title">Oturum Belgesi</div>
                            <img src="./content/images/oturum-belgesi.png" alt="">
                        </div>
                        <div class="document">
                            <div class="document-title">Kira Kontratı</div>
                            <div class="document-no-file">
                                <i class="icon icon-no-file"></i>
                                Doküman ya da<br>Fotoğraf Ekle
                            </div>
                        </div>
                        <div class="document">
                            <div class="document-title">Kira Kontratı</div>
                            <div class="document-no-file">
                                <i class="icon icon-no-file"></i>
                                Doküman ya da<br>Fotoğraf Ekle
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="tab-content" id="talep-sikayet">
                
                <div class="large-stats-card table-card table-detail-card">
                    <div class="stats-header">
                        <div class="stats-title">Talepler</div>
                    </div>


                    <div class="table-wrapper">
                        <table id="talepler-table">
                            <thead>
                                <tr>
                                    <th>Talep Adı</th>
                                    <th>Talep Tarihi</th>
                                    <th>İşlem Tarihi</th>
                                    <th>Talep Gerekçesi</th>
                                    <th>Durum</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nakliye Tarih Değişikliği Talebi</td>
                                    <td>10 Ekim 2024</td>
                                    <td>15 Ekim 2024</td>
                                    <td style="text-align: left;">Müşteri iş yerindeki acil bir toplantı nedeniyle taşınma
                                        tarihini ertelemek istemektedir. Nakliye firmasından uygun bir alternatif tarih
                                        belirlenmesini rica ediyor.</td>
                                    <td>
                                        <div class="td-info"><span class="status-pending stats-lg">Beklemede</span></div>
                                    </td>
                                    <td>
                                        <div class="td-actions">
                                            <div class="td-actions">
                                                <a class="status-info"><i class="icon icon-eye"></i></a>
                                                <a class="status-success"><i class="icon icon-action-edit"></i></a>
                                                <a href="#" class="status-cancel"><i class="icon icon-action-delete"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
    
                            </tbody>
                        </table>
                    </div>

                </div>


                <div class="large-stats-card table-card table-detail-card">
                    <div class="stats-header">
                        <div class="stats-title">Şikayetler</div>
                    </div>


                    <div class="table-wrapper">
                        <table id="sikayetler-table">
                            <thead>
                                <tr>
                                    <th>Talep Adı</th>
                                    <th>Talep Tarihi</th>
                                    <th>İşlem Tarihi</th>
                                    <th>Talep Gerekçesi</th>
                                    <th>Durum</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nakliye Tarih Değişikliği Talebi</td>
                                    <td>10 Ekim 2024</td>
                                    <td>15 Ekim 2024</td>
                                    <td style="text-align: left;">Müşteri iş yerindeki acil bir toplantı nedeniyle taşınma
                                        tarihini ertelemek istemektedir. Nakliye firmasından uygun bir alternatif tarih
                                        belirlenmesini rica ediyor.</td>
                                    <td>
                                        <div class="td-info"><span class="status-pending stats-lg">Beklemede</span></div>
                                    </td>
                                    <td>
                                        <div class="td-actions">
                                            <div class="td-actions">
                                                <a class="status-info"><i class="icon icon-eye"></i></a>
                                                <a class="status-success"><i class="icon icon-action-edit"></i></a>
                                                <a href="#" class="status-cancel"><i class="icon icon-action-delete"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
    
                            </tbody>
                        </table>
                    </div>

                </div>
                <script>
                    let talepler_table = new DataTable('#talepler-table', {
                        paging: false,
                        searching: true,
                        info: false,
                        layout: {
                            topStart: {
                                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                            }
                        },
                        columnDefs: [{ width: '40%', targets: 3 }]
                    });
        
                    let sikayetler_table = new DataTable('#sikayetler-table', {
                        paging: false,
                        searching: true,
                        info: false,
                        layout: {
                            topStart: {
                                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                            }
                        },
                        columnDefs: [{ width: '40%', targets: 3 }]
                    });
                </script>


            </div>
            <div class="tab-content" id="gorusme-notlari">
                
                <div class="large-stats-card table-card table-detail-card">
                    <div class="stats-header">
                        <div class="stats-title">Notlar</div>
                    </div>


                    <div class="table-wrapper">
                        <table id="notlar-table">
                            <thead>
                                <tr>
                                    <th>Not Başlığı</th>
                                    <th>Tarih</th>
                                    <th>Görüşme Detayı</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Müşteri telefon ile bilgilendirildi</td>
                                    <td>10 Ekim 2024</td>
                                    <td style="text-align: left;">Müşteri iş yerindeki acil bir toplantı nedeniyle taşınma
                                        tarihini ertelemek istemektedir. Nakliye firmasından uygun bir alternatif tarih
                                        belirlenmesini rica ediyor.</td>
                                    <td>
                                        <div class="td-actions">
                                            <div class="td-actions">
                                                <a class="status-info"><i class="icon icon-eye"></i></a>
                                                <a class="status-success"><i class="icon icon-action-edit"></i></a>
                                                <a href="#" class="status-cancel"><i class="icon icon-action-delete"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
    
                            </tbody>
                        </table>
                    </div>
                    <script>
                        
                    let notlar_table = new DataTable('#notlar-table', {
                        paging: false,
                        searching: true,
                        info: false,
                        layout: {
                            topStart: {
                                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                            }
                        },
                        columnDefs: [{ width: '40%', targets: 2 }]
                    });
        
                    </script>

                </div>

            </div>
            <div class="tab-content" id="teklifler">
                
                <div class="large-stats-card table-card table-detail-card">
                    <div class="stats-header">
                        <div class="stats-title">Teklifler</div>
                    </div>


                    <div class="table-wrapper">
                        <table id="teklifler-table">
                            <thead>
                                <tr>
                                    <th>Teklif Başlığı</th>
                                    <th>Tarih</th>
                                    <th>Teklif Tutarı</th>
                                    <th>Hizmetler</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Müşteri telefon ile bilgilendirildi</td>
                                    <td>10 Ekim 2024</td>
                                    <td>10.000 TL</td>
                                    <td style="text-align: left;">Müşteri iş yerindeki acil bir toplantı nedeniyle taşınma
                                        tarihini ertelemek istemektedir. Nakliye firmasından uygun bir alternatif tarih
                                        belirlenmesini rica ediyor.</td>
                                    <td>
                                        <div class="td-actions">
                                            <div class="td-actions">
                                                <a class="status-info"><i class="icon icon-eye"></i></a>
                                                <a class="status-success"><i class="icon icon-action-edit"></i></a>
                                                <a href="#" class="status-cancel"><i class="icon icon-action-delete"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
    
                            </tbody>
                        </table>
                    </div>
                    <script>
                        
                    let teklifler_table = new DataTable('#teklifler-table', {
                        paging: false,
                        searching: true,
                        info: false,
                        layout: {
                            topStart: {
                                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                            }
                        },
                        columnDefs: [{ width: '40%', targets: 3 }]
                    });
        
                    </script>

                </div>

            </div>
        </div>


        <script>
            $(".musteri-detay-nav-btn").on("click", function () {
                $(".musteri-detay-nav-btn").removeClass("active");
                $(".tab-content").removeClass("active");
                $('[data-tab-btn]').css("display", "none");

                $(this).addClass("active");
                $("#" + $(this).attr("data-tab")).addClass("active");
                $('[data-tab-btn="' + $(this).attr("data-tab") + '"]').css("display", "flex");
            })
        </script>






    </main>



    <div class="modal" id="delete-modal">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Silmek istediğinize emin misiniz?
            </div>
            <div class="modal-body">
                <form>
                    <p>Bu işlemin geri dönüşü olmayacaktır.</p>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-danger" type="button">Evet, silinsin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>





    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });

    </script>


    <script>
        function toggleDarkMode() {
            if ($("body").hasClass("dark-mode")) {
                document.cookie = "dark-mode=false; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
            } else {
                document.cookie = "dark-mode=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
            }
            $("body").toggleClass("dark-mode");
        }

        window.onload = function () {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith("dark-mode=true")) {
                    document.body.classList.add('dark-mode');
                    break;
                }
            }
        };

        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>
{% endblock sidebar %}