
{% extends "homebase.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block sidebar %}




    <main>


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                    Müşteri Yönetimi
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Müşteri Yönetimi</a></li>
                </ul>
            </div>

            <div class="page-actions">
                <button onclick="openModal('yeni-musteri-ekle')" class="page-primary-btn" class="icon icon-new"></i>
                    Yeni Müşteri Ekle</button>
            </div>
        </div>


        <div class="table-wrapper" style="margin-top: 30px;">
            <table id="musteriler-table">
                <thead>
                    <tr>
                        <th>Müşteri Adı</th>
                        <th>Teslim Edilen Daire</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="musteri-detay"><img src="./content/images/avatar-2.png" alt=""> Jane Copper
                            </div>
                        </td>
                        <td>12</td>
                        <td>
                            <div class="td-actions">
                                <a class="status-success"><i class="icon icon-action-edit"></i></a>
                                <a href="#" class="status-cancel"><i class="icon icon-action-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="musteri-detay"><img src="./content/images/avatar-2.png" alt=""> Jane Copper
                            </div>
                        </td>
                        <td>12</td>
                        <td>
                            <div class="td-actions">
                                <a class="status-success"><i class="icon icon-action-edit"></i></a>
                                <a href="#" class="status-cancel"><i class="icon icon-action-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="musteri-detay"><img src="./content/images/avatar-2.png" alt=""> Jane Copper
                            </div>
                        </td>
                        <td>12</td>
                        <td>
                            <div class="td-actions">
                                <a class="status-success"><i class="icon icon-action-edit"></i></a>
                                <a href="#" class="status-cancel"><i class="icon icon-action-delete"></i></a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="musteri-detay"><img src="./content/images/avatar-2.png" alt=""> Jane Copper
                            </div>
                        </td>
                        <td>12</td>
                        <td>
                            <div class="td-actions">
                                <a class="status-success"><i class="icon icon-action-edit"></i></a>
                                <a href="#" class="status-cancel"><i class="icon icon-action-delete"></i></a>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>


    </main>


    <script>
        let musteriler = new DataTable('#musteriler-table', {
            paging: false,
            searching: true,
            info: false,
            layout: {
                topStart: {
                    buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                }
            }
        });
    </script>





    <div class="modal" id="yeni-musteri-ekle">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Yeni Müşteri Ekle
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-element">
                            <label for="musteri-adi">Müşteri Adı</label>
                            <input type="text" name="musteri_adi" id="musteri-adi">
                        </div>
                        <div class="form-element">
                            <label for="musteri-soyadi">Müşteri Soyadı</label>
                            <input type="text" name="musteri_soyadi" id="musteri-soyadi">
                        </div>
                    </div>
                    <div class="form-element">
                        <label for="blok-secimi">Blok Seçimi</label>
                        <select name="blok-secimi" id="blok-secimi">
                            <option value="" selected disabled></option>
                            <option value="...">...</option>
                            <option value="...">...</option>
                            <option value="...">...</option>
                        </select>
                    </div>
                    <div class="form-element">
                        <label for="daire-no-secimi">Daire No Seçimi</label>
                        <select name="daire-no-secimi" id="daire-no-secimi">
                            <option value="" selected disabled></option>
                            <option value="...">...</option>
                            <option value="...">...</option>
                            <option value="...">...</option>
                        </select>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-primary" type="button">Müşteri Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });
    </script>





    <script>
        function toggleDarkMode() {
            if ($("body").hasClass("dark-mode")) {
                document.cookie = "dark-mode=false; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
            } else {
                document.cookie = "dark-mode=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
            }
            $("body").toggleClass("dark-mode");
        }

        window.onload = function () {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith("dark-mode=true")) {
                    document.body.classList.add('dark-mode');
                    break;
                }
            }
        };

        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>
{% endblock sidebar %}