{% extends "homebase.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block sidebar %}

<main>
    <div class="page-header">
        <div class="page-info">
            <div class="page-title">
                    <a href="#" onclick="history.back(); return false;"><i class="icon icon-arrow-circle-left"></i></a>
                    {% trans 'Müşteri Yönetimi' %}
                </div>
            <ul class="page-breadcrumb">
                <li><a href="#">{% trans "Dashboard" %}</a></li>
                <li><a href="#">{% trans "Müşteri Yönetimi" %}</a></li>
            </ul>
        </div>

        <div class="page-actions">
            <button onclick="openModal('yeni-musteri-ekle')" class="page-primary-btn"><i class="icon icon-new"></i>{% trans "Yeni Müşteri Ekle" %}</button>
        </div>
    </div>

    <div class="table-wrapper" style="margin-top: 30px;">
        <table id="musteriler-table">
            <thead>
                <tr>
                    <th>{% trans "Müşteri Adı" %}</th>
                    <th>{% trans "Atanan Daireler" %}</th>
                    <th>{% trans "Teslim Edilen Daire" %}</th>
                    <th>{% trans "Aksiyonlar" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for i in musteriler %}
                <tr>
                    <td>
                        <div class="musteri-detay"> {{i.musteri_adi}} {{i.musteri_soyadi}}
                        </div>
                    </td>
                    <td>{% musteriye_atanan_daire i %}</td>
                    <td>{% musteriye_atanan_daire_teslim_edilen i %}</td>
                    <td>
                        <div class="td-actions">
                            <a href="/{{dil}}{% url 'crm:crm_musteri_detayi' i.id %}" class="status-success">{% trans 'Detay' %}</a>
                            <a onclick="openModal('yeni-musteri-ekle{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>
                            <a onclick="openModal('departman-sil{{i.id}}')" class="status-cancel"><i class="icon icon-action-delete"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

<script>
    let musteriler = new DataTable('#musteriler-table', {
        paging: false,
        searching: true,
        info: false,
        layout: {
            topStart: {
                //buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            }
        }
    });
</script>

<div class="modal" id="yeni-musteri-ekle">
    <div class="modal-inner" style="width: 500px">
        <div class="modal-header">
            {% trans "Yeni Müşteri Ekle" %}
        </div>
        <div class="modal-body">
            <form method="post" action="/{{dil}}{% url 'crm:musteri_ekleme' %}">
                {% csrf_token %}
                <div class="form-element" style="margin-bottom: 15px;">
                    <label for="musteri-adi">{% trans "Müşteri Adı" %}</label>
                    <input type="text" name="musteri_adi" id="musteri-adi" placeholder="{% trans 'Müşteri Adı' %}" required>
                </div>
                <div class="form-element" style="margin-bottom: 15px;">
                    <label for="musteri-soyadi">{% trans "Müşteri Soyadı" %}</label>
                    <input type="text" name="musteri_soyadi" id="musteri-soyadi" placeholder="{% trans 'Müşteri Soyadı' %}" required>
                </div>
                <div class="form-element" style="margin-bottom: 15px;">
                    <label for="musteri-telefon-numarasi">{% trans "Müşteri Telefon Numarası" %}</label>
                    <input type="text" name="musteri_telefon_numarasi" id="musteri-telefon-numarasi" placeholder="{% trans 'Müşteri Telefon Numarası' %}" required pattern="\d*">
                </div>
                <div class="form-actions" style="text-align: right;">
                    <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans "Vazgeç" %}</button>
                    <button class="form-action-primary" type="submit">{% trans "Müşteri Ekle" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% for i in musteriler %}
<div class="modal" id="yeni-musteri-ekle{{i.id}}">
    <div class="modal-inner" style="width: 500px">
        <div class="modal-header">
            {% trans "Müşteri Düzenle" %}
        </div>
        <div class="modal-body">
            <form method="post" action="/{{dil}}{% url 'crm:musteri_duzenleme' %}">
                {% csrf_token %}
                <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">
                <div class="form-row">
                    <div class="form-element">
                        <label for="musteri-adi">{% trans "Müşteri Adı" %}</label>
                        <input type="text" name="musteri_adi" value="{{i.musteri_adi}}" id="musteri-adi" required>
                    </div>
                    <div class="form-element">
                        <label for="musteri-soyadi">{% trans "Müşteri Soyadı" %}</label>
                        <input type="text" name="musteri_soyadi" value="{{i.musteri_soyadi}}" id="musteri-soyadi" required>
                    </div>
                    <div class="form-element">
                        <label for="musteri-telefon-numarasi">{% trans "Müşteri Telefon Numarası" %}</label>
                        <input type="text" name="musteri_telefon_numarasi" value="{{i.musteri_telefon_numarasi}}" id="musteri-telefon-numarasi" required pattern="\d*">
                    </div>
                </div>
                <div class="form-actions">
                    <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans "Vazgeç" %}</button>
                    <button class="form-action-primary" type="submit">{% trans "Müşteri Ekle" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal" id="departman-sil{{i.id}}">
    <div class="modal-inner" style="width: 500px">
        <div class="modal-header">
            {% trans 'Silme Uyarısı' %}
        </div>
        <div class="modal-body">
            <form autocomplete="off" action="/{{dil}}{% url 'crm:musteri_silme' %}" method="post">
                {% csrf_token %}
                <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">
                <p> {% trans 'Bu öğeyi silmek istediğinizden emin misiniz? Bu işlem geri alınamaz.' %}</p>
                <div class="form-actions">
                    <button class="form-action-secondary" type="button" onclick="closeModal('departman-sil{{i.id}}')">{% trans 'Vazgeç' %}</button>
                    <button class="form-action-danger" type="submit"> {% trans 'Sil' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}

<script>
    function openModal(modalID, close = true) {
        if (close) {
            closeModal();
        }
        $("#" + modalID).css("display", "flex").hide().fadeIn()
    }

    function closeModal(modalID = "") {
        console.log(modalID.length);
        if (modalID.length === 0) {
            $(".modal").fadeOut();
        } else {
            $("#" + modalID).fadeOut();
        }
    }

    $(".modal").on("click", function (e) {
        if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
            closeModal();
        }
    });
</script>

<script>
    function toggleDarkMode() {
        if ($("body").hasClass("dark-mode")) {
            document.cookie = "dark-mode=false; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
        } else {
            document.cookie = "dark-mode=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
        }
        $("body").toggleClass("dark-mode");
    }

    window.onload = function () {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith("dark-mode=true")) {
                document.body.classList.add('dark-mode');
                break;
            }
        }
    };

    function toggleFullScreen() {
        var doc = window.document;
        var docEl = doc.documentElement;

        var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || doc.msRequestFullscreen;
        var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

        if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
            requestFullScreen.call(docEl);
        }
        else {
            cancelFullScreen.call(doc);
        }
    }

    function updateMaxWidth() {
        var tableCardWidth = $(".table-card")[0].clientWidth;
        $(".table-wrapper").css("max-width", tableCardWidth + "px");
    }
    $(document).ready(updateMaxWidth);
    $(window).resize(updateMaxWidth);
</script>
{% endblock sidebar %}