
{% extends "homebase.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block sidebar %}



    <main>


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                    Talep ve Şikayetler
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Talep ve Şikayetler</a></li>
                </ul>
            </div>

            <div class="page-actions">
                <button class="page-primary-btn" onclick="openModal('yeni-talep')"><i class="icon icon-new"></i>
                    Yeni Talep/Şikayet Ekle</button>
            </div>
        </div>

        <div class="large-stats-card table-card table-detail-card">
            <div class="stats-header">
                <div class="stats-title">Talep ve Şikayetler</div>
                <div class="stats-right">
                    <div class="stats-search">
                        <input type="text" name="stats-search" id="stats-search" placeholder="Ara">
                        <button><i class="icon icon-search"></i></button>
                    </div>
                </div>
            </div>


            <div class="tab-navs">
                <button class="tab-navs-btn active" data-tab="talepler">Talepler</button>
                <button class="tab-navs-btn " data-tab="sikayetler">Şikayetler</button>
            </div>

            <div class="tab-contents">

                <div class="tab-content active" id="talepler">
                    <div class="table-wrapper">
                        <table id="talepler-table">
                            <thead>
                                <tr>
                                    <th>Talep nedeni</th>
                                    <th>Talep Tarihi</th>
                                    <th>İşlem Tarihi</th>
                                    <th>Talep Gerekçesi</th>
                                    <th>Durum</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for i in talepler %}
                            
                            
                                <tr>
                                    <td>{{i.sikayet_nedeni}}</td>
                                    <td>{{i.kayit_tarihi | date:'d.m.Y' }}</td>
                                    <td>{{i.islem_tarihi | date:'d.m.Y' }}</td>
                                    <td style="text-align: left;">{{i.sikayet_aciklamasi |safe}}</td>
                                    <td>
                                    {% if i.durum == "0" %}
                                    <div class="td-info"><span class="status-pending stats-lg">Beklemede</span>
                                        </div>
                                    {% elif i.durum == "1" %}
                                    <div class="td-info"><span class="status-pending stats-lg">Tamamlandı</span>
                                        </div>
                                    {% elif i.durum == "2" %}
                                    <div class="td-info"><span class="status-pending stats-lg">Reddedildi</span>
                                        </div>
                                    {% endif %}
                                        
                                    </td>
                                    <td>
                                        <div class="td-actions">
                                            <a onclick="openModal('talep-detay{{i.id}}')" class="status-info"><i
                                                    class="icon icon-eye"></i></a>
                                            <a onclick="openModal('duzelt-talep{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>
                                            <a onclick="openModal('departman-sil{{i.id}}')" class="status-cancel"><i
                                                    class="icon icon-action-delete"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="tab-content" id="sikayetler">
                    <div class="table-wrapper">
                        <table id="sikayetler-table">
                            <thead>
                                <tr>
                                    <th>Şikayet nedeni</th>
                                    <th>Şikayet Tarihi</th>
                                    <th>İşlem Tarihi</th>
                                    <th>Şikayet Gerekçesi</th>
                                    <th>Durum</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in sikayetler %}
                            
                            
                                <tr>
                                    <td>{{i.sikayet_nedeni}}</td>
                                    <td>{{i.kayit_tarihi | date:'d.m.Y' }}</td>
                                    <td>{{i.islem_tarihi | date:'d.m.Y' }}</td>
                                    <td style="text-align: left;">{{i.sikayet_aciklamasi |safe}}</td>
                                    <td>
                                        {% if i.durum == "0" %}
                                    <div class="td-info"><span class="status-pending stats-lg">Beklemede</span>
                                        </div>
                                    {% elif i.durum == "1" %}
                                    <div class="td-info"><span class="status-pending stats-lg">Tamamlandı</span>
                                        </div>
                                    {% elif i.durum == "2" %}
                                    <div class="td-info"><span class="status-pending stats-lg">Reddedildi</span>
                                        </div>
                                    {% endif %}
                                    </td>
                                    <td>
                                        <div class="td-actions">
                                            <a onclick="openModal('talep-detay{{i.id}}')" class="status-info"><i
                                                    class="icon icon-eye"></i></a>
                                            <a onclick="openModal('duzelt-talep{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>
                                            <a onclick="openModal('departman-sil{{i.id}}')"  class="status-cancel"><i
                                                    class="icon icon-action-delete"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <script>
                $(".tab-navs-btn").on("click", function () {
                    $(".tab-navs-btn").removeClass("active");
                    $(".tab-content").removeClass("active");

                    $(this).addClass("active");
                    $("#" + $(this).attr("data-tab")).addClass("active");
                })
            </script>

            <div class="large-stats-card-footer-actions">
                <a onclick="$('.buttons-pdf').click()" class="lsc-footer-action"><i class="icon icon-pdf"></i></a>
                <a onclick="$('.buttons-excel').click()" class="lsc-footer-action"><i class="icon icon-zip"></i></a>
                <a onclick="$('.buttons-print').click()" class="lsc-footer-action"><i class="icon icon-print"></i></a>
            </div>

        </div>

        <script>
            let talepler = new DataTable('#talepler-table', {
                paging: false,
                searching: true,
                info: false,
                layout: {
                    topStart: {
                        
                    }
                },
                columnDefs: [{ width: '40%', targets: 3 }]
            });

            let sikayetler = new DataTable('#sikayetler-table', {
                paging: false,
                searching: true,
                info: false,
                layout: {
                    topStart: {
                        
                    }
                },
                columnDefs: [{ width: '40%', targets: 3 }]
            });


            $('#stats-search').keyup(function () {
                ana_firma_sozlesmeleri.search($(this).val()).draw();
                alt_yuklenizi_sozlesmeleri_table.search($(this).val()).draw();
            })
        </script>


    </main>




    <div class="modal" id="yeni-talep">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Talep/Şikayet Oluştur
            </div>
            <div class="modal-body">
                <form method="post" action="/{{dil}}{% url 'crm:talep_veya_sikayet_olustur' %}">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-element">
                            <input type="radio" name="tur" id="tur-talep" value="0">
                            <label for="tur-talep">Talep</label>
                            <input type="radio" name="tur" id="tur-sikayet" value="1">
                            <label for="tur-sikayet">Şikayet</label>
                        </div>
                    </div>
                    <div class="form-element">
                        <label for="talep-nedeni">Talep/Şikayet Nedeni</label>
                        <select name="talep_nedeni" id="talep-nedeni">
                            <option value="" selected disabled>Talep Seçin</option>
                            <option value="1">talep1</option>
                            <option value="2">talep2</option>
                            <option value="3">talep3</option>
                        </select>
                        <div class="form-element">
                            <label for="aciklama">Açıklama</label>
                            <textarea name="aciklama" id="aciklama"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-primary" type="submit" >Devam
                            Et</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% for i in talepler  %}
<div class="modal" id="duzelt-talep{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Talep/Şikayet Düzenle
            </div>
            <div class="modal-body">
                <form method="post" action="/{{dil}}{% url 'crm:talep_veya_sikayet_duzenle' %}">
                    {% csrf_token %}
                    <input type="text" name="talep_id" hidden value="{{i.id}}" >
                    <div class="form-row">
                        <div class="form-element">
                            <input checked type="radio" name="tur" id="tur-talep" value="0">
                            <label for="tur-talep">Talep</label>
                            <input type="radio" name="tur" id="tur-sikayet" value="1">
                            <label for="tur-sikayet">Şikayet</label>
                        </div>
                    </div>
                    <div class="form-element">
                        <label for="talep-nedeni">Talep/Şikayet Nedeni</label>
                        <select name="talep_nedeni" id="talep-nedeni">
                            <option value="{{i.sikayet_nedeni}}" selected disabled>{{i.sikayet_nedeni}}</option>
                            
                            <option value="1">talep1</option>
                            <option value="2">talep2</option>
                            <option value="3">talep3</option>
                        </select>
                        <div class="form-element">
                            <label for="aciklama">Açıklama</label>
                            <textarea name="aciklama" id="aciklama">{{i.sikayet_aciklamasi |safe}}</textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-primary" type="submit" >Devam
                            Et</button>
                    </div>
                </form>
            </div>
        </div>
</div>
<div class="modal" id="talep-detay{{i.id}}">
    <div class="modal-inner" style="width: 500px">
        <div class="modal-body">
            <div class="talep-detay">
                <div class="talep-detay-head">
                    
                    {% if i.musteri %}
                    <img src="{% static 'go/content/images/avatar-2.png' %}" alt="">
                        {{i.musteri.musteri_adi}} {{i.musteri.musteri_soyadi}}
                    {% else %}
                    {% endif %}
                </div>
                <p><span>Kayıt No: </span> {{i.id}}</p>
                <p><span>Tarih: </span> {{i.islem_tarihi|date:'d.m.Y'}}</p>
                <p><span>Durum: </span> {% if i.durum == "0" %}
                                    <span class="status-pending stats-lg">Beklemede</span>
                                     
                                    {% elif i.durum == "1" %}
                                    <span class="status-pending stats-lg">Tamamlandı</span>
                                        
                                    {% elif i.durum == "2" %}
                                   <span class="status-pending stats-lg">Reddedildi</span>
                                        
                                    {% endif %}</p>
                <p><span>Detay: </span> {{i.sikayet_aciklamasi |safe}}</p>
            </div>
            <div class="form-actions">
                <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                <button class="form-action-primary" type="button">Tamam</button>
            </div>
        </div>
    </div>
</div>
    <div class="modal" id="departman-sil{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Silme Uyarısı' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"action="/{{dil}}{% url 'crm:talep_veya_sikayet_sil' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">
                 
                    <p> {% trans 'Bu öğeyi silmek istediğinizden emin misiniz? Bu işlem geri alınamaz.' %}</p>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal('departman-sil{{i.id}}')">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-danger" type="submit"> {% trans 'Sil' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
{% for i in sikayetler  %}
<div class="modal" id="duzelt-talep{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Talep/Şikayet Düzenle
            </div>
            <div class="modal-body">
                <form method="post" action="/{{dil}}{% url 'crm:talep_veya_sikayet_duzenle' %}">
                    {% csrf_token %}
                    <input type="text" name="talep_id" hidden value="{{i.id}}" >
                    <div class="form-row">
                        <div class="form-element">
                            <input checked type="radio" name="tur" id="tur-talep" value="0">
                            <label for="tur-talep">Talep</label>
                            <input type="radio" name="tur" id="tur-sikayet" value="1">
                            <label for="tur-sikayet">Şikayet</label>
                        </div>
                    </div>
                    <div class="form-element">
                        <label for="talep-nedeni">Talep/Şikayet Nedeni</label>
                        <select name="talep_nedeni" id="talep-nedeni">
                            <option value="{{i.sikayet_nedeni}}" selected disabled>{{i.sikayet_nedeni}}</option>
                            
                            <option value="1">talep1</option>
                            <option value="2">talep2</option>
                            <option value="3">talep3</option>
                        </select>
                        <div class="form-element">
                            <label for="aciklama">Açıklama</label>
                            <textarea name="aciklama" id="aciklama">{{i.sikayet_aciklamasi |safe}}</textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-primary" type="submit" >Devam
                            Et</button>
                    </div>
                </form>
            </div>
        </div>
</div>
<div class="modal" id="talep-detay{{i.id}}">
    <div class="modal-inner" style="width: 500px">
        <div class="modal-body">
            <div class="talep-detay">
                <div class="talep-detay-head">
                    
                    {% if i.musteri %}
                    <img src="{% static 'go/content/images/avatar-2.png' %}" alt="">
                        {{i.musteri.musteri_adi}} {{i.musteri.musteri_soyadi}}
                    {% else %}
                    {% endif %}
                </div>
                <p><span>Kayıt No: </span> {{i.id}}</p>
                <p><span>Tarih: </span> {{i.islem_tarihi|date:'d.m.Y'}}</p>
                <p><span>Durum: </span> {% if i.durum == "0" %}
                                    <span class="status-pending stats-lg">Beklemede</span>
                                       
                                    {% elif i.durum == "1" %}
                                    <span class="status-pending stats-lg">Tamamlandı</span>
                                      
                                    {% elif i.durum == "2" %}
                                    <span class="status-pending stats-lg">Reddedildi</span>
                                        
                                    {% endif %}</p>
                <p><span>Detay: </span> {{i.sikayet_aciklamasi |safe}}</p>
            </div>
            <div class="form-actions">
                <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                <button class="form-action-primary" type="button">Tamam</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="departman-sil{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Silme Uyarısı' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"action="/{{dil}}{% url 'crm:talep_veya_sikayet_sil' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">
                 
                    <p> {% trans 'Bu öğeyi silmek istediğinizden emin misiniz? Bu işlem geri alınamaz.' %}</p>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal('departman-sil{{i.id}}')">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-danger" type="submit"> {% trans 'Sil' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endfor %}

    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });

        $('input[type="file"]').on('change', function () {
            var files = $(this).prop('files');
            var formElement = $(this).closest('.form-element');
            var fileList = formElement.find('.fileList');
            fileList.empty();

            for (var i = 0; i < files.length; i++) {
                fileList.append('<li>' + files[i].name + '</li>');
            }
        });

    </script>


    <script>
        function toggleDarkMode() {
            if ($("body").hasClass("dark-mode")) {
                document.cookie = "dark-mode=false; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
            } else {
                document.cookie = "dark-mode=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
            }
            $("body").toggleClass("dark-mode");
        }

        window.onload = function () {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith("dark-mode=true")) {
                    document.body.classList.add('dark-mode');
                    break;
                }
            }
        };

        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>

{% endblock sidebar %}