
{% extends "homebase.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block sidebar %}




    <main>


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                    Teklif Olustur
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Teklif Yönetimi</a></li>
                    <li><a href="#">Teklif Olustur</a></li>
                </ul>
            </div>

        </div>

        <div class="large-stats-card table-card table-detail-card">
            <div class="stats-header">
                <div class="stats-title">Müşteri Bilgileri</div>
            </div>


            <div class="fatura-olustur">

                <div class="fatura-doviz">

                    <div class="form-row" style="margin-bottom: 20px;">
                        <div class="form-element">
                            <label for="adsoyad">Ad Soyad</label>
                            <input type="text" name="adsoyad" id="adsoyad">
                        </div>
                        <div class="form-element">
                            <label for="telefon">Telefon No</label>
                            <input type="text" name="telefon" id="telefon">
                        </div>
                        <div class="form-element">
                            <label for="email">Email Adresi</label>
                            <input type="text" name="email" id="email">
                        </div>
                    </div>

                </div>



                <div class="fatura-head">
                    <h3>Fatura Kalemleri</h3>
                    <div class="fatura-head-action">
                        <a id="kalem-ekle"><i class="icon icon-add"></i> Kalem Ekle</a>
                    </div>
                </div>

                <script>
                    $("#kalem-ekle").on("click", function () {
                        let lastID = $(".fatura-kalemleri tbody tr:last-child").attr("data-id");
                        $(".fatura-kalemleri tbody").append(`<tr data-id="${++lastID}">
                            <td>
                                <div class="form-element">
                                    <input type="text" name="kalem-urun-hizmet-adi" id="kalem-urun-hizmet-adi" placeholder="Ürün/Hizmet Adı Giriniz">
                                </div>
                                <div class="form-element">
                                    <input type="text" name="kalem-aciklama" id="kalem-aciklama" placeholder="Açıklama">
                                </div>
                            </td>
                            <td>
                                <div class="form-element">
                                    <input type="number" name="kalem-indirim" id="kalem-indirim">
                                </div>
                            </td>
                            <td>
                                <div class="form-element">
                                    <input type="number" name="kalem-miktar" id="kalem-miktar">
                                </div>
                            </td>
                            <td>
                                <div class="form-element">
                                    <input type="number" name="kalem-birim-fiyati" id="kalem-birim-fiyati">
                                </div>
                            </td>
                            <td>
                                <div class="form-element">
                                    <input type="number" name="kalem-toplam" id="kalem-toplam">
                                </div>
                            </td>
                            <td>
                                <div class="form-element iqd-input">
                                    <input type="number" name="kalem-toplam-iqd" id="kalem-toplam-iqd">
                                </div>
                                <a onclick="openModal('delete-modal');$('.delete-modal-button').attr('data-delete-id', $(this).closest('tr').attr('data-id'))" class="status-cancel stats-lg"><i
                                        class="icon icon-action-delete"></i> Sil</a>
                            </td>
                        </tr>`)
                    })
                </script>

                <div class="fatura-kalemleri-wrapper">
                    <table class="dataTable fatura-kalemleri">
                        <thead>
                            <tr>
                                <th>Hizmet / ürün</th>
                                <th>İndirim</th>
                                <th>Miktar</th>
                                <th>Birim Fiyatı</th>
                                <th>Toplam</th>
                                <th>Toplam IQD</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-id="1">
                                <td>
                                    <div class="form-element">
                                        <input type="text" name="kalem-urun-hizmet-adi" id="kalem-urun-hizmet-adi"
                                            placeholder="Ürün/Hizmet Adı Giriniz">
                                    </div>
                                    <div class="form-element">
                                        <input type="text" name="kalem-aciklama" id="kalem-aciklama"
                                            placeholder="Açıklama">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" name="kalem-indirim" id="kalem-indirim">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" name="kalem-miktar" id="kalem-miktar">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" name="kalem-birim-fiyati" id="kalem-birim-fiyati">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" name="kalem-toplam" id="kalem-toplam">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element iqd-input">
                                        <input type="number" name="kalem-toplam-iqd" id="kalem-toplam-iqd">
                                    </div>
                                    <a onclick="openModal('delete-modal');$('.delete-modal-button').attr('data-delete-id', $(this).closest('tr').attr('data-id'))"
                                        class="status-cancel stats-lg"><i class="icon icon-action-delete"></i> Sil</a>
                                </td>
                            </tr>
                            <tr data-id="2">
                                <td>
                                    <div class="form-element">
                                        <input type="text" name="kalem-urun-hizmet-adi" id="kalem-urun-hizmet-adi"
                                            placeholder="Ürün/Hizmet Adı Giriniz">
                                    </div>
                                    <div class="form-element">
                                        <input type="text" name="kalem-aciklama" id="kalem-aciklama"
                                            placeholder="Açıklama">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" name="kalem-indirim" id="kalem-indirim">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" name="kalem-miktar" id="kalem-miktar">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" name="kalem-birim-fiyati" id="kalem-birim-fiyati">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element">
                                        <input type="number" name="kalem-toplam" id="kalem-toplam">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-element iqd-input">
                                        <input type="number" name="kalem-toplam-iqd" id="kalem-toplam-iqd">
                                    </div>
                                    <a onclick="openModal('delete-modal');$('.delete-modal-button').attr('data-delete-id', $(this).closest('tr').attr('data-id'))"
                                        class="status-cancel stats-lg"><i class="icon icon-action-delete"></i> Sil</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                



                <div class="fatura-head">
                    <h3>Notlar</h3>
                    <div class="fatura-head-action">
                        <a id="not-ekle"><i class="icon icon-add"></i> Not Ekle</a>
                    </div>
                </div>

                <div class="teklif-notlar">
                    <div class="form-element" data-id="1">
                        <input type="text" name="not" id="not" placeholder="Not Giriniz">
                        <a onclick="openModal('delete-note-modal');$('.delete-note-modal-button').attr('data-delete-id', $(this).closest('.form-element').attr('data-id'))" style="margin-left: auto;" class="status-cancel stats-lg"><i class="icon icon-action-delete"></i> Sil</a>
                    </div>
                </div>

                <script>
                    $("#not-ekle").on("click", function () {
                        let lastID = $(".teklif-notlar .form-element:last-child").attr("data-id");
                        $(".teklif-notlar").append(`<div class="form-element" data-id="${++lastID}">
                        <input type="text" name="not" id="not" placeholder="Not Giriniz">
                        <a onclick="openModal('delete-note-modal');$('.delete-note-modal-button').attr('data-delete-id', $(this).closest('.form-element').attr('data-id'))" style="margin-left: auto;" class="status-cancel stats-lg"><i class="icon icon-action-delete"></i> Sil</a>
                    </div>`)
                    })
                </script>



                <div class="fatura-detaylar">

                    <table>
                        <tbody>
                            <tr>
                                <td>Ara Toplam</td>
                                <th id="info-ara-toplam">$0,00</th>
                            </tr>
                            <tr>
                                <td>İndirim</td>
                                <td id="info-toplam-indirim" style="color: #ff0000;">-$0,00</td>
                            </tr>
                            <tr>
                                <td>Toplam IQD</td>
                                <td id="info-toplam-iqd">$0,00</td>
                            </tr>
                            <tr>
                                <th>Toplam</th>
                                <th id="info-toplam">$0,00</th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-primary" type="submit">Kaydet</button>
                    </div>
                </div>




            </div>



        </div>



    </main>





    <div class="modal" id="delete-modal">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Silmek istediğinize emin misiniz?
            </div>
            <div class="modal-body">
                <form>
                    <p>Bu işlemin geri dönüşü olmayacaktır.</p>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-danger delete-modal-button" type="button">Evet, silinsin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(".delete-modal-button").on("click", function () {
            $(".fatura-kalemleri [data-id=" + $(this).attr("data-delete-id") + "]").remove();
            closeModal();
        })
    </script>


<div class="modal" id="delete-note-modal">
    <div class="modal-inner" style="width: 500px">
        <div class="modal-header">
            Silmek istediğinize emin misiniz?
        </div>
        <div class="modal-body">
            <form>
                <p>Bu işlemin geri dönüşü olmayacaktır.</p>
                <div class="form-actions">
                    <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                    <button class="form-action-danger delete-note-modal-button" type="button">Evet, silinsin</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(".delete-note-modal-button").on("click", function () {
        $(".teklif-notlar [data-id=" + $(this).attr("data-delete-id") + "]").remove();
        closeModal();
    })
</script>


    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });

    </script>


    <script>
        function toggleDarkMode() {
            if ($("body").hasClass("dark-mode")) {
                document.cookie = "dark-mode=false; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
            } else {
                document.cookie = "dark-mode=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
            }
            $("body").toggleClass("dark-mode");
        }

        window.onload = function () {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith("dark-mode=true")) {
                    document.body.classList.add('dark-mode');
                    break;
                }
            }
        };

        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>
{% endblock sidebar %}