
{% extends "homebase.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block sidebar %}


    <main>


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                    Teklif Yönetimi
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Teklif Yönetimi</a></li>
                </ul>
            </div>

            <div class="page-actions">
                <a href="/{{dil}}{% url 'crm:crm_teklif_olustur' %}" class="page-primary-btn"><i class="icon icon-new"></i>
                    Teklif Oluştur</a>
            </div>
        </div>

        <div class="large-stats-card table-card table-detail-card">
            <div class="stats-header">
                <div class="stats-title">Teklifler</div>
                <div class="stats-right">
                    <div class="stats-search">
                        <input type="text" name="stats-search" id="stats-search" placeholder="Ara">
                        <button><i class="icon icon-search"></i></button>
                    </div>
                </div>
            </div>


            <div class="tab-navs">
                <button class="tab-navs-btn active" data-tab="Tümü">Tümü</button>
                <button class="tab-navs-btn " data-tab="Gönderildi">Gönderildi</button>
                <button class="tab-navs-btn " data-tab="Onaylandı">Onaylandı</button>
                <button class="tab-navs-btn " data-tab="Reddedildi">Reddedildi</button>
            </div>

            <div class="tab-contents">

                <div class="tab-content active" id="tumu">
                    <div class="table-wrapper">
                        <table id="tumu-table">
                            <thead>
                                <tr>
                                    <th>Teklif No</th>
                                    <th>Müşteri</th>
                                    <th>Tarih</th>
                                    <th>Tutar</th>
                                    <th>Durum</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#123-12312</td>
                                    <td>Ahmet Yılmaz</td>
                                    <td>01.01.2000</td>
                                    <td>10.000 TL</td>
                                    <td>
                                        <div class="td-info"><span class="status-cancel stats-lg">Reddedildi</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="td-actions">
                                            <a class="status-success"><i class="icon icon-action-edit"></i></a>
                                            <a onclick="openModal('delete-modal')" class="status-cancel"><i
                                                    class="icon icon-action-delete"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>#123-12312</td>
                                    <td>Ahmet Yılmaz</td>
                                    <td>01.01.2000</td>
                                    <td>10.000 TL</td>
                                    <td>
                                        <div class="td-info"><span class="status-success stats-lg">Onaylandı</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="td-actions">
                                            <a class="status-success"><i class="icon icon-action-edit"></i></a>
                                            <a onclick="openModal('delete-modal')" class="status-cancel"><i
                                                    class="icon icon-action-delete"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



            </div>

            <div class="large-stats-card-footer-actions">
                <a onclick="$('.buttons-pdf').click()" class="lsc-footer-action"><i class="icon icon-pdf"></i></a>
                <a onclick="$('.buttons-excel').click()" class="lsc-footer-action"><i class="icon icon-zip"></i></a>
                <a onclick="$('.buttons-print').click()" class="lsc-footer-action"><i class="icon icon-print"></i></a>
            </div>

        </div>

        <script>
            let table = new DataTable('#tumu-table', {
                paging: false,
                searching: true,
                info: false,
                layout: {
                    topStart: {
                        //buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
                    }
                }
            });

            $('.tab-navs-btn').on('click', function () {
                $(".tab-navs-btn").removeClass("active");
                $(this).addClass("active");

                if ($(this).attr("data-tab") == "Tümü") {
                    table.search('').columns().search('').draw();
                } else {
                    table.column(4).search($(this).attr("data-tab")).draw();
                }

            });



            $('#stats-search').keyup(function () {
                table.search($(this).val()).draw();
            })
        </script>


    </main>



    <div class="modal" id="delete-modal">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Silmek istediğinize emin misiniz?
            </div>
            <div class="modal-body">
                <form>
                    <p>Bu işlemin geri dönüşü olmayacaktır.</p>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-danger" type="button">Evet, silinsin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });


    </script>


    <script>
        function toggleDarkMode() {
            if ($("body").hasClass("dark-mode")) {
                document.cookie = "dark-mode=false; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
            } else {
                document.cookie = "dark-mode=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
            }
            $("body").toggleClass("dark-mode");
        }

        window.onload = function () {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith("dark-mode=true")) {
                    document.body.classList.add('dark-mode');
                    break;
                }
            }
        };

        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>


{% endblock sidebar %}