{% load i18n %}
{% load custom_tags %}
{% load static %}
<!-- HTML2PDF -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<script>
    document.getElementById('pdfBtn').addEventListener('click', function () {
        var element = document.querySelector('.container'); // PDF'e çevrilecek element
        // Butonları gizle
        document.querySelector('.btn-container').style.display = 'none';
        var opt = {
            margin: [10, 5, 10, 5], // Sayfanın kenar boşluklarını ayarla
            filename: 'fatura.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 2, logging: true, dpi: 192, letterRendering: true },
            jsPDF: { unit: 'mm', format: 'a4', orientation: 'portrait' }
        };
        html2pdf().set(opt).from(element).save().then(() => {
            // PDF oluşturma tamamlandıktan sonra butonları tekrar göster
            document.querySelector('.btn-container').style.display = 'block';
        });
    });
</script>
