{% extends "homebase.html" %}
{% load i18n %}
{% load static %}
{% block sidebar %}
<div class="vertical-overlay"></div>
<div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <form class="santiye-ekle-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="row">
                        <div class="mb-3">
                                        <label for="customername-field" class="form-label">Taşeron</label>
                                        <select class="form-control" name="taseron" id="date-field">
                                                {% for j in taseronlar %}
                                                    <option value="{{j.id}}">{{j.taseron_adi}}</option>
                                                {% endfor %}
                                                
                                                
                                            </select>
                                        <div class="invalid-feedback">Lütfen Taşeron Adını Boş Bırakmayınız.</div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="date-field" class="form-label">Dosya Adı</label>
                                        <input type="tel" name="dosyaadi" id="date-field" class="form-control" placeholder="Telefon Gir"  />
                                        <div class="invalid-feedback">Lütfen telefon alanını boş bırakmayınız.</div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="email-field" class="form-label">Tarih</label>
                                        <input type="date" name="tarih" class="form-control" placeholder="E-Posta giriniz" ></input>
                                        <div class="invalid-feedback">Lütfen eposta alanını boş bırakmayınız.</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email-field" class="form-label">Açıklama</label>
                                        <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                                        <div class="invalid-feedback">Please enter an email.</div>
                                    </div>
                                    <div>
                                        <label for="status-field" class="form-label">Durum</label>
                                        <select name="durumu" class="form-control" data-trigger name="status-field" id="status-field" required>
                                            <option value="">Durum</option>
                                            <option value="1">Active</option>
                                            <option value="0">Block</option>
                                        </select>
                                    </div>
                                    
                                    
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title mb-0">Sözleşmeleri Yükle</h4>
                                                </div><!-- end card header -->
                                            
                                                <div class="card-body">
                                                    <p class="text-muted">Yüklemek istediğiniz dosyayı sürükle bırak yöntemi ile yada direk dosya seçerek yükleyebilirsiniz.</p>
                                                
                                                    <div class="dropzone">
                                                        <div class="fallback">
                                                            <input name="file" type="file" >
                                                        </div>
                                                        <div class="dz-message needsclick">
                                                            <div class="mb-3">
                                                                <i class="display-4 text-muted ri-upload-cloud-2-fill"></i>
                                                            </div>
                                                        
                                                            <h4>Drop files here or click to upload.</h4>
                                                        </div>
                                                    </div>
                                                
                                                    <ul class="list-unstyled mb-0" id="dropzone-preview">
                                                        <li class="mt-2" id="dropzone-preview-list">
                                                            <!-- This is used as the file preview template -->
                                                            <div class="border rounded">
                                                                <div class="d-flex p-2">
                                                                    <div class="flex-shrink-0 me-3">
                                                                        <div class="avatar-sm bg-light rounded">
                                                                            <img data-dz-thumbnail class="img-fluid rounded d-block" src="assets/images/new-document.png" alt="Dropzone-Image" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-grow-1">
                                                                        <div class="pt-1">
                                                                            <h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
                                                                            <p class="fs-13 text-muted mb-0" data-dz-size></p>
                                                                            <strong class="error text-danger" data-dz-errormessage></strong>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-shrink-0 ms-3">
                                                                        <button data-dz-remove class="btn btn-sm btn-danger">Delete</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <!-- end dropzon-preview -->
                                                </div>
                                                <!-- end card body -->
                                            </div>
                                            <!-- end card -->
                                        </div> <!-- end col -->
                                    </div>
                            <input type="submit" class="btn btn-success waves-effect waves-light mt-5" value="Yeni Şantiye Oluştur">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
</div>

{% endblock sidebar %}
    

