{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block head %}

 <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.css">

    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'content/style/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.1.0/dist/js/multi-select-tag.js"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script src="https://cdn.datatables.net/v/dt/dt-2.1.6/r-3.0.3/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.1.2/js/buttons.print.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
{% endblock head %}

{% block sidebar %}
{% if hash_bilgi %}

{% else %}
<main>
    <div class="page-header">
        <div class="page-info">
            <div class="page-title">
                <a href="#" onclick="history.back(); return false;"><i class="icon icon-arrow-circle-left"></i></a>
                {% trans 'Stratejik İş Planları' %}
            </div>
            <ul class="page-breadcrumb">
                <ul class="page-breadcrumb">
                <li><a href="/{{dil}}/">{% trans 'Dashboard' %}</a></li>
                <li><a href="#">{% trans 'Şantiye Yönetimi' %}</a></li>
                <li><a href="#">{% trans 'Stratejik İş Planı' %}</a></li>
            </ul>
            </ul>
        </div>
        <div class="page-actions">
         {% if request.user.kullanicilar_db %}
            {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
            {% if yetki.gant_olusturma %}
            <button class="page-primary-btn" onclick="openModal('kasa-ekle')"><i class="icon icon-new"></i>{% trans 'İş Planı Oluştur' %}</button>                                               
            <button class="page-primary-btn" onclick="openModal('kopyala')"><i class="icon icon-new"></i>{% trans 'İş Planı Kopyalama' %}</button>                                                                                                                                         
            {% endif %}
                                       
                                            
                              
           {% else %}
                    <button class="page-primary-btn" onclick="openModal('kasa-ekle')"><i class="icon icon-new"></i>{% trans 'İş Planı Oluştur' %}</button>                    
                     <button class="page-primary-btn" onclick="openModal('kopyala')"><i class="icon icon-new"></i>{% trans 'İş Planı Kopyalama' %}</button>                        
            {% endif %}
                                                    
                                               
                                            
            
        </div>
    </div>

    <div class="large-stats-card table-card table-detail-card">
        <div class="stats-header">
            <div class="stats-title">{% trans 'Stratejik İş Planları' %}</div>
            <div class="stats-search">
                <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                <button><i class="icon icon-search"></i></button>
            </div>
        </div>

        <div class="table-wrapper">
            <table id="datatable">
                <thead>
                    <tr>
                         <!-- Gizli ID sütunu -->
                        <th>{% trans 'İş Planı Adı' %}</th>
                        <th>{% trans 'İş Planı Yapısı' %}</th>
                        <th>{% trans 'Açıklama' %}</th>
                        <th>{% trans 'Oluşturulma Tarihi' %}</th>
                        <th>{% trans 'Oluşturan' %}</th>
                        <th>{% trans 'Aksiyon' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in gant_sablonlari %}
                        <tr style="{% if request.user.is_superuser %}{% if i.silinme_bilgisi %}background-color: grey; color: white; {% endif %} {% endif %}">
                            <td class="kasa">{{ i.gant_adi }}</td>
                            <td class="bakiye">{{i.gant_blok.blog_adi}}</td>
                            <td class="konum">{{ i.aciklama }}</td>
                            <td class="kasa"> {{i.kayit_tarihi | date:"d.m.Y H.i"}}</td>
                            <td class="kasa">
                                {{i.ganti_degistiren_kisi.last_name}}
                            </td>
                           
                            <td>
                                <div class="td-actions">
                                    

                                    {% if request.user.kullanicilar_db %}
                                        {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                        {% if yetki.gant_duzenleme %}
                                            <a onclick="openModal('kasa-duzenle{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>                                                
                                        {% endif %}
                                        {% if yetki.Kasa_silme_izni %}
                                            
                                        <a onclick="openModal('departman-sil{{i.id}}')"  class="status-cancel"><i class="icon icon-action-delete"></i></a>                                               
                                        {% endif %}
                                        {% if yetki.gant_duzenleme %}
                                            <a href="/{{dil}}{% url 'main:takvim_olaylari' i.id %}" class="status-success">{% trans 'İş Planını Düzenle' %}</a>
                                                                                    
                                        {% endif %}
                                    {% else %}
                                    <a href="/{{dil}}{% url 'main:takvim_olaylari' i.id %}" class="status-success">{% trans 'İş Planını Düzenle' %}</a>
                                    <a onclick="openModal('kasa-duzenle{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>
                                        <a onclick="openModal('departman-sil{{i.id}}')"  class="status-cancel"><i class="icon icon-action-delete"></i></a>
                                    {% endif %}

                                    
                               </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <style>
                            .dt-buttons {
                                opacity: 0;
                                height: 0;
                                position: fixed;
                                top: 10000px;
                                left: 10000px;
                            } 
                            </style>
                            <div class="large-stats-card-footer-actions">
                                <a onclick="$('.buttons-pdf').click()" class="lsc-footer-action"><i class="icon icon-pdf"></i></a>
                                <a onclick="$('.buttons-excel').click()" class="lsc-footer-action"><i class="icon icon-xlsx"></i></a>
                                <a onclick="$('.buttons-print').click()" class="lsc-footer-action"><i class="icon icon-print"></i></a>
                            </div>
        </div>
    </div>

</main>



<div class="modal" id="kasa-ekle">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'İş Planı Oluşturma' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" method="post" action="/{{dil}}{% url 'main:gant_sablon_ekle' %}"  autocomplete="off">
                                {% csrf_token %}
                                
                    


                                    <div class="form-element">
                                        <label for="customername-field"  >{% trans 'İş Planı Adı' %}</label>
                                        <input name="kasaadi" type="text" id="customername-field"   placeholder="{% trans 'İş Planı Adı' %}" required />
                                         
                                    </div>
                                  <div class="form-element">
                                            <label for="date-field"  >{% trans 'Blok Seçiniz' %}</label>
                                            <select   name="avanslarda_kullan" >
                                                {% for i in bloklar %}
                                                    <option value="{{i.id}}">{{i.proje_santiye_Ait.proje_adi}} >> {{i.blog_adi}}</option>
                                                {% endfor %}
                                              
                                            </select>
                                        </div>
                                        <div class="form-element">
                                        <label for="customername-field"  >{% trans 'Açıklama' %}</label>
                                            <textarea name="aciklame" id="aciklame"></textarea>

                                         
                                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'İş Planını Oluştur' %}</button>
                    </div>
                </form>
            </div>
        </div>
</div>

<div class="modal" id="kopyala">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'İş Planı Kopyalama' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" method="post" action="/{{dil}}{% url 'main:gant_aktarma' %}"  autocomplete="off">
                                {% csrf_token %}
                                
                    


                                    <div class="form-element">
                                            <label for="date-field"  >{% trans 'Aktarılacak İş Planı' %}</label>
                                            <select   name="gelen_gant" >
                                                {% for i in gant_sablonlari %}
                                                    <option value="{{i.id}}">{{i.gant_adi}}</option>
                                                {% endfor %}
                                              
                                            </select>
                                        </div>
                                        <div class="form-element">
                                            <label for="date-field"  >{% trans 'Aktarım Olacak İş Planı' %}</label>
                                            <select   name="giden_gant" >
                                                {% for i in gant_sablonlari %}
                                                    <option value="{{i.id}}">{{i.gant_adi}}</option>
                                                {% endfor %}
                                              
                                            </select>
                                        </div>
                                        
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Aktarmayı Yap' %}</button>
                    </div>
                </form>
            </div>
        </div>
</div>
{% for i in gant_sablonlari %}
<div class="modal" id="kasa-duzenle{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'İş Planı Düzenleme' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" method="post" action="/{{dil}}{% url 'main:gant_sablon_duzenle' %}"  autocomplete="off">
                                {% csrf_token %}
                                
                    
                                    <input type="hidden" name="id" value="{{i.id}}">

                                    <div class="form-element">
                                        <label for="customername-field"  >{% trans 'İş Planı Adı' %}</label>
                                        <input name="kasaadi" type="text" id="customername-field"  value="{{i.gant_adi}}"  placeholder="{% trans 'İş Planı Adı' %}" required />
                                         
                                    </div>
                                  <div class="form-element">
                                            <label for="date-field"  >{% trans 'Blok Seçiniz' %}</label>
                                            <select   name="avanslarda_kullan" >
                                            <option select value="{{i.id}}">{{i.gant_blok.proje_santiye_Ait.proje_adi}} >> {{i.gant_blok.blog_adi}}</option>
                                                {% for i in bloklar %}
                                                    <option value="{{i.id}}">{{i.proje_santiye_Ait.proje_adi}} >> {{i.blog_adi}}</option>
                                                {% endfor %}
                                              
                                            </select>
                                        </div>
                                        <div class="form-element">
                                        <label for="customername-field"  >{% trans 'Açıklama' %}</label>
                                            <textarea name="aciklame" id="aciklame">{% if i.aciklama %}{{i.aciklama }}{% endif %}</textarea>

                                         
                                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'İş Planını Oluştur' %}</button>
                    </div>
                </form>
            </div>
        </div>
</div>

    <div class="modal" id="departman-sil{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Silme Uyarısı' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"action="/{{dil}}{% url 'main:gant_sablon_silme' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="id" name="id" value="{{i.id}}">
                 
                    <p> {% trans 'Bu öğeyi silmek istediğinizden emin misiniz? Bu işlem geri alınamaz.' %}</p>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal('departman-sil{{i.id}}')">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-danger" type="submit"> {% trans 'Sil' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}


{% endif %}
    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });


    </script>

    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>



    <script>
        $(document).ready(function() {
            let datatable = $('#datatable').DataTable({
                paging: true,
                searching: true,
                info: false,
                ordering: true,
            dom: 'Btip', // Butonları etkinleştirir
            buttons: [
                {
                    extend: 'pdfHtml5',
                    className: 'hidden', // DataTables butonunu gizlemek için
                    orientation: 'landscape',
                    pageSize: 'A4',
                    exportOptions: { columns: ':visible' },
                    customize: function (doc) {
                        doc.content[1].table.widths = Array(doc.content[1].table.body[0].length).fill('18%'); 
                        doc.pageMargins = [15, 20, 15, 20];
                        doc.defaultStyle = { fontSize: 8 };
                        doc.styles.tableHeader = {
                            fillColor: '#f2f2f2',
                            color: '#333',
                            alignment: 'center'
                        };
                    }
                },
                {
                        extend: 'excelHtml5',
                        className: 'hidden',
                        exportOptions: { columns: ':visible' },
                        customize: function (xlsx) {
                            var sheet = xlsx.xl.worksheets['sheet1.xml'];
                            
                            // Para birimlerinin olduğu sütunları belirleyin (örneğin, 5 ve 6. sütunlar)
                            $('row c[r^="E"], row c[r^="F"]', sheet).each(function () {
                                $(this).attr('s', '2'); // 2 numaralı hücre stiline ayarlanarak sayısal veri olarak işlenecek
                            });

                            // Tarihlerin olduğu sütunları belirleyin (örneğin, 4. sütun)
                            $('row c[r^="D"]', sheet).each(function () {
                                $(this).attr('s', '3'); // 3 numaralı hücre stiline ayarlanarak tarih olarak işlenecek
                            });
                        }
                    },
                {
                    extend: 'print',
                    className: 'hidden',
                    exportOptions: { columns: ':visible' },
                    customize: function (win) {
                        $(win.document.body).css('font-size', '10pt').css('width', '95%').css('margin', 'auto');
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit')
                            .css('width', '100%')
                            .css('margin', 'auto');
                    }
                }
            ]
                
            });

            $('#stats-search').keyup(function () {
                datatable.search($(this).val()).draw();
            });
        });

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }

        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>


{% endblock sidebar %}

