{% extends "homebase.html" %}
{% load i18n %}
{% load static %}
{% load custom_tags %}
{% block sidebar %}
       <main>


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                    Hakedişler
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Şantiye Yönetimi</a></li>
                    <li><a href="#">Hakedişler</a></li>
                </ul>
            </div>

            <div class="page-actions">
                <button class="page-primary-btn" onclick="openModal('yeni-hakedis')"><i class="icon icon-new"></i>
                    {% trans 'Hakediş Ekle' %}</button>
            </div>
        </div>

        <div class="page-stats">
            <div class="page-stat">
            {% hakedistoplam_kalan santiyeler as bilgileri %}
                <div class="page-stat-info">
                    <div class="page-stat-icon">
                        <img src="{% static 'go/content/images/wallet.png' %}" alt="wallet">
                    </div>
                    <div class="page-stat-title">{% trans 'Toplam Hakediş' %} </div>
                </div>
                <div class="page-stat-value">$ {{bilgileri.toplam}}</div>
            </div>
            <div class="page-stat">
                <div class="page-stat-info">
                    <div class="page-stat-icon">
                        <img src="{% static 'go/content/images/wallet.png' %}" alt="wallet">
                    </div>
                    <div class="page-stat-title">{% trans 'Ödenmemiş Hakediş' %} </div>
                </div>
                <div class="page-stat-value">$ {{bilgileri.kalan}}</div>
            </div>
        </div>

        <div class="large-stats-card table-card table-detail-card">
            <div class="stats-header">
                <div class="stats-title">Hakedişler</div>
                <div class="stats-search">
                    <input type="text" name="stats-search" id="stats-search" placeholder="Ara">
                    <button><i class="icon icon-search"></i></button>
                </div>
            </div>

            <div class="table-wrapper">
                <table id="datatable">
                    <thead>
                        <tr>
                            <th>{% trans 'Taşeron' %}</th>
                            <th>{% trans 'Proje' %}</th>
                            <th>{% trans 'Açıklama' %}</th>
                            <th>{% trans 'Eklenme Tarihi' %}</th>
                            <th>{% trans 'Fatura Numarası' %}</th>
                            <th>{% trans 'Tutar' %}</th>
                            <th>{% trans 'Kalan' %}</th>
                            <th>{% trans 'İndir' %}</th>
                            <th>{% trans 'Aksiyon' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in santiyeler %}
                        <tr>
                            <td>{{i.proje_ait_bilgisi.taseron_adi}}</td>
                            <td>{{i.dosya_adi}}</td>
                            <td>{{ i.aciklama }}</td>
                            <td>{% if i.tarih %}
                                                        {{ i.tarih | date:'d.m.Y'}}
                                                    {% else %}
                                                    {{ i.kayit_tarihi | date:'d.m.Y'}}
                                                    {% endif %}</td>
                             <td>{{i.fatura_numarasi}}</td>
                            {% fatura_hakedis_baglama i.fatura_numarasi i.proje_ait_bilgisi.taseron_ait_bilgisi as bilgi %}
                    <td>$ {{bilgi.tutar}}</td>
                            <td>$ {{bilgi.kalan_tuar}}</td>
                            <td>
                                <div class="td-actions">
                                {% if i.dosya %}
                                <a href="{{i.dosya.url}}" class="status-info"><i class="icon icon-action-file"></i></a>
                    
                        {% else %}
                        {% endif %}
                                    
                                </div>
                            </td>
                            <td>
                                <div class="td-actions">
                               
                                    <a class="status-success" onclick="openModal('yeni-hakedis{{i.id}}')"><i class="icon icon-action-edit"></i></a>
                                    <a onclick="openModal('deleteConfirmationModal{{i.id}}')"  class="status-cancel"><i class="icon icon-action-delete"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <script>
            let datatable = new DataTable('#datatable', {
                paging: false,
                searching: true,
                info: false
            });


            $('#stats-search').keyup(function () {
                console.log($(this).val());
                datatable.search($(this).val()).draw();
            })
        </script>


    </main>
<div class="modal" id="yeni-hakedis">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                {% trans 'Yeni Hakediş Ekle' %}
            </div>
            <div class="modal-body">
                 <form autocomplete="off"class="tablelist-form" action="/{{dil}}{% url 'main:hakedis_ekle' %}"  method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="form-element">
                        <label for="taseron">{% trans 'Taşeron' %}</label>
                        <select class="form-control" name="taseron" id="taseron">
                                                {% for j in taseronlar %}
                                                    <option value="{{j.id}}">{{j.taseron_adi}}</option>
                                                {% endfor %}
                                                
                                                
                                            </select>
                        
                    </div>
                    <div class="form-element">
                        <label for="dosya-adi">{% trans 'Dosya Adı' %}</label>
                        <input type="text"  name="yetkili_adi" required id="dosya-adi"  placeholder="{% trans 'Dosya Adı' %}" />
                        
                    </div>
                    <div class="form-element">
                        <label for="tarih">Tarih</label>
                       <input name="tarih_bilgisi" type="date" id="tarih"   placeholder="{% trans 'Tarih' %}" required />
                    </div>
                    <div class="form-element">
                    
                        <label for="aciklama">Açıklama</label>
                        <textarea name="aciklama" id="aciklama" placeholder="{% trans 'Enter Description' %}" required></textarea>
                        
                    </div>
                    
                    <div class="form-row">
                        <div class="form-element">
                           <!-- <label for="tutar">Tutar</label>
                            <input type="text" name="tutar" id="tutar">-->
                        </div>
                        <div class="form-element">
                            <label for="fatura-no">Fatura No</label>
                            <input type="text"  name="fatura_no" id="fatura-no"  placeholder="{% trans 'Fatura No' %}" />
                        </div>
                    </div>
                    <div class="form-element">
                        <label for="sozlesme-yukle">Sözleşme Yükle</label>

                        <div class="file-input">
                            <label for="sozlesme-yukle">
                                <img src="{% static 'go/content/images/illustration-upload.png' %}">

                                <button><i class="icon icon-file"></i> Dosya Seç</button>
                            </label>

                            <input type="file" name="file" multiple="multiple"  name="file" id="sozlesme-yukle">
                        </div>

                        <ul class="fileList">
                        </ul>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Oluştur' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% for i in santiyeler %}
<div class="modal" id="yeni-hakedis{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                {% trans 'Yeni Hakediş Ekle' %}
            </div>
            <div class="modal-body">
                 <form autocomplete="off"class="tablelist-form" action="/{{dil}}{% url 'main:hakedis_duzenle' %}" method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}"/>
                    <div class="form-element">
                        <label for="taseron">{% trans 'Taşeron' %}</label>
                        <select class="form-control" name="taseron" id="taseron">
                       <option value="{{i.proje_ait_bilgisi.id}}">{{i.proje_ait_bilgisi.taseron_adi}}</option>
                                                {% for j in taseronlar %}
                                                    <option value="{{j.id}}">{{j.taseron_adi}}</option>
                                                {% endfor %}
                                                
                                                
                                            </select>
                        
                    </div>
                    <div class="form-element">
                        <label for="dosya-adi">{% trans 'Dosya Adı' %}</label>
                        <input type="text"  name="yetkili_adi"  required value="{{i.dosya_adi}}" id="dosya-adi"  placeholder="{% trans 'Dosya Adı' %}" />
                        
                    </div>
                    <div class="form-element">
                        <label for="tarih">Tarih</label>
                       <input name="tarih_bilgisi" type="date" value="{{i.tarih | date:'Y-m-d'}}" id="tarih"  placeholder="{% trans 'Tarih' %}" required />
                    </div>
                    <div class="form-element">
                    
                        <label for="aciklama">Açıklama</label>
                        <textarea name="aciklama" id="aciklama" placeholder="{% trans 'Enter Description' %}" required>{{i.aciklama}}</textarea>
                        
                    </div>
                    
                    <div class="form-row">
                        <div class="form-element">
                           <!-- <label for="tutar">Tutar</label>
                            <input type="text" name="tutar" id="tutar">-->
                        </div>
                        <div class="form-element">
                            <label for="fatura-no">Fatura No</label>
                            <input type="text" value="{{i.fatura_numarasi }}"  name="fatura_no" id="fatura-no"  placeholder="{% trans 'Fatura No' %}" />
                        </div>
                    </div>
                    <div class="form-element">
                        <label for="sozlesme-yukle">Sözleşme Yükle</label>

                        <div class="file-input">
                            <label for="sozlesme-yukle">
                                <img src="{% static 'go/content/images/illustration-upload.png' %}">

                                <button><i class="icon icon-file"></i> Dosya Seç</button>
                            </label>

                            <input type="file" name="file" multiple="multiple"  name="file" id="sozlesme-yukle">
                        </div>

                        <ul class="fileList">
                        </ul>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Hakedişi Düzenle' %}</button>
                    </div>
                </form>
            </div>
        </div>
</div>
<div class="modal" id="deleteConfirmationModal{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                <h2>{% trans 'Silmek İstediğinden Emin misin?' %}</h2>
            <p>{% trans 'silmek istediğinizden emin misiniz?' %}</p>
            </div>
            <div class="modal-body">
                 <form autocomplete="off"action="/{{dil}}{% url 'main:hakedis_silme' %}" method="post">
                                    {% csrf_token %}
                    <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}"/>
                    
                 
                    <div class="form-actions">
                                       <button type="submit" class="btn btn-danger" >{% trans 'Evet, Sil' %}</button>
                <button type="button" class="btn btn-secondary"  onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                    </div>
                </form>
            </div>
        </div>
</div>
{% endfor %}

  <script>
        function openModal(modalID) {
            closeModal();
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });

        $('input[type="file"]').on('change', function () {
            var files = $(this).prop('files');
            var formElement = $(this).closest('.form-element');
            var fileList = formElement.find('.fileList');
            fileList.empty();

            for (var i = 0; i < files.length; i++) {
                fileList.append('<li>' + files[i].name + '</li>');
            }
        });

    </script>


    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>
   
{% endblock sidebar %}