{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}

{% block sidebar %}
<div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Hakedişler</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Hakedişler</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">Tüm Hakedişler</h4>
                            </div><!-- end card header -->
                            <div class="card-body">
                                <div class="listjs-table" id="customerList">
                                    <div class="row g-4 mb-3">
                                        <div class="col-sm-auto">
                                            <div>
                                                <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i> Ekle</button>
                                                <button class="btn btn-soft-danger" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="d-flex justify-content-sm-end">
                                                <div class="search-box ms-2">
                                                    <form method="get">
                                                    <input type="text" name="search" class="form-control search" placeholder="Search...">
                                                    <i class="ri-search-line search-icon"></i>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive table-card mt-3 mb-1">
                                        <table class="table align-middle table-nowrap" id="customerTable">
                                            <thead class="table-light">
                                                <tr>
                                                    <th scope="col" style="width: 50px;">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                        </div>
                                                    </th>
                                                    {% if request.user.is_superuser %}
                                                        <th class="sort" data-sort="customer_name">Proje Kime Ait</th>
                                                    {% else %}
                                                    {% endif %}
                                                    <th class="sort" data-sort="email">Muhattap Taşeronlar Adı</th>
                                                    <th class="sort" data-sort="email">Dosya Adı</th>
                                                    <th class="sort" data-sort="phone">Tarihi</th>
                                                    <th class="sort" data-sort="date">Açıklama</th>
                                                    <th class="sort" data-sort="date">Durum</th>
                                                    <th class="sort" data-sort="date">Tutar</th>
                                                    <th class="sort" data-sort="date">Fatura Numarası</th>
                                                    <th class="sort" data-sort="date">Dosya</th>
                                                    <th class="sort" data-sort="date"></th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                            {% for i in santiyeler %}
                                                <tr style="{% if request.user.is_superuser %}{% if i.silinme_bilgisi %}background-color: grey;color: white; {% endif %} {% endif %}">
                                                    <th scope="row">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                                                        </div>
                                                    </th>
                                                    <td class="id" style="display:none; "><a href="javascript:void(0);" class="fw-medium link-primary"> </a></td>
                                                    {% if request.user.is_superuser %}
                                                        <td class="customer_name">{{i.proje_ait_bilgisi.taseron_ait_bilgisi.first_name}}
                                                    {% else %}
                                                    {% endif %}
                                                    
                                                    </td>
                                                    <td class="email">
                                                    {{i.proje_ait_bilgisi.taseron_adi}}</td>
                                                    <td class="email">
                                                    {{i.dosya_adi}}</td>
                                                    <td class="email">
                                                    {% if i.tarih %}
                                                        {{ i.tarih | date:'Y-m-d'}}
                                                    {% else %}
                                                    {{ i.kayit_tarihi | date:'Y-m-d'}}
                                                    {% endif %}
                                                    </td>
                                                    <td class="email">
                                                    {{ i.aciklama }} </td>
                                                    <td class="date">
                                                        {% if i.durum %}
                                                         Aktif
                                                        {% else %}
                                                        Pasif
                                                        {% endif %}
                                                        
                                                    
                                                    </td>
                                                    <td class="date">
                                                        {{i.tutar}}
                                                    
                                                    </td>
                                                    <td class="date">
                                                        {{i.fatura_numarasi}}
                                                    
                                                    </td>
                                                    
                                                    
                                                    <td class="date">
                                                        {% proje_dosyalarini i.id %}
                                                    
                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-start">
                                                            <div class="edit">
                                                                <button class="btn btn-sm btn-success edit-item-btn" data-bs-toggle="modal" data-bs-target="#showModal{{i.id}}">Edit</button>
                                                            </div>
                                                            
                                                            <div class="remove" style="margin-left:10px;">
                                                                <button class="btn btn-sm btn-danger remove-item-btn" data-bs-toggle="modal" data-bs-target="#deleteRecordModal{{i.id}}">Remove</button>
                                                            </div>
                                                           
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="noresult" style="display: none">
                                            <div class="text-center">
                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                                </lord-icon>
                                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                                <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any
                                                    orders for you search.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <div class="pagination-wrap hstack gap-2">
                                            <ul class="pagination pagination-m justify-content-center">

                                                {% if medya.has_previous %}
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">« Previous page</a></li>
                                                
                                                  {% if medya.number > 3 %}
                                                
                                                    <li class="page-item"><a class="page-link" href="?page=1{{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">1</a></li>
                                                    {% if medya.number > 4 %}
                                                      <li class="page-item"><span class="page-link">...</span></li>
                                                    {% endif %}
                                                  {% endif %}
                                                {% endif %}
                                                
                                                {% for num in medya.paginator.page_range %}
                                                  {% if medya.number == num %}
                                                    <li class="page-item"><a class="page-link " style="color:black;" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% elif num > medya.number|add:'-3' and num < medya.number|add:'3' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% endif %}
                                                {% endfor %}
                                                
                                                {% if medya.has_next %}
                                                  {% if medya.number < medya.paginator.num_pages|add:'-3' %}
                                                    <li class="page-item"><span class="page-link">...</span></li>
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% elif medya.number < medya.paginator.num_pages|add:'-2' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% endif %}
                                                
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next Page »</a></li>
                                                {% endif %}
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
                {% for i in santiyeler %}
                <div class="modal fade" id="showModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-light p-3">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                            </div>
                            <form class="tablelist-form" action="{% url 'main:hakedis_duzenle' %}" method="POST" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="mb-3" id="modal-id" style="display: none;">
                                        
                                        <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}"/>
                                    </div>

                                    {% if request.user.is_superuser %}
                                            
                                        {% else %}
                                        {% endif %}
    
                                        <div class="mb-3">
                                        <label for="customername-field" class="form-label">Taşeron</label>
                                        <select class="form-control" name="taseron" id="date-field">
                                            <option value="{{i.proje_ait_bilgisi.id}}">{{i.proje_ait_bilgisi.taseron_adi}}</option>
                                                {% for j in taseronlar %}
                                                    <option value="{{j.id}}">{{j.taseron_adi}}</option>
                                                {% endfor %}
                                                
                                                
                                            </select>
                                        <div class="invalid-feedback">Lütfen Taşeron Adını Boş Bırakmayınız.</div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="date-field" class="form-label">Dosya Adı</label>
                                        <input type="text" value="{{i.dosya_adi}}" name="yetkili_adi" id="date-field" class="form-control" placeholder="Dosya Adı" />
                                    </div>
                                    <div class="mb-3">
                                        <label for="date-field" class="form-label">Tarih</label>
                                        <input name="tarih_bilgisi" value="{{i.tarih | date:'Y-m-d'}}" type="date" id="date-field" class="form-control" placeholder="Select Date" required />
                                        <div class="invalid-feedback">Please select a date.</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email-field" class="form-label">Açıklama</label>
                                        <textarea name="aciklama"  class="form-control" placeholder="Enter Description" required>{{i.aciklama}}</textarea>
                                        <div class="invalid-feedback">Please enter an email.</div>
                                    </div>
                                    <div>
                                        <label for="status-field" class="form-label">Durum</label>
                                        <select name="durumu" class="form-control" data-trigger name="status-field" id="status-field" required>
                                            {% if i.durum %}
                                                <option value="1">Active</option>
                                            {% else %}
                                                <option value="0">Block</option>
                                            {% endif %}
                                            <option value="">Durum</option>
                                            <option value="1">Active</option>
                                            <option value="0">Block</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="status-field" class="form-label">Tutar</label>
                                        <input name="tutar" value="{{i.tutar | stringformat:'.2F' }}" step="0.01" type="number" id="date-field" class="form-control" placeholder="Select Date" required />
                                        <div class="invalid-feedback">Please select a date.</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="date-field" class="form-label">Fatura No</label>
                                        <input type="text"  value="{{i.fatura_numarasi }}" name="fatura_no" id="date-field" class="form-control" placeholder="Fatura No" />
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title mb-0">Dosya Yükle</h4>
                                                </div><!-- end card header -->
                                            
                                                <div class="card-body">
                                                    <p class="text-muted">Yüklemek istediğiniz dosyayı sürükle bırak yöntemi ile yada direk dosya seçerek yükleyebilirsiniz.</p>
                                                
                                                    <div class="dropzone">
                                                        <div class="fallback">
                                                            {% proje_dosyalarini_bilgi i.id  as veriler %}
                                                            <input name="file"  type="file" multiple="multiple">
                                                        </div>
                                                        <div class="dz-message needsclick">
                                                            <div class="mb-3">
                                                                <i class="display-4 text-muted ri-upload-cloud-2-fill"></i>
                                                            </div>
                                                        
                                                            <h4>Drop files here or click to upload.</h4>
                                                        </div>
                                                    </div>
                                                
                                                    <ul class="list-unstyled mb-0" id="dropzone-preview">
                                                        <li class="mt-2" id="dropzone-preview-list">
                                                            <!-- This is used as the file preview template -->
                                                            <div class="border rounded">
                                                                <div class="d-flex p-2">
                                                                    <div class="flex-shrink-0 me-3">
                                                                        <div class="avatar-sm bg-light rounded">
                                                                            <img data-dz-thumbnail class="img-fluid rounded d-block" src="assets/images/new-document.png" alt="Dropzone-Image" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-grow-1">
                                                                        <div class="pt-1">
                                                                            <h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
                                                                            <p class="fs-13 text-muted mb-0" data-dz-size></p>
                                                                            <strong class="error text-danger" data-dz-errormessage></strong>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-shrink-0 ms-3">
                                                                        <button data-dz-remove class="btn btn-sm btn-danger">Delete</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <!-- end dropzon-preview -->
                                                </div>
                                                <!-- end card body -->
                                            </div>
                                            <!-- end card -->
                                        </div> <!-- end col -->
                                    </div>
                                    {% if request.user.is_superuser %}
                                            <div class="mb-3">
                                            <label for="date-field" class="form-label">Proje Silinme Durumu</label>
                                            <select name="silinmedurumu"  class="form-control" id="">
                                                <option value="3">Karışma</option>
                                                <option value="2">Sil</option>
                                                {% if i.silinme_bilgisi %}
                                                    <option value="1">Geri Getir</option>
                                                {% else %}
                                                {% endif %}
                                                
                                            </select>
                                        </div>
                                        
                                        {% endif %}
                                        
                                    
                                </div>
                                <div class="modal-footer">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success" id="add-btn">Ekle</button>
                                        <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for i in santiyeler %}
                <!-- Modal -->
                <div class="modal fade zoomIn" id="deleteRecordModal{{i.id}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                            </div>
                            <div class="modal-body">
                                
                                <div class="mt-2 text-center">
                                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                        <h4>Are you Sure ?</h4>
                                        <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this Record ?</p>
                                    </div>
                                </div>
                                <form action="{% url 'main:hakedis_silme' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">
                                
                                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn w-sm btn-danger " id="delete-record">Yes, Delete It!</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--end modal -->
            </div>
        
        <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © {{site_adi.footer}}
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        

</div>
<div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-light p-3">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                            </div>
                            <form class="tablelist-form" action="{% url 'main:hakedis_ekle' %}"  method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class="modal-body">
                                    {% if request.user.is_superuser %}
                                        <div class="mb-3">
                                        <label for="date-field" class="form-label">Şantiye Seç</label>
                                        <select class="form-control" name="kullanici" id="date-field">
                                            {% for i in kullanicilar %}
                                                <option value="{{i.id}}">{{i.first_name}}</option>
                                            {% endfor %}
                                            
                                            
                                        </select>
                                    </div>
                                    {% else %}
                                    <div class="mb-3">
                                        <label for="customername-field" class="form-label">Taşeron</label>
                                        <select class="form-control" name="taseron" id="date-field">
                                                {% for j in taseronlar %}
                                                    <option value="{{j.id}}">{{j.taseron_adi}}</option>
                                                {% endfor %}
                                                
                                                
                                            </select>
                                        <div class="invalid-feedback">Lütfen Taşeron Adını Boş Bırakmayınız.</div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="date-field" class="form-label">Dosya Adı</label>
                                        <input type="text"  name="yetkili_adi" id="date-field" class="form-control" placeholder="Dosya Adı" />
                                    </div>
                                    <div class="mb-3">
                                        <label for="date-field" class="form-label">Tarih</label>
                                        <input name="tarih_bilgisi" type="date" id="date-field" class="form-control" placeholder="Select Date" required />
                                        <div class="invalid-feedback">Please select a date.</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email-field" class="form-label">Açıklama</label>
                                        <textarea name="aciklama" class="form-control" placeholder="Enter Description" required></textarea>
                                        <div class="invalid-feedback">Please enter an email.</div>
                                    </div>
                                    <div>
                                        <label for="status-field" class="form-label">Durum</label>
                                        <select name="durumu" class="form-control" data-trigger name="status-field" id="status-field" required>
                                            <option value="">Durum</option>
                                            <option value="Active">Active</option>
                                            <option value="Block">Block</option>
                                        </select>
                                    </div>
                                    <div>
                                        <label for="status-field" class="form-label">Tutar</label>
                                        <input name="tutar" value="0" step="0.01" type="number" id="date-field" class="form-control" placeholder="Select Date" required />
                                        <div class="invalid-feedback">Please select a date.</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="date-field" class="form-label">Fatura No</label>
                                        <input type="text"  name="fatura_no" id="date-field" class="form-control" placeholder="Fatura No" />
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4 class="card-title mb-0">Dosya Yükle</h4>
                                                </div><!-- end card header -->
                                            
                                                <div class="card-body">
                                                    <p class="text-muted">Yüklemek istediğiniz dosyayı sürükle bırak yöntemi ile yada direk dosya seçerek yükleyebilirsiniz.</p>
                                                
                                                    <div class="dropzone">
                                                        <div class="fallback">
                                                            <input name="file" type="file" multiple="multiple">
                                                        </div>
                                                        <div class="dz-message needsclick">
                                                            <div class="mb-3">
                                                                <i class="display-4 text-muted ri-upload-cloud-2-fill"></i>
                                                            </div>
                                                        
                                                            <h4>Drop files here or click to upload.</h4>
                                                        </div>
                                                    </div>
                                                
                                                    <ul class="list-unstyled mb-0" id="dropzone-preview">
                                                        <li class="mt-2" id="dropzone-preview-list">
                                                            <!-- This is used as the file preview template -->
                                                            <div class="border rounded">
                                                                <div class="d-flex p-2">
                                                                    <div class="flex-shrink-0 me-3">
                                                                        <div class="avatar-sm bg-light rounded">
                                                                            <img data-dz-thumbnail class="img-fluid rounded d-block" src="assets/images/new-document.png" alt="Dropzone-Image" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-grow-1">
                                                                        <div class="pt-1">
                                                                            <h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
                                                                            <p class="fs-13 text-muted mb-0" data-dz-size></p>
                                                                            <strong class="error text-danger" data-dz-errormessage></strong>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-shrink-0 ms-3">
                                                                        <button data-dz-remove class="btn btn-sm btn-danger">Delete</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <!-- end dropzon-preview -->
                                                </div>
                                                <!-- end card body -->
                                            </div>
                                            <!-- end card -->
                                        </div> <!-- end col -->
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success" id="add-btn">Ekle</button>
                                        <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


{% endblock sidebar %}
