{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% block sidebar %}
{% load static %}
{% if hash_bilgi %}
 <main>


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                    {% trans 'İlerleme Takibi' %}
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#">{% trans 'Şantiye Yönetimi' %}</a></li>
                    <li><a href="#">{% trans 'Proje Yönetimi' %}</a></li>
                    <li><a href="#">{% trans 'İlerleme Takibi' %}</a></li>
                </ul>
            </div>

        </div>
        <form autocomplete="off"action="/{{dil}}{% url 'main:ilerleme_kaydet_2' hashler %}" method="post">
        <div class="large-stats-card table-card table-detail-card">
            <div class="stats-header"> {% toplam_kalem_orani_toplami santiyeler as bilgi  %}
                <div class="stats-title">{% trans 'İlerleme Takibi' %} ( {{id.blog_adi}})</div>
                <div class="stats-right">
                    <div class="stats-info">{% trans 'Fiziksel Ağırlık:' %}  {{bilgi.a}}</div>
                    <div class="stats-info">{% trans 'Finansal Ağırlık:' %} {{bilgi.b}}</div>
                    <div class="stats-info" style="background-color: rgb(231, 62, 62);"><a style="text-decoration: none; color: white;" href="/{{dil}}{% url 'main:santiye_kalem_ve_blog' %}" type="button" class="btn btn-info btn-animation waves-effect waves-light"  data-text="Geri"><span>{% trans 'Geri' %}</span></a></div>
                {% if request.user.kullanicilar_db %}
                                                {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                                {% if yetki.ilerleme_takibi_duzenleme %}
                                                      
                                                    <button style="background-color: rgb(115, 115, 228);color: white;" type="submit" ><i class="ri-check-double-line label-icon align-middle fs-16 me-2"></i>{% trans 'Kaydet' %} </button>
                                                                                                
                                                {% else %}
                                                                                                                
                                                {% endif %}
                                                {% else %}
                                                <div style="background-color: rgb(115, 115, 228);color: white;"  class="stats-info">  
                                                <button style="background-color: rgb(115, 115, 228);color: white; border: 0px;" type="submit" ><i class="ri-check-double-line label-icon align-middle fs-16 me-2"></i>{% trans 'Kaydet' %} </button>
                                                </div>                              
                                                {% endif %}
                </div>
            
            </div>


            <div class="tab-navs tab-navs-right">
                <button class="tab-navs-btn active" type="button" data-tab="1-10-kat">{% trans '1-10 kat' %}</button>
                <button class="tab-navs-btn " type="button" data-tab="11-20-kat">{% trans '11-20 kat' %}</button>
                <button class="tab-navs-btn " type="button" data-tab="21-30-kat">{% trans '21-30 kat' %}</button>
                <button class="tab-navs-btn " type="button" data-tab="31-40-kat">{% trans '31-40 kat' %}</button>
                <button class="tab-navs-btn "  type="button" data-tab="41-50-kat">{% trans '41-50 kat' %}</button>
                <button class="tab-navs-btn " type="button" data-tab="51-60-kat">{% trans '51-60 kat' %}</button>
            </div>
            
                {% csrf_token %}
                <input type="text" hidden name="geri_don" value="{{id.id}}">
                <input type="text" hidden name="veri_cek" value="{{id.blog_adi}}{{id.blog_numarasi}}">
            <div class="tab-contents">

                <div class="tab-content active" id="1-10-kat">
                    <div class="table-wrapper">
                        <table id="1-10-kat-table">
                            <thead>
                                <tr>
                                    <th>{% trans 'Görev Adı' %}</th>
                                    <th>{% trans 'Fiziksel Ağırlık' %}</th>
                                    <th>{% trans 'Finansal Ağırlık' %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                           {% for i in santiyeler %} <input type="text" hidden name="tumbilgi" value="{% tum_bilgiler blog_id i.id  %}">
                                <tr>
                                    <td>{{i.kalem_adi}}</td>
                                    <td>{{i.santiye_agirligi}}</td>
                                    <td>{{i.santiye_finansal_agirligi}}</td>
                                    <td>
                                        <div class="progress-tracking">
                                          {% ckboxlar blog_id i.id 10 %}
          
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-contents">

                <div class="tab-content" id="11-20-kat">
                    <div class="table-wrapper">
                        <table id="11-20-kat-table">
                            <thead>
                                <tr>
                                    <th>{% trans 'Görev Adı' %}</th>
                                    <th>{% trans 'Fiziksel Ağırlık' %}</th>
                                    <th>{% trans 'Finansal Ağırlık' %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                           {% for i in santiyeler %} <input type="text" hidden name="tumbilgi" value="{% tum_bilgiler blog_id i.id  %}">
                                <tr>
                                    <td>{{i.kalem_adi}}</td>
                                    <td>{{i.santiye_agirligi}}</td>
                                    <td>{{i.santiye_finansal_agirligi}}</td>
                                    <td>
                                        <div class="progress-tracking">
                                          {% ckboxlar blog_id i.id 20 %}
          
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-contents">

                <div class="tab-content" id="21-30-kat">
                    <div class="table-wrapper">
                        <table id="21-30-kat-table">
                            <thead>
                                <tr>
                                    <th>{% trans 'Görev Adı' %}</th>
                                    <th>{% trans 'Fiziksel Ağırlık' %}</th>
                                    <th>{% trans 'Finansal Ağırlık' %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                           {% for i in santiyeler %} <input type="text" hidden name="tumbilgi" value="{% tum_bilgiler blog_id i.id  %}">
                                <tr>
                                    <td>{{i.kalem_adi}}</td>
                                    <td>{{i.santiye_agirligi}}</td>
                                    <td>{{i.santiye_finansal_agirligi}}</td>
                                    <td>
                                        <div class="progress-tracking">
                                          {% ckboxlar blog_id i.id 30 %}
          
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-contents">

                <div class="tab-content" id="31-40-kat">
                    <div class="table-wrapper">
                        <table id="31-40-kat-table">
                            <thead>
                                <tr>
                                    <th>{% trans 'Görev Adı' %}</th>
                                    <th>{% trans 'Fiziksel Ağırlık' %}</th>
                                    <th>{% trans 'Finansal Ağırlık' %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                           {% for i in santiyeler %} <input type="text" hidden name="tumbilgi" value="{% tum_bilgiler blog_id i.id  %}">
                                <tr>
                                    <td>{{i.kalem_adi}}</td>
                                    <td>{{i.santiye_agirligi}}</td>
                                    <td>{{i.santiye_finansal_agirligi}}</td>
                                    <td>
                                        <div class="progress-tracking">
                                          {% ckboxlar blog_id i.id 40 %}
          
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-contents">

                <div class="tab-content" id="41-50-kat">
                    <div class="table-wrapper">
                        <table id="41-50-kat-table">
                            <thead>
                                <tr>
                                    <th>{% trans 'Görev Adı' %}</th>
                                    <th>{% trans 'Fiziksel Ağırlık' %}</th>
                                    <th>{% trans 'Finansal Ağırlık' %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                           {% for i in santiyeler %} <input type="text" hidden name="tumbilgi" value="{% tum_bilgiler blog_id i.id  %}">
                                <tr>
                                    <td>{{i.kalem_adi}}</td>
                                    <td>{{i.santiye_agirligi}}</td>
                                    <td>{{i.santiye_finansal_agirligi}}</td>
                                    <td>
                                        <div class="progress-tracking">
                                          {% ckboxlar blog_id i.id 50 %}
          
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-contents">

                <div class="tab-content" id="51-60-kat">
                    <div class="table-wrapper">
                        <table id="51-60-kat-table">
                            <thead>
                                <tr>
                                    <th>{% trans 'Görev Adı' %}</th>
                                    <th>{% trans 'Fiziksel Ağırlık' %}</th>
                                    <th>{% trans 'Finansal Ağırlık' %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                           {% for i in santiyeler %} <input type="text" hidden name="tumbilgi" value="{% tum_bilgiler blog_id i.id  %}">
                                <tr>
                                    <td>{{i.kalem_adi}}</td>
                                    <td>{{i.santiye_agirligi}}</td>
                                    <td>{{i.santiye_finansal_agirligi}}</td>
                                    <td>
                                        <div class="progress-tracking">
                                          {% ckboxlar blog_id i.id 60 %}
          
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <script>
                $(".tab-navs-btn").on("click", function () {
                    $(".tab-navs-btn").removeClass("active");
                    $(".tab-content").removeClass("active");

                    $(this).addClass("active");
                    $("#" + $(this).attr("data-tab")).addClass("active");
                })
            </script>

        </div>
        </form>
        <script>
            let kat_1_10 = new DataTable('#1-10-kat-table', {
                paging: false,
                searching: false,
                info: false
            });
            let kat_11_20 = new DataTable('#11-20-kat-table', {
                paging: false,
                searching: false,
                info: false
            });
            let kat_21_30 = new DataTable('#21-30-kat-table', {
                paging: false,
                searching: false,
                info: false
            });
            let kat_31_40 = new DataTable('#31-40-kat-table', {
                paging: false,
                searching: false,
                info: false
            });
            let kat_41_50 = new DataTable('#41-50-kat-table', {
                paging: false,
                searching: false,
                info: false
            });
            let kat_51_60 = new DataTable('#51-60-kat-table', {
                paging: false,
                searching: false,
                info: false
            });
        </script>


    </main>
{% else %}
 <main>


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                    {% trans 'İlerleme Takibi' %}
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="#">{% trans 'Şantiye Yönetimi' %}</a></li>
                    <li><a href="#">{% trans 'Proje Yönetimi' %}</a></li>
                    <li><a href="#">{% trans 'İlerleme Takibi' %}</a></li>
                </ul>
            </div>

        </div>
        <form autocomplete="off"action="/{{dil}}{% url 'main:ilerleme_kaydet' %}" method="post">
        <div class="large-stats-card table-card table-detail-card">
            <div class="stats-header"> {% toplam_kalem_orani_toplami santiyeler as bilgi  %}
                <div class="stats-title">{% trans 'İlerleme Takibi' %} ( {{id.blog_adi}})</div>
                <div class="stats-right">
                    <div class="stats-info">{% trans 'Fiziksel Ağırlık:' %}  {{bilgi.a}}</div>
                    <div class="stats-info">{% trans 'Finansal Ağırlık:' %} {{bilgi.b}}</div>
                    <div class="stats-info" style="background-color: rgb(231, 62, 62);"><a style="text-decoration: none; color: white;" href="/{{dil}}{% url 'main:santiye_kalem_ve_blog' %}" type="button" class="btn btn-info btn-animation waves-effect waves-light"  data-text="Geri"><span>{% trans 'Geri' %}</span></a></div>
                {% if request.user.kullanicilar_db %}
                                                {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                                {% if yetki.ilerleme_takibi_duzenleme %}
                                                      
                                                    <button style="background-color: rgb(115, 115, 228);color: white;" type="submit" ><i class="ri-check-double-line label-icon align-middle fs-16 me-2"></i>{% trans 'Kaydet' %} </button>
                                                                                                
                                                {% else %}
                                                                                                                
                                                {% endif %}
                                                {% else %}
                                                <div style="background-color: rgb(115, 115, 228);color: white;"  class="stats-info">  
                                                <button style="background-color: rgb(115, 115, 228);color: white; border: 0px;" type="submit" ><i class="ri-check-double-line label-icon align-middle fs-16 me-2"></i>{% trans 'Kaydet' %} </button>
                                                </div>                              
                                                {% endif %}
                </div>
            
            </div>


            <div class="tab-navs tab-navs-right">
                <button class="tab-navs-btn active" type="button" data-tab="1-10-kat">{% trans '1-10 kat' %}</button>
                <button class="tab-navs-btn " type="button" data-tab="11-20-kat">{% trans '11-20 kat' %}</button>
                <button class="tab-navs-btn " type="button" data-tab="21-30-kat">{% trans '21-30 kat' %}</button>
                <button class="tab-navs-btn " type="button" data-tab="31-40-kat">{% trans '31-40 kat' %}</button>
                <button class="tab-navs-btn "  type="button" data-tab="41-50-kat">{% trans '41-50 kat' %}</button>
                <button class="tab-navs-btn " type="button" data-tab="51-60-kat">{% trans '51-60 kat' %}</button>
            </div>
            
                {% csrf_token %}
                <input type="text" hidden name="geri_don" value="{{id.id}}">
                <input type="text" hidden name="veri_cek" value="{{id.blog_adi}}{{id.blog_numarasi}}">
            <div class="tab-contents">

                <div class="tab-content active" id="1-10-kat">
                    <div class="table-wrapper">
                        <table id="1-10-kat-table">
                            <thead>
                                <tr>
                                    <th>{% trans 'Görev Adı' %}</th>
                                    <th>{% trans 'Fiziksel Ağırlık' %}</th>
                                    <th>{% trans 'Finansal Ağırlık' %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                           {% for i in santiyeler %} <input type="text" hidden name="tumbilgi" value="{% tum_bilgiler blog_id i.id  %}">
                                <tr>
                                    <td>{{i.kalem_adi}}</td>
                                    <td>{{i.santiye_agirligi}}</td>
                                    <td>{{i.santiye_finansal_agirligi}}</td>
                                    <td>
                                        <div class="progress-tracking">
                                          {% ckboxlar blog_id i.id 10 %}
          
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-contents">

                <div class="tab-content" id="11-20-kat">
                    <div class="table-wrapper">
                        <table id="11-20-kat-table">
                            <thead>
                                <tr>
                                    <th>{% trans 'Görev Adı' %}</th>
                                    <th>{% trans 'Fiziksel Ağırlık' %}</th>
                                    <th>{% trans 'Finansal Ağırlık' %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                           {% for i in santiyeler %} <input type="text" hidden name="tumbilgi" value="{% tum_bilgiler blog_id i.id  %}">
                                <tr>
                                    <td>{{i.kalem_adi}}</td>
                                    <td>{{i.santiye_agirligi}}</td>
                                    <td>{{i.santiye_finansal_agirligi}}</td>
                                    <td>
                                        <div class="progress-tracking">
                                          {% ckboxlar blog_id i.id 20 %}
          
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-contents">

                <div class="tab-content" id="21-30-kat">
                    <div class="table-wrapper">
                        <table id="21-30-kat-table">
                            <thead>
                                <tr>
                                    <th>{% trans 'Görev Adı' %}</th>
                                    <th>{% trans 'Fiziksel Ağırlık' %}</th>
                                    <th>{% trans 'Finansal Ağırlık' %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                           {% for i in santiyeler %} <input type="text" hidden name="tumbilgi" value="{% tum_bilgiler blog_id i.id  %}">
                                <tr>
                                    <td>{{i.kalem_adi}}</td>
                                    <td>{{i.santiye_agirligi}}</td>
                                    <td>{{i.santiye_finansal_agirligi}}</td>
                                    <td>
                                        <div class="progress-tracking">
                                          {% ckboxlar blog_id i.id 30 %}
          
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-contents">

                <div class="tab-content" id="31-40-kat">
                    <div class="table-wrapper">
                        <table id="31-40-kat-table">
                            <thead>
                                <tr>
                                    <th>{% trans 'Görev Adı' %}</th>
                                    <th>{% trans 'Fiziksel Ağırlık' %}</th>
                                    <th>{% trans 'Finansal Ağırlık' %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                           {% for i in santiyeler %} <input type="text" hidden name="tumbilgi" value="{% tum_bilgiler blog_id i.id  %}">
                                <tr>
                                    <td>{{i.kalem_adi}}</td>
                                    <td>{{i.santiye_agirligi}}</td>
                                    <td>{{i.santiye_finansal_agirligi}}</td>
                                    <td>
                                        <div class="progress-tracking">
                                          {% ckboxlar blog_id i.id 40 %}
          
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-contents">

                <div class="tab-content" id="41-50-kat">
                    <div class="table-wrapper">
                        <table id="41-50-kat-table">
                            <thead>
                                <tr>
                                    <th>{% trans 'Görev Adı' %}</th>
                                    <th>{% trans 'Fiziksel Ağırlık' %}</th>
                                    <th>{% trans 'Finansal Ağırlık' %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                           {% for i in santiyeler %} <input type="text" hidden name="tumbilgi" value="{% tum_bilgiler blog_id i.id  %}">
                                <tr>
                                    <td>{{i.kalem_adi}}</td>
                                    <td>{{i.santiye_agirligi}}</td>
                                    <td>{{i.santiye_finansal_agirligi}}</td>
                                    <td>
                                        <div class="progress-tracking">
                                          {% ckboxlar blog_id i.id 50 %}
          
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-contents">

                <div class="tab-content" id="51-60-kat">
                    <div class="table-wrapper">
                        <table id="51-60-kat-table">
                            <thead>
                                <tr>
                                    <th>{% trans 'Görev Adı' %}</th>
                                    <th>{% trans 'Fiziksel Ağırlık' %}</th>
                                    <th>{% trans 'Finansal Ağırlık' %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                           {% for i in santiyeler %} <input type="text" hidden name="tumbilgi" value="{% tum_bilgiler blog_id i.id  %}">
                                <tr>
                                    <td>{{i.kalem_adi}}</td>
                                    <td>{{i.santiye_agirligi}}</td>
                                    <td>{{i.santiye_finansal_agirligi}}</td>
                                    <td>
                                        <div class="progress-tracking">
                                          {% ckboxlar blog_id i.id 60 %}
          
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <script>
                $(".tab-navs-btn").on("click", function () {
                    $(".tab-navs-btn").removeClass("active");
                    $(".tab-content").removeClass("active");

                    $(this).addClass("active");
                    $("#" + $(this).attr("data-tab")).addClass("active");
                })
            </script>

        </div>
        </form>
        <script>
            let kat_1_10 = new DataTable('#1-10-kat-table', {
                paging: false,
                searching: false,
                info: false
            });
            let kat_11_20 = new DataTable('#11-20-kat-table', {
                paging: false,
                searching: false,
                info: false
            });
            let kat_21_30 = new DataTable('#21-30-kat-table', {
                paging: false,
                searching: false,
                info: false
            });
            let kat_31_40 = new DataTable('#31-40-kat-table', {
                paging: false,
                searching: false,
                info: false
            });
            let kat_41_50 = new DataTable('#41-50-kat-table', {
                paging: false,
                searching: false,
                info: false
            });
            let kat_51_60 = new DataTable('#51-60-kat-table', {
                paging: false,
                searching: false,
                info: false
            });
        </script>


    </main>
{% endif %}
  

{% endblock sidebar %}

