{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% block sidebar %}
<div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">İlerleme Takibi</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">İlerleme Takibi</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">İlerleme Takibi</h4>
                                <h5><b>Blog : </b> {{id.blog_adi}}</h5>
                            </div><!-- end card header -->
                        <form autocomplete="off"action="/{{dil}}{% url 'main:ilerleme_kaydet' %}" method="post">
                            {% csrf_token %}
                            <input type="text" hidden name="geri_don" value="{{id.id}}">
                            <input type="text" hidden name="veri_cek" value="{{id.blog_adi}}{{id.blog_numarasi}}">
                            <div class="card-body">
                                <div class="listjs-table" id="customerList">
                                    <div class="row g-4 mb-3">
                                        <div class="col-sm-auto">

                                        </div>
                                        <div class="col-sm">
                                        <div class="d-flex justify-content-sm-start">
                                            {% toplam_kalem_orani_toplami santiyeler as bilgi  %}
                                                        <div class="back-button-container">
                                                            <span>Fiziksel Ağırlık : {{bilgi.a}}</span>
                                                </div>
                                                <div class="search-box ms-2">
                                                    <span>Finansal Ağırlık : {{bilgi.b}}</span>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-sm-end">
                                                        <div class="back-button-container">
                                                    <a href="/{{dil}}{% url 'main:santiye_kalem_ve_blog' %}" type="button" class="btn btn-info btn-animation waves-effect waves-light"  data-text="Geri"><span>Geri</span></a>
                                                </div>
                                                {% if request.user.kullanicilar_db %}
                                                {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                                {% if yetki.ilerleme_takibi_duzenleme %}
                                                       <div class="search-box ms-2">
                                                    <button type="submit" class="btn btn-success btn-label waves-effect waves-light"><i class="ri-check-double-line label-icon align-middle fs-16 me-2"></i> Kaydet</button>
                                                </div>                                                 
                                                {% else %}
                                                                                                                
                                                {% endif %}
                                                {% else %}
                                                      <div class="search-box ms-2">
                                                    <button type="submit" class="btn btn-success btn-label waves-effect waves-light"><i class="ri-check-double-line label-icon align-middle fs-16 me-2"></i> Kaydet</button>
                                                </div>                                                  
                                                {% endif %}
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive table-card mt-3 mb-1">
                                        <table class="ilerleme-table table align-middle table-nowrap" id="customerTable">
                                            <thead class="text-muted">
                                                <tr>
                                                    <th scope="col" style="width: 50px;">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                        </div>
                                                    </th>
                                                    <th class="text-uppercase&quot;" data-sort="mission_name">
                                                        Görev Adı</th>
                                                    <th class="text-uppercase&quot;" data-sort="mission_name">
                                                        Fiziksel Ağırlığı</th>
                                                    <th class="text-uppercase&quot;" data-sort="mission_name">
                                                        Finansal Ağırlığı</th>



                                                    {% kat_sirala id %}


                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                            {% for i in santiyeler %}
                                            <input type="text" hidden name="tumbilgi" value="{% tum_bilgiler blog_id i.id  %}">

                                                <tr>
                                                    <th scope="row">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                                                        </div>
                                                    </th>
                                                    <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">#VZ2101</a></td>
                                                    <td class="mission_name">{{i.kalem_adi}}</td>
                                                    <td class="mission_name">{{i.santiye_agirligi}}</td>
                                                    <td class="mission_name">{{i.santiye_finansal_agirligi}}</td>

                                                    {% ckboxlar blog_id i.id %}
                                                </tr></tbody>
                                        {% endfor %}
                                        </table>
                                        <div class="noresult" style="display: none">
                                            <div class="text-center">
                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                                </lord-icon>
                                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                                <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any
                                                    orders for you search.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                         <div class="pagination-wrap hstack gap-2">
                                            <ul class="pagination pagination-m justify-content-center">

                                                {% if medya.has_previous %}
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">« Previous page</a></li>

                                                  {% if medya.number > 3 %}

                                                    <li class="page-item"><a class="page-link" href="?page=1{{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">1</a></li>
                                                    {% if medya.number > 4 %}
                                                      <li class="page-item"><span class="page-link">...</span></li>
                                                    {% endif %}
                                                  {% endif %}
                                                {% endif %}

                                                {% for num in medya.paginator.page_range %}
                                                  {% if medya.number == num %}
                                                    <li class="page-item"><a class="page-link " style="color:black;" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% elif num > medya.number|add:'-3' and num < medya.number|add:'3' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% endif %}
                                                {% endfor %}

                                                {% if medya.has_next %}
                                                  {% if medya.number < medya.paginator.num_pages|add:'-3' %}
                                                    <li class="page-item"><span class="page-link">...</span></li>
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% elif medya.number < medya.paginator.num_pages|add:'-2' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% endif %}

                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next Page »</a></li>
                                                {% endif %}
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </form>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
        <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © {{site_adi.footer}}
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">

                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>


</div>

{% endblock sidebar %}

