{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}

{% block sidebar %}

<main>
    <div class="page-header">
        <div class="page-info">
            <div class="page-title">
                <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                {% trans 'Ayarlar' %}
            </div>
            <ul class="page-breadcrumb">
                <li><a href="#">{% trans 'Dashboard' %}</a></li>
                <li><a href="#">{% trans 'Şantiye Ayarları' %}</a></li>
                <li><a href="#">{% trans 'Tümü' %}</a></li>
            </ul>
        </div>

        <div class="page-actions">
            {% if request.user.kullanicilar_db %}
                {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                {% if yetki.santiye_olusturma %}
                    <button class="page-primary-btn"><i class="icon icon-new"></i>{% trans 'Yeni Şantiye Ekle' %}</button>
                {% endif %}
            {% else %}
                <button class="page-primary-btn"><i class="icon icon-new"></i>{% trans 'Yeni Şantiye Ekle' %}</button>
            {% endif %}
        </div>
    </div>

    <div class="large-stats-card table-card table-detail-card">
        <div class="stats-header">
            <div class="stats-title">{% trans 'Tümü' %}</div>
            <div class="stats-right">
                <div class="stats-search">
                    <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                    <button><i class="icon icon-search"></i></button>
                </div>
            </div>
        </div>

        <div class="tab-navs santiyeler-tab">
            <button class="tab-navs-btn active" data-tab="santiyeler">{% trans 'Şantiyeler' %}</button>
            <button class="tab-navs-btn" disabled data-tab="yapilar">{% trans 'Yapılar' %}</button>
            <button class="tab-navs-btn" disabled data-tab="kalemler">{% trans 'Kalemler' %}</button>
        </div>

        <div class="tab-contents">
            <div class="tab-content active" id="santiyeler">
                <div class="table-wrapper">
                    <table id="santiyeler-table">
                        <thead>
                            <tr>
                                <th>{% trans 'Proje Kime Ait' %}</th>
                                <th>{% trans 'Şantiye' %}</th>
                                <th>{% trans 'Proje Tipi' %}</th>
                                <th>{% trans 'Yapılar' %}</th>
                                <th>{% trans 'Kalemler' %}</th>
                                <th>{% trans 'Durum' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in santiyeler %}
                            <tr>
                                <td>{{i.proje_ait_bilgisi.first_name}}</td>
                                <td>{{i.proje_adi}}</td>
                                <td>{{i.proje_tipi.Proje_tipi_adi}}</td>
                                <td>
                                    +{% bloglar_getir i %}
                                    <div class="td-actions">
                                        <a href="#" class="status-info stats-lg"><i class="icon icon-add"></i> Yapı Ekle</a>
                                    </div>
                                </td>
                                <td>
                                    + {% kalemler_getir i %}
                                    <div class="td-actions">
                                        <a onclick="openModal('yeni-kalem-hesap')" class="status-info stats-lg"><i class="icon icon-add"></i> Kalem Ekle</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="td-actions">
                                        <a href="#" class="status-success"><i class="icon icon-action-edit"></i></a>
                                        <a href="#" class="status-cancel"><i class="icon icon-action-delete"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-content" id="yapilar">...</div>
            <div class="tab-content" id="kalemler">...</div>
        </div>
    </div>


    <script>
        $(document).ready(function() {
            let santiyeler_table = $('#santiyeler-table').DataTable({
                dom: 'Bfrtip',
                paging: false,
                searching: true,
                info: false,
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            });

            $('#stats-search').keyup(function () {
                santiyeler_table.search($(this).val()).draw();
            });

            $("#santiyeler-table tr").on("click", function () {
                $(".tab-navs-btn:not(.active)").attr("disabled", false);
                $("#santiyeler-table tr").removeClass("selected");
                $(this).addClass("selected");
            });
        });
    </script>
</main>

    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });


    </script>


    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>
{% endblock sidebar %}
