{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% block sidebar %}
<div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Şantiyeler</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Projeler</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">İlerleme Takibi</h4>
                            </div><!-- end card header -->
                            <div class="card-body">
                                <div class="listjs-table" id="customerList">
                                    <div class="row g-4 mb-3">
                                        <div class="col-sm-auto">
                                            <div>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="d-flex justify-content-sm-end">
                                                <div class="search-box ms-2">
                                                    <form method="get">
                                                    <input type="text" name="search" class="form-control search" placeholder="Search...">
                                                    <i class="ri-search-line search-icon"></i>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive table-card mt-3 mb-1">
                                        <table class="table align-middle table-nowrap" id="customerTable">
                                            <thead class="table-light">
                                                <tr>
                                                    <th scope="col" style="width: 50px;">
                                                        <div class="form-check">
                                                          
                                                        </div>
                                                    </th>
                                                    <th class="sort" data-sort="customer_name">Proje Kime Ait</th>
                                                    <th class="sort" data-sort="email">Proje Tipi > Proje Adı > Kat Sayısı</th>
                                                    <th class="sort" data-sort="date">Blog İlerleme Takibi </th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                            {% for i in santiyeler %}
                                                <tr style= "{% if request.user.is_superuser %}{% if i.silinme_bilgisi %}background-color: grey;color: white; {% endif %} {% endif %}">
                                                    <th scope="row">
                                                        <div class="form-check">
                                                         
                                                        </div>
                                                    </th>
                                                    <td class="id" style="display:none; "><a href="javascript:void(0);" class="fw-medium link-primary"> </a></td>
                                                    <td class="customer_name">{{i.proje_ait_bilgisi.first_name}}
                                                    </td>
                                                    <td class="email">
                                                    {{i.proje_tipi.Proje_tipi_adi}} > {{i.proje_adi}} > {% to_int i.kat_sayisi %}</td>
                                                    
                                                    <td class="date">
                                                    <b>{{i.blog_sayisi}} :  </b>
                                                        
                                                        {% blogtan_kaleme_ilerleme i.id %}
                                                    
                                                    </td>
                                                 
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="noresult" style="display: none">
                                            <div class="text-center">
                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                                </lord-icon>
                                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                                <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any
                                                    orders for you search.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <div class="pagination-wrap hstack gap-2">
                                            <ul class="pagination pagination-m justify-content-center">

                                                {% if medya.has_previous %}
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">« Previous page</a></li>
                                                
                                                  {% if medya.number > 3 %}
                                                
                                                    <li class="page-item"><a class="page-link" href="?page=1{{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">1</a></li>
                                                    {% if medya.number > 4 %}
                                                      <li class="page-item"><span class="page-link">...</span></li>
                                                    {% endif %}
                                                  {% endif %}
                                                {% endif %}
                                                
                                                {% for num in medya.paginator.page_range %}
                                                  {% if medya.number == num %}
                                                    <li class="page-item"><a class="page-link " style="color:black;" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% elif num > medya.number|add:'-3' and num < medya.number|add:'3' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% endif %}
                                                {% endfor %}
                                                
                                                {% if medya.has_next %}
                                                  {% if medya.number < medya.paginator.num_pages|add:'-3' %}
                                                    <li class="page-item"><span class="page-link">...</span></li>
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% elif medya.number < medya.paginator.num_pages|add:'-2' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% endif %}
                                                
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next Page »</a></li>
                                                {% endif %}
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->


            </div>
        <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © {{site_adi.footer}}
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        

</div>

{% endblock sidebar %}

