{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% block sidebar %}
<div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Şantiye Kalemleri</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Şantiye Kalemleri</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">Şantiye Kalemleri</h4>
                            </div><!-- end card header -->
                            <div class="card-body">
                                <div class="listjs-table" id="customerList">
                                    <div class="row g-4 mb-3">
                                        <div class="col-sm-auto">
                                            <div>
                                                <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i> Ekle</button>
                                                <button class="btn btn-soft-danger" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="d-flex justify-content-sm-end">
                                                <div class="search-box ms-2">
                                                    <form method="get">
                                                    <input type="text" value="{% if request.GET.search %}{{ request.GET.search }}{% endif %}" name="search" class="form-control search" placeholder="Search...">
                                                    <i class="ri-search-line search-icon"></i>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive table-card mt-3 mb-1">
                                        <table class="table align-middle table-nowrap" id="customerTable">
                                            <thead class="table-light">
                                                <tr>
                                                    <th scope="col" style="width: 50px;">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                        </div>
                                                    </th>
                                                    <th class="sort" data-sort="customer_name">Şantiye Adı</th>
                                                    <th class="sort" data-sort="email">Şantiye Adı </th>
                                                    <th class="sort" data-sort="email">Kalem Adı </th>
                                                    <th class="sort" data-sort="phone">Şantiye Ağırlığı</th>
                                                    <th class="sort" data-sort="phone">Finansal Ağırlığı</th>
                                                    <th class="sort" data-sort="phone">Birim</th>
                                                    <th class="sort" data-sort="phone">Metraj</th>
                                                    <th class="sort" data-sort="phone">Tutar</th>
                                                    <th class="sort" data-sort="phone">Yapı Bilgisi</th>
                                                    <th class="sort" data-sort="date">Kayıt Tarihi </th>
                                                    <th class="sort" data-sort="date">Durum</th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                            {% for i in santiyeler %}
                                                <tr style= "{% if request.user.is_superuser %}{% if i.silinme_bilgisi %}background-color: grey;color: white; {% endif %} {% endif %}">
                                                    <th scope="row">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                                                        </div>
                                                    </th>
                                                    <td class="id" style="display:none; "><a href="javascript:void(0);" class="fw-medium link-primary"> </a></td>
                                                    <td class="customer_name">{{i.proje_ait_bilgisi.first_name}}
                                                    </td>
                                                    <td class="customer_name">{{i.proje_santiye_Ait.proje_adi}}
                                                    </td>
                                                    <td class="email">
                                                    {{i.kalem_adi}}</td>
                                                    <td class="date">
                                                        {{i.santiye_agirligi}}

                                                    </td>
                                                    <td class="date">

                                                    {{i.santiye_finansal_agirligi}}
                                                    </td>
                                                     <td class="date">

                                                    {{i.birimi.Proje_tipi_adi}}
                                                    </td>
                                                     <td class="date">

                                                    {{i.metraj}}
                                                    </td>
                                                     <td class="date">

                                                    {{i.tutari}}
                                                    </td>

                                                    <td class="date">

                                                    {% kalem_blog  i.id %}
                                                    </td>
                                                    <td class="date">
                                                    <b>{{i.kayit_tarihi}}  </b>



                                                    </td>
                                                    <td>
                                                        <div class="d-flex justify-content-start">

                                                            <div class="edit">
                                                                <button class="btn btn-sm btn-success edit-item-btn" data-bs-toggle="modal" data-bs-target="#showModal{{i.id}}">Edit</button>
                                                            </div>

                                                            <div class="remove" style="margin-left:10px;">
                                                                <button class="btn btn-sm btn-danger remove-item-btn" data-bs-toggle="modal" data-bs-target="#deleteRecordModal{{i.id}}">Remove</button>
                                                            </div>

                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="noresult" style="display: none">
                                            <div class="text-center">
                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                                </lord-icon>
                                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                                <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any
                                                    orders for you search.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <div class="pagination-wrap hstack gap-2">
                                            <ul class="pagination pagination-m justify-content-center">

                                                {% if medya.has_previous %}
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">« Previous page</a></li>

                                                  {% if medya.number > 3 %}

                                                    <li class="page-item"><a class="page-link" href="?page=1{{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">1</a></li>
                                                    {% if medya.number > 4 %}
                                                      <li class="page-item"><span class="page-link">...</span></li>
                                                    {% endif %}
                                                  {% endif %}
                                                {% endif %}

                                                {% for num in medya.paginator.page_range %}
                                                  {% if medya.number == num %}
                                                    <li class="page-item"><a class="page-link " style="color:black;" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% elif num > medya.number|add:'-3' and num < medya.number|add:'3' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% endif %}
                                                {% endfor %}

                                                {% if medya.has_next %}
                                                  {% if medya.number < medya.paginator.num_pages|add:'-3' %}
                                                    <li class="page-item"><span class="page-link">...</span></li>
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% elif medya.number < medya.paginator.num_pages|add:'-2' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% endif %}

                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next Page »</a></li>
                                                {% endif %}
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
                {% for i in santiyeler %}
                <div class="modal fade" id="showModal{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-light p-3">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                            </div>
                            <form class="tablelist-form" action="{% url 'main:santiye_kalemleri_duzenle' %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="mb-3" id="modal-id" style="display: none;">
                                        <input type="hidden" id="buttonIdInput" name="geri_don" value="{{i.proje_santiye_Ait.id}}">
                                        <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}"/>
                                    </div>

                                    <div class="mb-3">
                                            <label for="date-field" class="form-label">Kalem Adı</label>
                                            <input type="text" value="{{i.kalem_adi}}"   name="yetkili_adi" id="date-field" class="form-control" placeholder="Kalem Adı" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">Şantiye Ağırlığı</label>
                                            <input type="number" value="{{i.santiye_agirligi | stringformat:'.2F'  }}"  name="katsayisi" id="date-field" class="form-control" placeholder="Şantiye Ağırlığı" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">Finansal Ağırlığı</label>
                                            <input type="number" value="{{i.santiye_finansal_agirligi | stringformat:'.2F'  }}"  name="blogsayisi" id="date-field" class="form-control" placeholder="Fİnansal Ağırlığı" />
                                        </div>
                                        {% if  request.user.is_superuser %}
                                            <div class="mb-3">
                                            <label for="date-field" class="form-label">Proje Silinme Durumu</label>
                                            <select name="silinmedurumu"  class="form-control" id="">
                                                <option value="3">Karışma</option>
                                                <option value="2">Sil</option>
                                                {% if i.silinme_bilgisi %}
                                                    <option value="1">Geri Getir</option>
                                                {% else %}
                                                {% endif %}

                                            </select>
                                        </div>
                                        {% else %}
                                        {% endif %}


                                </div>
                                <div class="modal-footer">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success" id="add-btn">Ekle</button>
                                        <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for i in santiyeler %}
                <!-- Modal -->
                <div class="modal fade zoomIn" id="deleteRecordModal{{i.id}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="mt-2 text-center">
                                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                        <h4>Are you Sure ?</h4>
                                        <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this Record ?</p>
                                    </div>
                                </div>
                                <form action="{% url 'main:kalem_sil' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="buttonIdInput" name="geri_don" value="{{i.proje_santiye_Ait.id}}">
                                    <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">

                                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn w-sm btn-danger " id="delete-record">Yes, Delete It!</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!--end modal -->
            </div>
        <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © {{site_adi.footer}}
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">

                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>


</div>
<div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-light p-3">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                            </div>
                            <form class="tablelist-form" action="{% url 'main:santiyeye_kalem_ekle' %}"  method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class="modal-body">
                                    {% if request.user.is_superuser %}
                                            <div class="mb-3">
                                            <label for="date-field" class="form-label">Şantiye Seç</label>
                                            <select class="form-control" name="kullanici" id="date-field">

                                                {% for j in kullanicilar %}
                                                    <option value="{{j.id}}">{{j.first_name}}</option>
                                                {% endfor %}


                                            </select>
                                        </div>
                                        {% else %}
                                            <div class="mb-3">
                                            <label for="date-field" class="form-label">Şantiye Bilgisi</label>
                                            <select class="form-control" name="projetipi" id="date-field">

                                                {% for j in santiyeler_bilgileri %}
                                                    <option value="{{j.id}}">{{j.proje_adi}}</option>
                                                {% endfor %}


                                            </select>
                                        </div>

                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">Kalem Adı</label>
                                            <input type="text"   name="yetkili_adi" id="date-field" class="form-control" placeholder="Kalem Adı" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">Şantiye Ağırlığı</label>
                                            <input type="number" value="0"  name="katsayisi" id="date-field" class="form-control" placeholder="Şantiye Ağırlığı" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">Finansal Ağırlığı</label>
                                            <input type="number" value="0"  name="blogsayisi" id="date-field" class="form-control" placeholder="Fİnansal Ağırlığı" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">Birimi</label>
                                            <select class="form-control" name="birim_bilgisi" id="date-field">

                                                {% for l in birim_bilgisi %}
                                                    <option value="{{l.id}}">{{l.Proje_tipi_adi}}</option>
                                                {% endfor %}


                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">Metraj</label>
                                            <input type="number" value="0"  name="metraj" id="date-field" class="form-control" placeholder="Metraj" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">Tutar</label>
                                            <input type="number" value="0"  name="tutar" id="date-field" class="form-control" placeholder="Tutar" />
                                        </div>
                                        {% endif %}


                                </div>
                                <div class="modal-footer">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success" id="add-btn">Ekle</button>
                                        <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
{% endblock sidebar %}

