{% extends "homebase.html" %}
{% load i18n %}
{% block sidebar %}
<div class="vertical-overlay"></div>
<div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <form autocomplete="off"class="santiye-ekle-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="basiInput" class="form-label">Yetkili Adı Soyadı</label>
                                <input type="text" class="form-control" id="basiInput" name="yetkiliAdSoyad">
                            </div>
                            <div class="col-sm-12">
                                <label for="basiInput" class="form-label">E-Posta Adresi</label>
                                <input type="email" class="form-control" id="basiInput" name="email">
                            </div>
                            <div class="col-sm-12">
                                <label for="basiInput" class="form-label">Şantiye Adı</label>
                                <input type="text" class="form-control" id="basiInput" name="santiyeAdi">
                            </div>
                            <div class="col-sm-12">
                                <label for="basiInput" class="form-label">Şifre</label>
                                <input type="password" class="form-control" id="basiInput" name="sfire">
                            </div>
                            <input type="submit" class="btn btn-success waves-effect waves-light" value="Yeni Şantiye Oluştur">
                        </div>
                    </form>
                </div>
            </div>
        <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © {{site_adi.footer}}
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        
</div>

{% endblock sidebar %}

