{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}

{% block sidebar %}

<main>
    <div class="page-header">
        <div class="page-info">
            <div class="page-title">
                <a href="#"><i class="icon icon-arrow-circle-left"></i></a>
                {% trans 'Ayarlar' %}
            </div>
            <ul class="page-breadcrumb">
                <li><a href="#">{% trans 'Dashboard' %}</a></li>
                <li><a href="#">{% trans 'Şantiye Ayarları' %}</a></li>
                <li><a href="#">{% trans 'Tümü' %}</a></li>
            </ul>
        </div>

        <div class="page-actions">
            {% if request.user.kullanicilar_db %}
                {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                {% if yetki.santiye_olusturma %}
                    <button class="page-primary-btn" onclick="openModal('yeni-santiye')"><i class="icon icon-new"></i>{% trans 'Yeni Şantiye Ekle' %}</button>
                {% endif %}
            {% else %}
                <button class="page-primary-btn"  onclick="openModal('yeni-santiye')"><i class="icon icon-new"></i>{% trans 'Yeni Şantiye Ekle' %}</button>
            {% endif %}
        </div>
    </div>

    <div class="large-stats-card table-card table-detail-card">
        <div class="stats-header">
            <div class="stats-title">{% trans 'Tümü' %}</div>
            <div class="stats-right">
                <div class="stats-search">
                    <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                    <button><i class="icon icon-search"></i></button>
                </div>
            </div>
        </div>

        <div class="tab-navs santiyeler-tab">
            <button class="tab-navs-btn active" data-tab="santiyeler">{% trans 'Şantiyeler' %}</button>
            <button class="tab-navs-btn" disabled data-tab="yapilar">{% trans 'Yapılar' %}</button>
            <button class="tab-navs-btn" disabled data-tab="kalemler">{% trans 'Kalemler' %}</button>
        </div>

        <div class="tab-contents">
            <div class="tab-content active" id="santiyeler">
                <div class="table-wrapper">
                    <table id="santiyeler-table">
                        <thead>
                            <tr>
                                <th>{% trans 'Proje Kime Ait' %}</th>
                                <th>{% trans 'Şantiye' %}</th>
                                <th>{% trans 'Proje Tipi' %}</th>
                                <th>{% trans 'Yapılar' %}</th>
                                <th>{% trans 'Kalemler' %}</th>
                                <th>{% trans 'Durum' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in santiyeler %}
                            <tr>
                                <td>{{i.proje_ait_bilgisi.first_name}}</td>
                                <td>{{i.proje_adi}}</td>
                                <td>{{i.proje_tipi.Proje_tipi_adi}}</td>
                                <td>
                                    +{% bloglar_getir i %}
                                    <div class="td-actions">
                                        <a href="#" class="status-info stats-lg"><i class="icon icon-add"></i> Yapı Ekle</a>
                                    </div>
                                </td>
                                <td>
                                    + {% kalemler_getir i %}
                                    <div class="td-actions">
                                        <a onclick="openModal('yeni-kalem-hesap')" class="status-info stats-lg"><i class="icon icon-add"></i> Kalem Ekle</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="td-actions">
                                        {% if request.user.kullanicilar_db %}
                                        {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                        {% if yetki.santiye_duzenleme %}
                                        <a onclick="openModal('santiye_duzelt{{i.id}}')"class="status-success"><i class="icon icon-action-edit"></i></a>                                           
                                        {% else %} 
                                                                                                                        
                                        {% endif %}
                                        {% if yetki.santiye_silme %}
                                        <a onclick="openModal('delete-modal{{i.id}}')"  class="status-cancel"><i class="icon icon-action-delete"></i></a>
                                        {% else %} 
                                                                                                                        
                                        {% endif %}
                                        {% else %}
                                        <a onclick="openModal('santiye_duzelt{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>                                                                               
                                        <a onclick="openModal('delete-modal{{i.id}}')"  class="status-cancel"><i class="icon icon-action-delete"></i></a>
                                        {% endif %}
                                        
                                        
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-content" id="yapilar">...</div>
            <div class="tab-content" id="kalemler">...</div>
        </div>
    </div>


    <script>
        $(document).ready(function() {
            let santiyeler_table = $('#santiyeler-table').DataTable({
                dom: 'Bfrtip',
                paging: false,
                searching: true,
                info: false,
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            });

            $('#stats-search').keyup(function () {
                santiyeler_table.search($(this).val()).draw();
            });

            $("#santiyeler-table tr").on("click", function () {
                $(".tab-navs-btn:not(.active)").attr("disabled", false);
                $("#santiyeler-table tr").removeClass("selected");
                $(this).addClass("selected");
            });
        });
    </script>
</main>
 
<div class="modal" id="yeni-santiye">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                {% trans 'Yeni Şantiye Ekle' %}
                
            </div>
            <div class="modal-body">
                 <form autocomplete="off"class="tablelist-form" action="/addsite"  method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                    {% if request.user.is_superuser %}
                    <div class="form-element">
                        <label for="hesap-sec">{% trans 'Hesap Seç' %}</label>
                        <select  name="kullanici"  id="hesap-sec">
                            {% for j in kullanicilar %}
                                                    <option value="{{j.id}}">{{j.first_name}}</option>
                                                {% endfor %}

                        </select>
                    </div>
                                          
                                        {% else %}
                                            <div class="form-element">
                                            <label  class="form-label">{% trans 'Proje Tipi Seç' %}</label>
                                            <select  name="projetipi">

                                                {% for j in proje_tipleri %}
                                                    <option value="{{j.id}}">{{j.Proje_tipi_adi}}</option>
                                                {% endfor %}


                                            </select>
                                        </div>
                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Proje Adı' %}</label>
                                            <input type="text"   name="yetkili_adi" id="date-field"  placeholder="{% trans 'Proje Adı' %}" />
                                        </div>


                                        {% endif %}
                  
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-primary" type="submit" >{% trans 'Kaydet' %}
                            </button>
                    </div>
                </form>
            </div>
        </div>
</div>
{% for i in santiyeler %}
<div class="modal" id="santiye_duzelt{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                {% trans 'Şantiye Düzenle' %}
                
            </div>
            <div class="modal-body">
                 <form autocomplete="off"class="tablelist-form" action="/setsiteprojetc" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                                 <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}"/>
                    {% if request.user.is_superuser %}
                    <div class="form-element">
                        <label for="hesap-sec">{% trans 'Hesap Seç' %}</label>
                        <select  name="kullanici"  id="hesap-sec">
                            {% for j in kullanicilar %}
                                                    <option value="{{j.id}}">{{j.first_name}}</option>
                                                {% endfor %}

                        </select>
                    </div>
                                          
                                        {% else %}
                                            
                                        <div class="form-element">
                                            <label for="date-field" class="form-label">{% trans 'Proje Adı' %}</label>
                                            <input type="text" value="{{i.proje_adi}}"    name="yetkili_adi" id="date-field"  placeholder="{% trans 'Proje Adı' %}" />
                                        </div>


                                        {% endif %}
                  
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-primary" type="submit" >{% trans 'Kaydet' %}
                            </button>
                    </div>
                </form>
            </div>
        </div>
</div>

    <div class="modal" id="delete-modal{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Silmek istediğinize emin misiniz?' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"action="/delsiteproject" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">
                    <p>{% trans 'Bu işlemin geri dönüşü olmayacaktır.' %}</p>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-danger" type="submit">{% trans 'Evet, silinsin' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
   {% endfor %}
    <div class="modal" id="yeni-kalem">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Yeni Ekle
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-element">
                        <label for="hesap-sec">Hesap Seç</label>
                        <select name="hesap-sec" id="hesap-sec">
                            <option value="" selected disabled></option>
                            <option value="Hesap">Hesap</option>
                            <option value="Hesap">Hesap</option>
                            <option value="Hesap">Hesap</option>
                        </select>
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-primary" type="button" onclick="openModal('yeni-kalem')">Devam
                            Et</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="modal" id="yeni-kalem">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
                Yeni Kalem Ekle
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-element">
                        <label for="santiye-bilgisi">Şantiye Bilgisi</label>
                        <input type="text" name="santiye-bilgisi" id="santiye-bilgisi">
                    </div>
                    <div class="form-element">
                        <label for="kalem-adi">Kalem Adı</label>
                        <input type="text" name="kalem-adi" id="kalem-adi">
                    </div>
                    <div class="form-element">
                        <label for="santiye-agirligi">Şantiye Ağırlığı</label>
                        <input type="text" name="santiye-agirligi" id="santiye-agirligi">
                    </div>
                    <div class="form-element">
                        <label for="finansal-agirligi">Finansal Ağırlığı</label>
                        <input type="text" name="finansal-agirligi" id="finansal-agirligi">
                    </div>
                    <div class="form-element">
                        <label for="birim">Birim</label>
                        <input type="text" name="birim" id="birim">
                    </div>
                    <div class="form-element">
                        <label for="metraj">Metraj</label>
                        <input type="text" name="metraj" id="metraj">
                    </div>
                    <div class="form-element">
                        <label for="tutar">Tutar</label>
                        <input type="text" name="tutar" id="tutar">
                    </div>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">Vazgeç</button>
                        <button class="form-action-primary" type="submit">Devam</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <script>
        function openModal(modalID, close = true) {
            if (close) {
                closeModal();
            }
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });


    </script>


    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>
{% endblock sidebar %}
