{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block sidebar %}
<div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Sözleşmeler</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                    <li class="breadcrumb-item active">Sözleşmeler</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="taseronlar card">
                            <div class="taseron-title">
                                <i class="ri-group-line"></i>
                                <h2>Sözleşmeler</h2>
                            </div>
                            <div class="addBtn">
                                <i class="ri-add-line"></i>
                                <a href="">Yeni Sözleşme Ekle</a>
                            </div>
                        </div><!-- end card -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
                <div class="row">
                    <div class="col-lg-10">
                        <div class="taseron-ara card">
                            <div class="taseron-title">
                                <h2>Sözleşme Ara</h2>
                            </div>
                            <div class="taseron-inputs">
                                <div class="item col-7">
                                    <label>Taşeron Tam Adı</label>
                                    <input type="search" placeholder="Taşeron Adı">
                                </div>
                                <div class="item col-4">
                                    <label>Taşeron Kısa Ad</label>
                                    <input type="search" placeholder="Taşeron Adı">
                                </div>
                            </div>
                            <div class="taseron-btn">
                                <a href="">
                                    <i class="ri-search-line"></i>
                                    ARA
                                </a>
                            </div>
                        </div><!-- end card -->
                    </div>
                    <div class="taseron-sayisi col-lg-2">
                        <div class="card">
                            <i class="ri-group-fill"></i>
                            <span>Toplam Sözleşme Sayısı</span>
                            <h4>{{top.count}}</h4>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title mb-0">Taşeron Sözleşmeleri</h4>
                            </div><!-- end card header -->
                            <div class="card-body">
                                <div class="listjs-table" id="customerList">
                                    <div class="row g-4 mb-3">
                                        <div class="col-sm-auto">
                                            <div>
                                                <button type="button" class="btn btn-success add-btn" data-bs-toggle="modal" id="create-btn" data-bs-target="#showModal"><i class="ri-add-line align-bottom me-1"></i> Ekle</button>
                                                <button class="btn btn-soft-danger" onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="d-flex justify-content-sm-end">
                                                <div class="search-box ms-2">
                                                    <form autocomplete="off"method="get">
                                                        <input type="text" name="search" class="form-control search" placeholder="Search...">
                                                        <i class="ri-search-line search-icon"></i>
                                                        </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive table-card mt-3 mb-1">
                                        <table class="table align-middle table-nowrap" id="customerTable">
                                            <thead class="table-light">
                                                <tr>
                                                    <th scope="col" style="width: 50px;">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option">
                                                        </div>
                                                    </th>
                                                    <th class="sort" data-sort="customer_name">Taşeron</th>
                                                    <th class="sort" data-sort="customer_name">Projeler</th>
                                                    <th class="sort" data-sort="customer_name">Bloglar</th>
                                                    <th class="sort" data-sort="phone">Dosya Adı</th>
                                                    <th class="sort" data-sort="email">Tarih</th>
                                                    <th class="sort" data-sort="number">Açıklama</th>
                                                    <th class="sort" data-sort="number">Durum</th>
                                                    
                                                    <th class="sort" data-sort="file">Sözleşmeler</th>
                                                    <th class="sort" data-sort="date">İşlemler</th>
                                                </tr>
                                            </thead>
                                            <tbody class="list form-check-all">
                                                {% for i in santiyeler %}
                                                
                                                <tr style="{% if request.user.is_superuser %}{% if i.silinme_bilgisi %}background-color: grey;color: white; {% endif %} {% endif %}">
                                                    <th scope="row">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" name="chk_child" value="option1">
                                                        </div>
                                                    </th>
                                                    <td class="id" style="display:none;"><a href="javascript:void(0);" class="fw-medium link-primary">1</a></td>
                                                    <td class="customer_name">{{i.proje_ait_bilgisi.taseron_adi}}</td>
                                                    <td class="customer_name">{% for yazar in i.proje_ait_bilgisi.proje_bilgisi.all %}
                                                     <span>  {{ yazar.proje_Adi }}</span>,
                                                    {% endfor %}</td>
                                                    <td class="email">
                                                     {% for yazar in i.proje_ait_bilgisi.proje_bilgisi.all %}
                                                        {% for z in yazar.blog_bilgisi.all %}
                                                        <span>  {{ z.blog_adi }}{{ z.blog_numarasi }}</span>,
                                                        {% endfor %}
                                                    {% endfor %}</td>
                                                    <td class="phone">{{i.dosya_adi}}</td>
                                                    <td class="email">
                                                        {% if i.tarih %}
                                                            {{i.tarih}}
                                                        {% else %}
                                                        {{i.kayit_tarihi}}
                                                        {% endif %}
                                                    </td>
                                                    <td class="number">{{i.aciklama}}</td>
                                                    <td class="number">
                                                    {% if i.durum %}
                                                        Aktif
                                                    {% else %}
                                                    pasif
                                                    {% endif %}
                                                    </td>
                                                   
                                                    <td class="document"><i class="ri-file-line"></i></td>
                                                    <td>
                                                        <div class="d-flex justify-content-start">
                                                            <div class="edit">
                                                                <button class="btn btn-sm btn-success edit-item-btn" data-bs-toggle="modal" data-bs-target="#duzelt{{i.id}}">Edit</button>
                                                            </div>
                                                            <div class="remove" style="margin-left:10px;">
                                                                <button class="btn btn-sm btn-danger remove-item-btn" data-bs-toggle="modal" data-bs-target="#deleteRecordModal{{i.id}}">Remove</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="noresult" style="display: none">
                                            <div class="text-center">
                                                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px">
                                                </lord-icon>
                                                <h5 class="mt-2">Sorry! No Result Found</h5>
                                                <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any
                                                    orders for you search.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <div class="pagination-wrap hstack gap-2">
                                            <ul class="pagination pagination-m justify-content-center">

                                                {% if medya.has_previous %}
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">« Previous page</a></li>
                                                
                                                  {% if medya.number > 3 %}
                                                
                                                    <li class="page-item"><a class="page-link" href="?page=1{{ medya.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">1</a></li>
                                                    {% if medya.number > 4 %}
                                                      <li class="page-item"><span class="page-link">...</span></li>
                                                    {% endif %}
                                                  {% endif %}
                                                {% endif %}
                                                
                                                {% for num in medya.paginator.page_range %}
                                                  {% if medya.number == num %}
                                                    <li class="page-item"><a class="page-link " style="color:black;" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% elif num > medya.number|add:'-3' and num < medya.number|add:'3' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% endif %}
                                                {% endfor %}
                                                
                                                {% if medya.has_next %}
                                                  {% if medya.number < medya.paginator.num_pages|add:'-3' %}
                                                    <li class="page-item"><span class="page-link">...</span></li>
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% elif medya.number < medya.paginator.num_pages|add:'-2' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% endif %}
                                                
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next Page »</a></li>
                                                {% endif %}
                                                </ul>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- end card -->
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
                
                <div class="modal fade" id="showModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-light p-3">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                            </div>
                            <form autocomplete="off"class="tablelist-form" action="{% url 'main:sozlesme_ekle' %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="mb-3" id="modal-id" style="display: none;">
                                        <label for="id-field" class="form-label">ID</label>
                                        <input type="text" id="id-field" class="form-control" placeholder="ID" readonly />
                                    </div>
                                    {% if request.user.is_superuser %}
                                        <div class="mb-3">
                                        <label for="date-field" class="form-label">Şantiye Seç</label>
                                        <select class="form-control" name="kullanici" id="date-field">
                                            {% for i in kullanicilar %}
                                                <option value="{{i.id}}">{{i.first_name}}</option>
                                            {% endfor %}
                                            
                                            
                                        </select>
                                    </div>
                                    {% else %}
                                    <div class="mb-3">
                                        <label for="customername-field" class="form-label">Taşeron</label>
                                        <select class="form-control" name="taseron" id="date-field">
                                                {% for j in taseronlar %}
                                                    <option value="{{j.id}}">{{j.taseron_adi}}</option>
                                                {% endfor %}
                                                
                                                
                                            </select>
                                        <div class="invalid-feedback">Lütfen Taşeron Adını Boş Bırakmayınız.</div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="date-field" class="form-label">Dosya Adı</label>
                                        <input type="tel" name="dosyaadi" id="date-field" class="form-control" placeholder="Telefon Gir"  />
                                        <div class="invalid-feedback">Lütfen telefon alanını boş bırakmayınız.</div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="email-field" class="form-label">Tarih</label>
                                        <input type="date" name="tarih" class="form-control" placeholder="E-Posta giriniz" ></input>
                                        <div class="invalid-feedback">Lütfen eposta alanını boş bırakmayınız.</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email-field" class="form-label">Açıklama</label>
                                        <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                                        <div class="invalid-feedback">Please enter an email.</div>
                                    </div>
                                    <div>
                                        <label for="status-field" class="form-label">Durum</label>
                                        <select name="durumu" class="form-control" data-trigger name="status-field" id="status-field" required>
                                            <option value="">Durum</option>
                                            <option value="1">Active</option>
                                            <option value="0">Block</option>
                                        </select>
                                    </div>
                                    
                                    
                                  <div class="md-4">
                                        <div class="form-group">
                                            <label>Dosya Yükle</label>
                                            <input name="file" type="file"class="form-control" />
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success" id="add-btn">Ekle</button>
                                        <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mt-2 text-center">
                                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                        <h4>Are you Sure ?</h4>
                                        <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this Record ?</p>
                                    </div>
                                </div>
                                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn w-sm btn-danger " id="delete-record">Yes, Delete It!</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end modal -->
            </div>
<footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © {{site_adi.footer}}
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        
        {% for i in santiyeler %}
                <!-- Modal -->
                <div class="modal fade zoomIn" id="deleteRecordModal{{i.id}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                            </div>
                            <div class="modal-body">
                                
                                <div class="mt-2 text-center">
                                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                        <h4>Are you Sure ?</h4>
                                        <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this Record ?</p>
                                    </div>
                                </div>
                                <form autocomplete="off"action="{% url 'main:sozlesme_silme' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">
                                
                                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn w-sm btn-danger " id="delete-record">Yes, Delete It!</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
        {% for i in santiyeler %}
          <div class="modal fade" id="duzelt{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-light p-3">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"></button>
                            </div>
                            <form autocomplete="off"class="tablelist-form" action="{% url 'main:sozlesme_duzenle' %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="mb-3" id="modal-id" style="display: none;">
                                        <label for="id-field" class="form-label">ID</label>
                                        <input type="text" id="id-field" name="id_bilgisi" hidden value="{{i.id}}" class="form-control" />
                                  </div>
             
                                    <div class="mb-3">
                                        <label for="customername-field" class="form-label">Taşeron</label>
                                        <select class="form-control" name="taseron" id="date-field">
                                            <option value="{{i.proje_ait_bilgisi.id}}">{{i.proje_ait_bilgisi.taseron_adi}}</option>
                                                {% for j in taseronlar %}
                                                    <option value="{{j.id}}">{{j.taseron_adi}}</option>
                                                {% endfor %}
                                                
                                                
                                            </select>
                                        <div class="invalid-feedback">Lütfen Taşeron Adını Boş Bırakmayınız.</div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="date-field" class="form-label">Dosya Adı</label>
                                        <input type="tel" value="{{i.dosya_adi}}" name="dosyaadi" id="date-field" class="form-control" placeholder="Telefon Gir"  />
                                        <div class="invalid-feedback">Lütfen telefon alanını boş bırakmayınız.</div>
                                    </div>

                                    <div class="mb-3">
                                        <label for="email-field" class="form-label">Tarih</label>
                                        <input type="date" value="{{i.tarih | date:'Y-m-d' }}" name="tarih" class="form-control" placeholder="E-Posta giriniz" >
                                        <div class="invalid-feedback">Lütfen eposta alanını boş bırakmayınız.</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email-field" class="form-label">Açıklama</label>
                                        <textarea name="aciklama" class="form-control" placeholder="Enter Description" >{{i.aciklama }}</textarea>
                                        <div class="invalid-feedback">Please enter an email.</div>
                                    </div>
                                    <div>
                                        <label for="status-field" class="form-label">Durum</label>
                                        <select name="durumu" class="form-control" data-trigger name="status-field" id="status-field" required>
                                            {% if i.durum %}
                                                <option value="1">Active</option>
                                            {% else %}  
                                            <option value="0">Block</option>
                                            {% endif %}
                                            <option value="">Durum</option>
                                            <option value="1">Active</option>
                                            <option value="0">Block</option>
                                        </select>
                                    </div>
                                    
                                    
                                  <div class="md-4">
                                        <div class="form-group">
                                            <label>Dosya Yükle</label>
                                            <input name="file" type="file" value="{{i.dosya}}" class="form-control" />
                                        </div>
                                    </div>
                                    {% if request.user.is_superuser %}
                                            <div class="mb-3">
                                            <label for="date-field" class="form-label">Proje Silinme Durumu</label>
                                            <select name="silinmedurumu"  class="form-control" id="">
                                                <option value="3">Karışma</option>
                                                <option value="2">Sil</option>
                                                {% if i.silinme_bilgisi %}
                                                    <option value="1">Geri Getir</option>
                                                {% else %}
                                                {% endif %}
                                                
                                            </select>
                                        </div>
                                        
                                        {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-success" id="add-btn">Ekle</button>
                                        <!-- <button type="button" class="btn btn-success" id="edit-btn">Update</button> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        
        {% endfor %}
</div>
{% endblock sidebar %}
