{% extends "homebase.html" %}
{% load i18n %}
{% block sidebar %}
<div class="vertical-overlay"></div>
<div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <form autocomplete="off"class="santiye-ekle-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="row">
                            <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Proje Tipi Seç' %}</label>
                                            <select class="form-control" name="projetipi" id="date-field">
                                                
                                                {% for j in proje_tipleri %}
                                                    <option value="{{j.id}}">{{j.Proje_tipi_adi}}</option>
                                                {% endfor %}
                                                
                                                
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Proje Adı' %}</label>
                                            <input type="text"   name="yetkili_adi" id="date-field" class="form-control"  />
                                        </div>
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Kat Sayısı' %}</label>
                                            <input type="number" value="0"  name="katsayisi" id="date-field" class="form-control" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Blok Sayısı' %}</label>
                                            <input type="number" value="0"  name="blogsayisi" id="date-field" class="form-control"  />
                                        </div>
                                        <div class="mb-3">
                                            <label for="date-field" class="form-label">{% trans 'Blok Adı<' %}/label>
                                            <input type="text"  name="blogadi" id="date-field" class="form-control"  />
                                        </div>
                            <input type="submit" class="btn btn-success waves-effect waves-light" value="{% trans 'Bloğu Oluştur' %}">
                        </div>
                    </form>
                </div>
            </div>
        <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © {{site_adi.footer}}
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        
</div>

{% endblock sidebar %}

