{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/css/multi-select-tag.css">
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@2.0.1/dist/js/multi-select-tag.js"></script>
<!--Multi Select Date Picker Calender-->


{% endblock head %}
{% block sidebar %}
{% if hash_bilgi %}
  <main>


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#" onclick="history.back(); return false;"><i class="icon icon-arrow-circle-left"></i></a>
                    {% trans 'Taşeronlar' %}
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="/{{dil}}/">{% trans 'Dashboard' %}</a></li>
                    <li><a href="#">{% trans 'Şantiye Yönetimi' %}</a></li>
                    <li><a href="#">{% trans 'Taşeronlar' %}</a></li>
                </ul>
            </div>

            <div class="page-actions">
            {% if request.user.kullanicilar_db %}
                                            {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                            {% if yetki.taseronlar_olusturma %}
                                               <button class="page-primary-btn" onclick="openModal('yeni-taseron')"><i class="icon icon-new"></i>
                    {% trans 'Yeni Taşeron Ekle' %}</button>                                      
                                            {% else %}
                                                                                                            
                                            {% endif %}
                                            {% else %}
                                                <button class="page-primary-btn" onclick="openModal('yeni-taseron')"><i class="icon icon-new"></i>
                    {% trans 'Yeni Taşeron Ekle' %}</button>                                               
                                            {% endif %}
                
            </div>
        </div>

        <div class="large-stats-card table-card table-detail-card">
            <div class="stats-header">
                <div class="stats-title">{% trans 'Toplam Taşeron : ' %} {{top.count}}</div>
                <div class="stats-search">
                    <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                    <button><i class="icon icon-search"></i></button>
                </div>
            </div>

            <div class="table-wrapper">
                <table id="datatable">
                    <thead>
                        <tr>
                           <th class="sort" data-sort="customer_name">{% trans 'Taşeron' %}</th>
                                                    <th class="sort" data-sort="phone">{% trans 'Telefon' %}</th>
                                                    <th class="sort" data-sort="email">{% trans 'Email' %}</th>
                                                    <th class="sort" data-sort="number">{% trans 'Aktif Sözleşme' %}</th>
                                                    <th class="sort" data-sort="number">{% trans 'Aktif İmalat' %}</th>
                                                    <th class="sort" data-sort="text">{% trans 'Sözleşmesi Yapılan Projeler' %}</th>
                                                    <th class="sort" data-sort="file">{% trans 'Sözleşmeler' %}</th>
                                                    <th class="sort" data-sort="date">{% trans 'İşlemler' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                     {% for i in santiyeler %}
                        <tr>
                            <td>{{i.taseron_adi}}</td>
                            <td>{{i.telefon_numarasi}}</td>
                            <td>{{i.email}}</td>
                            <td>{% taseronsozlesme_saysisi i.id %}</td>
                            <td>{% taseron_gorev_saysisi i.id %}</td>
                            <td>{% for yazar in i.proje_bilgisi.all %}
                                                        <span>{{ yazar.kalem_bilgisi.proje_santiye_Ait.proje_adi }}&#8594;{{ yazar.blog_bilgisi.blog_adi }}&#8594;{{ yazar.kalem_bilgisi.kalem_adi }}</span>,
                                                     {% endfor %}</td>
                            <td>
                                <div class="td-actions">
                                {% taseronsozlesme_dosyalari i.id as dosyalri %}
                                    {% for k in dosyalri %}
                                    {% if k.dosya %}
                                    <a target="_blank" href="{{k.dosya.url}}" title ="{{k.dosya.name}}" class="status-info"><i class="icon icon-action-file"></i></a>
                                    {% else %}
                                    {% endif %}
                                    

                                        
                                    {% endfor %}
                                    
                                </div>
                            </td>
                            <td>
                                <div class="td-actions">
                                {% if request.user.kullanicilar_db %}
                                                        {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                                        {% if yetki.taseronlar_duzenleme %}
                                                               <a  onclick="openModal('yeni-taseron{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>                                              
                                                        {% else %}
                                                                                                                        
                                                        {% endif %}
                                                        {% else %}
                                                              <a  onclick="openModal('yeni-taseron{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>                                               
                                                        {% endif %}
                                                            
                                                            {% if request.user.kullanicilar_db %}
                                                            {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                                            {% if yetki.taseronlar_silme %}
                                                                  <a  onclick="openModal('deleteConfirmationModal{{i.id}}')" class="status-cancel"><i class="icon icon-action-delete"></i></a>                                                                                          
                                                            {% else %}
                                                                                                                            
                                                            {% endif %}
                                                            {% else %}
                                                            <a  onclick="openModal('deleteConfirmationModal{{i.id}}')" class="status-cancel"><i class="icon icon-action-delete"></i></a>                                            
                                                            {% endif %}
                                   

                                </div>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                </table>
            </div>

        </div>

        <script>
            let datatable = new DataTable('#datatable', {
                paging: false,
                searching: true,
                info: false
            });


            $('#stats-search').keyup(function () {
                console.log($(this).val());
                datatable.search($(this).val()).draw();
            })
        </script>


    </main>
<div class="modal" id="yeni-taseron">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Yeni Taşeron Ekle' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" action="/{{dil}}{% url 'main:taseron_ekle_2' hashler %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                   
                    <div class="form-element">
                        <label for="taseron-adi">{% trans 'Taşeron Adı' %}</label>
                        <input type="text" name="taseron_adi" required id="taseron-adi">
                    </div>
                    <div class="form-element">
                        <label for="telefon-numarasi">{% trans 'Telefon Numarası' %}</label>
                        <input type="tel" name="telefonnumarasi" id="telefon-numarasi">
                    </div>
                    <div class="form-element">
                        <label for="email">{% trans 'Email' %}</label>
                        <input type="email" name="email_adresi" id="email">
                    </div>
                    <div class="form-element">
                        <label for="aciklama">{% trans 'Açıklama' %}</label>
                        <textarea name="aciklama" id="aciklama"></textarea>
                    </div>
                    <div class="form-element">
                        <label for="sozlesmesi-yapilan-projeler">{% trans 'Şantiye > Kalem > Blok' %}</label>
                        <p class="input-helper-text">{% trans 'Birden fazla imalat seçmek için Windows kullanıcıları Ctrl, Mac kullanıcıları Command (⌘) tuşunu kullanabilir.' %}</p>
                        <select name="blogbilgisi"  class="form-control" data-trigger multiple  id="cokluetiket" style="height: 27vh;">
                                            {% for blog in blog_bilgisi %}
                                            {% kalemler_sadece blog %}
                                            {% endfor %}
                                        </select>
                    </div>
                   
                    <div class="form-element">
                        <label for="sozlesme-yukle">{% trans 'Sözleşme Yükle' %}</label>

                        <div class="file-input">
                            <label for="sozlesme-yukle">
                                <img src="{% static 'go/content/images/illustration-upload.png' %}">

                                <button><i class="icon icon-file"></i> {% trans 'Dosya Seç' %}</button>
                            </label>

                            <input type="file" name="file" multiple id="sozlesme-yukle">
                        </div>

                        <ul class="fileList">
                        </ul>
                    </div>
                 
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Kaydet' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% for i in santiyeler %}
<div class="modal" id="yeni-taseron{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Taşeron Düzenle' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" action="/{{dil}}{% url 'main:taseron_duzelt_2' hashler %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <input type="text" hidden value ="{{i.id}}" id="id-field" name="id_bilgisi" class="form-control"  />
                   
                    <div class="form-element">
                        <label for="taseron-adi">{% trans 'Taşeron Adı' %}</label>
                        <input type="text" value ="{{i.taseron_adi}}" name="taseron_adi" required id="taseron-adi">
                    </div>
                    <div class="form-element">
                        <label for="telefon-numarasi">{% trans 'Telefon Numarası' %}</label>
                        <input type="tel" value ="{{i.telefon_numarasi}}" name="telefonnumarasi" id="telefon-numarasi">
                    </div>
                    <div class="form-element">
                        <label for="email">{% trans 'Email' %}</label>
                        <input type="email"value ="{{i.email}}" name="email_adresi" id="email">
                    </div>
                    <div class="form-element">
                        <label for="aciklama">{% trans 'Açıklama' %}</label>
                        <textarea name="aciklama" id="aciklama">{{i.aciklama}}</textarea>
                    </div>
                    <div class="form-element">
                        <label for="sozlesmesi-yapilan-projeler">{% trans 'Şantiye > Kalem > Blok' %}</label>
                        <p class="input-helper-text">{% trans 'Birden fazla imalat seçmek için Windows kullanıcıları Ctrl, Mac kullanıcıları Command (⌘) tuşunu kullanabilir.' %}</p>
                        <select name="blogbilgisi"  class="form-control" data-trigger multiple  id="cokluetiket" style="height: 27vh;">
                                    {% if request.user.is_superuser %}
                                                {% for blog in i.proje_bilgisi.all %}
                                                        <option selected value="{{ blog.id }}">{{ blog.proje_Adi }}</option>
                                                {% endfor %}
                                           
                                            {% endif %}
                                            
                                            {% for blog in blog_bilgisi %}
                                            {% kalemler_sadece_duzeltmeli blog i.proje_bilgisi.all %}
                                            {% endfor %}
                                        </select>
                    </div>
                   
                    <div class="form-element">
                        <label for="sozlesme-yukle">{% trans 'Sözleşme Yükle' %}</label>

                        <div class="file-input">
                            <label for="sozlesme-yukle">
                                <img src="{% static 'go/content/images/illustration-upload.png' %}">

                                <button><i class="icon icon-file"></i> {% trans 'Dosya Seç' %}</button>
                            </label>

                            <input type="file" multiple name="file" id="sozlesme-yukle">
                        </div>

                        <ul class="fileList">
                        </ul>
                    </div>
              
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Kaydet' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

 <div class="modal" id="deleteConfirmationModal{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Silme Uyarısı' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" action="/{{dil}}{% url 'main:taseron_silme_2' hashler %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                   <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">
                 
                    <p> {% trans 'Bu öğeyi silmek istediğinizden emin misiniz? Bu işlem geri alınamaz.' %}</p>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal('deleteConfirmationModal{{i.id}}')">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-danger" type="submit"> {% trans 'Sil' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
    <script>
        function openModal(modalID) {
            closeModal();
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });

        $('input[type="file"]').on('change', function () {
            var files = $(this).prop('files');
            var formElement = $(this).closest('.form-element');
            var fileList = formElement.find('.fileList');
            fileList.empty();

            for (var i = 0; i < files.length; i++) {
                fileList.append('<li>' + files[i].name + '</li>');
            }
        });

    </script>


    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>
 <script>
                    function initializeMultiSelectTag() {
                       return new MultiSelectTag('cokluetiket', {
                           rounded: true,
                           shadow: true,
                           placeholder: '{% trans "Search" %}',
                           tagColor: {
                               textColor: '#327b2c',
                               borderColor: '#92e681',
                               bgColor: '#eaffe6',
                           },
                           onChange: function(values) {
                               console.log(values);
                           }
                       });
                   }
                   {% for  i in santiyeler %}
                    function initializeMultiSelectTag{{i.id}}() {
                       return new MultiSelectTag('cokluetiket{{i.id}}', {
                           rounded: true,
                           shadow: true,
                           placeholder: '{% trans "Search" %}',
                           tagColor: {
                               textColor: '#327b2c',
                               borderColor: '#92e681',
                               bgColor: '#eaffe6',
                           },
                           onChange: function(values) {
                               console.log(values);
                           }
                       });
                   }
                    var multiSelectInstance{{i.id}} = initializeMultiSelectTag{{i.id}}();
                   {% endfor %}
                   var multiSelectInstance = initializeMultiSelectTag();
               </script>
{% else %}
 <main>


        <div class="page-header">
            <div class="page-info">
                <div class="page-title">
                    <a href="#" onclick="history.back(); return false;"><i class="icon icon-arrow-circle-left"></i></a>
                    {% trans 'Taşeronlar' %}
                </div>
                <ul class="page-breadcrumb">
                    <li><a href="/{{dil}}/">{% trans 'Dashboard' %}</a></li>
                    <li><a href="#">{% trans 'Şantiye Yönetimi' %}</a></li>
                    <li><a href="#">{% trans 'Taşeronlar' %}</a></li>
                </ul>
            </div>

            <div class="page-actions">
            {% if request.user.kullanicilar_db %}
                                            {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                            {% if yetki.taseronlar_olusturma %}
                                               <button class="page-primary-btn" onclick="openModal('yeni-taseron')"><i class="icon icon-new"></i>
                    {% trans 'Yeni Taşeron Ekle' %}</button>                                      
                                            {% else %}
                                                                                                            
                                            {% endif %}
                                            {% else %}
                                                <button class="page-primary-btn" onclick="openModal('yeni-taseron')"><i class="icon icon-new"></i>
                    {% trans 'Yeni Taşeron Ekle' %}</button>                                               
                                            {% endif %}
                
            </div>
        </div>

        <div class="large-stats-card table-card table-detail-card">
            <div class="stats-header">
                <div class="stats-title">{% trans 'Toplam Taşeron : ' %} {{top.count}}</div>
                <div class="stats-search">
                    <input type="text" name="stats-search" id="stats-search" placeholder="{% trans 'Ara' %}">
                    <button><i class="icon icon-search"></i></button>
                </div>
            </div>

            <div class="table-wrapper">
                <table id="datatable">
                    <thead>
                        <tr>
                           <th class="sort" data-sort="customer_name">{% trans 'Taşeron' %}</th>
                                                    <th class="sort" data-sort="phone">{% trans 'Telefon' %}</th>
                                                    <th class="sort" data-sort="email">{% trans 'Email' %}</th>
                                                    <th class="sort" data-sort="number">{% trans 'Aktif Sözleşme' %}</th>
                                                    <th class="sort" data-sort="number">{% trans 'Aktif İmalat' %}</th>
                                                    <th class="sort" data-sort="text">{% trans 'Sözleşmesi Yapılan Projeler' %}</th>
                                                    <th class="sort" data-sort="file">{% trans 'Sözleşmeler' %}</th>
                                                    <th class="sort" data-sort="date">{% trans 'İşlemler' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                     {% for i in santiyeler %}
                        <tr>
                            <td>{{i.taseron_adi}}</td>
                            <td>{{i.telefon_numarasi}}</td>
                            <td>{{i.email}}</td>
                            <td>{% taseronsozlesme_saysisi i.id %}</td>
                            <td>{% taseron_gorev_saysisi i.id %}</td>
                            <td>{% for yazar in i.proje_bilgisi.all %}
                                                        <span>{{ yazar.kalem_bilgisi.proje_santiye_Ait.proje_adi }}&#8594;{{ yazar.blog_bilgisi.blog_adi }}&#8594;{{ yazar.kalem_bilgisi.kalem_adi }}</span>,
                                                     {% endfor %}</td>
                            <td>
                                <div class="td-actions">
                                {% taseronsozlesme_dosyalari i.id as dosyalri %}
                                    {% for k in dosyalri %}
                                    {% if k.dosya %}
                                    <a target="_blank" href="{{k.dosya.url}}" title ="{{k.dosya.name}}" class="status-info"><i class="icon icon-action-file"></i></a>
                                    {% else %}
                                    {% endif %}
                                    

                                        
                                    {% endfor %}
                                    
                                </div>
                            </td>
                            <td>
                                <div class="td-actions">
                                {% if request.user.kullanicilar_db %}
                                                        {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                                        {% if yetki.taseronlar_duzenleme %}
                                                               <a  onclick="openModal('yeni-taseron{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>                                              
                                                        {% else %}
                                                                                                                        
                                                        {% endif %}
                                                        {% else %}
                                                              <a  onclick="openModal('yeni-taseron{{i.id}}')" class="status-success"><i class="icon icon-action-edit"></i></a>                                               
                                                        {% endif %}
                                                            
                                                            {% if request.user.kullanicilar_db %}
                                                            {% kulanici_yetkileri_kullandirt request.user request.user.kullanicilar_db as yetki %}
                                                            {% if yetki.taseronlar_silme %}
                                                                  <a  onclick="openModal('deleteConfirmationModal{{i.id}}')" class="status-cancel"><i class="icon icon-action-delete"></i></a>                                                                                          
                                                            {% else %}
                                                                                                                            
                                                            {% endif %}
                                                            {% else %}
                                                            <a  onclick="openModal('deleteConfirmationModal{{i.id}}')" class="status-cancel"><i class="icon icon-action-delete"></i></a>                                            
                                                            {% endif %}
                                   

                                </div>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                </table>
            </div>

        </div>

        <script>
            let datatable = new DataTable('#datatable', {
                paging: false,
                searching: true,
                info: false
            });


            $('#stats-search').keyup(function () {
                console.log($(this).val());
                datatable.search($(this).val()).draw();
            })
        </script>


    </main>
<div class="modal" id="yeni-taseron">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Yeni Taşeron Ekle' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" action="/{{dil}}{% url 'main:taseron_ekle' %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                    {% if request.user.is_superuser %}
                                        <div class="mb-3">
                                        <label for="date-field" class="form-label">{% trans 'Hesap Seç' %}</label>
                                        <select class="form-control" name="kullanici" id="date-field">
                                            {% for i in kullanicilar %}
                                                <option value="{{i.id}}">{{i.first_name}}</option>
                                            {% endfor %}
                                            
                                            
                                        </select>
                                    </div>
                                    {% else %}
                    <div class="form-element">
                        <label for="taseron-adi">{% trans 'Taşeron Adı' %}</label>
                        <input type="text" name="taseron_adi" required id="taseron-adi">
                    </div>
                    <div class="form-element">
                        <label for="telefon-numarasi">{% trans 'Telefon Numarası' %}</label>
                        <input type="tel" name="telefonnumarasi" id="telefon-numarasi">
                    </div>
                    <div class="form-element">
                        <label for="email">{% trans 'Email' %}</label>
                        <input type="email" name="email_adresi" id="email">
                    </div>
                    <div class="form-element">
                        <label for="aciklama">{% trans 'Açıklama' %}</label>
                        <textarea name="aciklama" id="aciklama"></textarea>
                    </div>
                    <div class="form-element">
                        <label for="sozlesmesi-yapilan-projeler">{% trans 'Şantiye > Kalem > Blok' %}</label>
                        <p class="input-helper-text">{% trans 'Birden fazla imalat seçmek için Windows kullanıcıları Ctrl, Mac kullanıcıları Command (⌘) tuşunu kullanabilir.' %}</p>
                        <select name="blogbilgisi"  class="form-control" data-trigger multiple  id="cokluetiket" style="height: 27vh;">
                                            {% for blog in blog_bilgisi %}
                                            {% kalemler_sadece blog %}
                                            {% endfor %}
                                        </select>
                    </div>
                   
                    <div class="form-element">
                        <label for="sozlesme-yukle">{% trans 'Sözleşme Yükle' %}</label>

                        <div class="file-input">
                            <label for="sozlesme-yukle">
                                <img src="{% static 'go/content/images/illustration-upload.png' %}">

                                <button><i class="icon icon-file"></i> {% trans 'Dosya Seç' %}</button>
                            </label>

                            <input type="file" name="file" multiple id="sozlesme-yukle">
                        </div>

                        <ul class="fileList">
                        </ul>
                    </div>
                    {% endif %}
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Kaydet' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% for i in santiyeler %}
<div class="modal" id="yeni-taseron{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Taşeron Düzenle' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" action="/{{dil}}{% url 'main:taseron_duzelt' %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <input type="text" hidden value ="{{i.id}}" id="id-field" name="id_bilgisi" class="form-control"  />
                   
                    <div class="form-element">
                        <label for="taseron-adi">{% trans 'Taşeron Adı' %}</label>
                        <input type="text" value ="{{i.taseron_adi}}" name="taseron_adi" required id="taseron-adi">
                    </div>
                    <div class="form-element">
                        <label for="telefon-numarasi">{% trans 'Telefon Numarası' %}</label>
                        <input type="tel" value ="{{i.telefon_numarasi}}" name="telefonnumarasi" id="telefon-numarasi">
                    </div>
                    <div class="form-element">
                        <label for="email">{% trans 'Email' %}</label>
                        <input type="email"value ="{{i.email}}" name="email_adresi" id="email">
                    </div>
                    <div class="form-element">
                        <label for="aciklama">{% trans 'Açıklama' %}</label>
                        <textarea name="aciklama" id="aciklama">{{i.aciklama}}</textarea>
                    </div>
                    <div class="form-element">
                        <label for="sozlesmesi-yapilan-projeler">{% trans 'Şantiye > Kalem > Blok' %}</label>
                        <p class="input-helper-text">{% trans 'Birden fazla imalat seçmek için Windows kullanıcıları Ctrl, Mac kullanıcıları Command (⌘) tuşunu kullanabilir.' %}</p>
                        <select name="blogbilgisi"  class="form-control" data-trigger multiple  id="cokluetiket" style="height: 27vh;">
                                    {% if request.user.is_superuser %}
                                                {% for blog in i.proje_bilgisi.all %}
                                                        <option selected value="{{ blog.id }}">{{ blog.proje_Adi }}</option>
                                                {% endfor %}
                                           
                                            {% endif %}
                                            
                                            {% for blog in blog_bilgisi %}
                                            {% kalemler_sadece_duzeltmeli blog i.proje_bilgisi.all %}
                                            {% endfor %}
                                        </select>
                    </div>
                   
                    <div class="form-element">
                        <label for="sozlesme-yukle">{% trans 'Sözleşme Yükle' %}</label>

                        <div class="file-input">
                            <label for="sozlesme-yukle">
                                <img src="{% static 'go/content/images/illustration-upload.png' %}">

                                <button><i class="icon icon-file"></i> {% trans 'Dosya Seç' %}</button>
                            </label>

                            <input type="file" multiple name="file" id="sozlesme-yukle">
                        </div>

                        <ul class="fileList">
                        </ul>
                    </div>
              
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal()">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-primary" type="submit">{% trans 'Kaydet' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

 <div class="modal" id="deleteConfirmationModal{{i.id}}">
        <div class="modal-inner" style="width: 500px">
            <div class="modal-header">
            {% trans 'Silme Uyarısı' %}
                
            </div>
            <div class="modal-body">
                <form autocomplete="off"class="tablelist-form" action="/{{dil}}{% url 'main:taseron_silme' %}" method="post" enctype="multipart/form-data" >
                                {% csrf_token %}
                   <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">
                 
                    <p> {% trans 'Bu öğeyi silmek istediğinizden emin misiniz? Bu işlem geri alınamaz.' %}</p>
                    <div class="form-actions">
                        <button class="form-action-secondary" type="button" onclick="closeModal('deleteConfirmationModal{{i.id}}')">{% trans 'Vazgeç' %}</button>
                        <button class="form-action-danger" type="submit"> {% trans 'Sil' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
    <script>
        function openModal(modalID) {
            closeModal();
            $("#" + modalID).css("display", "flex").hide().fadeIn()
        }

        function closeModal(modalID = "") {
            console.log(modalID.length);
            if (modalID.length === 0) {
                $(".modal").fadeOut();
            } else {
                $("#" + modalID).fadeOut();
            }
        }

        $(".modal").on("click", function (e) {
            if ($(e.target).closest('.modal-inner').length === 0 && $(e.target).closest('.modal').length) {
                closeModal();
            }
        });

        $('input[type="file"]').on('change', function () {
            var files = $(this).prop('files');
            var formElement = $(this).closest('.form-element');
            var fileList = formElement.find('.fileList');
            fileList.empty();

            for (var i = 0; i < files.length; i++) {
                fileList.append('<li>' + files[i].name + '</li>');
            }
        });

    </script>


    <script>
        function toggleFullScreen() {
            var doc = window.document;
            var docEl = doc.documentElement;

            var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
            var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

            if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
                requestFullScreen.call(docEl);
            }
            else {
                cancelFullScreen.call(doc);
            }
        }

        function updateMaxWidth() {
            var tableCardWidth = $(".table-card")[0].clientWidth;
            $(".table-wrapper").css("max-width", tableCardWidth + "px");
        }
        $(document).ready(updateMaxWidth);
        $(window).resize(updateMaxWidth);
    </script>
 <script>
                    function initializeMultiSelectTag() {
                       return new MultiSelectTag('cokluetiket', {
                           rounded: true,
                           shadow: true,
                           placeholder: '{% trans "Search" %}',
                           tagColor: {
                               textColor: '#327b2c',
                               borderColor: '#92e681',
                               bgColor: '#eaffe6',
                           },
                           onChange: function(values) {
                               console.log(values);
                           }
                       });
                   }
                   {% for  i in santiyeler %}
                    function initializeMultiSelectTag{{i.id}}() {
                       return new MultiSelectTag('cokluetiket{{i.id}}', {
                           rounded: true,
                           shadow: true,
                           placeholder: '{% trans "Search" %}',
                           tagColor: {
                               textColor: '#327b2c',
                               borderColor: '#92e681',
                               bgColor: '#eaffe6',
                           },
                           onChange: function(values) {
                               console.log(values);
                           }
                       });
                   }
                    var multiSelectInstance{{i.id}} = initializeMultiSelectTag{{i.id}}();
                   {% endfor %}
                   var multiSelectInstance = initializeMultiSelectTag();
               </script>
{% endif %}
   
{% endblock sidebar %}
