{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}

{% block sidebar %}
<div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Timeline</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                        <li class="breadcrumb-item active">Timeline</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-lg-12">
                            <div>
                                <h5>Yapılacakalar</h5>
                                <div class="p-3 bg-light rounded mb-4">
                        <form autocomplete="off"method="get">
                        <div class="row g-2">
                            <div class="col-lg-auto">
                                <select class="form-control" data-choices data-choices-search-false
                                    name="siralama" id="choices-select-sortlist">
                                    {% if request.GET.siralama == "1" %}
                                    <option value="{{ request.GET.siralama }}">By ID</option>
                                    {% elif request.GET.siralama == "2" %}
                                    <option value="2">By Name</option>
                                    {% else %}
                                    {% endif %}
                                    <option value="">Sort</option>
                                    <option value="1">By ID</option>
                                    <option value="2">By Name</option>
                                </select>
                                
                            </div>
                            <div class="col-lg-auto">
                                <select class="form-control" data-choices data-choices-search-false
                                    name="status" id="choices-select-status">
                                    {% if request.GET.status %}
                                    <option value="{{ request.GET.status }}">{{ request.GET.status }}</option>
                                    
                                    {% endif %}
                                    <option value="">All Tasks</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Inprogress">Inprogress</option>
                                    <option value="Pending">Pending</option>
                                    <option value="New">New</option>
                                </select>
                            </div>
                            <div class="col-lg">
                                <div class="search-box">
                                    <input type="text" id="searchTaskList" class="form-control search"
                                      name="search" value="{% if request.GET.search %}{{ request.GET.search }}{% endif %}"  placeholder="Search task name">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                            <div class="col-lg-auto">
                                <button class="btn btn-success createTask" type="submit">
                                    <i class="ri-search align-bottom"></i> Ara
                                </button>
                                <button class="btn btn-primary createTask" type="button" data-bs-toggle="modal"
                                    data-bs-target="#createTask">
                                    <i class="ri-add-fill align-bottom"></i> Add Tasks
                                </button>
                            </div>
                        </div>
                    </form>
                    </div>
                                <div class="timeline">
                                    {% for i in santiyeler %}
                                        <div class="timeline-item {% veri_siralama santiyeler i.id %}">
                                        <i class="icon ri-stack-line"></i>
                                        <div class="date">{{i.teslim_tarihi}}</div>
                                        <div class="content shadow-none">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0">
                                                {% if i.proje_ait_bilgisi.image %}
                                                    <img src="{{i.proje_ait_bilgisi.image.url}}" alt="" class="avatar-sm rounded">
                                                {% else %}
                                                <img src="{% static 'assets/images/users/avatar-5.jpg' %}" alt="" class="avatar-sm rounded">
                                                {% endif %}
                                                    
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h5 class="fs-15">{{i.title}} <small class="text-muted fs-13 fw-normal">- {{i.kayit_tarihi}}</small></h5>
                                                    <p class="text-muted mb-2">{{i.aciklama}}</p>
                                                    
                                                    <div class="hstack gap-2">
                                                        {% if i.status == "Inprogress" %}
                                                    <span
                                                    class="badge bg-secondary-subtle text-secondary text-uppercase">{{i.status}}</span>
                                                {% elif i.status == "New" %}
                                                <span
                                                    class="badge bg-info-subtle text-info text-uppercase">{{i.status}}</span>
                                                {% elif i.status == "Pending" %}
                                                <span
                                                    class="badge bg-warning-subtle text-warning text-uppercase">{{i.status}}</span>
                                                 {% elif i.status == "Completed" %}
                                                 <span
                                                    class="badge bg-success-subtle text-success text-uppercase">{{i.status}}</span>
                                                {% endif %}
                                                    {% if i.oncelik_durumu == "High" %}
                                            <span class="badge bg-danger text-uppercase">{{i.oncelik_durumu}}</span>
                                            {% elif i.oncelik_durumu == "Medium" %}
                                            <span class="badge bg-warning text-uppercase">{{i.oncelik_durumu}}</span>
                                            {% elif i.oncelik_durumu == "Low" %}
                                            <span class="badge bg-success text-uppercase">{{i.oncelik_durumu}}</span>
                                            {% endif %}
                                                    </div>
                                                    <hr>
                                                    <div class="flex-shrink-0">
                                                        {% dosya_varsa_indirme i.id %}
                                                    </div>

                                                <hr>
                                                    <div class="flex-shrink-0">
                                                        <h6>Yapacak Olanlar</h6>
                                                        {% for yazar in i.yapacaklar.all %}
                                                       <a href="javascript: void(0);"
                                                        class="avatar-group-item"
                                                        data-img="{% if yazar.image %}{{yazar.image.url}}{% else %}{% static 'assets/images/users/avatar-1.jpg' %}{% endif %}"
                                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                                        data-bs-title="{{yazar.last_name}}"> <img
                                                            src="{% if yazar.image %}{{yazar.image.url}}{% else %}{% static 'assets/images/users/avatar-1.jpg' %}{% endif %}" alt=""
                                                            class="rounded-circle avatar-xxs"> </a>
                                                    {% endfor %}
                                                    </div>
                                                    <div class="hstack gap-2 mt-2"> <button
                                                        class="btn btn-sm btn-soft-danger remove-list"
                                                        data-bs-toggle="modal" data-bs-target="#deleteRecordModal{{i.id}}"
                                                        data-remove-id="15"><i
                                                            class="ri-delete-bin-5-fill align-bottom"></i></button>
                                                    <button class="btn btn-sm btn-soft-info edit-list"
                                                        data-bs-toggle="modal" data-bs-target="#duzelt{{i.id}}"
                                                        data-edit-id="15"><i
                                                            class="ri-pencil-fill align-bottom"></i></button> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                                <div class="d-flex justify-content-end">
                                        <div class="pagination-wrap hstack gap-2">
                                            <ul class="pagination pagination-m justify-content-center">

                                                {% if medya.has_previous %}
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.previous_page_number }}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">« Previous page</a></li>
                                                
                                                  {% if medya.number > 3 %}
                                                
                                                    <li class="page-item"><a class="page-link" href="?page=1{{ medya.previous_page_number }}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">1</a></li>
                                                    {% if medya.number > 4 %}
                                                      <li class="page-item"><span class="page-link">...</span></li>
                                                    {% endif %}
                                                  {% endif %}
                                                {% endif %}
                                                
                                                {% for num in medya.paginator.page_range %}
                                                  {% if medya.number == num %}
                                                    <li class="page-item"><a class="page-link " style="color:black;" href="?page={{ num }}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% elif num > medya.number|add:'-3' and num < medya.number|add:'3' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% endif %}
                                                {% endfor %}
                                                
                                                {% if medya.has_next %}
                                                  {% if medya.number < medya.paginator.num_pages|add:'-3' %}
                                                    <li class="page-item"><span class="page-link">...</span></li>
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% elif medya.number < medya.paginator.num_pages|add:'-2' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% endif %}
                                                
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.next_page_number }}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next Page »</a></li>
                                                {% endif %}
                                                </ul>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->



              

                </div>
                <!-- container-fluid -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © {{site_adi.footer}}
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            </div>
            <!-- End Page-content -->

            
        </div>
<div class="modal fade" id="createTask" tabindex="-1" aria-labelledby="createTaskLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-success-subtle">
                    <h5 class="modal-title" id="createTaskLabel">Create Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" id="createTaskBtn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="task-error-msg" class="alert alert-danger py-2"></div>
                    <form autocomplete="off"class="tablelist-form" action=/{{dil}}{% url 'main:yapilacalar_time_line_ekle' %}" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <input type="hidden" id="taskid-input" class="form-control">
                        <div class="mb-3">
                            <label for="task-title-input" class="form-label">Başlık Ekle</label>
                            <input type="text" name="baslik" id="task-title-input" class="form-control" placeholder="Enter task title">
                        </div>
                        <div class="mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div class="row g-4 mb-3">
                            <div class="col-lg-6">
                                <label for="task-status" class="form-label">Durum</label>
                                <select name="durum" class="form-control" data-choices data-choices-search-false id="task-status-input">
                                    <option value="">Status</option>
                                    <option value="New" selected>New</option>
                                    <option value="Inprogress">Inprogress</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                            <!--end col-->
                            <div class="col-lg-6">
                                <label for="priority-field" class="form-label">Priority</label>
                                <select name="aciliyet" class="form-control" data-choices data-choices-search-false id="priority-field">
                                    <option value="">Priority</option>
                                    <option value="High">High</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Low">Low</option>
                                </select>
                            </div>
                            <!--end col-->
                        </div>
                        <div>
                            <label for="status-field" class="form-label">Kişiler</label>
                            <select name="blogbilgisi" class="form-control" data-trigger multiple name="status-field" id="status-field" required>
                                <option value=""></option>
                                {% for blog in blog_bilgisi %}
                                <option value="{{ blog.id }}">{{ blog.last_name }}: {{blog.email}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="task-duedate-input" class="form-label">Due Date:</label>
                            <input type="date" name="teslim_tarihi" id="task-duedate-input" class="form-control" placeholder="Due date">
                        </div>
                        <div class="md-4">
                    <div class="form-group">
                        <label>Dosya Yükle</label>
                        <input name="file" type="file" multiple="multiple" class="form-control" />
                    </div>
                </div>
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-ghost-success" data-bs-dismiss="modal"><i class="ri-close-fill align-bottom"></i> Close</button>
                            <button type="submit" class="btn btn-primary" id="addNewTodo">Add Task</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--end create taks-->

    {% for i in santiyeler %}
                <!-- Modal -->
                <div class="modal fade zoomIn" id="deleteRecordModal{{i.id}}" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"></button>
                            </div>
                            <div class="modal-body">
                                
                                <div class="mt-2 text-center">
                                    <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop" colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                                    <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                        <h4>Are you Sure ?</h4>
                                        <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this Record ?</p>
                                    </div>
                                </div>
                                <form autocomplete="off"action=/{{dil}}{% url 'main:yapilacalar_time_line_sil' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="buttonIdInput" name="buttonId" value="{{i.id}}">
                                
                                <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                    <button type="button" class="btn w-sm btn-light" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn w-sm btn-danger " id="delete-record">Yes, Delete It!</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for i in santiyeler %}
                <div class="modal fade" id="duzelt{{i.id}}" tabindex="-1" aria-labelledby="createTaskLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content border-0">
                            <div class="modal-header p-3 bg-success-subtle">
                                <h5 class="modal-title" id="createTaskLabel">Create Task</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" id="createTaskBtn-close" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="task-error-msg" class="alert alert-danger py-2"></div>
                                <form autocomplete="off"class="tablelist-form" action=/{{dil}}{% url 'main:yapilacalar_time_line_duzenle' %}" method="post" enctype="multipart/form-data" >
                                    <input type="text" hidden value="{{i.id}}" name="id" >
                                    {% csrf_token %}
                                    <input type="hidden" id="taskid-input" class="form-control">
                                    <div class="mb-3">
                                        <label for="task-title-input" class="form-label">Başlık Ekle</label>
                                        <input type="text" value="{{i.title}}" name="baslik" id="task-title-input" class="form-control" placeholder="Enter task title">
                                    </div>
                                    <div class="mb-3">
                                        <label for="email-field" class="form-label">Açıklama</label>
                                        <textarea name="aciklama" class="form-control" placeholder="Enter Description" >{{i.aciklama}}</textarea>
                                        <div class="invalid-feedback">Please enter an email.</div>
                                    </div>
                                    <div class="row g-4 mb-3">
                                        <div class="col-lg-6">
                                            <label for="task-status" class="form-label">Durum</label>
                                            <select name="durum" class="form-control" data-choices data-choices-search-false id="task-status-input">
                                                {% if i.status %}
                                                
                                                    <option value="{{i.status}}">{{i.status}}</option>
                                                {% endif %}
                                                
                                                <option value="New" selected>New</option>
                                                <option value="Inprogress">Inprogress</option>
                                                <option value="Pending">Pending</option>
                                                <option value="Completed">Completed</option>
                                            </select>
                                        </div>
                                        <!--end col-->
                                        <div class="col-lg-6">
                                            <label for="priority-field" class="form-label">Priority</label>
                                            <select name="aciliyet" class="form-control" data-choices data-choices-search-false id="priority-field">
                                                {% if i.oncelik_durumu %}
                                                
                                                    <option value="{{i.oncelik_durumu}}">{{i.oncelik_durumu}}</option>
                                                {% endif %}
                                                <option value="">Priority</option>
                                                <option value="High">High</option>
                                                <option value="Medium">Medium</option>
                                                <option value="Low">Low</option>
                                            </select>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <div>
                                        <label for="status-field" class="form-label">Kişiler</label>
                                        <select name="blogbilgisi" class="form-control" data-trigger multiple name="status-field" id="status-field" required>
                                            <option value=""></option>
                                            {% for blog in blog_bilgisi %}
                                            {% if blog in  i.yapacaklar.all %}
                                                <option selected value="{{ blog.id }}">{{ blog.last_name }}: {{blog.email}}</option>
                                            {% else %}
                                            <option value="{{ blog.id }}">{{ blog.last_name }}: {{blog.email}}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label for="task-duedate-input" class="form-label">Due Date:</label>
                                        <input type="date" value="{{i.teslim_tarihi | date:'d.m.Y'}}" name="teslim_tarihi" id="task-duedate-input" class="form-control" placeholder="Due date">
                                    </div>
                                    <div class="md-4">
                    <div class="form-group">
                        <label>Dosya Yükle</label>
                        <input name="file" type="file" multiple="multiple" class="form-control" />
                    </div>
                </div>
                                    <div class="hstack gap-2 justify-content-end">
                                        <button type="button" class="btn btn-ghost-success" data-bs-dismiss="modal"><i class="ri-close-fill align-bottom"></i> Close</button>
                                        <button type="submit" class="btn btn-primary" id="addNewTodo">Add Task</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <!--end create taks-->
                {% endfor %}
{% endblock sidebar %}