{% extends "homebase.html" %}
{% load i18n %}
{% load custom_tags %}
{% load static %}

{% block sidebar %}
<style>
    .gosterme{
        display: none;
    }
</style>
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <div class="chat-wrapper d-lg-flex gap-1 mx-n4 mt-n4 p-1">
                <div class="file-manager-sidebar">
                            <div class="p-4 d-flex flex-column h-100">
                                <div class="mb-3">
                                    <button class="btn btn-primary w-100 createTask" type="button" data-bs-toggle="modal"
                                    data-bs-target="#createTask">
                                    <i class="ri-add-fill align-bottom"></i> Görev Ata
                                </button>
                                </div>

                                <div class="px-4 mx-n4 simplebar-scrollable-y" data-simplebar="init" style="height: calc(100vh - 468px);"><div class="simplebar-wrapper" style="margin: 0px -24px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px 24px;">
                                    <ul class="to-do-menu list-unstyled" id="projectlist-data">
                                        <li>
                                            <a data-bs-toggle="collapse" href="#velzonAdmin" class="nav-link fs-13 active">Kategoriler</a>
                                            <div class="collapse show" id="velzonAdmin">
                                                <ul class="mb-0 sub-menu list-unstyled ps-3 vstack gap-2 mb-2">
                                                   <li>
                                                        <a href="#!"><i class="ri-stop-mini-fill align-middle fs-15 text-danger"></i> R5 - Alçı</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!"><i class="ri-stop-mini-fill align-middle fs-15 text-secondary"></i> R4 - Elektrik</a>
                                                    </li>
                                                    <li>
                                                        <a href="#!"><i class="ri-stop-mini-fill align-middle fs-15 text-info"></i> R4 - Duvar</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                       
                                    </ul>
                                </div></div></div></div><div class="simplebar-placeholder" style="width: 300px; height: 351px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 146px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div>


                                <div class="mt-auto text-center">
                                    <img src="{% static 'assets/images/task.png' %}" alt="Task" class="img-fluid">
                                </div>
                            </div>
                        </div>

                <div class="file-manager-content w-100 p-4 pb-0">
                    <div class="row mb-4">
                        <div class="col-auto order-1 d-block d-lg-none">
                            <button type="button" class="btn btn-soft-success btn-icon btn-sm fs-16 file-menu-btn">
                                <i class="ri-menu-2-fill align-bottom"></i>
                            </button>
                        </div>
                        <div class="col-sm order-3 order-sm-2 mt-3 mt-sm-0">
                            <h5 class="fw-semibold mb-0">İş Planı</h5>
                        </div>

                        <div class="col-auto order-2 order-sm-3 ms-auto">
                            <div class="hstack gap-2">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button class="btn btn-icon fw-semibold btn-soft-danger"><i
                                            class="ri-arrow-go-back-line"></i></button>
                                    <button class="btn btn-icon fw-semibold btn-soft-success"><i
                                            class="ri-arrow-go-forward-line"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 bg-light rounded mb-4">
                        <form method="get">
                        <div class="row g-2">
                            <div class="col-lg-auto">
                                <select class="form-control" data-choices data-choices-search-false
                                    name="siralama" id="choices-select-sortlist">
                                    {% if request.GET.siralama == "1" %}
                                    <option value="{{ request.GET.siralama }}">By ID</option>
                                    {% elif request.GET.siralama == "2" %}
                                    <option value="2">By Name</option>
                                    {% else %}
                                    {% endif %}
                                    <option value="">Sort</option>
                                    <option value="1">By ID</option>
                                    <option value="2">By Name</option>
                                </select>
                                
                            </div>
                            <div class="col-lg-auto">
                                <select class="form-control" data-choices data-choices-search-false
                                    name="status" id="choices-select-status">
                                    {% if request.GET.status %}
                                    <option value="{{ request.GET.status }}">{{ request.GET.status }}</option>
                                    
                                    {% endif %}
                                    <option value="">All Tasks</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Inprogress">Inprogress</option>
                                    <option value="Pending">Pending</option>
                                    <option value="New">New</option>
                                </select>
                            </div>
                            <div class="col-lg">
                                <div class="search-box">
                                    <input type="text" id="searchTaskList" class="form-control search"
                                      name="search" value="{% if request.GET.search %}{{ request.GET.search }}{% endif %}"  placeholder="Search task name">
                                    <i class="ri-search-line search-icon"></i>
                                </div>
                            </div>
                            <div class="col-lg-auto">
                                <button class="btn btn-success createTask" type="submit">
                                    <i class="ri-search align-bottom"></i> Ara
                                </button>
                                <button class="btn btn-primary createTask" type="button" data-bs-toggle="modal"
                                    data-bs-target="#createTask">
                                    <i class="ri-add-fill align-bottom"></i> Görev Ata
                                </button>
                                <button class="btn btn-primary createTask" type="button" data-bs-toggle="modal"
                                    data-bs-target="#createTasktoplu">
                                    <i class="ri-add-fill align-bottom"></i> Toplu Görev Ata
                                </button>
                            </div>
                        </div>
                    </form>
                    </div>

                    <div class="todo-content position-relative px-4 mx-n4" id="todo-content">
                        <div id="elmLoader">
                            
                        </div>
                        <div class="todo-task" id="todo-task">
                            <div class="table-responsive">
                                <table class="table align-middle position-relative table-nowrap">
                                    <thead class="table-active">
                                        <tr>
                                            <th scope="col">Task Name</th>
                                            <th scope="col">Açıklama</th>
                                            <th scope="col">Assigned</th>
                                            <th scope="col">Due Date</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Priority</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody id="task-list">
                                        {% for i in santiyeler %}
                                        
                                        
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-start">
                                                    
                                                    <div class="flex-grow-1">
                                                        <div class="form-check"> <input class="form-check-input"
                                                                type="checkbox" value="15" id="todo15"> <label
                                                                class="form-check-label" for="todo15">{{i.title}}</label> </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                {{i.aciklama}}
                                            </td>
                                            <td>
                                                <div class="avatar-group flex-nowrap">
                                                {% for yazar in i.yapacaklar.all %}
                                                       <a href="javascript: void(0);"
                                                        class="avatar-group-item"
                                                        data-img="{% if yazar.image %}{{yazar.image.url}}{% else %}{% static 'assets/images/users/avatar-1.jpg' %}{% endif %}"
                                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                                        data-bs-title="{{yazar.last_name}}"> <img
                                                            src="{% if yazar.image %}{{yazar.image.url}}{% else %}{% static 'assets/images/users/avatar-1.jpg' %}{% endif %}" alt=""
                                                            class="rounded-circle avatar-xxs"> </a>
                                                {% endfor %}
                                               </div>
                                            </td>
                                            <td>{{i.teslim_tarihi}}</td>
                                            <td>
                                                {% if i.status == "Inprogress" %}
                                                    <span
                                                    class="badge bg-secondary-subtle text-secondary text-uppercase">{{i.status}}</span>
                                                {% elif i.status == "New" %}
                                                <span
                                                    class="badge bg-info-subtle text-info text-uppercase">{{i.status}}</span>
                                                {% elif i.status == "Pending" %}
                                                <span
                                                    class="badge bg-warning-subtle text-warning text-uppercase">{{i.status}}</span>
                                                 {% elif i.status == "Completed" %}
                                                 <span
                                                    class="badge bg-success-subtle text-success text-uppercase">{{i.status}}</span>
                                                {% endif %}
                                            
                                            </td>
                                            <td>
                                            {% if i.oncelik_durumu == "High" %}
                                            <span class="badge bg-danger text-uppercase">{{i.oncelik_durumu}}</span>
                                            {% elif i.oncelik_durumu == "Medium" %}
                                            <span class="badge bg-warning text-uppercase">{{i.oncelik_durumu}}</span>
                                            {% elif i.oncelik_durumu == "Low" %}
                                            <span class="badge bg-success text-uppercase">{{i.oncelik_durumu}}</span>
                                            {% endif %}
                                            </td>
                                            <td>
                                                <div class="hstack gap-2"> <button
                                                        class="btn btn-sm btn-soft-danger remove-list"
                                                        data-bs-toggle="modal" data-bs-target="#removeTaskItemModal"
                                                        data-remove-id="15"><i
                                                            class="ri-delete-bin-5-fill align-bottom"></i></button>
                                                    <button class="btn btn-sm btn-soft-info edit-list"
                                                        data-bs-toggle="modal" data-bs-target="#createTask"
                                                        data-edit-id="15"><i
                                                            class="ri-pencil-fill align-bottom"></i></button> </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                             <div class="d-flex justify-content-end">
                                        <div class="pagination-wrap hstack gap-2">
                                            <ul class="pagination pagination-m justify-content-center">

                                                {% if medya.has_previous %}
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.previous_page_number }}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">« Previous page</a></li>
                                                
                                                  {% if medya.number > 3 %}
                                                
                                                    <li class="page-item"><a class="page-link" href="?page=1{{ medya.previous_page_number }}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">1</a></li>
                                                    {% if medya.number > 4 %}
                                                      <li class="page-item"><span class="page-link">...</span></li>
                                                    {% endif %}
                                                  {% endif %}
                                                {% endif %}
                                                
                                                {% for num in medya.paginator.page_range %}
                                                  {% if medya.number == num %}
                                                    <li class="page-item"><a class="page-link " style="color:black;" href="?page={{ num }}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% elif num > medya.number|add:'-3' and num < medya.number|add:'3' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                                                  {% endif %}
                                                {% endfor %}
                                                
                                                {% if medya.has_next %}
                                                  {% if medya.number < medya.paginator.num_pages|add:'-3' %}
                                                    <li class="page-item"><span class="page-link">...</span></li>
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% elif medya.number < medya.paginator.num_pages|add:'-2' %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ medya.paginator.num_pages }}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ medya.paginator.num_pages }}</a></li>
                                                  {% endif %}
                                                
                                                  <li class="page-item"><a class="page-link" href="?page={{ medya.next_page_number }}{% if request.GET.siralama %}&siralama={{ request.GET.siralama }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next Page »</a></li>
                                                {% endif %}
                                                </ul>
                                        </div>
                                    </div>
                        </div>
                        
                    </div>

                </div>
            </div>

        </div>
         <!-- Modal -->
    <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <script>document.write(new Date().getFullYear())</script> © {{site_adi.footer}}
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
    <div class="modal fade" id="createTask" tabindex="-1" aria-labelledby="createTaskLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-success-subtle">
                    <h5 class="modal-title" id="createTaskLabel">Create Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" id="createTaskBtn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="task-error-msg" class="alert alert-danger py-2"></div>
                    <form class="tablelist-form" action="{% url 'main:yapilacalar_ekle' %}" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <input type="hidden" id="taskid-input" class="form-control">
                        <div class="mb-3">
                            <label for="task-title-input" class="form-label">Başlık Ekle</label>
                            <input type="text" name="baslik" id="task-title-input" class="form-control" placeholder="Enter task title">
                        </div>
                        <div class="mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div class="row g-4 mb-3">
                            <div class="col-lg-6">
                                <label for="task-status" class="form-label">Durum</label>
                                <select name="durum" class="form-control" data-choices data-choices-search-false id="task-status-input">
                                    <option value="">Status</option>
                                    <option value="New" selected>New</option>
                                    <option value="Inprogress">Inprogress</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                            <!--end col-->
                            <div class="col-lg-6">
                                <label for="priority-field" class="form-label">Priority</label>
                                <select name="aciliyet" class="form-control" data-choices data-choices-search-false id="priority-field">
                                    <option value="">Priority</option>
                                    <option value="High">High</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Low">Low</option>
                                </select>
                            </div>
                            <!--end col-->
                        </div>
                        <div>
                            <label for="status-field" class="form-label">Kişiler</label>
                            <select name="blogbilgisi" class="form-control" data-trigger multiple name="status-field" id="status-field" required>
                                <option value=""></option>
                                {% for blog in blog_bilgisi %}
                                <option value="{{ blog.id }}">{{ blog.last_name }}: {{blog.email}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="task-duedate-input" class="form-label">Due Date:</label>
                            <input type="date" name="teslim_tarihi" id="task-duedate-input" class="form-control" placeholder="Due date">
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title mb-0">Dosya Yükle</h4>
                                    </div><!-- end card header -->
                                
                                    <div class="card-body">
                                        <p class="text-muted">Yüklemek istediğiniz dosyayı sürükle bırak yöntemi ile yada direk dosya seçerek yükleyebilirsiniz.</p>
                                    
                                        <div class="dropzone">
                                            <div class="fallback">
                                                <input name="file" type="file" multiple="multiple">
                                            </div>
                                            <div class="dz-message needsclick">
                                                <div class="mb-3">
                                                    <i class="display-4 text-muted ri-upload-cloud-2-fill"></i>
                                                </div>
                                            
                                                <h4>Drop files here or click to upload.</h4>
                                            </div>
                                        </div>
                                    
                                        <ul class="list-unstyled mb-0" id="dropzone-preview">
                                            <li class="mt-2" id="dropzone-preview-list">
                                                <!-- This is used as the file preview template -->
                                                <div class="border rounded">
                                                    <div class="d-flex p-2">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar-sm bg-light rounded">
                                                                <img data-dz-thumbnail class="img-fluid rounded d-block" src="assets/images/new-document.png" alt="Dropzone-Image" />
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <div class="pt-1">
                                                                <h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
                                                                <p class="fs-13 text-muted mb-0" data-dz-size></p>
                                                                <strong class="error text-danger" data-dz-errormessage></strong>
                                                            </div>
                                                        </div>
                                                        <div class="flex-shrink-0 ms-3">
                                                            <button data-dz-remove class="btn btn-sm btn-danger">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- end dropzon-preview -->
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div> <!-- end col -->
                        </div>
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-ghost-success" data-bs-dismiss="modal"><i class="ri-close-fill align-bottom"></i> Close</button>
                            <button type="submit" class="btn btn-primary" id="addNewTodo">Add Task</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--end create taks-->
        <!-- container-fluid -->
    <div class="modal fade" id="createTasktoplu" tabindex="-1" aria-labelledby="createTaskLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0">
                <div class="modal-header p-3 bg-success-subtle">
                    <h5 class="modal-title" id="createTaskLabel">Toplu Görev Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" id="createTaskBtn-close" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="task-error-msg" class="alert alert-danger py-2"></div>
                    <form class="tablelist-form" action="{% url 'main:yapilacalar_ekle_toplu' %}" method="post" enctype="multipart/form-data" >
                        {% csrf_token %}
                        <input type="hidden" id="taskid-input" class="form-control">
                        <div class="mb-3">
                            <label for="task-title-input" class="form-label">Başlık Ekle</label>
                            <input type="text" name="baslik" id="task-title-input" class="form-control" placeholder="Enter task title">
                        </div>
                        <div class="mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="gosterme mb-3">
                            <label for="email-field" class="form-label">Açıklama</label>
                            <textarea name="aciklama" class="form-control" placeholder="Enter Description" ></textarea>
                            <div class="invalid-feedback">Please enter an email.</div>
                        </div>
                        <div  class="mb-3">
                            <button onclick="ekleYeniSatir()" type="button" class="btn btn-primary" >Görev Ekle</button>
                        </div>
                        <div class="row g-4 mb-3">
                            <div class="col-lg-6">
                                <label for="task-status" class="form-label">Durum</label>
                                <select name="durum" class="form-control" data-choices data-choices-search-false id="task-status-input">
                                    <option value="">Status</option>
                                    <option value="New" selected>New</option>
                                    <option value="Inprogress">Inprogress</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Completed">Completed</option>
                                </select>
                            </div>
                            <!--end col-->
                            <div class="col-lg-6">
                                <label for="priority-field" class="form-label">Priority</label>
                                <select name="aciliyet" class="form-control" data-choices data-choices-search-false id="priority-field">
                                    
                                    <option value="High">High</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Low">Low</option>
                                </select>
                            </div>
                            <!--end col-->
                        </div>
                        <div>
                            <label for="status-field" class="form-label">Kişiler</label>
                            <select name="blogbilgisi" class="form-control" data-trigger multiple name="status-field" id="status-field" required>
                                <option value=""></option>
                                {% for blog in blog_bilgisi %}
                                <option value="{{ blog.id }}">{{ blog.last_name }}: {{blog.email}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="task-duedate-input" class="form-label">Due Date:</label>
                            <input type="date" name="teslim_tarihi" id="task-duedate-input" class="form-control" placeholder="Due date">
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title mb-0">Dosya Yükle</h4>
                                    </div><!-- end card header -->
                                
                                    <div class="card-body">
                                        <p class="text-muted">Yüklemek istediğiniz dosyayı sürükle bırak yöntemi ile yada direk dosya seçerek yükleyebilirsiniz.</p>
                                    
                                        <div class="dropzone">
                                            <div class="fallback">
                                                <input name="file" type="file" multiple="multiple">
                                            </div>
                                            <div class="dz-message needsclick">
                                                <div class="mb-3">
                                                    <i class="display-4 text-muted ri-upload-cloud-2-fill"></i>
                                                </div>
                                            
                                                <h4>Drop files here or click to upload.</h4>
                                            </div>
                                        </div>
                                    
                                        <ul class="list-unstyled mb-0" id="dropzone-preview">
                                            <li class="mt-2" id="dropzone-preview-list">
                                                <!-- This is used as the file preview template -->
                                                <div class="border rounded">
                                                    <div class="d-flex p-2">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar-sm bg-light rounded">
                                                                <img data-dz-thumbnail class="img-fluid rounded d-block" src="assets/images/new-document.png" alt="Dropzone-Image" />
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <div class="pt-1">
                                                                <h5 class="fs-14 mb-1" data-dz-name>&nbsp;</h5>
                                                                <p class="fs-13 text-muted mb-0" data-dz-size></p>
                                                                <strong class="error text-danger" data-dz-errormessage></strong>
                                                            </div>
                                                        </div>
                                                        <div class="flex-shrink-0 ms-3">
                                                            <button data-dz-remove class="btn btn-sm btn-danger">Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- end dropzon-preview -->
                                    </div>
                                    <!-- end card body -->
                                </div>
                                <!-- end card -->
                            </div> <!-- end col -->
                        </div>
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-ghost-success" data-bs-dismiss="modal"><i class="ri-close-fill align-bottom"></i> Close</button>
                            <button type="submit" class="btn btn-primary" id="addNewTodo">Add Task</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- End Page-content -->


</div>
<!-- end main content-->
<script>
let z = 0;
  function ekleYeniSatir() {
    
    var elements = document.getElementsByClassName('gosterme');

    if (elements[z]) {
        elements[z].classList.remove('gosterme');
    } else {
        console.error("Ürün Sınırına Ulaştınız");
    }

    yeniselect();
  }
</script>
{% endblock sidebar %}